[2018-08-15 19:47] jessegreenberg opened #290 "String suffix should be removed from entries in JohnTravoltageA11yStrings"

[2018-08-15 21:45] mbarlow12 commented on #285
@jessegreenberg I finished the updates for the slider. Things appear to be working properly after fuzzing for a while, so let me know if you find any troubles. Feel free to close as I _think_ we're good here.

[2018-08-15 21:51] jessegreenberg commented on #290
Done

[2018-08-15 21:51] #290 closed

[2018-08-17 16:23] mbarlow12 opened #291 "branch: circularslider"
New branch for John Travoltage feature where the slider for the arm can continually increment in either direction. See https://github.com/phetsims/john-travoltage/issues/267.

As it's experimental, this behavior will be kept out of master for now.

[2018-08-23 14:30] jessegreenberg opened #292 "Should the appendages animate with keyboard?"
@mbarlow12 recommended this but I wanted to make sure there was an issue to document or bring up at a future meeting. Right now the appendages "snap" to the angle that is mapped to the AccessibleSlider value. As an enhancement they could animate/slide to the new location. We haven't observed any confusion around this in interviews so this would mostly be cosmetic. But maybe the leg would look more

[2018-08-23 15:27] jessegreenberg commented on #285
Thanks @mbarlow12, I think we are almost there. While testing this I noticed that the appendage descriptions aren't quite working, we are missing things like "hand pointing straight up" (landmark alerts) and direction changes.

[2018-08-23 15:27] jessegreenberg commented on #285
https://github.com/phetsims/sun/commit/9e0d3c427c9ca76e7dca388915b37d3b1daf51ee fixed the direction change portion.

[2018-08-24 23:03] lmulhall-phet commented on #227
Just to further document this issue:

1. This is JAWS-specific. Has nothing to do with browser.
2. I made a video:

https://drive.google.com/open?id=1Cus9PGAZweIeE6BWTNI4fwNaASFVzLuv

[2018-08-27 16:53] jessegreenberg commented on #285
The problem with the direction is caused because `getTextFromPosition` sets some state variables when it constructs the string, and is called twice (once for the aria-valuetext, once for the valueTextProperty.

[2018-08-27 16:56] jessegreenberg commented on #285
I went ahead and removed valueTextProperty, with the a11y view this is no longer necessary. But now we get direction in the value text but it always comes after landmark or other, its always one change in slider value late.

[2018-08-27 16:58] jessegreenberg commented on #285
Wait, maybe it is working correctly, comments in the code say:
[code]

But priority documentation is different than the implementation?

[2018-08-27 17:45] jbphet opened #293 "Remove prototype sonification"
In https://github.com/phetsims/john-travoltage/issues/92, an initial "prototype" version of sonification was added to this simulation and was hidden behind a query parameter.  We are about to add "real" sonification, so this prototype version should now be removed.

As part of the process, a dev version should be published with the prototype version removed prior to adding the new sonification so

[2018-08-27 19:25] jbphet opened #294 "Add sound based on sound design"
An initial sound design for this simulation has been reviewed and approved.  This isn't necessarily final, but it is the starting point for adding sound to this simulation.  The prototype version is available at https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.69/phet-io-wrapper-sonification/john-travoltage/html/john-travoltage-sonification.html?sonificationFile=sonificat

[2018-08-27 20:22] #285 closed, assigned to mbarlow12, jessegreenberg

[2018-08-27 21:19] jbphet opened #295 "Was it okay to remove the "controlPanel" from the view?"
In https://github.com/phetsims/john-travoltage/commit/701e3ce7e13c744171b09cfb9093e43a0ba3cb20 and https://github.com/phetsims/john-travoltage/commit/4e40d822e67d91cb41ed420279f31af5cd6dad76 I removed a control panel that previously contained the reset all button and the sound control toggle button.  I did this because the sound control toggle button was being removed as part of the process to add

[2018-08-27 21:29] jbphet commented on #295
I accidentally removed an additional string, and added it back with the commit above.

[2018-08-27 21:51] jessegreenberg commented on #295
That Node did provide structure in the PDOM for the control panel, in the "a11y view" it looked like this:
![capture](https://user-images.githubusercontent.com/6396244/44688149-50245080-aa21-11e8-9b43-ef285ae4e64d.PNG)

But I don't know if we want a full "Control Panel" now if it just contains a "Reset All" button. Ill ask at tomorrows a11y meeting.

If we do need that section back, Ill add it bac

[2018-08-27 21:54] jessegreenberg commented on #295
Same should be done for what is currently the `playAreaNode`.

Also,  related to https://github.com/phetsims/scenery-phet/issues/381 since these Nodes wouldn't need to exist at all in ScreenView subtypes and could be used with `accessibleOrder` in the future.

[2018-08-27 22:13] jessegreenberg commented on #263
I updated the dialog so that it has our updated look and feel. We do need some specific content for the arm and leg since it is a new single entry. I took a stab at what this could look like, here it is visually and in the PDOM:

![vis-dialog](https://user-images.githubusercontent.com/6396244/44689142-82837d00-aa24-11e8-94a6-175bc411f583.PNG)

![dialog-invis](https://user-images.githubusercontent.

[2018-08-27 22:20] arouinfar commented on #263
@jessegreenberg the general structure looks good to me!

I would change the command to "Move arm or leg". I think that "and" could suggest that you are simultaneously moving the arm and leg, while "or" suggests you would be moving one or the other.

[2018-08-27 22:27] jessegreenberg commented on #279
This was done as part of #263, and the Spacer shenanigans have been removed. Closing.

[2018-08-27 22:27] #279 closed

[2018-08-27 22:28] jessegreenberg commented on #263
Yes, good point! OK sounds good.

[2018-08-27 22:35] jessegreenberg commented on #263
Also, BASE just has "Arrow" keys, Ill remove the "up, left, down, and right" in  the PDOM content. Here it is now:
![capture](https://user-images.githubusercontent.com/6396244/44690149-d0e64b00-aa27-11e8-974b-7d14dfb2c11d.PNG)

[2018-08-28 04:01] jbphet opened #296 "Should there be a sound when the leg reaches its motion limit?"
I was just removing the prototype sonification sound for #293, and noticed that the early version of the sound design included a "bonk" sound when the leg motion reached either the forward or backward limit.  This seemed useful to me, but we don't have it in the current sound design.  Should we?

[2018-08-28 14:10] terracoda commented on #263
@jessegreenberg and @arouinfar sorry for the late response. I have a couple concerns:

1. BASE's description is not a good comparison as it is not a slider interaction. It is the 4-way drag. As you know the hand position and leg swing are sliders under the hood. I think _Gravity Force Lab: Basics_ might be a better comparison as the left-right interaction is dominant there as well.

2. The Up and

[2018-08-28 14:32] terracoda commented on #263
And also, wondering about the "General Navigation" heading. Are we waiting on changing that due to complications with translation?

We had discussed "Basic Actions" as a new heading in https://github.com/phetsims/a11y-research/issues/113.

[2018-08-28 14:59] jessegreenberg commented on #263
Thanks @terracoda! Ill go ahead as you recommend. Reviewing that issue it looks like it was just deferred until it was needed for Friction, Ill go ahead and add the string.

[2018-08-28 16:51] terracoda commented on #263
@jessegreenberg, looks good to me. @arouinfar, do you have anything further?

[2018-08-28 16:51] jbphet commented on #294
https://phet-dev.colorado.edu/html/john-travoltage/1.4.0-dev.9/phet/john-travoltage_en_phet.html?supportsSound&supportsEnhancedSound

[2018-08-28 17:45] arouinfar commented on #263
Agreed @jessegreenberg!

Everything looks good to me @terracoda @jessegreenberg!

[2018-08-28 19:20] emily-phet commented on #296
Sim has been user tested extensively, and sounds at end points of leg slider interaction has not come up as needed. Perhaps in this particular case the description + lack of 'rubbing' sound together is sufficient to indicate end ranges of leg slider are not that intersting, so not much time is spent there...?

I can imagine we will need this in other contexts, but let's proceed without it for JT.

[2018-08-28 19:20] #296 closed

[2018-08-28 22:25] jessegreenberg commented on #292
We discussed this in a11y meetings today.  @emily-phet said that this feature would be nice, but no issues have come out of the current behavior for alternative input. This is not something that can be added in the upcoming release with sonification, but maybe in a future release this could be added.

[2018-08-29 16:34] jbphet commented on #295
I think most if not all sims have a reset button, so I'm a bit surprised that there isn't a standard approach for how to handle it when it's by itself.  Can the same approach be used as was done for, say, the friction sim?

[2018-08-29 16:51] jessegreenberg commented on #295
Good point, a control section was requested in Friction so it is probably still necessary here. It would still be good to hear from @terracoda.

[2018-08-29 17:07] jbphet commented on #293
The prototype sonification was removed and a dev version has been published, see https://phet-dev.colorado.edu/html/john-travoltage/1.4.0-dev.8/phet/john-travoltage_en_phet.html.  I think our work here is done.  Closing.

[2018-08-29 17:07] #293 closed

[2018-08-29 17:14] jessegreenberg commented on #295
I went ahead and added the control area section back in.

[2018-08-29 17:29] jbphet opened #297 "Version history seems messed up, how should we reconcile?"
I've been publishing some dev versions of the JT sim off of master over the last few days, and I've been using the standard grunt-based tools.  The version string in `package.json` as of this writing is `"1.4.0-dev.9"`, and everything seemed to be working just fine.  However, I just went on bayes to examine the file sizes of these recent publications, and there are several directories with version

[2018-08-30 04:30] samreid commented on #297
Back in the "old days" when we didn't have a good policy for using one branch to support both phet and phet-io brands, PhET-iO was built from a (non-master) branch and apparently not merged back to master.  That seems like an oversight.  Continuing at 1.5.0-dev.0 sound great to me.  Can this be unlabeled from developer meeting?

[2018-08-30 16:54] jonathanolson commented on #297
@mattpen and I would need to know about any phet-io branch changes that are related to maintenance. John Travoltage 1.4-phetio is currently set up for maintenance releases.

[2018-08-31 22:56] jbphet commented on #297
Updated as described above and then published a new dev version 1.5.0-dev.1 (needed for sonification work) and all looks good, closing.

[2018-08-31 22:56] #297 closed

[2018-09-01 22:07] terracoda commented on #295
The removal of the Mute Sound button from the main area of the sim will affect several/many sims, and removing the Control Panel all together could affect content in the Scene Summary. We may need to discuss this issue a bit more and the general side affects of having a Control Area always or sometimes.

[2018-09-02 11:37] emily-phet commented on #295
@terracoda My thought was that you might want to consider not having a "Control Area" for sims in the "simple" category - such as JT and Friction. It would only be sims whose description is structured in the 'simple' style. If this seems like an unnecessary complication, no need to worry about it. It also does not have to be decided now, we could consider this in the future, and if we decided to d

[2018-09-04 01:35] samreid opened #298 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-04 12:12] terracoda commented on #295
@emily-phet, this is what I was thinking, too, but thought it might be better to discuss with you first in a little more detail. I agree with the simple structure it does not add a lot of benefit to have another navigable region that has only a single control.

I would like to see if there are other potential "simple sims" , like for example Ohm's Law and Resistance and a Wire. Those two sims have

[2018-09-04 19:15] jessegreenberg commented on #295
Discussed in 9/4/18 a11y meeting.

We should leave the sim as-is for now. In the future, we will consider whether or not simple sims like john-travoltage, and friction will require a "Control Area" section when it only includes very simple UI components like the ResetAllButton. An issue will be created in a11y-research for this.

[2018-09-04 19:15] #295 closed

[2018-09-05 16:53] jbphet commented on #262
The prototype sonification code was removed in #293, and I just double checked that all direct settings of gain values was also removed as part of that effort.  Looks like this is taken care of, closing.

[2018-09-05 16:53] #262 closed

[2018-09-11 19:42] samreid commented on #298
You can reproduce this problem by temporarily changing `reentrant` to `false`, then dragging the leg and pressing reset.  The stack trace goes through a DynamicProperty, which I traced to `AppendageNode`.  If you make that DynamicProperty `bidirectional: false` then the re-entry problem goes away.

[2018-09-11 19:44] samreid commented on #298
I also noticed there is a comment about this in the DynamicProperty:

[code]

@jessegreenberg can you please look into this issue?

[2018-09-12 22:43] jbphet commented on #294
Comments from @Ashton-Morris based on v1.5.0-dev.2:

[code]

And here is the charges in body sound level.

[code]

[2018-09-12 22:57] jbphet commented on #294
A dev version with the adjustments described in the comment above has been deployed, see https://phet-dev.colorado.edu/html/john-travoltage/1.5.0-dev.3/phet/john-travoltage_en_phet.html?supportsSound&supportsEnhancedSound.

I realized while implementing these that I didn't let @Ashton-Morris know about setting the level for the Reset All sound, so I took a shot at it, trying to balance it with the

[2018-09-14 20:25] emily-phet opened #299 "Final feedback - JT with Sound"
@jbphet has the final implementation of Ashton's specs for sound design for JT.

You all have been involved with feedback on the sound design for this sim at various points, and I wanted to give you a chance to provide feedback on this last step. We are at the point of 'decibel polishing' - tweaks to the relative volume of individual sounds. If there are no strong feelings on relative volumes, we'

[2018-09-14 22:52] arouinfar commented on #299
Exciting news @emily-phet! JT is sounding pretty awesome to me. I don't have any decibel polishing to request, but thanks for including me. :)

[2018-09-17 13:16] terracoda opened #300 "Label for global mute sound button needs changing/adjusting"
Just testing sonfication from other issue and noticed read out for new global mute sound button was, "Sound On Off button, button".

I think the label for this global mute button should be the same as the previous mute sound button, which I believe, was just, "Mute Sound"

The AT actually, provides "button", and also provides whether it is pressed or not pressed or on or off. It is possible an ale

[2018-09-17 13:18] terracoda commented on #300
I assigned to you @jbphet, but please re-assign if you are not the appropriate person. @jessegreenberg or @zepumph would know the code for the previous mute sound button.

[2018-09-17 16:36] zepumph commented on #300
How about that @terracoda?

[2018-09-17 16:58] KatieWoe opened #301 "CT: event indexing failed:"
[code]

[2018-09-17 17:04] terracoda commented on #299
**Without Voice Over on**, I think the sounds are a good volume. The Reset All might be a tiny bit loud, but it is a reset, so maybe it should stand out? I'll leave that decision to the sound experts.

**With Voice Over on and audio sound ducking checked**, I find the sounds a little too quiet, especially the Hand position slider sound. If I pause interaction, i can hear the electrons on body buzz

[2018-09-17 17:10] zepumph commented on #300
Oops please ignore the above commits.

[2018-09-17 17:14] terracoda commented on #299
I did find an issue with the Mute Sound button which I posted in #300.

[2018-09-17 17:28] jhung commented on #299
@emily-phet I tested this on Safari with external powered speakers, the laptop speakers, and with headphones.

The only feedback I have is that with headphones, the rubbing forward sounds a bit louder than rubbing backward. To me this sounds like the forward leg swing is more vigorous which implies more static charge generated than swinging leg backward. This could be an auditory illusion because

[2018-09-17 17:35] terracoda commented on #299
@emily-phet, note, I only tested with headphone :-)

[2018-09-17 17:40] zepumph commented on #300
http://phettest.colorado.edu/john-travoltage/john-travoltage_en.html?brand=phet&ea&accessibility&supportsSound&supportsEnhancedSound

[2018-09-17 17:58] terracoda commented on #300
@zepumph, Mute Sound is the correct label, nice, but I do not get any state information from AT (VoiceOver in my case) about the state of the button.

I just checked Ohm's Law, and the Mute Sound button does indeed have two alerts, though they are not working properly at the moment.

The alert text is:
1. "Sim sound off."
2. "Sim sound on."

So, ideally for the new global Mute Sound button, I shou

[2018-09-17 18:16] jbphet commented on #301
Should be fixed.  I had a bad assert statement that is now corrected.  I'll look at CT in a few hours and, if all looks good, I'll close.

[2018-09-17 18:37] ariel-phet commented on #299
I tested with external speakers (Win 7 FF)

I hear what @jhung noticed with foot rubbing forward vs backwards. With my setup at least, I think the foot rubbing sound could be slightly more "muffled" and maybe that would cure the issue on its own.

Overall, things are sounding good, but one bug I noticed is that if you use the sim in "Van de Graff" mode -- as in if you put JT's hand near the doorkn

[2018-09-17 22:57] jbphet commented on #301
CT is no longer failing, closing.

[2018-09-17 23:03] jbphet commented on #301
Coulomb's Law is failing CT, and the error message looks like it is related to this.  Here's the most recent error message as of this writing:

[code]

Reopening for @zepumph to have a look.

[2018-09-18 13:31] terracoda opened #302 "John Travoltage and Utterance Queue?"
This may be a Voice Over specific issue, but I often (most of the time) get a pile up of single electron alerts, so if I get 15 charges on John;s body, I'll hear up to 15 single electron alerts, instead of 2 , maybe 3 larger amount alerts.

I do not want to slow down publication of this simulation's awesome design. I just want to ask if John Travoltage's electron alerts are taking advantage of the

[2018-09-18 14:00] terracoda opened #303 "Hand position descriptions are a little different than expected"
I just listened to the sim on Master (September 18, 2018)

It is possible that some errors to the Hand position descriptions were introduced when work on #282, #285 and #291 were going on.

The main thing missing from the position descriptions is "Last stop." from positions -15 and 15, but I am also not 100% sure the logic for appending Region Descriptions [RD] is happening correctly. I would need

[2018-09-18 14:10] terracoda commented on #303
@emily-phet, just tagging you, so you are aware of this issue and issue #302. I added both to today's office hours.

I think this issue should be fixed before re-publishing with sound, but #302 doesn't need to slow down a new release of this sim.

[2018-09-18 16:41] amanda-phet commented on #299
The relative volumes seem fine to me.

[2018-09-18 18:15] jessegreenberg commented on #303
Thanks for pointing this out @terracoda, very likely caused by #285. When exploring the circular slider, the "Last Stop" strings were removed. Ill add them back

[2018-09-18 18:28] jessegreenberg commented on #303
@terracoda the "Last Stop" string was added back. The other part of this issue is to verify that the rest of the behavior is correct, at meeting today we can discuss the best way to do this.

[2018-09-18 18:44] jbphet opened #304 "Electric discharge sound stops when a long duration spark is created"
Originally reported by @ariel-phet in #299:

[2018-09-18 19:29] emily-phet commented on #300
@terracoda The mute sound buttons in all sims besides the latest JT will need to be redone when published next. All sims with sound going forward will have 'mute sound' button in the nav bar (common code in Joist, I would guess).

[2018-09-18 19:30] emily-phet commented on #300
I believe JT is in code review now, so there will be at least a few days before it goes to QA. Please coordinate with @jbphet on the timing of this. I believe these updates would just need to be in before the sim goes to QA for dev testing.

[2018-09-18 19:31] terracoda commented on #303
Thanks @jessegreenberg, "Last stop" sounds great, and I also re-checked the positions and the changes in direction and all is working as should be! It seems, just the "Last stop" string was missing.

Closing this issue.

[2018-09-18 19:31] #303 closed

[2018-09-18 19:42] terracoda commented on #302
@jessegreenberg and @emily-phet, I just verified this issue on master and it works much better!

@jessegreenberg used some ID feature that was already available in the Utterance Queue. If need be, he can explain more, but basically I seem to get the latest number of electrons from one interaction, so I get the full number much more quickly!

If pick up 3 electrons in on my first swing, I immediate

[2018-09-18 19:42] #302 closed

[2018-09-18 19:53] terracoda commented on #300
In that case, sounds like I can unassign @jessegreenberg as I touch base with @jbphet.

[2018-09-18 20:48] terracoda commented on #300
@zepumph, @jbphet says you have "a few days, longer would be an issue for trying to get this sim published in September." It should be going to QA around the end of this week.

[2018-09-18 21:58] pixelzoom opened #305 "investigate use of NoiseGenerator"
Related to tambo code review, https://github.com/phetsims/tambo/issues/39.

As part of this code review, I was pointed to John Travoltage to see how the tambo API is used.  Most of that was straightforward.  But `FootDragSoundGenerator` seems a little odd.  It extends `SoundGenerator`, but does all of the work via composition with `NoiseGenerator` (part of tambo, and itself a subtype of `SoundGene

[2018-09-20 21:58] jbphet commented on #299
I have two things for discussion:

+ On some sound systems, I notice an odd sounding high frequency component in the loop sound used to convey charges in the body.  How audible it is seems to depend a lot on the speakers used, and I found it most noticeable on a fairly recent MacBook Pro.  I could hear it in headphones if I listened closely.
+ I recently asked @Ashton-Morris for a modified version

[2018-09-20 22:03] emily-phet commented on #299
@jbphet For the second topic, I'm good with the sweep-free reset. I believe the intention was to cue 'erasing' - which is a nice cue. I think it's not necessary, though, and the sound is (humorously) 'cleaner' without the sweep. :)

[2018-09-20 23:17] jbphet commented on #304
I set the electric discharge sound to be a loop and it seems to have fixed the issue.  Closing.

[2018-09-20 23:17] #304 closed

[2018-09-21 15:11] KatieWoe commented on #301
@jbphet this issue seems to have reappeared.
[code]

[2018-09-21 17:42] jbphet commented on #301
The latest CT failure was actually due to a different problem, but not matter - it should now be fixed.  Closing.

[2018-09-21 17:42] #301 closed

[2018-09-21 18:00] jbphet commented on #299
This was reviewed today with @emily-phet and @Ashton-Morris and we decided to adjust the volume of the reset all button and address the electric discharge issue (actually, I've already fixed it).  The issue that was raised about the difference in level between the forward and backward direction of the foot must be either due to the "auditory illusion" that @jhung mentioned or the headphones on whi

[2018-09-21 18:00] #299 closed

[2018-09-21 23:52] zepumph commented on #300
This has been completed, and the sound alerts added, @jbphet please reciew.

[2018-09-24 16:37] jbphet commented on #300
I don't know much about the utterance queue, but in general the changes look reasonable.  I'll move forward with the release candidate.  Closing.

[2018-09-24 16:38] jbphet commented on #300
After further review, I'm thinking I'll leave this open and have it verified during RC.  The QA team might need some help on how to verify.

[2018-09-24 19:35] jbphet commented on #305
Good observation.  I used composition originally because I wanted to put an additional gain stage in without worrying about what the sound manager does to the SoundGenerator base type's master gain stage, since it uses it for muting disabling sound generators.  When I thought about this, it shouldn't be necessary, since SoundGenerator keeps track of the output level even when the sound generator i

[2018-09-24 19:35] #305 closed

[2018-09-25 19:04] jbphet commented on #258
This should now be fully addressed, there is lots of detail in https://github.com/phetsims/tambo/issues/28.  Closing.

[2018-09-25 19:04] #258 closed

[2018-09-26 16:48] JRomero0613 opened #306 "Legends Of Learning Doesn't Pause Sound"
For https://github.com/phetsims/QA/issues/196 when using Legends of Learning and pausing it the simulation pauses as intended. However if the sim is paused while John is getting shocked the sound will continue to play until the sim is resumed and all of the charges are discharged.

[2018-09-26 16:48] arouinfar opened #307 "LoL Icons & Descriptions"
For https://github.com/phetsims/QA/issues/196

[2018-09-26 17:29] arouinfar commented on #307
Done, closing.

[2018-09-26 17:29] #307 closed

[2018-09-26 19:06] jbphet commented on #306
Nice catch.  I just took a look at this with @samreid, and he pointed me to the file 'LegendsOfLearningSupport.js`, where the pausing is handled.  Based on what we see in this sim, pausing the sim causes the globally available property `phet.joist.sim.activeProperty` to go false.  The sound manager should probably monitor this property and pause sounds when this happens.

I'll investigate doing th

[2018-09-26 19:36] KatieWoe opened #308 "Part of keyboard nav is untranslatable"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/196
Part of the keyboard nav dialog does not seem to have translatable strings.
**Steps to reproduce:**
1. Enter in a string test.  Example: stringTest=rtl
2. Open the keyboard nav dialog.
3. Note that the "Hand or Foot" and "Move Hand or Foot" strings ar

[2018-09-26 19:51] jessegreenberg commented on #308
Shoot, sorry about that. Fixing now.

[2018-09-26 20:09] jessegreenberg commented on #308
The above commit makes these strings translatable, and will need to be merged into the release branch. Since @jbphet is doing this deploy I will pass to him but let me know if I can help.

[2018-09-26 20:41] KatieWoe opened #309 "LoL: Sound Continues After Pause"
**Device**
Dell Laptop
**OS**
Win 10
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/196
When in LoL the humming sound of the electrons continues even after the sim is paused.  If you pause in the middle of a discharge, the zap sound continues as well.
**Steps to Reproduce**
1. Enter the sim into the LoL harness and start it.
2. Add electrons.
3. Pause the sim

[2018-09-26 21:00] KatieWoe opened #310 "Jaws performance and reading alerts"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/196
When using Jaws and keyboard nav there is a significant drop in performance.  Jaws also very rarely reads the part of the alert when rubbing against the rug that reads the electron count.  After a few minutes it only read twice for me.  Position is r

[2018-09-26 21:11] jessegreenberg commented on #310
I just tried JAWS 2018 on my Windows 10 desktop with FF and everything is very fast. Ill try on my laptop.

[2018-09-26 21:14] KatieWoe commented on #310
I did notice that the dropped alerts occurred more often when using keyboard nav.  Enhanced sound seemed to increase their frequency for some reason.  Finally, you can keep adding charges while discharge occurs, and this seems to confuse the screen reader when it tries to say how many charges were lost.

[2018-09-27 14:28] jessegreenberg opened #311 "Discharge alert with incomplete discharge while picking up other charges"
In #310 @KatieWoe said

This case may not be handled well. Ill take a look

[2018-09-27 14:37] jessegreenberg commented on #310
I can confirm on my laptop that JAWS + FF rarely reads the change in charge alert, though sim performance still feels fast. This may be related to a simlar issue in RIAW https://github.com/phetsims/resistance-in-a-wire/issues/165

[2018-09-27 14:39] jessegreenberg commented on #310
This wasn't caught in the last release because the previous release supported JAWS + IE11 instead of JAWS + FF.

Since I can't reproduce on my faster desktop, this is a performance related issue like the one in resistance in a wire. JAWS + FF has a hard time reading off the alert immediately after a change in `aria-valuetext`.

[2018-09-27 15:11] KatieWoe opened #312 "Reset all positions foot differently"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Edge
**Problem description:**
For https://github.com/phetsims/QA/issues/196
When hitting the reset all button, John's foot ends up in slightly different positions.  Not exclusive to edge.
**Steps to reproduce:**
1. Move foot to new position.
2. Hit reset all.
3. Hit reset all a second time.  Note foot shift.

**Screenshots:**
!

[2018-09-27 15:20] KatieWoe commented on #309
P.S. Ive been marking legends of learning pass on the testing matrix.  Should it be marked fail due to this issue?  Also, it is not restricted to firefox.

[2018-09-27 15:46] KatieWoe opened #313 "Electrons not added during scrape sound"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Edge (XHTML but not necessary)
**Problem description:**
For https://github.com/phetsims/QA/issues/196
Foot may make scrape sound without adding electron.  Not restricted to edge, but sound is louder on edge which makes it easier to reproduce.  Sometimes an electron will be added, but often it won't.
**Steps to reproduce:**
1. M

[2018-09-27 16:04] jbphet commented on #309
@KatieWoe - in my opinion, it would be good to mark this as having failed.  In either case, I'll address it.

[2018-09-27 16:49] jessegreenberg commented on #310
I have a few ideas about how to improve this. I think we can generally improve utteranceQueue and make it so we don't have to do a deep dive into sim performance every time this comes up, which has been in RIAW, BASE, and JT since FF Quantum was released.

@emily-phet is it OK if I work on this, and should this be improved for the republication of this sim? This doesn't look complicated, should ta

[2018-09-27 16:52] emily-phet commented on #310
@jessegreenberg If you think the improvements are generalizable, so will save time in the future, go for it!

[2018-09-27 16:54] jessegreenberg commented on #310
Thanks! If I strike out or it takes longer Ill check in again.

[2018-09-27 17:18] JRomero0613 commented on #306
Just to let you guys know but the continuous sound that plays to indicate a charge on John also continues to play when the sim is paused using Legends of Learning.

[2018-09-27 22:01] KatieWoe commented on #300
Looks good on all three screen readers.

[2018-09-27 22:01] #300 closed

[2018-09-27 22:40] KatieWoe opened #314 "Sim won't load on internet explorer"
**Device**
Dell Laptop
**OS**
Win 8.1
**Browser**
Internet explorer
**Problem Description**
For https://github.com/phetsims/QA/issues/196
When attempting to open the sim in internet explorer the loading bar stalls about 1/4 of the way through and does not load.  Error in console reads:
[code]
**Steps to Reproduce**
1. Open console on IE
2. Attempt to go to the sim

**Screenshots**
![stuck](https:/

[2018-09-27 23:10] phet-steele commented on #314
@jbphet here you go https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext/createBiquadFilter#Browser_compatibility.

[2018-09-27 23:11] phet-steele commented on #314
@KatieWoe that link above also says this shouldn't load on an iPad. Has this sim been tested there?

[2018-09-27 23:13] KatieWoe commented on #314
@lmulhall-phet has tested on iOS 9 and iOS 10 and marked the performance good.  I'll do a quick check on all the devices in a minute or two.

[2018-09-28 15:36] jessegreenberg commented on #312
This is likely related to #285, Ill look into this.

[2018-09-28 15:37] jessegreenberg commented on #313
Unsure if this is even a bug or if this is related to keyboard nav, but let me know if I can help.

[2018-09-28 15:41] KatieWoe commented on #50
@jbphet I've seen issue a few times in https://github.com/phetsims/QA/issues/196 1.5.0-rc.1

[2018-09-28 15:55] jessegreenberg commented on #310
Overall, JAWS has trouble with aria-live immediately after announcing an update from aria-valuetext. This was improved by adding a delay to Utterances in the queue to allow the aria-valuetext to finish before announcing the alert.

The above commits improve behavior quite a bit. As @KatieWoe mentioned, JAWS was reading the electron count very rarely before. Now I get the alerts almost every time.

[2018-09-28 17:06] emily-phet commented on #310
@jessegreenberg Thanks for the update. I agree that moving electron count into aria-valuetext would be something good to try, though I think we should wait on this until the next iteration of a new feature for JT. Especially with the new sonification, there will be additional auditory feedback that the charges are going onto the body, so hopefully the improvements you've just made plus this sound

[2018-10-01 16:06] jbphet commented on #50
@KatieWoe - does the problem (other than sound production) exist on the currently published version of the sim?

[2018-10-01 16:35] KatieWoe commented on #50
@jbphet I haven't been able to reproduce it on the published version, but I've had trouble consistently in the rc, and may just be missing the visual cues somehow.

[2018-10-01 20:30] jbphet commented on #313
This behavior exists on the currently published version, v1.3.4, except that it's not apparent that the foot is in contact with the rug because there is no sound generation, so it's not very noticeable.  This means that I'll have to change the behavior of the model in order to fix it.

[2018-10-01 22:28] jessegreenberg commented on #310
OK, sounds good. So to include these changes we will need a release branch in scenery-phet, plus include https://github.com/phetsims/john-travoltage/commit/ead3cbe9694eb3b371fe966a1e0a4eeff62be9e6 in the 1.5 release branch.

[2018-10-01 23:53] jbphet commented on #309
I've implemented a solution for this where sound generation is disabled when the sim is inactive.  It works well in this context, but I think long term I'll implement a more complete solution, and I've described that in https://github.com/phetsims/tambo/issues/51.

I think this fix is sufficient for now.  I'll leave this issue open to remind me to propagate the fix to the 1.5 release branch and ha

[2018-10-01 23:57] jbphet commented on #309
@KatieWoe - isn't this bug a duplicate of #306?  Please let me know and, if so, close that one (not this one) since I've referenced my commits to this issue.

[2018-10-02 13:52] jessegreenberg commented on #311
@KatieWoe could you please elaborate on the problem you observe? Here are the steps I am taking to try to reproduce:
- Rub foot on rug until enough charges are collected to discharge.
- While electrons are moving to doorknob, rub foot on rug to add more charges to the body. Do this late enough in the electron discharge so that the new charges don't immediately move to the doorknob.
- With the new

[2018-10-02 14:32] KatieWoe commented on #311
Not exactly what I meant, sorry for being unclear.
1. Rub foot on rug until enough charges are collected to discharge.
2. As discharge starts, continue to rub foot on rug, continuously creating charges that flow out in the same discharge.
3. After this has occurred for some time listen to the description.  If I remember correctly it said something similar to what it should at the start, but cut of

[2018-10-02 14:52] jessegreenberg commented on #311
Thanks @KatieWoe, was this with JAWS specifically or all AT?

[2018-10-02 15:13] KatieWoe commented on #311
@jessegreenberg I only noticed it JAWS.  I can't remember if I tried it on any other screenreaders, so it might be on all of them.  I can check NVDA really quick and get back to you on that.

[2018-10-02 15:44] jessegreenberg commented on #311
@KatieWoe and I discussed over Slack. Keyboard interaction with NVDA isn't performant enough to support this case on the Windows platforms available to us. I will try to reproduce the case mentioned in https://github.com/phetsims/john-travoltage/issues/311#issuecomment-426296616 on JAWS on my laptop.

[2018-10-02 15:53] KatieWoe commented on #311
Closing for @jessegreenberg

[2018-10-02 15:53] #311 closed

[2018-10-02 15:55] jessegreenberg commented on #311
@KatieWoe and I re-tested. I am generally not getting any alerts after moving the leg after a discharge, but this makes sense due to the fact that AT will silence all previous alerts after an interaction. I believe this can be closed.

[2018-10-02 20:01] jbphet commented on #50
I just tried, and I can definitely reproduce this problem on the currently published version, which is v1.3.4. This would seem to indicate that it hasn't been introduced by any of the sonification work, so I'm not going to try to address it in the 1.5 release.  Assigning to @ariel-phet to determine whether to commit some resources to this.  It is physically incorrect, since the charges just seem t

[2018-10-03 19:19] KatieWoe opened #315 "JAWS and NVDA alerts read late"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/200
When using NVDA the alerts for discharge and the number of electrons on body no longer happen after the event or last movement themselves.  Instead, you must move the hand or foot one more time for the alert to read.
**Steps to reproduce:**
1. Turn o

[2018-10-03 19:40] KatieWoe commented on #315
Edit.  Just tested on Jaws and the same issue seems to occur.

[2018-10-03 19:43] KatieWoe commented on #310
Performance is still lagging for me in 1.5.0-rc.2.  The number of electrons reads out more often, but https://github.com/phetsims/john-travoltage/issues/315 has become an issue.  This also means that the count is more likely to be read out if only one "step" has been made. @jessegreenberg

[2018-10-03 19:44] jessegreenberg commented on #315
@KatieWoe I don't think there is anything related to a second movement of the arm and leg, there is just a delay between the movement and the alert. Instead of moving the arm in the attached video, if you just wait do you still get the alert?

[2018-10-03 19:51] KatieWoe commented on #315
@jessegreenberg I don't think so.  I can try again, but it only seems to happen after that second movement, at least when using keyboard nav.

[2018-10-03 20:07] KatieWoe commented on #315
This issue seems to be due to a longer mount of time before the alert plays.  The instance with Jaws in particular not always playing the electron count alert unless only one movement was made still seems to be a problem.  Making a separate issue for such behavior.  Closing per @jessegreenberg

[2018-10-03 20:33] KatieWoe opened #316 "Jaws description drops and long strings of alerts"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Firefox
**Problem description:**
For https://github.com/phetsims/QA/issues/200 related to https://github.com/phetsims/john-travoltage/issues/315
When using Jaws the alerts for the number of electrons on body or foot position may not play if the arrow keys were held down.  Electron count plays more often, but still plays with le

[2018-10-03 21:05] jessegreenberg commented on #316
@KatieWoe and I discussed over slack. For many of the movements in the video, the arrow keys were pressed and held down, which we know JAWS has problems with (https://github.com/phetsims/john-travoltage/issues/227, and other items mentioned in https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit). As such, we are OK with this behavior for now and will go ahead and c

[2018-10-03 21:05] #316 closed

[2018-10-03 21:09] jessegreenberg commented on #315
I changed my mind, I think we should re-open this. The delay between alerts is too abrasive, as demonstrated in the video. Ill reduce it a bit.

[2018-10-03 21:21] jessegreenberg commented on #315
The above commit reduces the delay and things sound much better with NVDA and I assume VO. Alerts generally sound better from #310, but there are still many times where the alerts are not coming through when using JAWS with FF.

Marking as fixed pending testing, and https://github.com/phetsims/john-travoltage/commit/e301b24c5a4d2939a30d50c9c56a5896b337e637 is the commit to bring to the release bra

[2018-10-03 22:38] KatieWoe commented on #313
Looks goo 1.5.0-rc.2

[2018-10-03 22:38] #313 closed

[2018-10-03 22:45] KatieWoe commented on #312
Looks good on 1.5.0-rc.2

[2018-10-03 22:45] #312 closed

[2018-10-03 22:48] KatieWoe commented on #308
Looks good on 1.5.0-rc.2

[2018-10-03 22:48] #308 closed

[2018-10-04 02:15] ariel-phet commented on #50
@KatieWoe I am going to mark this issue deferred, and we can attempt to address it next time this simulation gets visited, but currently I don't think we have the resources to properly investigate it.

Can you please make a video or mark out some clear steps to reproduce the current issue. I played with the published version, and I *think* I see what is being suggested as a bug, but I want to make

[2018-10-04 15:37] KatieWoe commented on #50
The version where a spark appears but no discharge sound is made is the one I've been able to reproduce consistently.  It does produce the ouch sound though.  I've still had trouble reproducing the version where no spark appears but sound is played, but I believe the method of producing it is the same.  @jbphet if you found any different methods or have anything to add, let me know.
Steps:
1. Buil

[2018-10-04 18:58] KatieWoe opened #317 "Sim won't behave properly after keyboard nav in full screen IE"
Device
hp laptop
OS
Win 7
Browser
Internet explorer.
Problem Description
For https://github.com/phetsims/QA/issues/200 possibly related to https://github.com/phetsims/john-travoltage/issues/314
When using keyboard nav in the full screen mode, if you switch to using a mouse the sim will become uninteractable.  Any animations in progress (electron discharge) will continue, but mouse input will do no

[2018-10-04 18:59] KatieWoe commented on #309
Looks good 1.5.0-rc.2

[2018-10-04 18:59] #309 closed

[2018-10-04 19:03] jessegreenberg commented on #317
@KatieWoe is this reproducible in Windows 10?

[2018-10-04 19:16] KatieWoe commented on #317
@jessegreenberg yes

[2018-10-04 19:17] jessegreenberg commented on #317
Good deal, that will make it easier to investigate. Thanks.

[2018-10-04 19:32] jessegreenberg commented on #317
Able to reproduce, shortly after the bug happened, IE11 crashed with "A problem occurred..." I verified that this is specific to IE11, and doesn't happen in Chrome or Edge.

[2018-10-04 19:48] jessegreenberg commented on #317
When I run a mangle=false version of the sim, IE11 tells me
`SCRIPT16389: Incorrect function.`

Pointing to this line
[code]

[2018-10-04 19:49] jessegreenberg commented on #317
Presumably this is in AccessiblePeer.

[2018-10-04 19:54] KatieWoe commented on #317
Noting here that this is present on Win 8.1 IE as well

[2018-10-04 20:05] jessegreenberg commented on #317
The HTML element that we are trying to blur is defined in IE11.

[2018-10-04 20:32] jessegreenberg commented on #317
![capture](https://user-images.githubusercontent.com/6396244/46501270-fc144500-c7f2-11e8-944b-a904431acc3f.PNG)

I am pretty sure that what is happening is that blur() in IE11 throws an error if the element is not in the document.

[2018-10-04 21:00] KatieWoe commented on #314
1.5.0-rc.2 this issue seems fine but https://github.com/phetsims/john-travoltage/issues/317 has appeared.  Closing this issue.

[2018-10-04 21:00] #314 closed

[2018-10-04 21:57] jessegreenberg commented on #317
Here are some modifications in a non-mangled built version:
[code]
 * window.element.blur() works just fine.
 * window.peer._primarySibling.blur() works just fine.
 * this._primarySibling.blur() is throwing an error "Incorrect Function".
 * I verified that window.peer._primarySibling === document.activeElement.

So it seems like things are OK in the console, but not OK at runtime.

[2018-10-04 22:03] jessegreenberg commented on #317
This bug report looks really similar to what we are seeing
https://bugs.jquery.com/ticket/15044

[2018-10-04 22:12] jessegreenberg commented on #317
Maybe the blur is a read herring, and the error is happening elsewhere.

[2018-10-04 22:36] jessegreenberg commented on #317
Some output in the console, but I still am very unclear on what is happening here
![capture](https://user-images.githubusercontent.com/6396244/46507001-62559380-c804-11e8-80ba-ab9daed7a7b1.PNG)

[2018-10-04 22:42] jessegreenberg commented on #317
This isn't happening in the deployed version of the sim, that might help isolate the problem.

[2018-10-04 22:50] KatieWoe commented on #317
Just found that this issue is happening to an even larger extent in https://github.com/phetsims/QA/issues/203 (Coulomb's Law).  In addition to this issue, if keyboard nav is used on the home screen on full screen it crashes and looses many images.
![odd](https://user-images.githubusercontent.com/41024075/46507413-96758800-c7f5-11e8-8a47-4c68ebadfba9.PNG)

[2018-10-04 22:58] jessegreenberg commented on #317
Thanks @KatieWoe, that is the same issue. We are trying to blur document.activeElement in fullScreen mode and IE11 reports "Incorrect Function".

[2018-10-04 23:12] jessegreenberg commented on #317
So it seems like blur works as long as the element is not document.activeElement for IE11 in fullscreen mode...which means that blur doesn't work for IE11 in fullscreen mode. But this implementation of AccessiblePeer.blur makes the problem go away in both john-travoltage and coulombs-law:
[code]

[2018-10-05 14:49] jessegreenberg commented on #317
A bug reported to jquery about this in https://bugs.jquery.com/ticket/15044 was closed with comment

But the sim becomes unusable in this case so Ill continue with https://github.com/phetsims/john-travoltage/issues/317#issuecomment-427198363 as a workaround.

[2018-10-05 15:51] jessegreenberg commented on #317
It did not work. https://github.com/phetsims/john-travoltage/issues/317#issuecomment-427403989 is a more graceful solution, and is definitely one way to go. Apparently IE11 has a special function `setActive`, maybe that will work better? http://help.dottoro.com/ljqmdirr.php

[2018-10-05 16:06] jessegreenberg commented on #317
It did not. Comments in other threads are suggesting a timeout might work as a workaround.

[2018-10-05 17:54] jessegreenberg commented on #317
@zepumph helped me commit this change, we verified that this is working now in IE11 and in other platforms too. The release of JT will need a scenery branch with this commit.

[2018-10-05 19:11] jessegreenberg commented on #317
The above commit should fix all occurrences of this (JT, CL, GFL:B, and more). @KatieWoe can you please check that this is fixed in built versions of the sim in IE11 using phettest (since requirejs won't work in IE11)?

[2018-10-05 19:27] KatieWoe commented on #317
@jessegreenberg just test the three sims mentioned on Win 10 IE 11 and it all looks good.

[2018-10-08 17:40] jbphet commented on #264
These sounds have been incorporated into the 1.5 release which, as of this writing, is in RC and close to publication.  The sounds have been reviewed multiple times as part of the overall sound design reviews, so I think we can safely say that they have been approved.  Closing.

[2018-10-08 17:40] #264 closed

[2018-10-08 17:42] jbphet commented on #50
Unassigning myself, since the issue has been marked as deferred, and I'm not the responsible developer.

[2018-10-08 23:05] jbphet commented on #317
This isn't working for me.  I first tried propagating it to the RC branch, but the problem wasn't gone, so I tried building off master, and I'm still seeing the lockup there as well.  I noticed the code is using `this` in a closure, which looks suspicious.  Are you sure this is fixed?

[2018-10-09 00:38] jessegreenberg commented on #317
Sorry @jbphet, that looks very wrong. It is very weird that IE11 *isn't* breaking when @KatieWoe or I test it. I just tested it again off of master and behavior seems ok.

[2018-10-09 00:55] jessegreenberg commented on #317
I changed it to use `self`, but now that the reference to the AccessiblePeer is correct, the reference to _primarySibling is gone after the menu has been hidden, so `self._primarySibling.blur();` is throwing an error for me now. I will have to follow up tomorrow.

[2018-10-09 19:36] jbphet commented on #315
This should be propagated to the 1.5 release branch.

[2018-10-09 22:19] jessegreenberg commented on #317
Worked with @jbphet to verify a fix. Removing my assignment for now.

[2018-10-09 22:28] jessegreenberg commented on #310
On Slack, @KatieWoe said:

So by moving the leg before electron count is read out, JAWS is still not providing the alert to the user because it is trying to read the aria-valuetext. @emily-phet how should we proceed with this issue? In https://github.com/phetsims/john-travoltage/issues/310#issuecomment-425502414 it sounds like further work could wait until the next iteration. Is that still true or

[2018-10-09 22:36] KatieWoe commented on #317
@jessegreenberg Looks ok on JT 1.5.0-rc.3 on Win 10 IE 11.  Do you want this left open for a future maintenance release, or should it be closed?

[2018-10-10 16:57] emily-phet commented on #310
So, am I understanding this correctly that essentially one needs to pick up one electron at a time in order to hear the electron count read out? When interacting slowly (one electron at a time), is the readout of alerts otherwise fine?

Note: For future reference, I read this blog post from Sept. 2018 as I was considering how to respond:
http://blog.freedomscientific.com/firefoxesr/

[2018-10-10 17:14] KatieWoe commented on #310
@emily-phet essentially, yes.  Readout is still a bit off, but much better than it was, when moving slowly.

[2018-10-10 18:05] jessegreenberg commented on #310
@emily-phet that is correct. It depends on how fast your machine is. On my speedy desktop this is not an issue, but this is the case for my laptop.

On my slower laptop I tested john-travoltage rc.3 with JAWS and Chrome and performance is very smooth and this issue is not present at all.

[2018-10-10 20:20] #317 closed

[2018-10-10 20:59] jessegreenberg commented on #315
Thanks @KatieWoe, yes this issue can be closed.

[2018-10-10 20:59] #315 closed

[2018-10-10 22:41] emily-phet commented on #310
Ok - let's go ahead with deploying JT this week, and as a next step (for after deploying) open an issue regarding moving electron count into aria-value text. Then we should discuss this possible change with @terracoda before proceeding further there.

[2018-10-11 07:42] terracoda commented on #310
Great news about a re-deployment for this sim.

[2018-10-11 14:36] jessegreenberg opened #318 "Experiment with using aria-valuetext for all alerts in this sim"
From #310, JAWS performance in FF with this sim (and others) is much worse than other platforms. Specifically, this causes alerts triggered after aria-valuetext updates to be lost by JAWS and never provided to the user.

One way around this could be to package the alert content into the aria-valuetext, because JAWS always reads the aria-valuetext. This would involve
- Modifying the aria-valuetext

[2018-10-11 14:37] jessegreenberg commented on #310
Sounds good, I made a new issue to discuss and track using aria-valuetext as an enhancement for FF+JAWS. Its on the meeting agenda, but I also think it would be helpful to check in on whether FF is still the best browser to target for use with JAWS.

[2018-10-11 15:12] jessegreenberg commented on #310
Closing this issue, we will pick up next steps in https://github.com/phetsims/john-travoltage/issues/318.

[2018-10-11 15:12] #310 closed

[2018-10-11 19:59] terracoda commented on #318
OK, if I understand this correctly, we are trying to get better experience of hearing the number of electrons on the body. This has been a problem (not exactly the same) for Safari & Voice Over, too, but recent tweaks to the timing of the alert using the utterance queue addressed the issue of single electron alerts piling up and kind of getting in the way.

In the case for JAWS & FF we are trying

[2018-10-15 19:44] KatieWoe opened #319 "New Screenshot"
Since https://github.com/phetsims/QA/issues/208 (1.5.0) was published and looks fairly different from the current screenshot @ariel-phet decided a new one should be made.  This is my best try at making one in the same position as the old.
@jbphet @arouinfar Does this look acceptable?  Are there any alternates that need to be done?  Do these replace the current pictures in the repo?
@mattpen What e

[2018-10-15 19:45] KatieWoe commented on #319
![jt screenshot](https://user-images.githubusercontent.com/41024075/46974174-83c64300-d080-11e8-8cb4-893bb5c1b3ed.png)

[2018-10-15 19:46] arouinfar commented on #319
Looks good to me @KatieWoe!

[2018-10-15 19:49] mattpen commented on #319
This should be done by the responsible dev for JT.  We'll need to add this image to the master and 1.5 branches in the JT repo then deploy a maintenance release.

[2018-10-15 19:50] KatieWoe commented on #319
This might need to wait until @jbphet is back from vacation then.  Thanks @mattpen

[2018-10-16 17:15] ariel-phet commented on #319
Seems fine to wait until @jbphet is back

[2018-10-17 12:48] emily-phet commented on #318
@jessegreenberg @terracoda
After the decision yesterday to switch to Jaws + Chrome, this issue can be considered 'do not fix'.
As we go forward, we should explore - and set some guidelines - for what content is provided as alert, and what is provided as aria-valuetext.
Just wanted to let you both know that part of this issue isn't lost!

[2018-10-26 20:05] jbphet commented on #294
The sim has been published with sound, it's version 1.5.0, see https://phet.colorado.edu/sims/html/john-travoltage/1.5.0/john-travoltage_en.html. Closing.

[2018-10-26 20:05] #294 closed

[2018-10-26 20:07] jbphet commented on #179
PitchedPopGenerator has been totally revamped as part of #294, closing.

[2018-10-26 20:07] jbphet commented on #139
PitchedPopGenerator has been totally revamped as part of #294, closing.

[2018-10-26 20:07] #139 closed

[2018-10-26 20:08] jbphet commented on #137
JohnTravoltageAudio no longer exists due to the work done for #294, closing.

[2018-10-26 20:08] #137 closed

[2018-10-26 20:08] jbphet commented on #136
ChargeAmountToneGenerator no longer exists due to work done for #294, closing.

[2018-10-26 20:08] #136 closed

[2018-10-26 20:09] jbphet commented on #135
This was addressed as part of #294, closing.

[2018-10-26 20:09] #135 closed

[2018-10-26 20:14] jbphet commented on #163
Async loading of sounds has been centralized into `SoundClip.js` (in the tambo repo) and `Sound.js` (in the vibe repo).  We will do some further investigation down the road on having the plugin handle the asynch loading, see https://github.com/phetsims/vibe/issues/29.  There is no longer a need for this issue, closing.

[2018-10-26 20:14] #163 closed

[2018-10-26 20:15] jbphet commented on #164
This is the way things work in Web Audio - the sound is only decode once, but a new source is created (which references the decoded sound) each time the sound is played.  Closing.

[2018-10-26 20:15] #164 closed

[2018-10-26 20:16] jbphet commented on #165
ChargeAmountSoundGenerator is gone as part of the work done for #294, closing.

[2018-10-26 20:16] #165 closed

[2018-10-26 20:17] jbphet commented on #166
The code for getting an audio context is now centralized in `phetAudioContext.js` in the tambo repo.  Closing.

[2018-10-26 20:17] #166 closed

[2018-10-26 20:17] jbphet commented on #172
JohnTravoltageAudio no longer exists due to the work done for #294, closing.

[2018-10-26 20:17] #172 closed

[2018-10-26 20:19] jbphet commented on #173
Pops are now only played in once place due to work done for #294, closing.

[2018-10-26 20:19] #173 closed

[2018-10-26 20:19] jbphet commented on #174
JohnTravoltageAudio is gone due to work done for #294, closing.

[2018-10-26 20:19] #174 closed

[2018-10-26 20:21] #47 closed, assigned to nobody

[2018-10-26 20:34] arouinfar commented on #121
Well, yes and no. The artwork was updated (see https://github.com/phetsims/tasks/issues/309), but I believe there was some concern that Travoltage was possibly too photo-realistic, so we explored the cartoonish Travoltage in this issue. There were probably also some issues with CU Legal, which is why this was tagged with `project:requires-kathy`. My best guess is that we can close this issue, but

[2018-10-26 20:35] jbphet opened #320 "Update credits"
I made a bit of a last-minute update to the credits to add myself and @Ashton-Morris when publishing the 1.5.0 version.  I added myself to the "team" field and @Ashton-Morris to the "contributors".  I'm not sure if this is considered appropriate - perhaps I should go into the "softwareDevelopment" field and Ashton should be on the team.

Assigning to @ariel-phet to see if he would recommend any ch

[2018-10-27 00:02] jonathanolson opened #321 "Sim freezes in FF after reset with large number of charges"
![firefox-john-travoltage-frozen-with-audio](https://user-images.githubusercontent.com/480878/47597095-e48b3080-d948-11e8-9c97-6670d30fe95f.PNG)

It's an endless loop of "doodle" noises, which I presume are the electron noises (sounds like a lot of them).

@jbphet I'm not sure if it's related to audio, or @zepumph if it's related to fuzzBoard.

It's frozen enough where I can't get any diagnostic i

[2018-10-27 00:04] jonathanolson commented on #321
In addition to dev tools not appearing, muting the tab doesn't mute the sound. Trying to close the inspector also fails. Seems like it caused some iffy behavior in the Firefox code.

[2018-10-28 07:46] terracoda opened #322 "Descriptions do not fully reset after pressing Reset All button"
There are two descriptions that are not fully resetting after the Reset All button is pressed.
1. The sentence that describes the number of charges on John's body, "John has 0 charges on his body," should disappear after the Reset All button is pressed.
2. The position description for the Hand position slider, should reset to not include any directional information.

On page load both descriptions

[2018-10-28 07:52] terracoda commented on #322
@mbarlow12 or @jessegreenberg  could you two assign the appropriate developer and make sure these descriptions are fixed on the next release.

Sentence 1 is really not a huge problem, but the incorrect description for hand position -4, though not that serious, is a little awkward.

Please assign the priority level, too.

[2018-10-29 14:37] jessegreenberg commented on #322
Verified, thanks for pointing out @terracoda.

[2018-10-29 15:57] jessegreenberg commented on #322
I looked into this. In addition, the value text isn't updated on blur like it should be. So whenever focus leaves the arm and comes back, it still says "Towards doorknob".

[2018-10-29 15:57] jessegreenberg commented on #322
I think we need the ability to set the aria-valuetext independently from the changing value.

[2018-10-29 16:20] jessegreenberg commented on #322
Above commit should fix the issue with the aria-valuetext.

[2018-10-29 18:10] jbphet commented on #321
@jonathanolson - I noticed that this isn't assigned to anyone, and I didn't want it to fall through the cracks, so I tried to duplicate it.  I ran the sim on Firefox with the `fuzz` query parameter using the current master version and didn't have any trouble.  Is there any other followup that you'd recommend?

[2018-10-29 18:57] jessegreenberg commented on #186
This branch has the work in progress for #121 so Ill wait until we hear in that issue whether there are any further steps or whether the branch can be deleted.

[2018-10-29 18:59] jessegreenberg commented on #113
Thanks for checking on this, I don't see the branch anymore either. I don't think there was any recent intent to continue with this. Closing.

[2018-10-29 18:59] #113 closed

[2018-10-29 23:43] ariel-phet commented on #320
@jbphet this seems like a good question for @emily-phet.

1. Since we will be having a fair bit of sound design being done in the future, we could consider updating these categories...for instance changing "Graphic Arts" to "Media" or something like that, or adding a category for "Sound Design". I think that is best to defer to Emily, and I am fine with her call.

2. As for you, I think that is up

[2018-10-30 09:04] terracoda commented on #322
Thanks @jessegreenberg! The descriptions are resetting now.
I am assuming this issue is ok to close and that the changes will be pushed to production on the next update release for this sim.

[2018-10-30 09:04] #322 closed

[2018-10-30 12:56] emily-phet opened #323 "Public documentation of Description and Research - in John Travoltage folder"
- [x] Figure representing JT’s description design (maybe one from ASSETS demo?) [good to have by Nov. 16th-ish]

- [x] Update spreadsheet on all interviews (formal, informal, consultants, etc) conducted with JT. [Nov 2]

- [x] List of significant issues encountered in early iterations, with some ways we addressed these (though some can still be known challenges). Can link to JH's design docs as we

[2018-10-30 13:56] Ashton-Morris commented on #320
I'd prefer to be credited as Ashton Morris: Sound Designer if possible.

If there is a reason not to than I'll defer to what everyone thinks is best.

[2018-10-30 14:14] jessegreenberg commented on #321
I ran this with ?fuzzBoard and after about 45 seconds I encountered the message "A page is slowing down..."

I have seen it freeze while pressing the reset all button and also when pressing the global mute button.

[2018-10-30 14:17] jessegreenberg commented on #321
However, running the sim with ?fuzz also froze the sim for me in Firefox, though I didn't see any message like "This tab is slowing down your browser..."

[2018-10-30 14:34] jessegreenberg commented on #321
In Firefox, if I double tap the reset all button quickly with a mouse the sim freezes.

[2018-10-30 14:41] jessegreenberg commented on #321
https://github.com/phetsims/john-travoltage/issues/321#issuecomment-434325188

The freeze only happens when there are a number of charges on the body, maybe 20 or more?

[2018-10-30 14:48] jessegreenberg commented on #321
Stepping through, I see that things bog down in this part of the model reset.
[code]

Specifically, this.removeElectron( this.electrons.get( 0 ) ); begins to take a very long time.

[2018-10-30 15:05] jessegreenberg commented on #321
Continuing to step through, it was taking a long time to update the lengthProperty of the observable array, so I searched through listeners and found that with the debugger it took a long time to call these in FF:
[code]

Since it seems like this may be related to SoundGenerator, handing over to @jbphet.

[2018-10-30 17:32] jessegreenberg commented on #321
Renaming the issue since it isn't really related to CT.

[2018-10-30 20:00] terracoda commented on #323
@emily-phet, do mean the main PhET Sim design folder for JT?

[2018-10-31 11:06] emily-phet commented on #323
Yup!

[2018-10-31 12:32] terracoda commented on #323
@emily-phet, I moved all the files in the John Travoltage A11y folder to its new home undermain PhET Sim Design.

The files were "Added" to the new location, but not removed from the old location. Is that a problem? Is that how it is supposed to work. I have verified that all the files are one and the same files.

[2018-10-31 12:53] emily-phet commented on #323
@terracoda I think it will be problematic in the future to have duplicates. We can mark the files in the original location as 'deprecated', but this still requires someone to notice that before using them. I would prefer if the files now in the main John Travoltage folder no longer existed in the a11y folder. Is there a strong reason to still have the old docs in the original location?

Can you ma

[2018-10-31 13:07] terracoda commented on #323
@emily-phet, the strange thing is that the files are not "duplicates" they are the same files. I edit one in the A11y folder and the same file updates in the PhET Sim Design folder.

I don't know how to remove the file hierarchy, the path through the PhET Accessibility folder, but perhaps keeping that pathway is ok?

[2018-10-31 13:18] emily-phet commented on #323
@terracoda oh no! that seems even more confusing. so the files will always be up to date, but existing in two places at one?!?
We won't know (until we try in a test case) what happens if one is deleted. That means someone could delete the original file locations and possibly delete the new location? Please message Oliver and Amanda (google drive experts) and ask for their recommendation for how to

[2018-10-31 13:31] terracoda commented on #323
@emily-phet, messaging our google experts. I already tested a deletion and indeed it deletes in both locations.

[2018-11-01 11:34] terracoda commented on #323
@emily-phet, I successfully unlinked the files from their original location in the PhET Accessibility folder! We're good.

The process might be improved, but this is what I did:
- Added all files to their new location
- In new location, checked details of each file, and removed link to old location
- renamed old location folder to indicate why it was empty

Once all files are moved, we can delete

[2018-11-01 16:33] terracoda commented on #323
@emily-phet, I updated the brief design document that I had already started as an example for the team. Let me know, if you would like more details added.

[2018-11-01 17:40] ariel-phet commented on #121
I am fine with closing. The current published image has worked, and we have yet to get flak for it.

[2018-11-01 17:40] #121 closed

[2018-11-01 23:31] jbphet commented on #320
I've added @Ashton-Morris as a sound designer and made other updates.  This was deployed in v1.5.1 and also fixed on master.  Should be good to go, closing.

[2018-11-01 23:32] jbphet commented on #319
Deployed this new one in v1.5.1, looks great on the sim page.  Closing.

[2018-11-01 23:32] #319 closed

[2018-11-05 11:54] terracoda commented on #323
@emily-phet, I put my 3 JT interview notes in the correct spreadsheet.

[2018-11-05 19:51] jessegreenberg opened #324 "branch: pdomTransform"
To test and explore mobile accessibility. We are doing user testing of these features and john-travoltage is a good candidate.

[2018-11-08 15:59] terracoda commented on #323
@emily-phet, I have completed an outline of design challenges, and have filled it in with many points. The last bit to fill in is a few points about the foot descriptions.

[2018-11-08 15:59] terracoda commented on #323
@emily-phet, I can finish my thoughts on the foot tomorrow morning.

[2018-11-09 13:20] terracoda commented on #323
@emily-phet, the JT design challenges document is ready for your review. I have completed the items in this issue. Assigning to you.

[2018-11-12 11:53] terracoda commented on #323
@emily-phet, I just realized I just covered the interaction and description design challenges, so I added a few points about the challenges for the sonification design.

[2018-11-30 13:31] #323 closed

[2018-11-30 13:35] emily-phet commented on #267
can someone summarize what happened with this issue? I think a lot of work happened here, but I don't recall ever seeing the requested prototype.
No more work is needed on this, just wanted to make sure whatever happened here isn't lost in case we want to revisit this in the future.

[2018-11-30 16:19] jessegreenberg commented on #267
Here is a link to an initial prototype with this: https://phet-dev.colorado.edu/html/john-travoltage/1.4.0-circular_slider.1/phet/john-travoltage_en_phet.html

Much of the work related to this issue was in converting the initial implementation of accessibility in AppendageNode to use AccessibleSlider.

There is a branch called circularslider that has a commented out block of code with the initial

[2018-12-06 18:29] jessegreenberg commented on #318
I believe this issue can be closed, @emily-phet can I make an issue in a11y-research to track exploring what should be provided in alerts vs aria-valuetext?

[2018-12-06 18:32] jessegreenberg commented on #318
I made an issue above for that portion which is beyond performance and john-travoltage. Closing this one.

[2018-12-06 18:32] #318 closed

[2019-01-14 16:59] oliver-phet opened #325 "Sim title not translatable?"
A translator notified phethelp that the sim title doesn't appear on the translate page.
I dug around a little bit... not sure if this might be the cause?
[code]

![image](https://user-images.githubusercontent.com/5090275/51127573-ff9c6c80-17e2-11e9-9342-f74c805e166e.png)

[2019-01-14 18:12] arouinfar commented on #325
@oliver-phet at first, I thought this may have been by design, as "John Travoltage" is essentially a name. However, it looks like [Java ](https://phet.colorado.edu/en/simulation/legacy/john-travoltage#translations-header)and earlier versions of the [HTML5 sim](https://phet.colorado.edu/en/simulation/travoltage#translations-header) did allow localization of the sim name.

It seems a bit odd to me t

[2019-01-14 18:22] samreid commented on #325
@oliver-phet, nice detective work!  Co-assigning @jessegreenberg since he added the "visible":false part in d134f03001a3e327a399d27021d012fd052b5c84.  I'm also noticing 16 total hits of `"visible": false` across our project--we should discuss those as well.

[2019-01-14 18:59] jessegreenberg commented on #325
Very sorry, `"visible": false` should not be on this title string or any string. I verified that there is a check for this flag in `rosetta/routeHandlers`, which surprised me because I thought we verified that this was not the case and why we started using separate *A11yStrings.js files.
[code]

To fix this, can we delete this flag from the title string in john-travoltage and deploy a maintenance

[2019-01-16 17:33] jbphet commented on #325
Yes, that should work.

I'm not clear on this part.  I thought we decided to use the `visible: false` attribute to prevent a11y strings from appearing in the translation utility, and it appears that this works, but that the title for this sim got inadvertently marked as invisible.  Why would we need to move a11y strings to a separate file?

[2019-01-16 17:47] jessegreenberg commented on #325
Our convention has changed to use separate *A11y strings files and the great majority of a11y strings are separated in this way. The current 16 strings with `"visible": false` are exceptions to this. Actually, it looks like many of the a11y strings with "visible: false"in common code are not being used anymore.

[2019-01-16 18:12] jbphet commented on #325
Okay, thanks for the clarification.  As for the original question about whether it is safe to remove them, I think they would need to be examined on a case-by-case basis and, as long as they are not used in the visual portion of the sim, it should be safe to remove them from the strings JSON files.

[2019-01-22 16:04] jessegreenberg commented on #325
OK, sounds good, thanks. Ill fix john-travoltage here, then make a new issue in tasks to inspect and remove the rest of the strings with `visible: false`

[2019-01-22 17:07] oliver-phet commented on #325
This has been fixed and the translator notified.

[2019-01-22 17:15] jessegreenberg commented on #325
Thanks @oliver-phet! john-travoltage 1.5.2 was deployed, and I verified that there were no other changes by comparing the built file to 1.5.1. The rest of the work will continue in https://github.com/phetsims/tasks/issues/984. Closing.

[2019-01-22 17:15] #325 closed

[2019-01-24 00:08] KatieWoe opened #326 "CT running lint-all task"
[code]

[2019-01-24 04:00] pixelzoom commented on #326
Fixed, closing.

[2019-01-24 04:00] #326 closed

[2019-02-05 16:40] KatieWoe opened #327 "CT: iframe api failed"
[code]

[2019-02-05 20:54] samreid commented on #327
@chrisklus and I committed a fix which seems to resolve this issue.

[2019-02-05 20:54] #327 closed

[2019-03-06 19:35] zepumph opened #328 "Assertion failed: phetioID already registered: johnTravoltage.johnTravoltageScreen.model.electron_0"
In the state wrapper, when setting state in the downstream view, there is an assertion error that is called when firing the listeners upon state set completion:

From the stack it appears that a listener that is deferred is then trying to call `addElectron` in the model.

@samreid is this similar to the work you and @chrisklus were doing for https://github.com/phetsims/phet-io-wrappers/issues/229?

[2019-03-12 18:54] jbphet opened #329 "Try to improve foot dragging sound"
In the 2/26/2019 sound design meeting, @emily-phet requested that some time be taken to see if we can make some improvements to the sound that is produced when JT's foot is moved back and forth.  I agree that this can be improved.  Our general thoughts on this sound is that it gets the point across reasonably well, but seems a little harsh and artificial.  I'll see if I can make some refinements t

[2019-03-12 18:55] jbphet commented on #329
Once I've made some changes, @Ashton-Morris and I will refine and potentially more some more refinements, and then we will plan to review in the 3/19/2019 sound design meeting.

[2019-03-12 19:15] jbphet commented on #329
For reference, the improvements are being made relative to the currently published version, which is v1.5.2.  [This link](https://phet-dev.colorado.edu/html/john-travoltage/1.5.2/phet/john-travoltage_en_phet.html) to that version should be reasonably enduring.

[2019-03-12 19:50] jbphet commented on #329
In looking at the currently live version, it's behavior is better than that of the current master version.  The file `FootDragSoundGenerator.js` hasn't changed, so the problem is likely due to changes in the parent `NoiseGenerator` type.  The first order of business should be to fix this up.

[2019-03-12 23:37] jbphet commented on #329
On master, I've fixed two issues that were not on the published version.  These resulted from changes to the `NoiseGenerator` type.

+ drag sound continued above the carpet
+ drag sound was "jittery", meaning that the volume changed frequently in audible ways

Once these were fixed, I made the following changes that should affect the way the master version sounds with respect to the published vers

[2019-03-13 17:34] jbphet commented on #321
I think that this problem may have been caused by a combination of two other issues that have been resolved.  The first is that if the audio context was not enabled, the tambo sound library would leak memory (see https://github.com/phetsims/friction/issues/161).  The other is that opening the dev tools in Firefox changes the state of the audio context (see https://github.com/phetsims/tambo/issues/

[2019-03-14 18:11] KatieWoe commented on #321
I did both tests on Mac 10.14 Firefox and Win 10 Firefox.  Both with and without dev tools open.  Did not see this occur.  Closing

[2019-03-14 18:11] #321 closed

[2019-03-19 16:10] jbphet commented on #329
I've published a version with the changes described in the preceding comment, plus a modification to the overall volume that was done after reviewing with @Ashton-Morris.  The link is below.  Overall, I find this change to be much less "in your face", so I think it's an improvement.

@emily-phet and @Ashton-Morris - please review and provide your input.

@Ashton-Morris said during his and my meeti

[2019-03-25 10:51] emily-phet commented on #329
@jbphet
When rubbing the foot slow, this sounds much more pleasant than the current published version! When rubbing fast, it sounds 'clippy' - less smooth than when rubbing fast with the current published version. (Using Safari with headphones)

[2019-03-25 22:46] Ashton-Morris commented on #329
I am also still getting the clicks when dragging the foot. So its an outside of Zoom issue.

[2019-03-26 20:41] zepumph opened #330 "aria-valuetext doesn't update interacting with mouse"
Discovered as part of https://github.com/phetsims/scenery/issues/951. I would expect the Property passed in to AccessibleSlider to update appropriately no matter what the input modality is, but it seems like the Property only changes when using a keyboard, and thus, only the aria-valuetext in the PDOM updates when using the keyboard.

I don't know much about this sim, but I figured this deserved a

[2019-03-26 20:41] zepumph commented on #330
Tagging @jessegreenberg so he is aware.

[2019-04-08 23:40] jbphet commented on #329
This problem was particularly bad in Safari because of differences in the way that it implement gain changes.  I've logged an issue with the W3C Web Audio group, and have changed the PhET audio library to use a different gain change approach.  This seems to work better, but may bring back some of the issues that we were seeing before related to hearing sounds at initialization.

At any rate, a new

[2019-04-10 19:59] KatieWoe opened #331 "Usability on small screen review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* No needed corrections noticed
* No visible pointer areas for leg or hand

Screenshots:
![Image from iOS](https://user-images.githubusercon

[2019-04-11 21:16] jessegreenberg commented on #330
Hmm, this seems like it would be a general issue for all things that use AccessibleSlider, but Ill take a look as part of phetsims/scenery#951 review.

[2019-04-11 21:28] jessegreenberg commented on #330
It looks like not just aria-valuetext but slider value as well.

[2019-04-11 21:32] jessegreenberg commented on #330
It is because the AppendageNode gives the AccessibleSliider a Dynamic bidirectional Property to map from angle to input value along the slider ranges.

[2019-04-11 22:43] jessegreenberg commented on #298
A related issue recently came up in #330. I am unable to reproduce the reentrance on master when I remove `reentrant` from `angleProperty` and the relevant lines in inverseMap of DynamicProperty. I *can* however reproduce the issue when I checkout SHAS from around the date of this issue. So this may have been fixed by other commits in this repo, Ill investigate.

[2019-04-11 22:54] jessegreenberg commented on #298
I think I found it, there was an issue with AccessibleSlider identified in https://github.com/phetsims/gravity-force-lab-basics/issues/72 and the general fix made it so that this is no longer reentrant. I will remove `reentrant: true` and other references here and test to make sure reentrance is no more while everything still works.

[2019-04-11 22:58] jessegreenberg commented on #330
Fixed with the above commit.

[2019-04-11 22:58] #330 closed

[2019-04-11 23:01] jessegreenberg commented on #298
`reentrant: true` removed and sim is passing fuzz tests and a11y features are working. I can't reproduce the problem when going through steps in https://github.com/phetsims/john-travoltage/issues/298#issuecomment-420398958. Lines and documentation in https://github.com/phetsims/john-travoltage/issues/298#issuecomment-420399482 were removed. Closing.

[2019-04-11 23:01] #298 closed

[2019-04-13 21:57] arouinfar commented on #331
https://github.com/phetsims/joist/issues/556 will discuss the possibility of automatically showing `pointerAreas` for all UI components, but according to @kathy-phet:

[2019-04-13 21:57] #331 closed

[2019-04-15 20:18] jbphet commented on #329
We reviewed the latest changes during the 4/9/2019 Sound Design meeting, and the conclusion was that it is better - the clicking is gone and the sound isn't as harsh - but it could still use some improvement.  Since this sound will be used in other places, such as the balloon-rubbing-on-sweater sound for Balloons and Static Electricity, it's worth investing a bit more time in improving this.

Base

[2019-04-17 20:29] jbphet commented on #329
We (@emily-phet, @Ashton-Morris, and I) reviewed the latest changes on master at the 4/16/2019 sound design meeting and concluded that it is definitely an improvement over the current live versions.  Next steps are:

+ Fix the time constant that is used when starting the sound
+ Check in with @jessegreenberg and see if there is an upcoming maintenance release that this can go into

[2019-04-17 20:30] jbphet commented on #329
@jessegreenberg - we are trying to decide whether to do a maintenance release to get these changes published, and someone thought you might be planning a release of this sim for other reasons.  Any truth to that rumor?  If so, were you planning to publish off of master or the current release branch?

[2019-04-17 21:35] jessegreenberg commented on #329
I am not aware of any other plans to republish this sim now @jbphet.

[2019-04-29 21:06] jbphet opened #332 "Foot drag sound not very audible when using keyboard nav"
When using keyboard navigation to interact with the simulation, if the user moves the foot one increment forward or backward, the foot drag sound is barely audible.

I demonstrated this to @emily-phet and @Ashton-Morris at the 4/23/2019 sound design meeting, and we decided to create a GitHub issue but leave it unassigned and low priority for now.  It's generally a bit hard to hear subtle sounds wh

[2019-05-20 15:36] jessegreenberg commented on #237
We verified that this was a bug that has been fixed in Mojave and is no longer an issue for latest macOS and Safari. Closing.

[2019-05-20 15:36] #237 closed

[2019-06-05 16:38] jbphet commented on #329
In the 6/4/2019 sound design meeting, we discussed whether it was worth the time to do a maintenance release of this sim to get the improved foot dragging sounds published.  @emily-phet recommented that we wait, since we may well do a maintenance release or a release from master when we’re doing some work on this related to the haptics effort.  I will mark as deferred and add other appropriate lab

[2019-06-05 16:40] jbphet commented on #329
Note to self or whoever does the next publication: I don't think the changes were moved to the release branch yet, so that would be part of the process of publishing a maintenance release.

[2019-06-18 10:16] terracoda commented on #320
In next deployment, can we add **Brianna Tomlinson** to the team list, after Taliesin Smith, please.

**Screen shot from today (June 18, 2019)**
<img width="449" alt="jt-credit" src="https://user-images.githubusercontent.com/1902116/59673860-54914400-91c2-11e9-9a18-1f354c453194.png">

@jbphet, tagging you because you updated the credits last time, but I am not sure who should be assigned.

[2019-07-15 00:28] jessegreenberg opened #333 "Enable a11y on mobile safari"
Now that iOS VoiceOver on safari is a supported platform for a11y, it should be enabled on that platform.

[2019-07-15 03:06] jessegreenberg commented on #333
Done, its working great.

[2019-07-15 03:06] #333 closed

[2019-08-13 20:59] samreid opened #334 "Arm and leg have incorrect starting angles"
Self-assigning because I'm the responsible dev for John Travoltage.  Co-assigning @jessegreenberg and @zepumph because they have recent commits in this repo.

[2019-08-15 18:35] jessegreenberg commented on #334
IT looks like the arm and leg are just not visible at all, but are somehow still draggable. My first guess is that it could be caused by 5ff43f1d8078a060f6cb0b74d36e3c963bd67fe5, Ill take a look.

[2019-08-20 21:14] zepumph commented on #334
Yeah totally my fault. Commit coming in shortly.

[2019-08-20 21:22] zepumph commented on #334
The problem was that before the playAreaNode was on top of the background, but after https://github.com/phetsims/john-travoltage/commit/5ff43f1d8078a060f6cb0b74d36e3c963bd67fe5 the playAreaNode (created and added as a child in the parent) was below the background. I fixed this by adding all children to the screenView, and then setting the accessibleOrder of the playArea/controlArea Nodes at the en

[2019-08-20 21:23] zepumph commented on #334
Also tagging https://github.com/phetsims/scenery-phet/issues/381 because that is the parent issue of the conversion that caused this bug.

[2019-08-20 23:17] samreid commented on #334
@jessegreenberg would you have time to review this?

[2019-08-22 18:57] jessegreenberg commented on #334
Thanks for fixing this @zepumph, https://github.com/phetsims/john-travoltage/commit/bfaedc152974c7185fc41d02a547c0036846b769 looks good. Arm and leg look good and I inspected the a11y-view and saw that things are in the correct accessible order. Closing.

[2019-08-22 18:57] #334 closed

[2019-08-28 22:48] chrisklus opened #335 "Use Group for electrons"
@samreid and I almost got the conversion to use Group working entirely. The only part left is so figure out why there are mismatches with the types after running `grunt update`.

I added some logs to phetioAPIValidation that prints out the difference in keys of the types.

<details>

[code]

</details

[2019-08-28 22:59] chrisklus commented on #335
It would also be nice if @zepumph could take a look at this line in ElectronLayerNode.js:

[code]

Before this change, ElectronNodes were created with the same tandem name as their corresponding Electron. But since we don't allow the underscore character in any Tandem name except Group members, this is no longer possible (since the nodes are not part of a Group).

We added the method `getNonGroupM

[2019-08-29 04:24] samreid commented on #335
We tried using `Group` for the `ElectronNodes` and ran into numerous problems.  This seems reasonable because they are created and disposed in the same way electrons are, and it seems they are dynamic elements in a group.

1. ElectronNode requires a model element on construction.  So we ended up putting
[code]
2. We do not know how the electrons will be serialized for the ElectronNodes--it should

[2019-08-29 05:00] samreid commented on #335
I made a bit more progress by setting ElectronLayerNode to use
[code]

Defined in Group by:

[code]

[2019-08-29 15:10] samreid commented on #335
Omitting the ElectronNodes from state helps a lot!

[code]

[2019-08-29 15:11] samreid commented on #335
Should `phetioState` be inherited the same way that `phetioDynamicElement` is, at least for opting out?

[2019-08-29 17:17] zepumph commented on #335
I don't exactly remember the issue but I was wondering about that for phetioReadonly for the barrier rectangle.

[2019-08-30 17:26] chrisklus commented on #335
Here is a patch from @samreid and I's changes that further explores state with ElectronNodes in a Group:

<details>

[code]

</details>

[2019-08-30 18:19] chrisklus commented on #335
@samreid and I are thinking there are two phases to getting this working. Phase (1) is getting Groups working while the view Nodes are uninstrumented. Phase (2) is using Groups for model electrons and electronNodes. We've been working on phase (1), but would like to experiment more with phase (2) when @zepumph returns.

In this patch, we investigated getting phase (1) working. The current problem

[2019-09-04 20:08] zepumph commented on #335
@samreid, @chrisklus and I got to a commit point today! We completed phase one, in which the model of JT was instrumented and supports dynamic state and validation. Many TODOs are still marked in the code, but we are optimistic that this approach will work well for JT, and many other sims.

We also found that phase two, in which we add dynamic support for the view elements, may not be needed in JT

[2019-09-04 20:12] chrisklus commented on #335
@samreid, @zepumph, and I think this issue is ready to close. There are some comments above from when we were investigating including the view elements in a Group, so those will likely be useful to refer back to when we try phase 2 on another sim.

[2019-09-04 20:12] #335 closed

[2019-09-06 23:54] jessegreenberg opened #336 "Experimental code for haptic feedback"
This issue is just to document some experimental code that is being added to this simulation to explore haptic feedback (mostly vibration).
So far, the following has been added:

We are leveraging PhET-iO to make rapid prototypes. In the prototype wrappers, it was important to know when touch events started and ended, so we added Emitters to JohnTravoltageView that broadcast this information.

We

[2019-09-13 23:10] zepumph commented on #328
This issue is stale. We have recently been working on JT state and have not gotten this error.

[2019-09-13 23:10] #328 closed

[2019-09-18 15:24] jessegreenberg opened #337 "Implement three paradigms for haptic feedback"
Related to #336 for similar purposes but now we are putting code in the sim. Using new repo tappi to drive haptic feedback. Issue to track progress for initial work.

[2019-09-19 16:28] zepumph opened #338 "ShapeHitDetector needs a tandem"
ShapeHitDetector has a DragListener, which requires a tandem. When running the sim in PhET-iO brand while validating tandems, the sim fails.

@jessegreenberg let me know if I can assist in any way,.

[2019-09-19 17:48] jessegreenberg commented on #338
Indeed, thank you and sorry about that. I expect this to be fixed in acefe10009a404ec2e73e3bc13f48c35ceba1ce7, hopefully CT will report passing tests next iteration.

[2019-09-19 18:00] jessegreenberg commented on #337
First paradigm should be done in the above commits.

[2019-09-20 17:38] KatieWoe opened #339 "CT api mismatches"
[code]

[2019-09-23 14:31] #339 closed

[2019-09-23 16:52] #338 closed

[2019-09-25 21:04] jessegreenberg commented on #337
This is mostly done. We since determined that paraidigm 1 will not work with a screen reader. So we are going to try providing some context with web speech API. For now, when a pointer is over an object, we will announce what is there. Ill also have it speak alerts related to charges. This is done in the following commit. I added a few Emitters to know when the pointer is over the arm/leg and when

[2019-09-25 21:35] jessegreenberg commented on #337
I think this issue can be closed, we are going to get more feedback and address things in individual issues.

[2019-11-07 19:58] jessegreenberg opened #340 "branch: testVibration"
A one-off branch for #337 and https://github.com/phetsims/QA/issues/453#issuecomment-551193715 - we need to try vibration in the sim without query parameters in a test embedded in the native iOS app. In master vibration is hidden behind a query param. Here it is enabled always.

[2019-11-25 17:41] jessegreenberg opened #341 "branch: noSelfVoice"

[2019-11-25 18:06] jessegreenberg commented on #341
We need a version of the vibration=objects prototypes that do not include self voicing functionality. We built this off of a one-off branch because we have imminent user interviews coming up and we didn't want to introduce any other changes on the versions that we have. But I don't expect any other work on this branch.

Self voicing functionality should be behind its own query parameter separate f

[2020-02-05 17:57] jessegreenberg opened #342 "branch: iosAppVibration"
Exploration of sending vibration to a containing iOS app from within a web view.

[2020-02-17 16:59] KatieWoe opened #343 "CT phetioID not found"
[code]

[2020-02-17 19:09] zepumph commented on #343
This will be covered by https://github.com/phetsims/aqua/issues/76#issuecomment-587123626, closing

[2020-02-17 19:09] #343 closed

[2020-03-09 15:16] KatieWoe opened #344 "CT Object should be null or a truthy object that cannot have an extra prototype"
[code]

[2020-03-09 22:07] KatieWoe commented on #344
Seen when testing ES6 phet-io.
![jtbug](https://user-images.githubusercontent.com/41024075/76261662-19d3ae00-6220-11ea-99cf-3c2409e49d9b.png)

[2020-03-14 20:21] samreid commented on #344
We will likely work on this during the upcoming phet-io instrumentation.  Unassigning until then.

[2020-03-22 22:59] zepumph opened #345 "move a11y strings into main strings json"
From phetsims/chipper#795

[2020-03-24 00:26] zepumph commented on #345
@jessegreenberg could you take on this one?

[2020-03-27 22:01] jessegreenberg commented on #345
This was done for this sim in the above commit.

[2020-03-27 22:01] #345 closed

[2020-04-28 20:39] pixelzoom opened #346 "rename electrons to electronGroup"
In JohnTravoltageModel.js:

[code]

`this.electrons` violates both the naming convention for PhetioGroup instances (verified with iO team on Slack), and the convention that field names must match tandem names.   It's also making it difficult to proceed with a PhetioGroup refactor in https://github.com/phetsims/tandem/issues/180.

I'll take care of the rename to `this.electronGroup`.  Also per the

[2020-04-28 21:11] pixelzoom commented on #346
Done in the above commit. Tested unbuilt with `?fuzz` and in Studio.

Assigning to @samreid (responsible dev) in case he wants to have a look.

[2020-05-07 15:26] KatieWoe opened #347 "CT relative pitch value out of range"
[code]

[2020-05-07 15:27] samreid commented on #347
@jbphet or @zepumph can you please take a look?

[2020-05-07 16:31] pixelzoom commented on #347
@zepumph suspects that this is due to https://github.com/phetsims/phet-io/issues/1661.

[2020-05-15 19:29] zepumph commented on #347
It wasn't because of https://github.com/phetsims/phet-io/issues/1661! I don't know exactly what caused it, or fixed it, but CT is clear now. Likely it is from work done over in https://github.com/phetsims/tandem/issues/170

[2020-05-15 23:35] zepumph commented on #347
I'm going to close this issue.

[2020-05-15 23:35] #347 closed

[2020-05-18 14:54] KatieWoe opened #348 "CT countProperty should match array length"
[code]

[2020-05-18 19:28] zepumph commented on #348
This is because of https://github.com/phetsims/phet-io/issues/1668, and similar in cause to https://github.com/phetsims/projectile-motion/issues/229. I'll look at this later this week.

[2020-05-21 20:51] zepumph commented on #348
This was much easier to find than https://github.com/phetsims/projectile-motion/issues/229, likely since I know what I was looking for, and it was easier to reproduce. Here is the patch that game me the paused on the stack trace when extra electrons were being added during state set. This would likely have been just as useful in PM if I had thought about it.

<details>

[code]
</details>

[2020-05-21 20:52] zepumph commented on #348
I'll reopen if this doesn't clear on CT.

[2020-05-21 20:52] #348 closed

[2020-06-11 22:08] samreid commented on #346
I skimmed the commit and did not spot any trouble, thanks!  Closing.

[2020-06-11 22:08] #346 closed

[2020-08-25 23:02] jessegreenberg opened #349 "Add new vibrations"
Discussed today, we would like to have a new vibration paradigm added by tuesday to be used for demo and discussion with sub-team on tuesday 9/1. Preferably, this will be added before Friday, to be deployed to App Store Connect so that folks can download Test Flight and the app before tuesday's meeting.

The vibrations will include
 - The electron discharge vibration from the "results" paradigm, w

[2020-08-26 16:08] liquatics commented on #349
This haptic design prototype will revolve around the generation and discharge of electrons. Based off of feedback, here's what I think it should look like:

**Electron generation:** Every time an electron is generated from the interaction between the rug and the foot, we should play a short haptic buzz. This buzz should coincide with the "bloop bloop" sounds the charges make when they pop into exi

[2020-08-28 18:33] jessegreenberg commented on #349
OK, these have been added.  A new version has been deployed to Test Flight. Sharing internally with a few folks first for review before sharing with others on the team. Removing assignments for now.

[2020-08-31 18:01] jessegreenberg opened #350 "Initial prototype for self-voicing in this sim"
Would facilitate an initial design discussion and prototype. We hope it will be useful in discussing the feature with a new designer in the sim. Would use only strings from the PDOM. Content would exclusively be for interactive components for now.

[2020-09-02 18:12] jessegreenberg commented on #349
Deployed and discussed with team. Changes could be requested but will make a fresh issue at that point.

[2020-09-02 18:12] #349 closed

[2020-09-02 21:10] jessegreenberg commented on #350
Before I can do this, I need the self-voicing code to be reusable in this sim. I thought about making a new repo for it, but there are only two files at the moment that would be shared. I am going to put it in a directory under the scenery/js/accessibility folder.

[2020-09-18 18:59] jessegreenberg commented on #350
This was done and was discussed, we are going to make a new prototype after this one.

[2020-09-18 18:59] #350 closed

[2020-09-18 19:00] jessegreenberg opened #351 "Second prototype for self-voicing in this sim"
Based on the design from @Matthew-Moore240, sprinting on this today. Here is the design document:
https://docs.google.com/document/d/1nHzqDbRvv-By6gYK59Al345AY7D2z87Ng2im8nf4z2w/edit#

[2020-09-24 15:44] jessegreenberg commented on #351
This was delivered in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.24/phet/john-travoltage_en_phet.html?supportsSelfVoicing, closing.

[2020-09-24 15:44] #351 closed

[2020-09-25 18:10] jessegreenberg opened #352 "Remove position numbers from self-voicing content when moving arm/leg"
Discussed during design meeting, these values are useful for a screen reader user but not as much in the self-voicing case. They should be removed when using self-voicing.

[2020-09-25 19:44] jessegreenberg commented on #352
I tried this out, but it sounds a little awkward and I am not sure whether to proceed.

When moving the foot, the result is "Leg swing foot off rug." or "Leg swing foot on rug". "Leg swing foot".

For the arm, the output is sometimes something like "Hand not so close to doorknob". But othertimes it is "Hand hand pointing straight up.", because the second "hand" is part of the value description.

@

[2020-09-25 19:46] jessegreenberg commented on #352
Another thing we could try is to use some punctuation to make it sound more natural. Then it could sound like "Leg swing - foot on  rug." or "Hand - hand pointing straight up". I am going to try this really quick.

[2020-09-25 21:31] jessegreenberg commented on #352
Yes, adding a ": " added some space between label and value text and it sounds better with the synth. Assigning to @Matthew-Moore240 and @terracoda to review how it sounds on master. Self-voicing is enabled with `?supportsSelfVoicing`

[2020-09-29 20:38] terracoda commented on #352
@jessegreenberg, how do I get the version that is not voicing position numbers?

[2020-09-29 21:25] terracoda commented on #352
@jessegreenberg, nice job with the colon to create space.
There are a few landmark positions that have "hand" repeated. This is an artifact of describing position. We can remove that repetition:
- Position -13: Hand, Hand pointing away from door, very far from doorknob.
    - Hand, pointing away from door, very far from doorknob.
- Position - 8: Hand, Hand pointing straight up.
    - Hand, pointin

[2020-09-29 21:28] terracoda commented on #352
@jessegreenberg, I just realized, I used a comma instead of colon.

Are you using any other punctuation? We could do either:
- Hand, pointing away from door, very far from doorknob. OR
 - Hand: pointing away from door, very far from doorknob.

And not sure we need periods, but it they are there naturally, we can leave them.

[2020-09-30 20:16] terracoda opened #353 "(self-voicing) New content for Sim Overview & Hint Please! read-me buttons"
In today's Self-Voicing design meeting we iterated on the text for the Sim Overview. The original text was pulled straight from the PDOM's screen summary, and was not very relevant to the Self-Voicing experience. We created a more colorful Sim Overview for JT's Self-Voicing design.

**For the Sim Overview button, we decided on:**
- "John Travoltage is an interactive sim. It changes as you play wit

[2020-10-01 16:45] terracoda commented on #353
Here's a screenshot for visual reference
![Screen Shot 2020-10-01 at 2 13 51 PM](https://user-images.githubusercontent.com/1902116/94838739-97475180-03f0-11eb-8f8e-ade49ecc219e.png)

[2020-10-05 15:40] jessegreenberg commented on #352
I see, sounds good. Yes, it seems that a comma also creates a pause for the synth. I switched it to a comma in the above commit.

[2020-10-05 16:15] jessegreenberg commented on #353
These changes have been made, @terracoda @Matthew-Moore240 can you please review?

[2020-10-06 11:33] terracoda commented on #353
@jessegreenberg, the new read-me button content for the Sim Overview and Hints are good.

I'll close this issue and open a new one for Current Details. @Matthew-Moore240 and I need to discuss where the extra details about the charges being discharged go.

Details like:
- where the hand is when a discharge occurs.

I have some memory that there was access to this information in the interactive desc

[2020-10-06 11:33] #353 closed

[2020-10-06 11:37] terracoda opened #354 "(Self-Voicing) Full details of a discharge event"
Following up from my https://github.com/phetsims/john-travoltage/issues/353#issuecomment-704208126, @Matthew-Moore240 and I need to review how the details of a discharge event are communicated in the Interactive Description design.

I think the position of the hand is the detail that is missing.

Assigning us both, so who ever gets to this first.

Basically, I am wondering if the missing detail or

[2020-10-06 11:46] terracoda commented on #352
@jessegreenberg, I think my https://github.com/phetsims/john-travoltage/issues/352#issuecomment-700999782 was not super clear. I'd like you to Remove the word "Hand" from the object responses at certain locations, so we have no repetition of the word "Hand" during the interaction. Formerly, these 6 positions were like landmarks and with the label as "Hand Position", I felt it was important to repe

[2020-10-06 12:20] terracoda commented on #354
**Example Context Responses about charges & discharges:**
- Discharge occurred. Electrons on body decreased from 34 to 0 with hand at position -2, very close to doorknob.
- Electrons on body: 34
- Electrons on body: 16

**The dynamic part of the scene summary:**
- John has 0 charges on his body. John's hand is very close to doorknob, and he is ready to swing his leg to rub his foot on the rug.

An

[2020-10-06 12:22] terracoda commented on #354
@Matthew-Moore240, what do you think? Does that capture enough detail?

[2020-10-06 16:29] jessegreenberg commented on #352
Sorry, I totally didn't see that comment! OK, understood.

I don't see a good way to reuse existing code/strings while having unique ones just for -15, -13, 8, -4, 4, 7, 13, 15. So I think this will just require new strings/logic for self-voicing.

[2020-10-06 16:32] terracoda commented on #352
Oh, that's a bummer.
We should for Quarter see if we want to revisit the design of Interactive Description for John Travoltage.

We might be able to make some re-alignment in the other direction. Pushing some Self-Voicing strings over into the PDOM strings.

[2020-10-06 16:43] jessegreenberg commented on #352
Another thing we could try that is more like what we did in GFL:B - instead of reading the appendage label every position change we only read it on focus and when dragging with a mouse. Othwerwise, we just read the position text.

We will still hear "Hand" twice (at some positions) when using mouse/touch or when focus lands on it. But we will never hear duplication when using keyboard.

[2020-10-06 17:01] Matthew-Moore240 commented on #354
Yeah I think thats great!

[2020-10-06 21:37] jessegreenberg opened #355 "Try out new "swipe to focus" input"
We would like to try a new kind of input to support testing the self-voicing and vibration features with BVI participants. The input will behave similarly to VoiceOver control, and hopefully make the sim usable on touch screens when the screen cannot be seen. It should behave like
- Swipe right to focus next item.
- Swipe left to focus previous item.
- Double tap to 'click' item.
- Press and hold

[2020-10-07 15:36] terracoda commented on #352
@jessegreenberg, yes, let's try exactly what you suggested in https://github.com/phetsims/john-travoltage/issues/352#issuecomment-704406029.

I didn't realize we were doing anything different for the JT sliders. I think that will greatly also improve the Leg Swing, Foot rubbing on rug, and Leg Swing, Foot off rug.

[2020-10-07 17:29] terracoda commented on #355
@jessegreenberg, I'd like to add to this issue, my notes:
- Double tap on interactive to activate or get instructions
  - buttons will activate
  - other interactions like sliders or custom interactions will provide instructions
- Then learner follows the instructions and we see if it works for them
- Possible Instructions for JT
  - Hold and rub finger to swing leg

If we want something more gene

[2020-10-07 17:38] terracoda opened #356 "(Self-Voicing) Tweak to scale describing amount of charges/electrons"
As I mentioned [here in the design doc](https://docs.google.com/document/d/1nHzqDbRvv-By6gYK59Al345AY7D2z87Ng2im8nf4z2w/edit#heading=h.45132ed7vjce) , I think we should change
- "some" to "several"

I think "some" is too vague, and "several" can be more than "a few" and less than "a bunch of".

I also wanted to check in if there was any benefit in adding "a couple" back into the described scale?

[2020-10-07 18:23] jessegreenberg commented on #355
Thanks @terracoda, sounds good. I noticed that instead of "Press" VoiceOver uses "Tap" as the name for the gesture. FOr their drag interaction they say "Double-Tap and hold" in https://support.apple.com/guide/iphone/learn-voiceover-gestures-iph3e2e2281/ios. For sliders they have

[2020-10-07 20:05] terracoda commented on #355
@jessegreenberg, I like the explicit indication (alert) that the object becomes "grabbed" and thus ready for interaction (dragging).

As discussed in the Self-Voicing meeting, it would be good to have an indication of the object being "Released", too, when the finger is lifted.

This is how I imagine it working:
- User swipes to go through focusable items,
- On focus user hears name of object that

[2020-10-07 20:33] terracoda opened #357 "(Self-Voicing) Change "zap" to "shock""
In the Hint Please! read-me button, please change "zap" to "shock".
As discussed in today's Self-Voicing meeting.

[2020-10-07 20:37] terracoda opened #358 "(Self-Voicing) Add phrase about last shock to end of Current Details"
As discussed in today's Self-Voicing meeting, please add a new phrase about the last shock to the end of the current details read me button.

- For example:
“John has {{a bunch of}} electrons on his body. John's hand is {{pointing straight up}} doorknob, and he is ready to swing his leg to rub his foot on the rug. **Last shock, {{a few}} electrons discharged with hand {{close to}} door knob**.”

B

[2020-10-08 12:18] terracoda opened #359 "Consider making the discharge alert "assertive""
No immediate action required.
We will consider making the discharge response assertive after implementation of #354which will add the details of the position of the hand to the discharge response.

@Matthew-Moore240 and @terracoda will keep an eye on #354 and #358.

[2020-10-13 16:27] jessegreenberg commented on #358
In order to support this the model will have to track how many electrons were discharged as well as the hand location when the last discharge ended.

[2020-10-13 16:36] terracoda commented on #358
@jessegreenberg, I actually thought the model was already tracking the hand position when a discharge occurs, because we get response like:

- "Discharge occurred. Electrons on body decreased from 45 to 38 with hand at position -2, very close to doorknob."

And then:
- "Discharge occurred. Electrons on body decreased from 38 to 0 with hand at position -2, very close to doorknob."

The response sai

[2020-10-13 16:45] jessegreenberg commented on #358
The current implementation is just reporting those values the moment a discharge finishes in view code. What we want to support now is to remember that information and report it well after the discharge finished so it would be best to have the model keep track of this so we can retrieve it whenever the user presses the "Current Details" button. https://github.com/phetsims/john-travoltage/issues/35

[2020-10-13 17:03] jessegreenberg commented on #358
OK, this was added - @terracoda and @Matthew-Moore240 can you please review?

[2020-10-13 17:05] jessegreenberg commented on #357
Done in the above commit.

[2020-10-13 17:05] #357 closed

[2020-10-13 18:31] jessegreenberg commented on #352
Hmm, I tried to do this but it is turning out to be difficult. in GFLB there was already a difference between keyboard and mouse/touch input so it was easy to make behavior different. That is not true in JT, there isn't currently an easy way to differentiate between keyboard and mouse/touch dragging.

I think for scalability we would ideally have mouse/keyboard dragging behave the same for self-vo

[2020-10-13 18:39] jessegreenberg commented on #352
I think the most straight forward way is to either have new strings for self-voicing or change the existing strings in the PDOM. In the aria-valuetext instead of
"Hand pointing away from door, very far from doorknob"
could we have
"Pointing away from door, very far from doorknob"

?

How important is it to remove "Last stop"? If we want that removed for the self voicing anyway, we will just need t

[2020-10-13 18:44] jessegreenberg commented on #354
Done in the above commit, @terracoda @Matthew-Moore240 can you please review?

[2020-10-13 19:02] jessegreenberg commented on #355
That looks great @terracoda. The only different I would recommend is that focus with swipe should behave just like keyboard focus for self-voicing output. So I would change the second and fourth bullet points to
- On focus user hears name of object that is focused and it's current value, e.g., "Leg Swing, Foot rubbing on rug."
- User executes tap and hold, and hears:
  - "Grabbed. Foot rubbing on

[2020-10-14 18:53] jessegreenberg commented on #352
@jessegreenberg to make the following changes to align self-voicing strings and PDOM strings:

Change "Hand position" -> "Move hand".
Get rid of position numbers.
Replace pdom aria-valuetext with self voicing strings above.
Get rid of "last stop"

Change "Leg swing"
Get rid of leg position numbers

Once done, build a version and assign to @terracoda to review. If it isn't good we will revert and h

[2020-10-15 15:38] terracoda commented on #358
Sounds good to me. What do you think @Matthew-Moore240?

[2020-10-15 15:41] terracoda commented on #359
#354 and #358 are coming along nicely. We likely do not need to make the discharge response assertive.

[2020-10-15 15:53] terracoda commented on #356
@Matthew-Moore240, I think several sounds good.
Did we decide to leave "A couple of" off the scale? Sorry, I can't remember.
It's not super critical, it would give us 2 non-firing zones amounts on the adding charges side of things.

[2020-10-15 15:55] terracoda commented on #354
I like the added detail in the discharge response.
Is it all good @Matthew-Moore240?

[2020-10-15 18:36] terracoda commented on #355
@jessegreenberg, I like your suggestions for on focus and grabbed events.

As for graduating to utteranceQueue, I see now why that is important and also a very good idea.

[2020-10-15 18:57] terracoda commented on #355
In https://github.com/phetsims/john-travoltage/issues/355#issue-716038715, you listed out:

Do you think we will need to make instructions for swiping available, like we do for keyboard?
Or are these going to be simple enough we can get away with a general reference point/ reference document somewhere about the Self-Voicing feature?

Just jotting this adjustment down while I am thinking about it.

[2020-10-15 19:13] terracoda commented on #359
@jessegreenberg, if I understand you correctly, this would be part of your work on graduating to utteranceQueue.

[2020-10-16 12:24] terracoda commented on #352
@jessegreenberg, no rush, but please ping me when you have a PDOM (Interactive Description) version I can test.

[2020-10-16 17:35] Matthew-Moore240 commented on #354
All good! Closing

[2020-10-16 17:35] #354 closed

[2020-10-16 17:37] Matthew-Moore240 commented on #356
I think we decided not to add it. We can circle back to it if seems like an issue later.

[2020-10-16 17:37] #356 closed

[2020-10-16 17:37] Matthew-Moore240 commented on #358
Sounds good! Closing.

[2020-10-16 17:37] #358 closed

[2020-10-19 20:34] jessegreenberg commented on #352
OK, https://github.com/phetsims/john-travoltage/issues/352#issuecomment-708595270 was done in the above commit. @terracoda would you like to have a listen with an screen reader?

The issue I notice is that without position numbers there are many steps where a user hears the same thing over and over. Like
"Foot off rug", "Foot off rug" Foot off rug" "Foot rubbing on rug". Not sure how large of an i

[2020-10-20 15:59] terracoda commented on #352
@jessegreenberg, I think with the land marks such as farthest from door know, pointing away from door, pointing straight down, pointing at lower door, pointing at upper door, etc, that the sim sounds great without the position numbers!

I'd like to remove the position numbers from the electron responses, too?
So the new response would be:
- Discharge occurred. Electron on body decreased from {{36}

[2020-10-20 16:02] terracoda commented on #352
I think this experience is really grand, @jessegreenberg!

[2020-10-20 16:06] terracoda commented on #352
I think the new strings for hand position and leg swing position are safe to use in the PDOM, so I think we should move forward with sharing these strings in the Self-Voicing version.

[2020-10-20 18:45] jessegreenberg commented on #355
Good question, I don't know. I really hope that it is intuitive enough that it isn't necessary at all. For those that need the gestures, they should align almost completely with screen reader gestures that they are familiar with.

Sounds good to me!

There actually isn't an "activation" step required. The double tap currently just gives help information. The user can tap and hold any time to begin

[2020-10-20 18:54] jessegreenberg opened #360 "Provide self-voicing alerts related to charge during drag instead of just on end"
Requested by @terracoda, it would be good to hear electron updates during rub in addition to the end of drag so there is feedback before the end of a grab/drag sequence.

[2020-10-21 17:37] jessegreenberg opened #361 "Changes to vibration output"
- The persistent vibration while charges are on the body should increase with charge. It should start with pattern [200,200] and ramp up linearly to [25,25].
- When the user presses the reset button, we should get three quick transient vibrations. Currently there is only one.
- Rather than continuous vibration during discharging electrons, a pattern will be used. [200, 100] during discharge.

[2020-10-21 17:38] jessegreenberg opened #362 "Dragging arm during swipe gesture should allow movement across the entire range"
Currently limited from away from doorkob to right at doorknob,  in top two quadrants. @terracoda requested that the movement be around the entire circle.

[2020-10-21 17:45] jessegreenberg commented on #362
Done in the above commit.

[2020-10-21 17:45] #362 closed

[2020-10-21 20:35] jessegreenberg commented on #361
Done in the above commits.

[2020-10-21 20:35] #361 closed

[2020-10-21 21:51] jessegreenberg commented on #360
Done in the above commit, closing

[2020-10-21 21:51] #360 closed

[2020-10-21 22:03] jessegreenberg commented on #352
In the above commit I removed the position value from discharge alert. Then I removed the strings and unused code related to quantitative positions. Closing since that was the only review comment! Will deploy a version shortly to be reviewed with TestFlight.

[2020-10-21 22:03] #352 closed

[2020-10-21 22:10] jessegreenberg commented on #355
OK, now that we are using utterance-queue for self-voicing this has been done in #360. @terracoda is there anything else required for this issue?

[2020-10-21 22:48] jessegreenberg opened #363 "Replace SimpleDragHandler with DragListener"
I need to be able to interrupt the arm and leg listeners for gesture control. Specifically, I need to interrupt the pointer listener that SimpleDragHandler attaches to the Pointer. SimpleDragHandler does not have interrupt on the PointerListener. Rather than modify deprecated SimpleDragHandler, I am going to replace SimpleDragHandler with DragListener (which does support this) in this sim.

[2020-10-21 23:01] jessegreenberg commented on #363
Done in the above commit. Literally just replaced SimpleDragHandler with DragListener with no other changes, very cool!

[2020-10-21 23:01] #363 closed

[2020-10-22 00:59] emily-phet commented on #140
@jessegreenberg
I checked #128 above, and the only issue still open is this one. If there's no further work to be done, can you close this?

[2020-10-22 13:18] emily-phet commented on #267
Don't plan on moving forward with this in the foreseeable future.

[2020-10-22 13:18] #267 closed

[2020-10-22 14:25] terracoda commented on #359
@jessegreenberg has implemented the utterance queue for self-voicing so this is no longer an issue. Closing.
We now get electron responses while dragging the leg swing.
Closing.

[2020-10-22 14:25] #359 closed

[2020-10-22 14:37] terracoda commented on #355
Swipe to focus works great for me in JT

I have 1 suggestion for improvement, and this can be for down the road.

I think it would be very useful to have an option to add the name of the thing that is to be grabbed and dragged, for example:
- Tap and hold to grab and drag {{hand}}.
- Tap and hold to grab and drag {{foot}}.

For Gravity Force Lab: Basics it might be much more needed than in JT:
- T

[2020-10-22 14:45] terracoda commented on #355
@jessegreenberg, shall we start a new issue for my last comment? There we can decide when and if we would make this improvement.

[2020-10-22 14:49] terracoda commented on #355
Actually, I'll just make a new issue and close this one.

[2020-10-22 14:49] #355 closed

[2020-10-22 14:53] terracoda opened #364 "Consider improvement to swipe to focus gesture for self-voicing on touch"
Swipe to focus gesture is working great in #355.

I have 1 suggestion for improvement, and this can be for down the road, so I am creating a new issue.

I think it would be very useful to have an option to add the name of the thing that is to be grabbed and dragged, for example:
- Tap and hold to grab and drag {{hand}}.
- Tap and hold to grab and drag {{foot}}.

For Gravity Force Lab: Basics it mi

[2020-10-22 16:39] jessegreenberg commented on #364
We can do this now - it isn't a big effort for these two sims. However, my recommendation would be to find a single string that works for all draggable things because it will become a larger long term cost to design and develop this string for every single draggable element moving forward.

In my opinion, the user knows what they are on from other information on focus, so "Tap and hold to grab and

[2020-10-26 19:29] jessegreenberg opened #365 "Updates to vibrations"
The following were provided by @liquatics as updates to existing vibration patterns:

[code]

Assigning to myself to implement.

[2020-10-26 19:36] jessegreenberg opened #366 "More frequent updates to appendage position with self-voicing"
Currently the user only hears where the arm/leg are at the very end of drag. This is likely not enough if you are unable to see the screen. We would like it to be more frequent and have output during the drag operation.

[2020-10-26 21:20] jessegreenberg commented on #365
Done in the above commit.

[2020-10-26 21:20] #365 closed

[2020-10-26 22:00] jessegreenberg commented on #366
Done, I think this sounds pretty good. More content and occasionally it gets interrupted, but I think that is what must be done to avoid a pile up of alerts while dragging. Closing, will open new issue if we receive feedback.

[2020-10-26 22:00] #366 closed

[2020-10-26 22:36] jessegreenberg opened #367 "Remove old vibration code"
There is some experimental code in this sim that we would like to remove at this point, now that designs are becoming more stable and we don't need as many different options.

[2020-10-26 22:47] jessegreenberg commented on #367
It has been removed.

[2020-10-26 22:47] #367 closed

[2020-10-26 23:47] samreid commented on #140
This issue reflects the 11 remaining "TODO" annotations in the code.

[2020-10-28 18:10] jessegreenberg opened #368 "Remove continuous vibration while charges are on the body"
Discussed during meeting today -

The continuous charge that indicates stored charge on the body gets in the way of the vibrations that occur when other sim events happen. It should be removed.

[2020-10-28 18:11] jessegreenberg opened #369 "Enable enahnced sound for vibration interviews"
It should be enabled by default for interviews coming up with vibration and self-voicing.

[2020-10-28 18:34] jessegreenberg opened #370 "Remove "rubbing" description from aria-valuetext"
Discussed during meeting:

- Only speak information when foot is released. Change alternative input to "Foot on rug". "Foot off rug".
- Hear the arm position during the drag. Content should remain as is, but maybe the timing could be improved.

[2020-10-28 18:43] jessegreenberg opened #371 "Reduce time required to intiate grab and drag gesture"
Current value is PRESS_AND_HOLD_INTERVAL = 0.75. @emily-phet mentioned it took too long to start to start the drag gesture, lets try to reduce this value and see if it makes things easier to drag.

[2020-10-28 19:11] jessegreenberg opened #372 "Change hand label for self voicing."
After #352, we changed the label of the hand to "Move Hand" But @terracoda mentioned it didn't sound great in the self-voicing context. For the self-voicing (don't change PDOM) change "Move Hand" to "Hand". Leave the leg as is.

[2020-10-28 19:14] jessegreenberg opened #373 "Gesture control for the arm is awkward"
@liquatics and another in meeting today mentioned that the arm didn't move in the direction that was expected.

[2020-10-28 19:25] jessegreenberg commented on #373
Discussed during meeting today:

If we fix the first interaction it will feel better. Lets flip it so that moving finger down will initially move hand down toward doorknob. Right/left movement feels correct and should not be changed.

[2020-10-29 01:32] jessegreenberg commented on #373
Done in the above commit.

[2020-10-29 01:32] #373 closed

[2020-10-29 01:39] jessegreenberg commented on #372
The change was made in the above commit.

[2020-10-29 01:39] #372 closed

[2020-10-29 01:39] jessegreenberg commented on #371
The change was reduced to half a second. Will get feedback on if this is better in review of the next version.

[2020-10-29 01:39] #371 closed

[2020-10-29 01:41] jessegreenberg commented on #370
This one will take a little longer. We have too many differences between leg and arm appendages to only have one type. We need to create a LegNode and an ArmNode to categorize the differences better.

[2020-10-29 01:43] jessegreenberg commented on #368
Without this vibration, the code in the vibrationController can be simplified to be driven on Properties instead of using step. Step was necessary because we needed to check if continuous vibration needed to resume after finishing another vibration from a particular event (such as electron discharge).

[2020-10-29 15:21] terracoda opened #374 "(PDOM) Not hearing object labels or object responses"
After latest pull, I am not hearing object labels for the hand and foot when using the keyboard with the PDOM version.
I hear context responses just fine, though.

[2020-10-29 15:22] terracoda commented on #374
Not an immediate priority, this might be related to changes for self-voicing.

[2020-10-29 15:23] terracoda commented on #374
Also not hearing object responses on focus or when moving arm or leg.

[2020-10-29 15:46] terracoda opened #375 "(Self-Voicing) Hand Positions seem to be off by 1 region"
This might be related to https://github.com/phetsims/john-travoltage/issues/372
The descriptions might be off by one region. When using the keyboard (which is restricted to a single line, single circle), the string before the last stop is farthest from door knob, and then the actual last stop says, "very far from doorknob".

Then when the hand is visually at doorknob, it says "just above doorknob"

[2020-10-29 15:48] terracoda commented on #375
@jessegreenberg, I am not 100% sure that this is a new issue, but in previous testing of earlier versions this did not stand out to me.

[2020-10-29 16:07] terracoda commented on #364
@jessegreenberg, this issue is related to my comments in a GFLB issue. I will add that comment here, too.

[2020-10-29 21:49] jessegreenberg commented on #374
Hmm, I just tried the sim and I am not able to see this. I hear responses on focus/move no matter the input method.

[2020-10-29 22:08] jessegreenberg commented on #375
It seems like this is only true for keyboard input. Positions generally seem correct when dragging with mouse. It is like it is reading the previous position rather than the new position in that case.

[2020-10-29 22:25] jessegreenberg commented on #375
This is a listener order issue. Both the aria-valuetext and the  self-voicing response are linked to the appendage angleProperty. It just so happens that the response listener is called before the aria-valuetext listener, which is why it is speaking the old value.

[2020-10-30 12:18] terracoda opened #376 "(Sound) When using Self-voicing version, I hear crackling"
This may be related to https://github.com/phetsims/faradays-law/issues/192

I am getting a noticeable crackle when I test the Self-voicing version of John Travoltage on my iPhone 7 iOS 13.7

Not sure if anything can be done, but I thought I should make an issue.

[2020-10-30 12:20] terracoda commented on #376
Assigning to both @jessegreenberg @jbphet, so both are aware of the issue. Please, re-assign or un-assign as necessary.

[2020-10-30 15:59] jessegreenberg commented on #375
OK, this shoud be fixed in the above commit.

[2020-10-30 15:59] #375 closed

[2020-10-30 16:03] jessegreenberg commented on #376
Hmm, unfortunately I am not able to reproduce this on my Windows 10 Machine with Chrome or my iPhone 8 on 13.6.1.

@terracoda are you hearing any crackling on your phone when self-voicing is disabled? Not sure if it is related to the two playing at once or if crackling is just happening in general.

[2020-10-30 16:39] jessegreenberg opened #377 "Changes during "self-voicing sprint""
@emily-phet @terracoda @Matthew-Moore240 and I met today to sprint through remaining issues and design considerations for the self-voicing feature in john-travoltage in preparation for interviews in a couple weeks.  This issue tracks commits and other notes.

[2020-10-30 17:12] terracoda opened #378 "(PDOM & Voicing) Test new strings in PDOM"
We made some design choices for SVing, which are currently implemented directly in the PDOM.
This issue is a reminder to test these SVing strings in the PDOM before determining if we need make custom strings for SVing.

[2020-10-30 19:15] jessegreenberg opened #379 "Make first grab alert of arm/leg assertive"
From #377- sometimes you hear information about the other appendage after switching drag to the arm/leg. This would probably be resolved if the SelfVoicingUtterance was assertive for the first drag.

[2020-10-30 21:15] jessegreenberg commented on #379
Done in the above commit. This helped in the cases I was encountering it. Would be good to hear if this helps in the cases @emily-phet noticed this as well. @emily-phet can you please check this in this dev version?

https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.32/phet/john-travoltage_en_phet.html?supportsSelfVoicing&enhancedSoundInitiallyEnabled=true

[2020-10-30 21:17] jessegreenberg commented on #369
The query parameter to enable by default is ?enhancedSoundInitiallyEnabled=true, probably needs to be used in combination with supportsEnhancedSound.

[2020-10-30 21:19] jessegreenberg commented on #374
I haven't been able to produce this, @terracoda is this still an issue for you?

[2020-10-30 21:29] jessegreenberg commented on #370
This was done as part of #377

[2020-10-30 21:29] #370 closed

[2020-10-30 21:40] jessegreenberg commented on #368
Done.

[2020-10-30 21:40] #368 closed

[2020-10-30 21:43] jessegreenberg commented on #369
Done in the above commit, made to the swift code so all prototypes will have enhanced sound enabled by default.

[2020-10-30 21:43] #369 closed

[2020-10-30 21:49] jessegreenberg commented on #377
To summarize the real-time changes we made today:
- Arm/Leg alerts are assertive on initial pickup, but otherwise polite so they don't interrupt themselves.
- The leg position is only described on pickup/release. Otherwise, user only hears about charge pickup during drag.
- The Arm position is described during drag, once every time the arm stops moving to avoid a pileup of these alerts.
- "Rubbing

[2020-10-30 21:53] jessegreenberg opened #380 "Landing dialogs for testing of prototypes with vibration/self-voicing features"
**Part 1**

Safari disallows web speech until user as made some interaction. And the interaction seems to have some particular requirements, but I haven't been able to find information about it. To make self-voicing easy to enable on this platform for interviews we are going to add a landing dialog with a button that enables speech. Web Speech always seems to work after button/checkbox press. This

[2020-10-31 04:28] jessegreenberg commented on #380
Initial versions of this have been committed for use behind the ?supportsSelfVoicing query parameter. Will discuss with team about what is needed next.

[2020-10-31 04:28] #380 closed

[2020-11-02 01:00] emily-phet commented on #379
yes! sounds much better.

[2020-11-02 01:00] #379 closed

[2020-11-02 13:24] terracoda opened #381 "(Self-voicing) Gesture dialog needs "Close" label"
@jessegreenberg, the dialogs are good.

While testing the dialogs, I noticed that the Back button on the Gestures dialog does not have a label that is spoken on focus.

I think it needs "Close" as the label in case a learner swipes back instead of forward when on that dialog.

[2020-11-02 13:26] terracoda commented on #381
The rest of the dialogs seem to work fine, so I change the title of this issue.

[2020-11-02 13:37] terracoda opened #382 "(Self-Voicing) Re-arrange Read Me buttons in Self-Voicing Quick Menu"
As discussed in meeting on Friday, please re-arrange the order of the read me buttons to be like this:
- Sim Overview
- Current Details
- Hint Please!
- Stop Speech
- Mute Speech

Also, I am thinking that different context responses for opening and closing the menu would be more helpful for non-visual learners.

I'll can open a new issue for this.

[2020-11-02 13:45] terracoda opened #383 "(Self-Voicing) Tweak to Context Response for Self-Voicing Quick Menu"
Related to https://github.com/phetsims/john-travoltage/issues/382

I'm thinking new context responses would benefit all users including those who are non-visual:

When Quick Menu is opened:
- Read-me buttons & speech controls shown.

When Quick Menu is hidden, no change to response is needed. I think this still works,
- Self-Voicing Quick Menu hidden.

[2020-11-02 13:47] terracoda commented on #383
@emily-phet and @Matthew-Moore240, do you agree on this small change to the Self-Voicing Quick Menu experience?
If so, I can assign it to @jessegreenberg and make it part of the milestone for the interviews.

[2020-11-02 13:49] terracoda commented on #383
Actually, I already added it to the milestone, and not sure how to un-add it to the milestone.

[2020-11-02 17:24] jessegreenberg opened #384 "Reduce duration of vibration on charge pickup"
@emily-phet mentioned that they were too long, and it was difficult to distinguish them from the electron discharge. It is currently 150 ms vibration, lets try to cut it in half.

[2020-11-02 17:25] jessegreenberg commented on #384
Needs to be done for upcoming interview, and reviewed this evening.

[2020-11-02 17:29] jessegreenberg commented on #383
This was done in the above commit @terracoda.

[2020-11-02 17:56] emily-phet opened #385 "(Custom Gesture Control) Adding helpful starting instructions associated with enabling gesture control"
[note - we may want to move this to a different repo, as it's more general than JT...but I wasn't sure where it should live]

When enabling the gesture control, we'll need to have a way to convey some basic information for how to use it (similar to the keyboard help intro sentence). This option also has more significant consequences for use when enabled than other options across menus (when turned

[2020-11-02 18:15] jessegreenberg commented on #384
This was done in https://github.com/phetsims/john-travoltage/commit/ab5c8aa5f23b6a2bedd7cc61c15e039f836e33cc, will be published in a new build of through TestFlight.

[2020-11-02 18:15] #384 closed

[2020-11-02 19:35] emily-phet commented on #364
This was implemented in preparation for pre-Thanksgiving interviews in Saint Louis.

[2020-11-02 19:35] #364 closed

[2020-11-02 19:38] terracoda commented on #364
What was implemented for JT was:

 -  Tap, hold, and drag to {{move hand}}.
 -  Tap, hold, and drag to {{rub foot}}.

[2020-11-02 19:52] emily-phet opened #386 "(Haptics) Decrease duration of charge pickup vibration"
The electron transfer onto body vibration could be slightly shorter. We want to avoid it feeling like the iOS default vibrations (e.g., the one you feel when grabbing the leg/arm), so if shortening it does that, let’s not. @jessegreenberg  – I suggest try shortening the vibration by 20% and then by 50%. See if any of these feel like the iOS default vibration (or compare the numbers, if you know th

[2020-11-02 19:53] emily-phet opened #387 "(Haptics) Decrease duration of charge transfer onto body vibration"
The electron transfer onto body vibration could be slightly shorter. We want to avoid it feeling like the iOS default vibrations (e.g., the one you feel when grabbing the leg/arm), so if shortening it does that, let’s not. @jessegreenberg  – I suggest try shortening the vibration by 20% and then by 50%. See if any of these feel like the iOS default vibration (or compare the numbers, if you know th

[2020-11-02 20:07] emily-phet opened #388 "(Custom Gesture Control) Need option to enable/disable gesture control on landing page for the sim"
Just like there's a checkbox to enable/disable self-voicing on the landing page, we'd like to have a checkbox to enable/disable gesture control on the landing page.

[2020-11-02 20:33] emily-phet opened #389 "(Self-Ving and Gesture Control) voice rate and pitch sliders not interactive with custom gesture control"
We'll want these to be interactive for upcoming interviews, so users can customize their speed at least.

[2020-11-02 20:33] terracoda commented on #382
@jessegreenberg verified in zoom. Closing.

[2020-11-02 20:33] #382 closed

[2020-11-02 20:33] emily-phet opened #390 "(Gesture Control) In options menu, sliders for voice rate and pitch are not interactive with custom gesture control"
We'll want these to be interactive for upcoming interviews, so users can customize their speed at least.

[2020-11-02 20:34] terracoda commented on #381
@jessegreenberg verified by demoing in zoom. Closing.

[2020-11-02 20:34] #381 closed

[2020-11-02 20:35] terracoda commented on #383
@jessegreenberg verified in demo in zoom meeting. Closing.

[2020-11-02 20:35] #383 closed

[2020-11-02 20:35] #389 closed

[2020-11-02 20:37] emily-phet commented on #388
"Enable custom gesture"

[2020-11-02 20:38] terracoda commented on #388
Label for switch
"Enable custom gesture"

[2020-11-03 00:46] jessegreenberg commented on #387
A new version of the iOS app was deployed with a shorter vibration. Link to new version provided over slack. I ended up cutting the vibration by 50% and I think it feels nice. The iOS default vibration feels much less intense and even shorter still, so they still seem pretty different to me. Over to @emily-phet to review!

[2020-11-03 22:41] jessegreenberg commented on #388
I added this switch. I made it so that "Enable Custom Gesture" can only be on when "Enable Self-Voicing" is on. And the "Enable Custom Gesture" checkbox is disabled if "Enable Self-Voicing" is off.

[2020-11-03 23:28] jessegreenberg commented on #390
This is going to be handled in https://github.com/phetsims/scenery-phet/issues/639

[2020-11-03 23:28] #390 closed

[2020-11-04 00:22] #388 closed

[2020-11-04 00:22] jessegreenberg commented on #387
This was verified as working better over slack, closing.

[2020-11-04 00:22] #387 closed

[2020-11-04 00:22] jessegreenberg commented on #386
This was a duplicate of #387

[2020-11-04 00:22] #386 closed

[2020-11-04 00:24] jessegreenberg commented on #385
It seems like this is something that would show upon enabling from the global controls dialog, and so this may be something to consider related to that design. Removing my assignment for now since this isn't something I am working on.

[2020-11-04 01:25] terracoda commented on #385
@emily-phet, I put the same note from https://github.com/phetsims/john-travoltage/issues/385#issue-734707859 in teh global controls document as I didn't know where else to put it.

[2020-11-18 17:05] ariel-phet commented on #57
Completely stale, closing

[2020-11-18 17:05] #57 closed

[2020-11-25 17:13] terracoda opened #391 "Keyboard Shorcuts Dialog - Need ajustment to size/layout to fit new Basic Actions column"
We recently auto-added Basics Action with group navigation to all sims over in https://github.com/phetsims/scenery-phet/issues/630

We did this because the PhET menu uses group navigation, and so it made sense to just have this in all Basic Actions.

With this extra line the Basic Shortcuts column became taller and fatter. The Keyboard Shortcuts dialog looks a little crowded now, and would greatly

[2020-11-25 17:16] terracoda commented on #391
@emily-phet, @jessegreenberg, and @zepumph, just putting this sim on your radar. I hope I have the right label so this can be addressed before the next maintenance release for this sim.

[2020-11-25 17:52] zepumph commented on #391
This one will make sure it is addressed before next publication from master. Hopefully together our labels hate the right message.

[2020-11-26 14:13] terracoda commented on #385
I think @jessegreenberg is correct, this will be part of the global controls or "preferences" dialog.

[2020-11-26 14:22] terracoda commented on #385
We have custom gesture working well in both Self-Voicing versions of John Travoltage and Gravity Force Lab: Basics. How these gestures will be enabled by a learner using the sim will be part of work on the Preferences dialog.

I think work on this will continue in https://github.com/phetsims/joist/issues/652 and related issues when they come up.

I thin it is safe to close this issue.
@emily-phet,

[2020-11-26 14:22] #385 closed

[2020-11-26 14:24] terracoda commented on #385
Also, we added helpful instructions for the sims in test flight. Maybe that's what this issue was about?
So even more reason to close :-)

[2021-01-18 15:57] terracoda commented on #374
This issue is stale and I hear object labels (names) and object responses.
Closing.

[2021-01-18 15:57] #374 closed

[2021-02-09 22:56] terracoda opened #392 "(Self-Voicing) Context response for Reset All button?"
When doing a review of Self-Voicing, I noticed that the context response for the reset all button in John Travoltage is:
 - Reset All. Sims screen restarted. Everything reset.

This is different from the one in Gravity Force Lab: Basics which is:
- Reset all. Everything reset.

Because mouse and touch events only trigger a context response, I decided to change the response to include the object's

[2021-02-17 19:37] samreid opened #393 "Delete js/john-travoltage/view/ShapeHitDetector.js"
It looks like js/john-travoltage/view/ShapeHitDetector.js has no usages, and there is a newer version in tappi.  Can this file be deleted?

[2021-03-11 16:43] terracoda opened #394 "(Self-Voicing) Help text spoken during interaction, not just on focus"
I was just playing with self-voicing for his sim and noticed a bug when "helpful hints" are enabled the interaction hint to move the leg plays on focus and after interaction with both the arm swing and the leg swing.

For this sim, this hint I am not sure if this hint should play at all outside the use of the Read-Me hint button.

We can consider later what we do with that helpful hints checkbox i

[2021-03-11 16:48] terracoda commented on #394
Tagging @Matthew-Moore240, and @BLFiedler since there is an interview today on this sim.

[2021-03-11 17:35] jessegreenberg commented on #394
@terracoda definitely possible to do so! This is not  a bug, just how I interpreted the current design doc, the "Interaction Hint" under the leg is listed as

So I thought it was associated with his leg rather than the button in the toolbar.

However, I just checked gravity-force-lab-basics and it looks like the behavior is that the hint is read every mouse click *if the object does not move*. Is

[2021-03-11 17:42] terracoda commented on #394
Yes, I should have mentioned that the GFLB works differently. The helptext or "helpful hints" only read on focus or on click.

The delivery of the hint for mouse and touch might need to be restricted to a click or touch that does not result in a value change.

A value change means they don't need any help :-)

Can you make JT's hint work the same as GFLB and then we can review.

[2021-03-11 20:02] terracoda commented on #394
Back to you @jessegreenberg.

[2021-03-12 00:13] jessegreenberg commented on #394
OK I updated the link. https://phet-dev.colorado.edu/html/jg-tests/john-travoltage_en_phet.html?supportsSelfVoicing

@terracoda because of the behavior we decided on in https://github.com/phetsims/john-travoltage/issues/377, the first grab response for the arm is **always** heard in full. So when dragging the arm with "Interaction Hints" enabled you might hear

"Arm swing, hand pointing straight u

[2021-03-12 15:02] terracoda commented on #394
I think we need to re-visit the design choices in that were taken in #377
There's too much repetition and it's slowing the experience. I will re-open #377 to review.

[2021-03-12 15:09] terracoda commented on #377
I am not liking the repetition and time of the self-voicing design of John Travoltage. I would like to review the current version of John Travoltage in detail to make sure the changes we made above were indeed what we wanted.

Things I think are problematic:
- "arm swing" in aria-valuetext
-  repetition of arm swing at start and end of interaction
- timing - how can we make sure responses don't pi

[2021-03-12 15:17] terracoda commented on #377
Actually, "Rubbing" is part of the electron response. I don't think it is helpful because the rubbing has already happened. It's timely enough.

The issue with the sliders (for me), seems to be that the labels and position are said at start and end of drag with mouse and with every keypress. Need to lay out exactly what is happening in order to optimize the situation.

@Matthew-Moore240, do you ag

[2021-03-16 12:16] terracoda commented on #394
@Matthew-Moore240 discussed some addition to help text for John Travoltage yesterday. I asked him to open an issue not remembering I had already opened one.

We discussed 2 changes:
1. Brief specific help text for the both the arm and leg to delivered if "Helpful hints" is checked.
  - Arm Swing: Move John's hand.
  - Leg Swing: Rub John's foot.
2. An edit to an existing phrase and an additional p

[2021-03-16 13:32] terracoda commented on #377
@Matthew-Moore240, if you play with JT, you can hear how the word "Rubbing" is interrupting the qualitative amount number of charges being accumulated.

I think we should remove it, and then optimize how the Arm Swing and Leg Swing are working. The Arm Swing in particular needs to work more like the spheres in GFLB.

[2021-03-16 14:38] terracoda commented on #377
@Matthew-Moore240 and @emily-phet, please feel free to chime in on what the arm should say.

[2021-03-16 15:50] terracoda commented on #377
Connecting this issue to https://github.com/phetsims/john-travoltage/issues/394#issuecomment-797142077

New "helpful hints", i.e. help text for Arm and Leg Swings are posted over #394

[2021-03-16 20:05] terracoda commented on #394
I think we agreed on changes in https://github.com/phetsims/john-travoltage/issues/394#issuecomment-800209903 March 16th Self-Voicing meeting.

[2021-03-16 20:07] terracoda commented on #394
When the "Helpful hint" (i.e. help text for individual interactions) is spoken is described over in #377.

[2021-03-16 20:21] terracoda commented on #377
These design issues were discussed at March 16 Self-Voicing meeting. Here's the summary:

For Arm Swing interaction:
We would the Arm Swing to work like in GFLB
- on focus: Arm Swing + {{current position}} + {{Help text if checked}}
- on change in distance from doorknob: {{new position}}

Which should result in something like this:
 -  "Arm Swing. Hand Pointing at upper door, close to doorknob. {{

[2021-03-16 20:27] terracoda opened #395 "(Self-Voicing) New region for electrons on body"
In #377 we removed "Rubbing" from the electrons on body response.

We also agreed on (March 16 Self-Voicing design meeting) to add a new first region:
- "{{A couple}} electrons on body." (1-4 charges)

The "A few" comes after for 5-10 or whatever the current threshold is.

When electrons get to "Several" which I think is 10, there is the potential of a shock.

Adding to milestone, but not critical

[2021-03-17 00:04] jessegreenberg commented on #394
@terracoda @Matthew-Moore240 here is a new version with changes listed above.

https://phet-dev.colorado.edu/html/jg-tests/john-travoltage_en_phet.html?supportsSelfVoicing

Can you please review?

[2021-03-17 00:05] jessegreenberg commented on #377
@terracoda @Matthew-Moore240 here is a new version with changes listed above. Can you please review?

https://phet-dev.colorado.edu/html/jg-tests/john-travoltage_en_phet.html?supportsSelfVoicing

[2021-03-17 00:06] jessegreenberg commented on #395
@terracoda @Matthew-Moore240 here is a new version with changes listed above. Can you please review?

https://phet-dev.colorado.edu/html/jg-tests/john-travoltage_en_phet.html?supportsSelfVoicing

[2021-03-17 00:15] terracoda commented on #394
@jessegreenberg, this sounds really great!

For the Leg Swing, I noticed only get the Leg Swing position on focus, which I though was odd at first, but since I get the electron response every rub, it sounds quite nice. However, the foot is really far off the rug, I get no voicing, so we might need to put foot position.

Was it intentional to leave off the Leg Swing position during changes?

Regard

[2021-03-17 00:16] terracoda commented on #394
And the help text and dynamic read-me Hint all sound good.

[2021-03-17 00:24] terracoda commented on #395
Region sounds awesome to me!

[2021-03-17 00:25] #395 closed

[2021-03-17 00:29] terracoda commented on #394
I'll close this issue move review of Leg Swing position information to a new issue.

[2021-03-17 00:29] #394 closed

[2021-03-17 00:30] terracoda commented on #377
As I said in https://github.com/phetsims/john-travoltage/issues/394#issuecomment-800697806

This sounds awesome.

My only question is about the Leg Swing position during changes, so I will open a new issue for that.
It sounds good as is, but we might want to review the Leg Swing a little more.

[2021-03-17 00:30] #377 closed

[2021-03-17 00:38] terracoda opened #396 "(Self-Voicing) how often do we need Leg Swing position?"
In #377 and #394 the Leg Swing lost its position description during interaction. We still get it on focus and first move. And this sounds awesome.

And @jessegreenberg reminded me that the removal was intentional in #377, after I thought it might have been unintentional, see comment https://github.com/phetsims/john-travoltage/issues/394#issuecomment-800697806

I think this was a good decision in #

[2021-03-17 00:38] #396 closed

[2021-03-17 13:35] terracoda commented on #392
I have yet to hear any complaints about the regular (and longer) Reset All response.

[2021-03-25 19:28] terracoda opened #397 "(Voicing) Optimizing the Leg Swing interaction and accumulation of electrons"
More details coming, but for non-visual access we can **NOT** have blank spots (no sound and no description) on the Leg Swing interaction.

I think we can get away with adding in object responses (like aria-valuetext position descriptions) just for the "off rug" positions. When on the rug, learners get sonification and electron responses, but when off rug, they get nothing.

@Matthew-Moore240, do

[2021-03-25 19:29] terracoda commented on #397
I think this is good path forward as we know this description works, and we don't have a ready sound to use instead.

[2021-03-26 13:12] terracoda commented on #397
Ok, I think I figured out why the leg interaction seems to lag so much. It's because we changed how we announce the information during a drag. I think originally we announced new position at end of drag and only the name of the slider at the start of the drag.

I need to review things, but first lets just add "foot off rug" position descriptions, and remove "Rubbing" from the accumulation of elect

[2021-03-26 13:29] terracoda commented on #392
Actually, the two reset all buttons are working the same now. They both say:

- "Reset All. Sim screen restarted. Everything reset."

I thought a shorter response would be better for the voiced experience was, i.e.,:
- "Reset All. Everything reset."

In my interviews, however, no one has complained about this longer response which strings together button name and the full PDOM context response.

W

[2021-03-26 14:22] BLFiedler commented on #392
No one made mention of the reset all in particular. I am also fine with it either way.

[2021-03-26 20:58] terracoda opened #398 "(Voicing) Lagging behaviour - what is it?"
It is hard to tell in interviews over zoom how much the lag is due to screen share and how much it has to do with sim.

In issue #397 , I think it might have to do with the actual design.

I opened this issue to note that I want to test performance once #397 is implemented.

[2021-03-26 20:59] terracoda commented on #398
@jessegreenberg, could web speech just be a little laggy by nature?

[2021-03-26 23:57] terracoda commented on #392
Let's leave it as is, until we hear different.
If we leave it as is, we have alignment with the strings in the PDOM.

[2021-03-26 23:58] terracoda commented on #392
Closing.

[2021-03-29 00:26] Matthew-Moore240 commented on #397
Yeah, this looks good to me! Handing off to @jessegreenberg

[2021-03-29 12:33] terracoda commented on #397
@jessegreenberg, for positions, please add to all positions that do currently create a rubbing sound. If you start from the back position, this is how I see it:
1. foot off rug, pointing backward
2. foot off rug
3. foot off rug
4. foot off rug
5. foot on rug - silent during interaction, but announced on focus
6. foot on rug - silent during interaction, but announced on focus
7. foot on rug - silen

[2021-03-29 14:50] terracoda opened #399 "(Voicing) Fine tuning regions for electron accumulation and discharge amounts"
In a couple of interviews, visual learners kept rubbing beyond the "max amount of electrons on body", so in March 16th design meeting we decided to add a second response after hitting "max amount of electrons on body". That response is:

- John fully charged.

However, @Matthew-Moore240 and I also noticed that the range for the region "several electrons on body" seems too wide, especially for non-

[2021-03-29 15:07] terracoda commented on #398
Actually, we can test performance once #397 and #399 are implemented.

[2021-03-31 13:00] terracoda commented on #398
This issue does not have to be part of the milestone, but I don't know how to take it off the milestone.

[2021-04-07 15:58] terracoda commented on #399
@jessegreenberg, I can't find the decision that was made at our March 30 design meeting about how many times to repeat the "John fully charged" context response. I think we decided on two repeats.

The goal is to make sure the learner knows they have reached the max amount of electrons on body, and that they need to try to do something else now, like maybe move the hand, play the hint button or re

[2021-04-07 16:05] terracoda commented on #399
@jessegreenberg, let me know if you have any more questions.

[2021-04-07 16:07] terracoda commented on #398
Using VoiceOver and no zoom, the sim doesn't seem too laggy to me.

[2021-04-07 16:57] terracoda opened #400 "(Voicing) Keyboard Shortcuts dialog"
@jessegreenberg, there is a similar issue for GFLB, see https://github.com/phetsims/gravity-force-lab-basics/issues/267

We'll need a similar voicing version of the Keyboard Shortcuts dialog for John Travoltage's re-publication with Voicing.

Based on what I posted in GFLB, these are the blocks I propose for John-Travoltage
![Screen Shot 2021-04-07 at 2 17 29 PM](https://user-images.githubusercont

[2021-04-07 17:00] terracoda commented on #400
@jessegreenberg, adding this to first publication milestone.
Let me know if you have any questions. I am going to adjust the date of the milestone.

[2021-04-08 16:18] terracoda commented on #398
Hmm, @jessegreenberg, it might just be the focus events that a bit laggy. When I tab quickly through the sim (with a relatively fast speech rate), it is very easy to get 2 or 3 interactions behind.

[2021-04-21 18:36] jbphet commented on #376
I tried to replicate this on an iPhone 8 running iOS 14.4.2, an iPad model A2270 running iOS 14.4, and in Chrome on my main development machine, which is running Windows 10.  I ran the prototype self-voicing version that is currently linked on the main PhET website as a prototype, which is https://bayes.colorado.edu/dev/html/john-travoltage/1.6.0-dev.41/phet/john-travoltage_en_phet.html?supportsSe

[2021-04-26 15:21] jessegreenberg commented on #397
Finally looking into this...

The reason we have blank spots is because we decided specifically not to alert leg positions while dragging it in #377.

I tried to just add the leg position alert, but it often be spoken over charge alert information when the drag ends with the foot off the rug.

[2021-04-26 15:51] terracoda commented on #397
@jessegreenberg, thanks for linking in #377 . I should have done that originally. That was indeed the issue where we made several design changes, some of which had unintended side effects.

The issue is that learners have no voicing and no sonification when foot is off the rug.

Yes, it is possible to still possibly get a delayed electron response with foot off rug, but we are trying to address th

[2021-04-26 15:54] jessegreenberg commented on #397
I went with the following logic which should preserve the behavior of the arm responses from https://github.com/phetsims/john-travoltage/issues/377#issuecomment-800576319, but allow leg responses to come through after charge responses.

[code]

[2021-04-26 15:57] jessegreenberg commented on #398
This sounds familiar, and I think it will be extra laggy on Safari because of this workaround
[code]

So there will always be a 500 ms delay on that platform for every utterance. And that may interfere with the browsers ability to cancel speech as well. This is where Ill start investigating.

[2021-04-26 16:00] terracoda commented on #398
Gotcha! Perhaps we no longer need the Safari delay since other improvements have been?
Keep me posted.

[2021-04-27 15:28] jessegreenberg commented on #400
Voicing has been added to the keyboard help dialog. It was quite a bit easier for now to add "Hand or Foot" text to the "Move hand or Foot" reading block so I did that for now. @terracoda can you please review? https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing

[2021-04-27 15:28] jessegreenberg commented on #399
This is done and should be ready for review, @terracoda can you please verify this is working as you would expect?
https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing

[2021-04-27 15:29] jessegreenberg commented on #397
This has been done in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.1/phet/john-travoltage_en_phet.html?supportsVoicing, @terracoda can you please review to make sure this is behaving as you would expect?

[2021-04-28 15:03] jessegreenberg opened #401 "Collection of review issues from 10/27/21"
- On Audio tab
  - [x] Change "Other Sounds" description to "Play sonifications and sound effects as you interact."
  - [x] Change "Extra Sounds" description to "Play an additional sound or sounds for this sim."
  - [x] Update "Extra Sounds" description to "Play an additional sound or sounds that may be helpful for some learners."
- On Visual tab
  - [x] Change "Interactive Highlights" description

[2021-04-28 15:08] terracoda commented on #401
And one more thing about the "Electrons on body" response, it is also heard when  "Context changes" is not checked (i.e., when only "Object information" is checked), but it is technically a context response.

[2021-04-28 15:12] terracoda commented on #401
@jessegreenberg, I meant to say, if "Electrons on body" is implemented as a context response, it should only fire when "context changes" checked. I am not 100% sure how it is implemented.

[2021-04-28 20:37] terracoda commented on #400
This sounds and looks great.

I one have a concern that if I tab out of the dialog and get into the browser controls, I can seem to get back into the sim with Tab key presses. I will open a new issue for this.

[2021-04-28 20:37] #400 closed

[2021-04-28 20:53] terracoda opened #402 "Focus does not circle back into sim (Safari only and outdated MacOS)"
In https://github.com/phetsims/john-travoltage/issues/400#issuecomment-828760841 I noticed that when I tab out of the dialog and get into the browser controls, I can NOT seem to get back into the sim with Tab key presses.

This actually only happens in Safari. I circle around in FF and Chrome.
It might be because I have an outdated system, too, Mac OS 10.13.6

I don't think this is an issue for vi

[2021-04-28 20:59] terracoda commented on #399
Yes, verified.
All good and I get "John fully charged." 2 times when I try to rub again.

[2021-04-28 20:59] #399 closed

[2021-04-28 21:07] terracoda commented on #397
The foot sounds great, so you have addressed this issue. Closing.

[2021-04-28 21:10] #397 closed

[2021-04-28 21:11] terracoda commented on #398
I don't think the sim is lagging anymore. It is working great. Closing.

[2021-04-28 21:11] #398 closed

[2021-04-28 22:43] jessegreenberg commented on #401
@terracoda can you please verify that these issues have been resolved in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.3/phet/john-travoltage_en_phet.html?

[2021-04-28 22:52] jessegreenberg commented on #402
Interesting, I am not sure why this is happening. But it is probably outside the scope of our simulation and a Safari behavior because we aren't using any JavaScript to control focus in and out of the sim.

I just tested on macOS 11.2 with Safari 14.0.3 and did not see this happen. I just tabbed around the browser controls and then landed on the "Close" button back in the sim.

I will mention this

[2021-04-29 00:42] terracoda commented on #401
I think you got everything @jessegreenberg!
This is safe to close from my perspective.

[2021-04-29 00:42] #401 closed

[2021-04-29 00:45] terracoda commented on #402
Awesome. Thanks for checking. I think it is my old version of Safari. I think we can close this issue. No need to pass on to QA.

[2021-04-29 00:45] #402 closed

[2021-04-29 13:57] terracoda opened #403 "Things to consider during final review"
The Preferences, Toolbar, and John Travoltage all sound awesome. Everything in issue #401 has been addressed.

I have some concerns which we may or may not want to address before first publication. Not listing in any order, just how I found them:

**Possible Screen Reader Accessibility Issues:**
- [ ] (1) When Voicing is off and I am using VoiceOver, I have to arrow through the list items represen

[2021-04-29 14:01] terracoda commented on #403
@jessegreenberg, I think you could go ahead and implement that minor Voicing issue, and the rest we can discuss at next meeting and determine if we fix now or wait until version 2 of Preferences.

[2021-05-03 18:19] terracoda commented on #392
Re-opening to make a clear decision on what's needed for the Reset All button for Voicing.

From the [JT's Voicing Design Doc](https://docs.google.com/document/d/1nHzqDbRvv-By6gYK59Al345AY7D2z87Ng2im8nf4z2w/edit)
**Notes on simple buttons and the Reset All button:**
The Reset All button is a simple button. Pressing it causes a reset, and the button then returns to an unpressed state. A simple butt

[2021-05-03 18:20] terracoda commented on #392
Over @emily-phet for comment.

[2021-05-03 18:48] emily-phet commented on #392
@terracoda
The table above is super helpful!
Here's my thoughts...
I like your suggested changes - removing "sim screen restarted". I think you can make the call on this without larger team input. @zepumph mentioned today that it's not an issue to have a static reset all button string for interactive description, and a (different) static one for voicing, so this sounds like the way to go.
In the l

[2021-05-03 18:53] terracoda commented on #392
@emily-phet, thanks for your comments. I'll assign to @jessegreenberg to see if we can get the custom response in John Travoltage's voicing release.

[2021-05-03 18:56] terracoda commented on #392
@jessegreenberg, over to you for comment if this feasible for JT's Voicing release.
See custom strings in https://github.com/phetsims/john-travoltage/issues/392#issuecomment-831440810
and in design doc.

[2021-05-03 20:07] terracoda commented on #392
Adding a slightly updated and more complete screenshot of table
![Screen Shot 2021-05-03 at 5 37 17 PM](https://user-images.githubusercontent.com/1902116/116927463-445ba400-ac36-11eb-8833-3091785a2345.png)

[2021-05-06 20:39] jessegreenberg commented on #341
No need for this branch still, deleting.

[2021-05-06 20:39] #341 closed

[2021-05-06 20:42] jessegreenberg commented on #324
No need to keep this branch, work related to this is now in master.

[2021-05-06 20:42] #324 closed

[2021-05-06 20:43] jessegreenberg commented on #270
Branch re-deleted after https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:49] jessegreenberg opened #404 "branch: adjust-discharge-alert"
Caught while going through https://github.com/phetsims/special-ops/issues/198, this can be deleted.

[2021-05-06 20:49] #404 closed

[2021-05-06 20:50] jessegreenberg opened #405 "branch: add-extra-directional-indicator"
Caught while going through https://github.com/phetsims/special-ops/issues/198, this extra branch can be deleted.

[2021-05-06 20:50] #405 closed

[2021-05-06 20:51] jessegreenberg opened #406 "branch: accessible-mixin"
Found while going through https://github.com/phetsims/special-ops/issues/198, a branch from back when we were trying out PDOM.js as a mixin initially. It has been deleted.

[2021-05-06 20:51] #406 closed

[2021-05-06 20:52] jessegreenberg commented on #186
https://github.com/phetsims/john-travoltage/issues/121 was closed so Ill delete this branch.

[2021-05-06 20:52] #186 closed

[2021-05-06 20:53] jessegreenberg commented on #90
Re-deleted for https://github.com/phetsims/special-ops/issues/198

[2021-05-06 20:53] jessegreenberg commented on #113
Re-deleting for https://github.com/phetsims/special-ops/issues/198

[2021-05-07 14:14] terracoda commented on #403
@jessegreenberg, I think you mentioned that number (2) is a bug. There should be no buttons when voicing on the help text when voicing is off. Let me know when I can verify a new version.

[2021-05-10 18:24] KatieWoe opened #407 "Highlights stick around after item dissapears"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/645.
When an item is highlighted, and clicking on it makes the item go away (such as the x in a dialog) the highlight sticks around until the mouse is move again. Does not happen with keyboard nav.
**Steps to reproduce**
1. Go to Preferences Visual tab and turn on

[2021-05-10 18:36] liam-mulhall opened #408 "Adjusting slider reads out multiple alerts"
### Test Device

MacBook Air

### Operating System

macOS 11.2.3

### Browser

Safari 14.0.3

### Problem Description

For https://github.com/phetsims/QA/issues/645. We noticed that when adjusting the voice pitch slider, it will read out multiple (every?) changes in pitch. So if I just slide it from one end to the other, it reads out a ton of alerts. Same thing happens with the voice speed.

### S

[2021-05-10 19:09] KatieWoe opened #409 "Voicing has trouble with Reading blocks when using touch"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/645
When using touch on Win 10, it can be hard, or in some cases seeming impossible, to get the reading blocks to read. Even when they do read, they don't always seem to have the highlighting they do with mouse.

**Visuals**

https://user-images.githubusercontent.co

[2021-05-10 20:39] KatieWoe opened #410 "Voicing only reads out PhET Website and menu"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/645
When opening the PhET menu. the website is the only thing read out. The voicing then reads out "PhET Menu" no matter what was selected.

**Visuals**

https://user-images.githubusercontent.com/41024075/117721622-53de6e00-b19d-11eb-9f4b-80c16e37ec1c.MOV

[2021-05-10 21:53] KatieWoe commented on #407
It seems worse on iPad. Some of the highlights also don't show up on ipad, such as on the reset all button.

https://user-images.githubusercontent.com/41024075/117729205-c2c0c480-b1a7-11eb-90c2-b608db3ff076.MP4

[2021-05-10 22:52] KatieWoe opened #411 "Light blue on top of screen"
For https://github.com/phetsims/QA/issues/645. iPadOS with voicing.
When the iPad is in portrait mode and the voicing tool bar is open, the top of the sim seems to be blue.
![9FF06C5D-B7AE-424C-8144-C847E6847380](https://user-images.githubusercontent.com/41024075/117733110-3f56a180-b1ae-11eb-8be4-354ffbf4e55d.png)

[2021-05-10 22:59] KatieWoe opened #412 "Highlighting behaves oddly with touch"
**Test device**
iPad
**Operating System**
iPadOS 14
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/645.
Items are only highlighted with touch if the finger drags over them. If you are interacting but your finger isn't on them, or if it is a button you just press, it doesn't seem to appear.

**Visuals**

https://user-images.githubusercontent.com/41024075/117734

[2021-05-11 16:41] KatieWoe opened #413 "Tapping the sim reads out previous interaction"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 14.5.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/645. Did not see on Win 10 Chrome with mouse or touch.
On the iPad Safari sim, if you tap the screen on a non-interactive portion, it will read out a previous interaction, such as the leg or arm swinging.
**Steps to reproduce**
1. Turn on voicing
2. S

[2021-05-11 16:49] KatieWoe commented on #413
In addition, it seems that sometimes it will read leg swing when it should read arm swing or vice versa. It often omits arm or leg swing while performing those actions entirely.

[2021-05-11 20:15] KatieWoe commented on #411
You can see this on Laptop browsers if the window is made tall and skinny enough.
<img width="535" alt="tallenoughblue" src="https://user-images.githubusercontent.com/41024075/117878492-12b09180-b263-11eb-9ce9-aed6399911b6.png">

[2021-05-11 21:13] liam-mulhall opened #414 "Can't move John's arm or leg when using VoiceOver"
### Test Device

MacBook Air

### Operating System

macOS 11.2.3

### Browser

Safari 14.0.3

### Problem Description

For https://github.com/phetsims/QA/issues/645. I can't move John's arm or leg using my normal technique, which is to navigate to the slider, enter the slider using control-option-shift-down, and then use the left and right arrow keys to move the slider. I'm able to move John's arm

[2021-05-11 21:46] KatieWoe opened #415 "Hidden toolbar reads out before rest of sim"
For https://github.com/phetsims/QA/issues/645. Seen on iPadOS Safari with mobile VO.
When you start reading from the top (swipe two fingers up), even when the toolbar is hidden, the toolbar is read before everything else, including the welcome message.

https://user-images.githubusercontent.com/41024075/117888889-ef401380-b26f-11eb-88ab-214146eb51a4.MOV

[2021-05-11 22:42] KatieWoe opened #416 "Preferences dialog does not seem to work with screen reader"
For https://github.com/phetsims/QA/issues/645. Seen on iPadOS mobile VO
When using mobile VO, I had difficulty opening the Preferences dialog, and when I did open it, only some things were read out and I couldn't seem to change tabs.
The instructions were to test screen readers without turning voicing on, so I'm not sure if this is expected to work, but the preferences dialog does not seem to work

[2021-05-12 20:51] loganbraywork opened #417 "JAWS repeats readouts inappropriate number of times"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10

**Browser**

Chrome 90.0.4430.93 & JAWS 2021.210.3174

**Problem description**

For https://github.com/phetsims/QA/issues/645

When using JAWS without voicing enabled, if the leg is moved before JAWS is able to respond the sim will repeat the final readout an incorrect number of times.

**Steps to reproduce**

1. Move leg to the

[2021-05-12 21:09] terracoda commented on #414
@liam-mulhall, just curious how you got the pink highlight on the Leg Swing before trying to rub the foot with the arrow keys.

Did you move focus to the Leg Swing with the keyboard (Tab key)? Or did you click on the Leg with the mouse with Interactive Highlights enabled?

[2021-05-12 21:11] liam-mulhall commented on #414
@terracoda, I used the tab key.

[2021-05-12 21:18] terracoda commented on #414
Thanks @liam-mulhall, this doesn't happen for me when using the latest dev version (john-travoltage/1.6.0-preferences.4/) with Safari and Voice Over.

[2021-05-14 16:45] jessegreenberg commented on #392
The Voicing context response for the ResetAllButton has been changed in the above commits.

[2021-05-14 17:40] jessegreenberg commented on #403
These things have been addressed @terracoda. The only thing I did not make changes for was (1). I tested with VoiceOver in Safari and NVDA in Firefox and both screen readers switched to forms mode for the Preferences tabs, so I was able to cycle through them with arrow keys. Let me know if this is still a problem for you and I can investigate further. Can you please verify the other things in this

[2021-05-14 17:43] jessegreenberg commented on #392
@terracoda can you please verify this is working correctly in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.6/phet/john-travoltage_en_phet.html?

[2021-05-14 17:48] jessegreenberg commented on #417
Thanks @loganbraywork. Unfortunately I think this is a bug with JAWS and not the sim. JAWS will do this will all sliders on the web, not just the leg in this sim. I believe this is listed in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.6/phet/john-travoltage_en_phet.html, can you please confirm? If it is the same issue I think this can be closed.

[2021-05-14 17:49] jessegreenberg commented on #416
Thanks @KatieWoe - Voicing doesn't need to work well while the screen reader is on, but the Dialog itself should still work with a Screen Reader. I will take a look.

[2021-05-14 17:59] jessegreenberg commented on #416
Listing things I am noticing while testing myself on iOS VoiceOver
- The first time the Dialog opens, it is immediately close. The second time it seems to work well. I have seen this before, but can't remember where.
- When I activate a tab with VoiceOver, the cursor moves into the tab content automatically. Maybe this is a VO feature with role=tab? It doesn't always happen.
- Some of the content

[2021-05-18 18:09] KatieWoe opened #418 "Voicing sim does not load on app"
I did a quick check on 1.6.0-preferences.7 on the android app (Galaxy Tab A) and the sim did not load in the app.

[2021-05-18 18:41] KatieWoe commented on #418
I'm having trouble getting the right version of the app on the chromebook for some reason, in order to test it there. @mattpen if you are able to help out I would appreciate it.

[2021-05-18 19:39] KatieWoe commented on #418
Thanks for the help Matt. This is also impacting the sim on the app on Chromebook.

[2021-05-20 01:59] terracoda commented on #403
@jessegreenberg, entering the Visual Tab and the Audio Tab works great because those tabs have focusable items in them. For the General Tab there is no focusable item, so the Tab key takes my focus to Safari's Go back button.
 It works great when voicing is enabled because the paragraphs are focusable reading blocks.

The down arrow doesn't do anything. I think the down arrow should move focus to

[2021-05-20 02:04] terracoda commented on #392
Thanks, sounds great. Closing.

[2021-05-20 02:04] #392 closed

[2021-05-20 04:32] jessegreenberg commented on #403
Yes, but it is scripted to move focus between tabs just like the left/right arrow keys. I think we can change it, it will just require some changes to the way the tabs and panels have been implemented. I would guess ~90 minutes to implement, test, verify.

However, I am not a big fan of [Pickerings design here](https://inclusive-components.design/tabbed-interfaces/). Once you arrow in to the tab p

[2021-05-20 15:35] terracoda commented on #403
Hmm, I think the design is quite innovative and the flow is very natural.

I agree we are stepping outside the box of what things are considered for receiving focus, but if you think about the the tab-panels somewhat like a second-level option in combobox with a top-level options that lead to a second level of options, it kind of makes sense. The tab-panel is at the second level. The tab-panels ar

[2021-05-20 15:36] terracoda commented on #403
@jessegreenberg, please implement it.

[2021-05-21 12:59] terracoda commented on #403
@jessegreenberg, my apologies. I forgot to re-assign to you.

[2021-05-21 18:28] BLFiedler opened #419 "Query parameters for Voicing initial checkbox state"
For the first Voicing survey, we would like to have a few query parameters to create links that will be embedded in iFrames for 3 different versions of John Travoltage:

1.) Object changes & Context Changes checked/enabled [X] [X]
2.) Only Context changes checked/enabled (object changes disabled) [  ] [X]
3.) Both Object and Context changes unchecked/disabled [  ] [  ]

[2021-05-21 18:29] BLFiedler commented on #419
We would like this fairly quickly, ideally before the middle of next week.

[2021-05-24 18:50] jessegreenberg opened #420 "Create subclasses for the Arm and Leg Nodes in this sim"
Both are implemented with AppendageNode, and while they share a lot of code there are many checks that determine if the model is an instance of `Leg` or `Arm`.

This was recommended during review of the Voicing implementation. But there are other features (description, dragging behavior) that have arm/leg checks.

[2021-05-24 18:59] jessegreenberg commented on #420
From https://github.com/phetsims/scenery/issues/1223

[2021-05-25 20:02] terracoda opened #421 "Don't always hear "just above" and "just below" door knob during interaction"
Using https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.6/phet/john-travoltage_en_phet.html

on MacOS 10.13.6

I am not always hearing the "just above" and "just below" locations.

Not sure why. It might be an artifact of the original interactive description's aria-value text implementation.

I hear the correct position on focus. Just sometimes as I pass the doorknob, I don't he

[2021-05-25 22:55] jessegreenberg commented on #419
These were added, can you please review and make sure this is working as you need @BLFiedler?

The query parameters added were
[code]

1) Is default settings (https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.8/phet/john-travoltage_en_phet.html)
2) Is at https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.8/phet/john-travoltage_en_phet.html?voicingObjectResponse

[2021-05-25 23:06] jessegreenberg commented on #421
Thanks @terracoda, fixed in the above commit. caused by a silly mistake of mine. Can you please verify it is fixed in
https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.9/phet/john-travoltage_en_phet.html?

[2021-05-25 23:06] jessegreenberg commented on #393
This has been deleted.

[2021-05-25 23:06] #393 closed

[2021-05-26 00:50] BLFiedler commented on #419
@jessegreenberg reminded me that we will need the ability to start the sim with the Preferences dialog open and on the Audio tab.

I can confirm the above versions with query parameters work. And re: the "Names" for version 3, that is exactly what we want!

[2021-05-26 15:57] jessegreenberg commented on #419
In https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.10/phet/john-travoltage_en_phet.html the dialog is open to the "Audio" tab. I just found that the sim is crashing in Edge the first time it loads, looking into that.

[2021-05-26 16:13] jessegreenberg commented on #419
It is happening because the voices are not defined on startup in Edge when the dialog is opened. Need to handle this gracefully somehow.

[2021-05-26 20:57] jessegreenberg commented on #419
Should be resolved in the above commits, I changed it so that whenever the list of available Voices changes from the browser we create a new ComboBox for voices. Also gracefully supported when no voices are available yet.

I briefly tested the sim in Windows Chrome, Firefox and Edge.

@BLFiedler back to you, does this version have everything you need for the survey?

https://phet-dev.colorado.edu/

[2021-05-26 21:21] BLFiedler commented on #419
Definitely opens on the correct screen on desktop, but I cannot get it to load in Chrome on mobile (tried wife's device too). It stays on the PhET loading screen. I anticipate many survey participants completing it on mobile devices.

Can you confirm this behavior and fix if reproducible @jessegreenberg ?

[2021-05-26 21:27] jessegreenberg opened #422 "Voicing crashes the browser in macOS + Firefox"
Found while testing for #419, in macOS + Firefox the the browser crashes frequently when the Voicing feature is enabled. Basic speech works ok https://mdn.github.io/web-speech-api/speak-easy-synthesis/, so something about way we are using the feature is causing the crash.

[2021-05-26 21:30] jessegreenberg commented on #419
Confirmed, remote debugging session shows
<details>

![image](https://user-images.githubusercontent.com/6396244/119733874-1db11780-be48-11eb-986e-6abf22de91c8.png)

</details>

[2021-05-26 21:41] jessegreenberg commented on #419
Thanks for testing @BLFiedler, should be fixed in this version: https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.12/phet/john-travoltage_en_phet.html

Can you please confirm?

[2021-05-26 22:02] jessegreenberg commented on #422
Just played with the sim for ~10 minutes to see if it happens at a particular time, and got it to occur twice. The first time it when I read the first reading block. The second time was 10 minutes later when electrons were discharged.

[2021-05-26 22:03] BLFiedler commented on #419
Can confirm! Also tried on iOS on iPad on Safari and Chrome. Going to try the query parameters on these platforms in this version just to be safe before I close this issue.

[2021-05-26 22:05] jessegreenberg commented on #419
Just a heads up @BLFiedler - https://github.com/phetsims/john-travoltage/issues/422 seems pretty serious, and probably impacts this issue. We may want to discuss how to handle if I can't find a fix.

[2021-05-26 22:14] jessegreenberg commented on #422
To try lots of speech requests I did something like this, where I added the ResetAllButton to the window and then did
[code]

[2021-05-26 22:17] jessegreenberg commented on #422
I had the sim fuzz for three minutes without Voicing, so I think that confirms that Voicing is the cause.

[2021-05-26 23:14] jessegreenberg commented on #422
OK, I found a way to get it to crash relatively consistently - spam the Toolbar chevron key with spacbar presses to rapidly open and close the toolbar.

[2021-05-26 23:18] jessegreenberg commented on #422
Adding the chevron button to the window and spamming it with
[code]

Gets it to crash in 2 - 80 fires.

[2021-05-26 23:25] jessegreenberg commented on #422
Now that I can get it to happen easily, I am going to try to find what is causing the crash to see if we can prevent it.

- I tried wrapping `this.synth.cancel()` with `this.synth.pause()` and `this.synth.resume()` to see if that would change something. Didn't work.
- I tried removing `this.synth.cancel()` entirely from webSpeaker.speak and after 57 speech requests I got a macOS rainbow wheel of d

[2021-05-27 05:39] jessegreenberg commented on #422
I read about [web workers](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers) to offload the speech, but the window and `speechSynthesis` are not available in a web worker, so we can't do that.

[2021-05-27 05:43] jessegreenberg commented on #422
I am not sure how to proceed, I can't think of a workaround and I don't see a good solution. Other things I considered.
1) Stop simulation motion during speech. Seems like it would make a terrible experience.
2) We submit a bug report to Firefox about speechSynthesis crashing the browser. Hopefully we can get this to happen in an example outside of PhET.
3) We disable Voicing in macOS Firefox.

[2021-05-27 14:10] jessegreenberg commented on #422
@terracoda said on slack that she uses macOS and Firefox. @terracoda would you mind testing to see if this happens for you?

@KatieWoe would you also be able to try this on macOS Firefox to see if it ever crashes for you? That might help us determine how far we need to go here.

I can get it to most consistently crash by pressing the Toolbar's Open/Close button. But also seeing it crash sometimes

[2021-05-27 14:26] terracoda commented on #422
Using MacOS 10.13.6 and Firefox 88.0.1 (64-bit) I used JT with mouse and keyboard and tried to do several things really fast:
- toggled on/off switches
- played and stopped Quick Info button
- rubbed foot fast and slow
- moved hand fast and slow
- caused big discharges and partial discharges
- toggled the Toolbar on and off using the Toolbar button and also the Toolbar switch in the Preferences Me

[2021-05-27 16:00] BLFiedler commented on #419
@jessegreenberg  Keeping tabs on that issue, but that seems like it could be a rare combination and if it seems to be a long-term hold-up, I will include it in the survey instructions that that combination of OS/browser does not work and if they could please open it in another browser.

[2021-05-28 17:07] KatieWoe commented on #422
I played around for a bit (5-10 min) on MacOS 11.4 Firefox 88.0.1 and didn't see a crash. @jessegreenberg let me know if you want me to look at an older OS or test on 11.4 for longer.

[2021-05-28 17:12] jessegreenberg commented on #422
Thanks for testing @KatieWoe that is good news. I think this issue is related to performance and the crash happens for me during high cpu load. I have a MacBook from 2013 with 2.4 GHz dual-core i5 processor. Would you mind noting the specs of your apple device for comparison?

[2021-05-28 17:14] jessegreenberg commented on #418
Thanks @KatieWoe, I think I have a better way to handle this. Can you please test with this version?

https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.13/phet/john-travoltage_en_phet.html

I expect the sim to load in the app, but the Voicing feature should be disabled in this case (not in available from Preferences).

[2021-05-28 17:25] KatieWoe commented on #422
MacBook Pro 2016. 2.9 GHz Quad-Core Intel Core i7.

[2021-05-28 17:27] jessegreenberg commented on #422
Cool, thanks. @terracoda would you mind noting the same info from your machine?

[2021-05-28 17:33] terracoda commented on #422
- Mac OS Version 10.13.6
- Mac Book Pro (Retina, 13-inchm, Early 2015)
- Processor 2.9 GHz Intel Core i5
- Memory 8 GB 1867 MHz DDR3
- Graphics Intel Iris Graphics 6100 1536 MB

[2021-05-28 18:01] jessegreenberg commented on #422
Thanks, that is helpful. Both of those devices are newer/faster than the one I have. Over slack I asked if @KatieWoe had access to an  older/slower mac and she said yes, so I asked her to check if there was any crashing there.

[2021-05-28 18:14] KatieWoe commented on #418
Sim ran on the app on the tablet. Voicing didn't work, but the tab was still available, it just didn't do anything when on

[2021-05-28 18:22] jessegreenberg commented on #422
@terracoda also mentioned she had access to a slower/older device and volunteered to test it there to see if it happens.

[2021-05-28 18:25] KatieWoe commented on #422
Oldest readily available Mac is a MacBook Pro 2011, 2.3 GHz intel Core i5. I need to give it a bit to charge up, then will test to see if the firefox problem can be reproduced with it. Will test on OS 10.12.

[2021-05-28 18:34] jessegreenberg commented on #418
Thanks @KatieWoe, glad its running. Sorry I mispoke, the **tab** should be available, but the Voicing section should not be. It should look like this:
![image](https://user-images.githubusercontent.com/6396244/120027791-d2bb0f80-bfc1-11eb-8552-6f6aae70fb90.png)

Can you please confirm?

[2021-05-28 18:36] KatieWoe commented on #418
That is not what it looks like. It looks like the other versions, with all the voicing options. But turning it on does nothing.

[2021-05-28 18:36] jessegreenberg commented on #418
Thanks! That is not working as I would expect, I will take a look at that.

[2021-05-28 19:02] terracoda commented on #422
On terracoda's Macbook Air - no crashing
- masOS Mojave Version 10.14.6
- Macbook Air, 11-inch, early 2015
- Processor 1.6 GHz Intel Core i5
- Memory 4 GB 1600 MHz DDR3
- Graphics Intel HD Graphics 6000 1536 MB

FF version - 88.0.1 (64-bit)

[2021-05-28 19:28] KatieWoe commented on #422
I didn't get it to crash on the older device, but it definitely had to work hard and the fan was getting pretty noisy.

[2021-05-28 19:53] jessegreenberg commented on #418
I am not too sure how to debug the sim in the app, but I am going to try to tether my phone running the App to my desktop and see if desktop Chrome can pick up the WebView running in the app.

[2021-05-28 19:54] terracoda commented on #422
On terracoda's old Macbook Pro - no crashing
- Macbook Pro (13-inch, Mid 2010)
- MacOS OS X Yosemite, version 10.10.5
- Processor 2.66 GHz Intel Core 2 Duo
- Memory 8 GB 1067 MHz DDR3
- Graphics NVIDIA GeForce 320M 256 MB

Testing on Firefox
- version 73.0.1 (64-bit) - no crashing
- then since I was connected to the internet
- version 77.0.1 (64-bit), - Firefox crash when I enabled Voicing in Pref

[2021-05-28 21:40] jessegreenberg commented on #422
OK thanks @KatieWoe and @terracoda. @BLFiedler also mentioned today that he will keep an eye out for whether this is prevalent in the survey he puts out.

So to summarize, it sounds like the crashing is rare, but we have now seen it on two devices with older CPUs. I still think it is caused by how much work is being done by the browser and/or how what the CPU load is and that explains why @terraco

[2021-05-28 23:28] terracoda opened #423 "Incorrect response for Toolbar on/off switch"
I miss-understood what the on/off switch for the Toolbar does. It does not hide and show the Toolbar like the Show/Show Toolbar button, it turns the toolbar on and off.

I realize that should have been obvious, but some how I missed that detail.

The current responses for the Toolbar on/off switch are:
- Toolbar hidden.
- Toolbar shown.

They should be changed to something a little different. Mayb

[2021-05-28 23:41] terracoda commented on #423
Tagging the team in case anyone has any brilliant ideas about context response that clearly conveys that the toolbar that's in the sim is being turned off and on when the button is toggled. Keep in mind that in the future the toolbar will provide quick in-sim access to more features that just voicing.

Any thoughts, @emily-phet, @Matthew-Moore240, @BLFiedler, @jessegreenberg? I'll ask others on sl

[2021-05-28 23:46] terracoda commented on #422
Just to be sure, I also just tested on a new MacBook Air (M1, 2020)
- MacOs Big Sur version 11.3
- Chip Apple M1
- Memory 16 GB

Firefox version 88.0.1 (64-bit)

No crashing. No issues.

[2021-05-28 23:55] terracoda commented on #422
@jessegreenberg, I think it is worth a bug report to Mozilla, for sure. We have some quite specific data re OS versions, CPUs and FF version that could be helpful. In my case, the crashing was very consistent on the version 77 and there was no crashing on the other versions.

I don't think we should disable Voicing on Firefox on MacOs. That seems too drastic to me.

[2021-05-29 00:39] jessegreenberg commented on #423
Hmm, maybe something like
- Toolbar available.
- Toolbar removed.

?

[2021-05-29 14:00] emily-phet commented on #423
@terracoda I like @jessegreenberg's suggestion above. That still leaves other options (like "toolbar open/closed" or "hidden/shown") for when the toolbar is just being collapsed/expanded.

Adding to those ideas - maybe "toolbar added/removed".

[2021-05-29 14:09] terracoda commented on #423
I, too, like @jessegreenberg's idea, and I was also thinking added/removed would be good.

Do you think "to sim" is at all useful, like this:
- Toolbar removed. (when switched to off position)
- Toolbar added to sim. (when switched to on position)

It is a reminder the toolbar is actually in the sim, not in Preferences. And then when they traverse the sim, they will come across the Hide Toolbar an

[2021-05-29 14:57] emily-phet commented on #423
I like the addition of "to sim". I was wondering about issue as well...how will it be interpreted that it's not immediately available while you're still in the preference menu. I think this addition will help.

[2021-05-29 15:55] terracoda commented on #423
Awesome, great team work.
@jessegreenberg we will go with our tri-combo solution:
- Toolbar removed.
- Toolbar added to sim.

[2021-05-31 22:24] jessegreenberg commented on #422
Over Slack, @terracoda agreed to try a test on her Firefox machine to see if we can get it to crash like my mac even with the latest Firefox.

Here is a link to the version: https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.14/phet/john-travoltage_en_phet.html

It has a function on the window that can be called from `window.startTest()` from the console, which will spam the Tool

[2021-05-31 22:31] jessegreenberg commented on #423
OK sounds good. @terracoda  can you please review the responses in this version?

https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.15/phet/john-travoltage_en_phet.html

[2021-06-01 02:24] jessegreenberg commented on #420
I created new subclasses of AppendageNode for this issue and it was a really nice improvement in several areas. Closing.

[2021-06-01 02:24] #420 closed

[2021-06-01 16:46] terracoda commented on #423
Sounds perfect! Thanks @jessegreenberg!
Closing.

[2021-06-01 16:46] #423 closed

[2021-06-01 16:52] terracoda commented on #422
@jessegreenberg showed me how to window.StartTest() on my old mac (https://github.com/phetsims/john-travoltage/issues/422#issuecomment-850639220). The Toolbar was opened and closed 3300 times without a crash.

Version tested: john-travoltage/1.6.0-preferences.14

I will test on iPad and iMac, too, as asoon as possible and report back here.

[2021-06-02 15:38] jessegreenberg commented on #418
When I did this, I saw that the window.SpeechSynthesis was not defined in the webview, which is what I would expect. Maybe something is wrong with the drawing code for the tabs.

[2021-06-02 16:02] jessegreenberg commented on #418
I think this is fixed, @KatieWoe can you please check to verify that Voicing is not available on this platform, and nothing about it shows up in the Preferences Dialog?

https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.16/phet/john-travoltage_en_phet.html

[2021-06-02 21:44] KatieWoe commented on #418
This looks mostly ok on both the tablet and the Chromebook. I did notice that on one tab text was centered, and on another it was left justified.
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/120555963-13979780-c3b9-11eb-81af-21e5e8e35ce0.jpg)
![Image from iOS](https://user-images.githubusercontent.com/41024075/120555966-14302e00-c3b9-11eb-92e3-5c093c7571a6.jpg)

[2021-06-03 11:24] terracoda commented on #422
Testing today on
iMac Retina 4k, 21.5-inch, 2019
MacOS 10.15.7
Processor 3 GHz- 6-Core Intel Core i5
Mem 16GB 2667 MHz DDR4
Graphics Radeon Pro 560x 5GB

iPad
more details to come

[2021-06-03 23:06] terracoda commented on #422
@jessegreenberg, I have exhausted my mac devices.

As I said in https://github.com/phetsims/john-travoltage/issues/422#issuecomment-850728600 , a bug report may be the way to go.

I feel confident we don't have to restrict Voicing to certain browsers or platforms.

From my point of a view an update from version 77 to 78 solved the crashing problem on my old Mac and I didn't experience any issues o

[2021-06-04 17:51] terracoda commented on #421
Hmm, I though I already verified this issue last week.
It sounds good. Thanks @jessegreenberg, closing.

[2021-06-04 17:51] #421 closed

[2021-06-04 18:23] BLFiedler commented on #419
Closing and leaving this discussion to #422

[2021-06-04 18:23] #419 closed

[2021-06-04 18:49] terracoda commented on #422
We discussed this issue and how to proceed in the Voicing meeting today. We all felt that the crashing issue seems rare enough that we can proceed with a bug report and no browser or device restrictions for the Voicing feature when we are ready to publish our first sim with Voicing.

I am going to mark this issue as won't fix, and make a new issue to create the bug report.
I hope that is a reasona

[2021-06-04 18:56] terracoda commented on #422
Maybe we don't need a new issue for the bug report?
@jessegreenberg, can you close this issue when you have created a bug report to Firefox about speechSynthesis crashing the browser.

Or let me know how to create a bug report :-)
Thanks for all your hard work on this issue.

[2021-06-10 15:22] jessegreenberg commented on #422
Sounds good @terracoda, thanks! I just submitted a bug report for this with the details from my crash on the device where it happened. Closing this issue then.

[2021-06-10 15:22] #422 closed

[2021-06-10 15:35] jessegreenberg commented on #418
Thanks @KatieWoe, layout fixed in the above commit. I think that is it for this issue since it was verified to load correctly from the webview.

[2021-06-10 15:35] #418 closed

[2021-06-10 15:35] jessegreenberg commented on #417
I am pretty certain this is the known JAWS behavior problem. Good to know that it still exists but there is nothing for PhET to do about this. Closing.

[2021-06-10 15:35] #417 closed

[2021-06-10 15:36] jessegreenberg commented on #415
It looks like the toolbar is visible in the PDOM on sim load, it does't hide until it is open/closed again.

[2021-06-10 15:50] jessegreenberg commented on #415
OK, this is fixed in the above commit.

[2021-06-10 15:50] #415 closed

[2021-06-10 22:19] jessegreenberg commented on #414
The video looks pretty weird @liam-mulhall, I am not sure what is happening. But I just tried with master and in https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.4/phet/john-travoltage_en_phet.html and was not able to get this to happen.

With VO in Safari, If I tab to the slider and use the arrow keys the slider moves just fine. If I tab to the slider and press "ctrl" + "optio

[2021-06-10 22:22] jessegreenberg commented on #413
I confirmed that this is an issue for https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-preferences.4/phet/john-travoltage_en_phet.html, but verified that this is no longer happening in master. A lot of improvements were made to the input listener since this dev version was created, mostly https://github.com/phetsims/scenery/issues/1217. I am assuming this has been resolved since then , clo