[2017-04-05 21:12] #214 closed

[2017-04-05 21:30] jessegreenberg commented on #213
The intention was to focus the next focusable element in the document once the menu closes, like https://staff.washington.edu/tft/tests/menus/simplyaccessible/index.html

That menu item is the last thing in the document, so I expected focus to go back to the address bar - this is what it does in Chrome.  In Firefox and Safari, it looks like it is going to John Travoltage's foot. I haven't been abl

[2017-04-05 21:43] jessegreenberg commented on #213
Hmm, not sure what the difference is between the browsers - could be an order of events for keydown listeners.

Anyway, we have two options:

- Focus back on the PhET Button when we tab out of the menu
- Focus the browser/address bar when we tab out of the menu

I have tested both, and they work consistently in browsers. I slightly prefer the second option, the user can "Shift+Tab" back to the las

[2017-04-05 21:52] jessegreenberg commented on #212
Thanks @terracoda I will respond to each bullet point below:

Yes, it should. Both Tab and arrow keys should go through the items.

Ok, great!

I just checked the PhET Menu again with VO on and I can navigate the items with the Arrow keys, but the focus highlight just does not follow with the Arrow keys. I got the item count and could activate the buttons and links as expected.

Hmm, when I use th

[2017-04-05 22:05] jessegreenberg commented on #215
In #212, @terracoda said

Does that mean the first part is no longer an issue?

[2017-04-05 22:16] jessegreenberg commented on #212
Luckily, event.preventDefault seems to limit movement of the virtual cursor when using the ```keydown``` event.  After the above commit, behavior seems a bit more consistent when navigating the PhET menu with VoiceOver.

[2017-04-05 22:22] jessegreenberg commented on #211
I am testing on Safari 9.0.1, but links are focusable for me, with and without VoiceOver.

@jobara this sounds exactly like what I was seeing in Firefox before changing user settings. Is something like this the cause?

http://stackoverflow.com/questions/11704828/how-to-allow-keyboard-focus-of-links-in-firefox

Are links focusable for you in other web pages?

[2017-04-05 22:30] jessegreenberg commented on #210
That seems likely, but I haven't been able to reproduce this myself.  I am using Safari 9.0.1 with OSX 10.9.5.

[2017-04-05 22:35] jessegreenberg commented on #210
Possibly, though I thought we only added emitters for when charges exit the body.  Ill see if I can grab a newer version of Safari and macOS

[2017-04-05 22:40] jessegreenberg commented on #210
@phet-steele has latest macOS and was able to reproduce this bug.

[2017-04-05 22:45] jessegreenberg commented on #210
Since it isn't happening on older VoiceOver/Safari, this seems more like a VoiceOver issue with interrupting announcements.

[2017-04-05 23:07] jessegreenberg commented on #127
Thanks @jobara!

- https://github.com/phetsims/john-travoltage/issues/127#issuecomment-291879262

Unfortunately, I can't reproduce this issue with Safari 9.0.1, OSX 10.9.5.

- https://github.com/phetsims/john-travoltage/issues/127#issuecomment-291886624

Good catch!  @terracoda @emily-phet @arouinfar should there a description in the Keyboard Help dialog that describes escape will also exit full s

[2017-04-05 23:32] jessegreenberg commented on #127
It seems that for security reasons, you can't prevent exiting full screen when pressing 'escape'.  So we need to figure out why focus is leaving the dialog when full screen mode is turned off.

[2017-04-06 05:00] terracoda commented on #217
@jessegreenberg, Yes, I only see it cut off on the PhET Menu button.

[2017-04-06 05:46] terracoda commented on #216
@jessegreenberg, thanks!
I turned off audio ducking, and I can hear the sound effects with or without VoiceOver On.
With audio ducking on, I did not hear any sound effects while using Safari with or without VoiceOver.

However, audio ducking has no effect on Chrome or Firefox. I always hear the sound effects in those browsers.

[2017-04-06 05:48] terracoda commented on #216
@jessegreenberg, so it looks like this is a feature not a bug. Closing this issue.

[2017-04-06 05:48] #216 closed

[2017-04-06 06:43] terracoda commented on #213
@jessegreenberg, the convention is to move focus to the next focusable item (in this case the browser bar because the menu is the last item), if we follow this design pattern.

For a single menu button, I personally do not like this design pattern. I see how this design pattern could be useful for menus that have a few top-level items which have short submenus. In Safari with VoiceOver, the Left a

[2017-04-06 08:26] terracoda commented on #215
@jessegreenberg, yes the actual list that pops up is identified as a menu in VoiceOver, but on the button, it only identifies the button as "P, H,  E, T pop-up, button." Is the current label "PhET" or "PhET Menu" in the PDOM?

The logo with the three dots communicates more than just "PhET", alone. It communicates "PhET Menu". The button label should communicate the same message as the image of the

[2017-04-06 08:37] terracoda commented on #215
@jessegreenberg, the final content for the PhET Menu was extensively discussed in https://github.com/phetsims/a11y-research/issues/12#issuecomment-286718839

I'll start a new issue for the content on the buttons, in case that can be done, too.

[2017-04-06 08:55] terracoda opened #218 "Re-ordering and re-labeling of the PhET Menu items"
In https://github.com/phetsims/a11y-research/issues/12 we extensively discussed reordering the item, clarifying the label text, and adding new icons for the PhET Menu.

If time allows, is it possible to update the order and the labels, and leave the icons and help text for a later update?

Final order and content for labels and help text copied here from https://github.com/phetsims/a11y-research/i

[2017-04-06 13:20] jobara commented on #211
@jessegreenberg it does work, I probably forgot to press option-tab when navigating. Although I find the tab order is a bit unexpected with the "close" button being the last item in the tab order. Anyways, I'll close this specific issues as it's not a bug.

[2017-04-06 13:20] #211 closed

[2017-04-06 13:49] jobara commented on #215
@jessegreenberg regarding punctuation this article seemed to have the best summary of options and caveats http://www.ssbbartgroup.com/blog/zip-z-p-z-p-forcing-correct-pronunciation-screen-readers/

If you end up trying to write out the word in such a way that sounds correct, you could look into using phonetic characters ( http://www.internationalphoneticalphabet.org/ipa-charts/ipa-symbols-with-htm

[2017-04-06 14:17] jessegreenberg commented on #215
I see, thanks.  The current label is just 'PhET'. I will add 'Menu' so that it is heard with VoiceOver, but NVDA and JAWS users will hear something like "PhET Menu menu button, has pop-up submenu".

[2017-04-06 14:22] jessegreenberg commented on #215
Thanks @jobara.  In that case, it seems like leaving as 'PhET' is best, and I agree that we don't want someone to find something like 'F E T' if reading character by character.

[2017-04-06 14:36] terracoda commented on #215
@jobara thanks for that article from SSBart.

And @jessegreenberg, I agree we do not want to spell PhET as Fet. I was wondering if Phet might work, but I think it is best not to change it. Screen readers are too diverse in their pronunciation. "John Travoltage" gets a bit mangled, too.

[2017-04-06 14:37] terracoda commented on #215
@jessegreenberg, I'm happy if you just add "Menu" to the label.

[2017-04-06 14:47] terracoda commented on #210
@jobara, @jessegreenberg I was going fast then slow. The experience is so much slower when using VoiceOver than when using the keyboard alone. With keyboard alone, the slider works perfectly.

I thought I would try using the mouse while also using VoiceOver. At first I had a long run where I only got foot position. When I clicked away from the foot, I got the electron count. After a discharge and

[2017-04-06 15:30] jessegreenberg opened #219 "Focus order in the Dialogs"
@jobara said

I just assumed that focusable content in the dialog should come before the close button. Otherwise there is no strong reason for it to be last.

@jobara @jhung @terracoda should focus go to the close button first?

[2017-04-06 16:10] terracoda commented on #127
@jessegreenberg and @jobara, I am losing focus all together after exiting full screen mode. I can't seem to tab to anything after exiting full screen mode. Hmm, very strange.

@jessegreenberg can you actually tell where focus is going?

[2017-04-06 16:32] terracoda commented on #219
@jessegreenberg, focus typically goes on the first focusable item according to the [Authoring Practices](https://www.w3.org/TR/wai-aria-practices-1.1/#dialog_modal). There may be a reason not to do that, for example, when the focusable item falls below the fold (out of view) in a long dialog that scrolls.

Whatever gets keyboard focus should be visible.

[2017-04-06 16:35] jobara commented on #210
@terracoda I find at times that things just stop working the way I expect in VoiceOver and I just reset all of it's settings, and things start to work again. I'm not sure why this is. If it's something I'm doing that's causing it, or some bug in VoiceOver.

[2017-04-06 16:55] jessegreenberg commented on #219
@terracoda that sounds good.  Right now the links come first, so they get focus first, but the button could come first instead.  Do you have a preference for Dialogs?

[2017-04-06 16:55] jessegreenberg commented on #217
Ok, thanks!

[2017-04-06 16:59] jessegreenberg commented on #215
Ok, I added 'Menu' to the label.  @terracoda is it OK to close this issue?

[2017-04-06 17:05] jessegreenberg commented on #127
Probably the body - @jobara do you happen to know?  I might be able to get a macOS device soon to check, but I am not sure.

[2017-04-06 17:09] jessegreenberg commented on #213
@terracoda, sorry I don't understand - what is the difference?

Aren't these the same pattern?

[2017-04-06 23:48] terracoda commented on #210
@jobara, I find the same thing. BTW, are you using VO keys and Arrow keys to operate the sliders or just the Arrow keys alone? My keyboard focus switches when I use the Arrow keys, though in my previous test I was able to operate the slider.

[2017-04-06 23:57] terracoda commented on #219
@jessegreenberg, I think placing the focus on the links is fine.
Where is the close button in the actual content order?

[2017-04-06 23:59] terracoda commented on #215
Yes :-)

[2017-04-06 23:59] #215 closed

[2017-04-07 00:06] jessegreenberg commented on #219
Ok, sounds good.  The close button is the very last thing in the dialog content order.

[2017-04-07 00:17] terracoda commented on #219
@jessegreenberg, I think that's perfect.

[2017-04-07 00:18] jessegreenberg commented on #219
Ok, thanks @terracoda - closing.

[2017-04-07 00:18] #219 closed

[2017-04-07 21:22] jessegreenberg commented on #127
We just tried this in Safari and Chrome in macOS Sierra 10.12.4 Beta, and we couldn't reproduce this bug.  @jobara or @terracoda can we screen share sometime so I can observe this bug?

[2017-04-07 21:36] phet-steele commented on #127
I did not experience the problems in https://github.com/phetsims/john-travoltage/issues/127#issuecomment-291879262 or https://github.com/phetsims/john-travoltage/issues/127#issuecomment-292022579 using Chrome with macOS 10.12.4 (NOT beta)

[2017-04-07 22:04] jessegreenberg commented on #210
@mbarlow12 and I found that the alerts can be heard on VoiceOver with macOS when the aria-atomic attribute is removed.  I don't actually remember why that attribute is there, @jobara can it be removed?

[2017-04-07 23:38] jessegreenberg commented on #127
https://github.com/phetsims/john-travoltage/issues/127#issuecomment-292655108 I also just updated the machine to 10.12.4 (not beta) and could not reproduce the issue in Safari 10.1.

[2017-04-09 02:31] terracoda commented on #213
@jessegreenberg, sorry for not being clear :-) I made some edits to the original post. They are in bold.

[2017-04-09 03:21] terracoda commented on #213
Oops posted prematurely... The W3C convention is that the Tab key is **not** used to cycle through submenu items.

Let's backup a little. We have two issues in our case, and I think this is what is causing our over all design problem with this bottom bar.

1. If the parent bottom bar is treated as a menu, then the PhET Menu button is a top-level item and the pop-up menu is a submenu.
    - unfortu

[2017-04-10 13:32] jobara commented on #127
@jessegreenberg I just upgraded to macOS 10.12.4 which comes with Safari 10.1. It seems the issue is gone now. I tried before upgrading and the issue was there. It seems that this was a Safari bug, that has now been addressed.

[2017-04-10 13:39] jobara commented on #210
@jessegreenberg here's the write up on aria-atomic ( https://www.w3.org/TR/wai-aria/states_and_properties#aria-atomic ). I'm guessing it's for cases where only a single value in a structure is changed, example if the alert is "electrons: 5" and only the 5 is changing. You'd want it to read "electrons: 6" and not just "6". In our case if we're changing the entire node anyways, it shouldn't make a d

[2017-04-10 14:31] emily-phet commented on #213
@terracoda For clarification, are you proposing that we use option 2 from your comment?

[2017-04-10 16:46] jessegreenberg commented on #127
Excellent, thanks very much @jobara.  Is this still part still an issue?

[2017-04-10 16:49] jessegreenberg commented on #127
@emily-phet @terracoda @arouinfar is this part of @jobara's comment in https://github.com/phetsims/john-travoltage/issues/127#issuecomment-291886624 something that should be addressed?

[2017-04-10 16:55] jobara commented on #127
@jessegreenberg regarding ( https://github.com/phetsims/john-travoltage/issues/127#issuecomment-293008619 ) this also seems to have been fixed with the latest version of Safari.

[2017-04-10 17:07] emily-phet commented on #127
@jessegreenberg If you're asking if we should add to the Hot Keys and Help dialog something about esc exiting full screen mode, I don't think we need to do that.

[2017-04-10 17:34] jessegreenberg commented on #213
Yes, understood @terracoda, thanks.

It would not be difficult at all to go with the W3C pattern (tab exits and closes the dialog instead of focusing the next item in the list). Should we do that?

[2017-04-10 17:36] jessegreenberg commented on #127
Thanks @jobara, thats great.

Ok, great @emily-phet, thanks.  In that case, can this issue be closed?

[2017-04-10 17:48] jessegreenberg commented on #210
Excellent, thanks @jobara.

[2017-04-10 18:29] jessegreenberg commented on #213
The above commit makes the menu behave like the W3C example provided by @terracoda.  I tested with Chrome, Firefox, IE and Edge.

[2017-04-10 18:49] emily-phet commented on #127
@jessegreenberg I think this issue can be closed. :)

[2017-04-10 18:49] #127 closed

[2017-04-10 22:05] EthanWJohnson opened #220 "Accessible John Travoltage fails in fullscreen on Edge"
Related to https://github.com/phetsims/tasks/issues/813

On Windows Edge, keyboard navigation when the sim is made fullscreen is completely inoperable and nonfunctional; the fullscreen mode has to be closed with a mouse, upon which keyboard navigation will start working again. I'm not seeing the same behavior on Firefox and Chrome; seems like an Edge specific behavior (which, knowing Edge, isn't s

[2017-04-11 10:28] terracoda commented on #213
@jessegreenberg and @emily-phet, sorry for the delay. Glad doing option 2 is not a lot of work. Based on my understanding thus far, I think it is the better option.

I spelled things out more clearly in https://github.com/phetsims/a11y-research/issues/25#issuecomment-292765290

Let me know when a new link is available for testing.

[2017-04-11 17:57] jessegreenberg commented on #220
Thanks @EthanWJohnson! this is unfortunate, it looks like tab navigation is generally disabled when in fullscreen mode on Edge.

[2017-04-11 18:20] jessegreenberg commented on #220
@jobara found that since the PDOM is outside of the element that is being requested for full screen, those elements are excluded from tab navigation. When the PDOM is placed in the sim, keyboard navigation works just fine.

Can/should we nest the PDOM inside of the display DOM element?

[2017-04-11 18:42] jessegreenberg opened #221 "Keyboard help dialog crashes in Edge"
When opening the keyboard help dialog with the keyboard, Edge hangs for a second.  Then when going back to the keyboard help button in the navigation bar, the button is no longer focusable.

[2017-04-11 19:29] jessegreenberg commented on #220
Should be fixed in the commit above.

[2017-04-11 20:12] jessegreenberg commented on #220
Ah, except the sim div has aria-hidden attached so nothing will be read by a screen reader. We will need to hide the other content in the sim div.

[2017-04-11 20:16] phet-steele opened #222 "Design of the arm position announcements"
I have a concern about the decisions made for the arm's position and how they are announced to the user. I conducted a very informal "interview" (thanks @amanda-phet!) to get some fresh eyes on the current design. Here is how the sim behaves

- The arm positions range from 0-100, with 0 and 100 being at 180 degrees around the unit circle (there's a slight rotation but I'm ignoring that).
- This pu

[2017-04-12 00:00] jessegreenberg commented on #221
This bit hard, still not sure what is going on exactly.  I believe this is an Edge bug with the way it handles the hidden attribute, and will be tracked in https://github.com/phetsims/a11y-research/issues/30.  The above commit is a fine workaournd for now, closing.

[2017-04-12 00:00] #221 closed

[2017-04-12 12:51] jobara commented on #222
@jhung do you have any thoughts on this?

[2017-04-12 13:02] terracoda opened #223 "No feedback when the Mute Sound button is toggled"
Using MacOS 10.12.3 with VoiceOver
Safari 10.0.3

When I toggle the **Mute Sound** toggle button without the VO keys, I do not get an announcement that the sound has been muted, nor that it has been un-muted or enabled when I toggle it again. Unfortunately, I get zero feedback (i.e., not even checked or unchecked).

**The help I get from VO is:**
"To select or deselect this checkbox, press Control

[2017-04-12 13:05] terracoda commented on #222
@phet-steele, I am also concerned that there are two many positions for each position.

[2017-04-12 13:54] jobara commented on #223
@terracoda I've talked to Joseph about things like this recently. He informed me that when the label of a toggle is switched it can sometimes confuse users and make them think that they are on a new control. Which is why you see on some video players a button labelled "play pause button" or something to that effect.

[2017-04-12 14:46] jhung commented on #222
@phet-steele:

**Re: #2 - Change number line to -50 to 50.**
I'm okay with this change. But I'm wondering as well if this will work okay with the current foot number system which is from 0 to 30 (not -15 to 15). My guess is that the foot numbers are okay, but I'd rather have some users try it out and report back.

**Re: #1 - Reporting deltas in arm movement**
I can see the potential for confusion.

[2017-04-12 16:19] jessegreenberg commented on #223
@terracoda I agree with @jobara, I think changing the label could lead to some confusion.  We tried a dynamic label for a toggle button in BASE and it was confusing because the changing label made it unclear what the button was actually toggling.  I think that is just how VO works with ```aria-pressed```.

Adding an alert when pressed would be pretty simple, something like "Simulation sound off" o

[2017-04-12 16:35] phet-steele commented on #222
@terracoda are you suggesting the arm needs more granularity in it's descriptions (so maybe every 5 positions are given a different announcement instead of every 11 positions), or that we just need fewer positions? Like changing the range from [0, 100] to being [0, 50].....I guess both would accomplish the same thing anyway 😄.

[2017-04-12 17:09] phet-steele commented on #220
@jessegreenberg you may want to look into this with IE11, I believe I'm seeing the same thing.

[2017-04-12 17:19] phet-steele opened #224 "[JAWS, IE11] Mute Sound can't be toggled"
I am unable to toggle the Mute Sound button while running JAWS on Win 10 + IE11. Pressing "Space" or "Enter" will instead move the focus to the arm or the Reset All button, depending on which was focused prior (ex, if you Tab from the arm vs Shift + Tab from the Reset All button). The Reset All button will get pressed in the latter case. Neither of these scenarios actually toggle the Mute Sound bu

[2017-04-12 17:26] phet-steele opened #225 "[JAWS, IE11] Arrow keys do not move the focus highlight in the PhET Menu"
To elaborate, if you use the arrow keys, JAWS still reads the description of the next item in the menu list even though the focus highlight does not change. "Enter" will select the item you heard the description of. So functionally, the menu behaves correctly, but visually the focus highlight is broken. Tab WILL move the focus highlight through the menu.

I was seeing this behaviour with JAWS on W

[2017-04-12 18:04] jessegreenberg commented on #218
@terracoda I would recommend waiting and handling changes to the PhET menu at one time.  Changes like this to common components will require review from other team members and it will be more efficient to do that once.

Also, the issue list for this sim is growing and we are shooting for a release in ~2 weeks.  I don't think we will have the time to modify the PhET menu now, but we can certainly d

[2017-04-12 18:19] jessegreenberg commented on #225
Thanks @phet-steele.  My guess is that JAWS is intercepting the arrow keys and focusing the next list item instead of the next button, and then delegating the click event to the list item child?  If focus is actually on the list item, scenery wouldn't know to place focus on the next *button* in the list.  But I need to investigate.

[2017-04-12 18:20] emily-phet commented on #218
@jessegreenberg @terracoda I agree with pausing on this until after JT is released. I think people will understand if the changes in the PhET menu come later.

[2017-04-12 18:25] jessegreenberg commented on #218
Ok, thanks @emily-phet.  Closing this issue since the modifications will be continued in https://github.com/phetsims/a11y-research/issues/12.

[2017-04-12 18:25] #218 closed

[2017-04-12 18:29] jessegreenberg commented on #224
Thanks @phet-steele I will investigate.

[2017-04-12 18:29] emily-phet commented on #222
I think we should definitely wait for @jhung to weigh in - he led the description design for this sim and has thought deeply about these issues.
In the meantime, my initial thoughts are
1) I don't recall having a discussion about how it was decided how many increments there are to get around the full circle...decreasing this number may be reasonable.
2) I really like @phet-steele suggestion to add

[2017-04-12 18:36] jessegreenberg commented on #220
Thanks @phet-steele I will check.  I believe the commit above will fix it.

[2017-04-12 18:38] jessegreenberg commented on #220
Just confirmed that dev.20 has no keyboard navigation in IE in full screen mode.

[2017-04-12 18:42] jessegreenberg commented on #220
Keyboard navigation works in IE and Edge in fullscreen mode in master.  But in IE in full screen mode, keyboard navigation doesn't loop through the sim, it gets caught somehow.

[2017-04-12 18:51] jessegreenberg commented on #220
It looks like IE is trying to focus an <svg> element when in full screen mode.

[2017-04-12 22:19] phet-steele opened #226 "[JAWS, IE11] JAWS is reading the hidden elements in the Check For Updates modal"
In the "check for updates" dialogue accessed via the PhET Menu, JAWS reads all possible strings, not just the one presented. This includes the hidden strings, so if the dialogue says "Simulation is up to date", JAWS will read that but continue by saying the other possibilities for the dialogue like "Unable to check for updates" and "Get Update..", etc..

This was tested with JAWS and WIN 10 + IE11

[2017-04-13 00:36] jessegreenberg commented on #222
@jhung I really like this idea, what do you think @emily-phet?

[2017-04-13 00:44] jessegreenberg commented on #220
The above commit removes the SVG from the focus order in IE11 full screen mode.  Focus does not wrap to the top of the simulation in IE11 when in full screen, but that seems like default behavior, maybe a choice since the address bar is not in view?

[2017-04-13 01:48] terracoda commented on #218
@jessegreenberg, @emily-phet ok. I agree changes that affect other sims is best to do all at once.

[2017-04-13 08:52] terracoda commented on #222
@jhung and @phet-steele, I am working on some feedback.

[2017-04-13 13:11] jobara commented on #223
@jessegreenberg i think the alert is probably okay. I think you'll need to test out how it sounds with the typical reporting of the toggle state. ie. Does or should it interrupt the default announcements?

[2017-04-13 14:50] jessegreenberg commented on #223
Ok, thanks, I will test it out and see how it goes.  As for the alert, should we use "Simulation sound off" and "Simulation sound on" or something else?

[2017-04-13 16:24] jessegreenberg commented on #224
When I remove the ```aria-pressed``` attribute this is no longer an issue.  Does JAWS not support that attribute? Or maybe JAWS doesn't support the way we are adding it dynamically?

[2017-04-13 16:35] terracoda commented on #222
@phet-steele, by "too many positions for each description" my concern was the same as yours. The user is pressing too many times before getting any indication of a change i.e., not enough feedback during an actual interaction.

[2017-04-13 16:51] jessegreenberg commented on #224
This example:
https://jsfiddle.net/wpyuhdLq/2/

Doesnt seem to exhibit the problem, so it is likely an issue with the way it is being used in the sim.

[2017-04-13 16:55] jessegreenberg commented on #224
This example has parent divs and tab indices that are the same as the ones used in the sim:
https://jsfiddle.net/6p9c2ue9/2/

The above example doesn't exhibit teh problem.

[2017-04-13 16:57] jessegreenberg commented on #224
Aww, I was testing in Chrome.  Going to test again with IE11

[2017-04-13 17:02] jessegreenberg commented on #224
In https://jsfiddle.net/6p9c2ue9/2/ with JAWS in IE11, the focus doesn't move around but the button doesn't work.

[2017-04-13 17:25] jessegreenberg commented on #224
This example works with JAWS in IE11: https://jsfiddle.net/6p9c2ue9/8/

Instead of ```<input type="button">```

We are using
[code]

[2017-04-13 17:30] jessegreenberg commented on #224
Actually, the button in this sim and the example in https://jsfiddle.net/6p9c2ue9/2/ works with JAWS in IE11 **if** you hold down the shift key.  Otherwise it doesn't work.

@jobara @jhung @terracoda do you know if that is the customary behavior for JAWS? Or is that a bug?

If a bug, we can use a ```<button>``` for now and submit a bug report to VFO.

[2017-04-13 17:44] jobara commented on #224
@jessegreenberg i'm not sure if that's common behaviour in JAWS. I wonder though if it is because `<input type="button">` are associated with form submissions. So maybe it is ignoring toggle states?

[2017-04-13 17:47] jobara commented on #224
actually i made a mistake it's `<input type="submit">` that defaults to form submissions.

[2017-04-13 17:51] jobara commented on #224
@jessegreenberg also is there a  specific reason to make use of `<input type="button">` vs `<button>`?

[2017-04-13 18:19] jessegreenberg commented on #224
None that I know of @jobara, lets use a ```<button>``` for now.

This issue is not a problem for
```<input type="button">```

but
```<input type=button aria-pressed="false">```

never receives a click event unless pressing "shift" with "enter" and "spacebar".  I am not sure if this is a bug or a JAWS feature.

[2017-04-13 18:19] jessegreenberg commented on #224
Maybe we should submit a report just in case, do you agree @jobara?

[2017-04-13 19:25] jessegreenberg commented on #224
For this issue, we are using ```<button>``` instead of ```<input type="button">```, which fixes the problem.

[2017-04-13 19:26] jessegreenberg commented on #223
In #224 we changed the HTML so that the button works with JAWS - maybe VO will provide more information automatically too, Ill test before adding alerts.

[2017-04-13 19:48] terracoda commented on #222
Sorry, for the late post and the long post. I have been thinknig about this all day. Trying to add as few progress phrases as possible, so as to affect the current design as little as possible.

**Question 1**
@jhung, are directional keys implemented as you designed it. I know you did user testing on which keys to make go up/down. Currently, Right and Up Arrows are counter-clockwise and Left and D

[2017-04-13 20:02] jobara commented on #224
@jessegreenberg probably worth submitting a report for. I couldn't find any other examples of a toggle made with an `<input type="button">`. I'd be interested to know what they say about it.

[2017-04-13 20:44] jessegreenberg commented on #223
NVDA works nice in all browsers with the alert except for chrome.

When I press the button in Firefox I hear
"Mute sound toggle button, pressed, sim sound off."

I hear something similar in IE11 with NVDA, but Chrome always says "not pressed".

[2017-04-13 21:07] jessegreenberg commented on #223
But that was the behavior in Chrome with NVDA for http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.20/john-travoltage_en.html, so the change has not made things worse for that platform.

[2017-04-13 21:14] jessegreenberg commented on #223
Seems to work great with JAWS and VO, getting ready to commit.

[2017-04-13 21:28] jessegreenberg commented on #226
The content cant be found with the virtual cursor, but it is being read when the Dialog is first opened.

[2017-04-13 21:38] jessegreenberg commented on #226
My guess is that JAWS is reading the 'aria-describedby' content in the Dialog, even though that content is hidden.  I wonder if it will do that for ALL 'aria-describedby' content, or just the content that is in a dialog?

JSFiddle incoming...

[2017-04-13 21:44] jessegreenberg commented on #226
Test: https://jsfiddle.net/8q933y29/1/

NVDA doesn't read the hidden 'aria-describedby'.

[2017-04-13 21:49] jessegreenberg commented on #226
Neither does JAWS in IE11.

[2017-04-14 04:48] terracoda commented on #223
@jessegreenberg thanks for adding the alerts and testing it. I think that is a good solution.

[2017-04-14 05:03] terracoda commented on #223
@jobara, and @jessegreenberg please note that the label is already changing visually. My suggestion in comment  https://github.com/phetsims/john-travoltage/issues/223#issue-221254838 was to align that change in the non-visual experience.

@jessegreenberg, there a slight difference in _Balloons and Static Electricity_ - both states of the toggle button are actually visible in that sim. Also, I don'

[2017-04-14 05:47] terracoda commented on #224
@jessegreenberg and @jobara, the only difference I know of with the button element and the button input is how one must provide an accessible name. The button element is straightforward. It's content is its name. With the input, you have to make sure your provide the accessible name correctly either with ARIA or by associating a label element with the input.

- `<button>Press Me</button>`
- `<inpu

[2017-04-14 05:53] jessegreenberg commented on #226
Here is a JSFiddle with an example 'dialog' with hidden content.
https://jsfiddle.net/8q933y29/6/

[2017-04-14 05:57] jessegreenberg commented on #226
In the above example, JAWS **will** read the hidden content in IE11 when the dialog is open.

[2017-04-14 06:05] jessegreenberg commented on #226
This definitely seems like a JAWS + IE bug.  The only workaround I can think of right now is to totally remove the HTML content associated with the updates from the DOM instead of using ```hidden```.

[2017-04-14 06:14] jessegreenberg commented on #226
Maybe we can try display:none?

[2017-04-14 06:25] jessegreenberg commented on #226
Doesn't seem to work, in https://jsfiddle.net/8q933y29/8/,

JAWS is reading this element:
[code]

[2017-04-14 13:45] emily-phet commented on #222
@jessegreenberg How difficult would it be to implement @terracoda suggested changes? If it's not too difficult (e.g., on the order of an hour or less of time), we could implement these changes, and ask a few screen reader users we know to give it a try and get some informal feedback. I think that's what @jhung is hoping to do with any changes. Would any of these changes impact the prior testing th

[2017-04-14 17:22] jessegreenberg commented on #222
@emily-phet it seems like those changes could be made in 2-4 hours, with some additional time making modifications after feedback.  We will use the same html/aria as we did before, I would not expect this to significantly impact prior AT testing that has been done.  The sim will get full release candidate testing before release anyway.  As for timing, the sim should probably begin RC testing by ea

[2017-04-14 17:38] jessegreenberg commented on #222
I am also curious if @jhung has any thoughts on https://github.com/phetsims/john-travoltage/issues/222#issuecomment-294003808 before proceeding, this would be a pretty significant change to description content from what has gone through user testing.

[2017-04-14 17:58] emily-phet commented on #222
@jessegreenberg I agree, it would be helpful to get feedback from @jhung. After emailing him, I got an out of office reply that he will be unavailable until the 24th, so not sure if he will be able to comment before then. So we may need to proceed with what we think is reasonable until he returns.

Your list looks correct to me, except for the "Add some hysteresis..." subtask. I couldn't find wher

[2017-04-14 18:08] jessegreenberg commented on #222
Good point, each region has only a few slider values, so it will be pretty simple. So we will add 'still' when the user stays in the same region without changing directions, or hitting a landmark.

[2017-04-14 20:24] jessegreenberg commented on #222
@terracoda  @jhung @jobara @emily-phet @phet-steele should the leg map from [-15, 15] instead of [ 0, 30] to match the arm?

[2017-04-14 21:09] jessegreenberg commented on #222
For examples like this in the walkthroug:

Why aren't we using progress indicator when moving through the region?  I am not really sure when to use the progress indicators.

[2017-04-14 21:26] jessegreenberg commented on #222
Oh, in this case is 'Still' supposed to be read at the *last* number in a region, just before the region changes?

[2017-04-14 21:59] phet-steele commented on #75
@samreid, the vibe issue is closed and we certainly have audio on Win 8.1 FF these days. Can this be closed?

[2017-04-14 22:00] phet-steele commented on #48
This sim is butter smooth these days, and we no longer support 10.6.8 anyway.

[2017-04-14 22:00] #48 closed

[2017-04-14 22:09] phet-steele commented on #44
The sim is definitely fine on Win7 FF 52. @pixelzoom do you even have a Win 7 platform you would like to check performance on? Otherwise, fine by me to close.

[2017-04-14 22:27] phet-steele opened #227 "[JAWS, IE11] Holding down arm/legs arrow keys can duplicate announcements"
Holding down arrow keys to move the leg/arm queues up multiple messages that all repeat the same position value. For example,

1. Start the leg at position 30. Hold down the left key until position 0.
2. You will hear ~29 messages (one for each position between 0 and 30) BUT each message will say "Position 0.....".
3. I never hear any electron updates while doing this with the leg (not sure about

[2017-04-14 22:29] jessegreenberg commented on #227
Thanks @phet-steele, there is a chance that this was fixed by #210, I will check.

[2017-04-15 02:09] samreid commented on #75
Since vibe is closed and the sim passed QA, this issue can be closed.

[2017-04-15 02:09] #75 closed

[2017-04-15 02:49] terracoda commented on #222
@jessegreenberg, yes! Thanks for being so sharp with understanding the pseudo-logic. The strategy with the progress markers (and landmarks) is to reduce repetition and provide orientation. Since regions further away from the doorknob have more slider values than the ones closer to the doorknob, the landmarks and the "Still" progress marker should be helpful to indicate where the student is, and th

[2017-04-16 08:25] jessegreenberg commented on #222
Excellent, thanks for clarifying @terracoda! Sounds good.

I am not sure what it should be, in the last version, "closest to the doorknob" had one value, but I have changed it to 3 with "at doorknob" as you have it above.

[2017-04-16 22:28] jessegreenberg commented on #222
@terracoda @emily-phet @phet-steele here is a version with these changes and description strategy:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.22/john-travoltage_en.html

We could change the region ranges a bit if you think they don't quite fit.

What do people think?

[2017-04-17 01:13] emily-phet commented on #222
@jessegreenberg Could you make a version with the visualized pdom?I have a really hard time tracking details in description with auditory info alone.

[2017-04-17 01:18] terracoda commented on #222
@jessegreenberg, ok awesome! Here's some immediate feedback:
1. Replace all instances of "further" with "farther". These words basically mean the same thing, but historically "further" was used for figurative distance such as, we need to discuss this idea further. "Farther" is for physical distance. Now-a-days, I think the terms are interchangeable, but we only need to use one.
2. Now seeing where

[2017-04-17 02:10] terracoda opened #228 "Does the Keyboard Shortcuts Dialog need a very brief Screen Reader Section?"
@jessegreenberg, @phet-steele, @emily-phet, FYI, I was having a lot of trouble getting the arrow keys to work with Safari and VO. But I just figured out that on my machine I have to press Command-Arrow key to operate the sliders. I have a feeling this is a VO setting that I have changed, but I am not sure. Option-Command-Arrow key also seems to work to move the sliders.

**Question:** What key pre

[2017-04-17 02:14] terracoda commented on #228
@jobara and @jhung, what is your experience with the slider interaction? And how has slider interaction worked for screen reader users you have interviewed?

[2017-04-17 02:23] terracoda opened #229 "HTML strong tags visible in Keyboard Shortcuts Dialog"
Not sure why the code of the`<strong>` elements are visible in keyboard shortcuts dialog. Perhaps it is due to the `aria role document`? Strangely, code of other elements is not showing up.

Screen shot on Mac OSX Sierra 10.12.3 with Safari 10.0.3
<img width="780" alt="screen shot 2017-04-17 at 07 45 27" src="https://cloud.githubusercontent.com/assets/1902116/25076869/71b05698-2342-11e7-9b1a-e20e6

[2017-04-17 02:30] terracoda commented on #229
@jessegreenberg, if the `<b>` actually works, just use it instead. The same thing happens in Firefox Chrome.

[2017-04-17 02:49] terracoda commented on #223
@jessegreenberg and @jobara, other browser feedback is more clear, so yes a text label is confusing because the screen reader is trying to accomplish this on its own.

Alerts are working for me :-)

[2017-04-17 03:05] jessegreenberg commented on #223
Great! Thanks @terracoda, closing this issue.

[2017-04-17 03:05] #223 closed

[2017-04-17 03:12] jessegreenberg commented on #229
Thanks for catching @terracoda.  I would expect ```<b>``` to have this behavior now too, this is likely caused by a change to HTMLText.

[2017-04-17 03:17] jessegreenberg commented on #222
Sounds good @terracoda!  No, no ```aria-describedby```, just ```aria-valuetext```.  Did you notice repetition in dev.20 or is this a new bug?

[2017-04-17 04:39] jessegreenberg commented on #222
That would be difficult for now, the description content is inline on the input elements and the PDOM visualization won't pick them up.  That is an improvement we can make to the PDOM visualization soon.

For now I added "valueText" query parameter to see the value text in the sim, I will deploy a version after making the changes in https://github.com/phetsims/john-travoltage/issues/222#issuecomme

[2017-04-17 05:12] terracoda commented on #229
@jessegreenberg, it would be nice to have bold/strong text for visual users, but I think if need be you can de-priortize this issue and just remove the html mark-up until it can be fixed in Scenery.

[2017-04-17 05:22] terracoda commented on #222
@jessegreenberg, sorry I noticed repetition in Version 22, the one you posted in https://github.com/phetsims/john-travoltage/issues/222#issuecomment-294377972.

Before that my testing on the sliders was pretty useless due to my lack of understanding how they worked with VO (see issue #228).

[2017-04-17 05:43] terracoda commented on #222
@jessegreenberg and @emily-phet , I can provide an adjusted version of the regions with the doorknob as a single position.

I actually think that the "upper door frame" and "lower door frame" landmarks could actually be small regions, but I would really like @jhung's  opinion on that. The "Close to doorknob" region seems kind of far off to be "close".

[2017-04-17 07:24] terracoda commented on #222
All descriptions except the landmarks are relative, so it's just about how relative one wants to get (regarding last comment https://github.com/phetsims/john-travoltage/issues/222#issuecomment-294409272).

[2017-04-17 14:39] terracoda commented on #222
The design works nicely, actually, with the landmarks as part of regions.

@jessegreenberg, @emily-phet, and @phet-steele  I'm not exactly sure which value points for the landmarks on the slider should be. There is leeway, of course.

Since this sim actually needs to have refinement for experimentation near the doorknob what do you think of making the regions closer to the doorknob a little smalle

[2017-04-17 15:50] emily-phet commented on #222
@jessegreenberg @terracoda Perhaps it would be best to have a quick meeting today about where the sim is at now, and final adjustments before RC testing. I'll send an email about this.

[2017-04-17 18:31] pixelzoom commented on #44
Since this is so ancient, and no one else sees the problem... Closing.

[2017-04-17 18:31] #44 closed

[2017-04-17 20:38] jessegreenberg commented on #229
Ok thanks @terracoda - this is only an issue in the built version so I would like to investigate.

[2017-04-17 20:43] jessegreenberg commented on #229
This is no longer an issue for requirejs or built versions - honestly no idea why:

![capture](https://cloud.githubusercontent.com/assets/6396244/25104060/241baf06-237c-11e7-9c80-d95b4d5df88b.PNG)

Closing.

[2017-04-17 20:43] #229 closed

[2017-04-17 23:22] jessegreenberg commented on #222
Sounds good to me @terracoda.

I reproduced this on MacOS 10.12 Safari.

[2017-04-17 23:53] jessegreenberg commented on #222
After a refresh, I only hear the value text once. Weird.

[2017-04-17 23:58] jessegreenberg commented on #228
@terracoda it seems that when VoiceOver is on, slider interaction works like this:

- Press "Control + option + shift + down arrow" to enter slider
- Once in slider press left/right arrow keys to change slider values.
- tab away or press "control + option + shift+ up arrow" to leave it

Only the left or right arrow keys work when VO is on, which is actually OK, those are the only arrow keys listed

[2017-04-18 00:14] jessegreenberg commented on #222
@emily-phet noticed that VO doesn't read the negative value in the value text.

[2017-04-18 00:14] jessegreenberg commented on #222
I can see it in the VoiceOver readout, but VO doesn't say it.

[2017-04-18 00:32] jessegreenberg commented on #222
Very weird:  If a negative number comes after the word "Position", VO will not read the 'minus' sign if it is negative.  If following most other words, VO reads as 'minus 9' for "-9".  @emily-phet @terracoda, how should we handle this?

Here is an example  outside of teh sim.  In the paragraph VO, reads "Position: 10, will VO read the negative?"
Fro a paragraph that looks like "Position -10: Will

[2017-04-18 00:37] jessegreenberg commented on #222
Actually, VO seems to skip the '-' for most words?

[2017-04-18 00:40] jessegreenberg commented on #222
Even "-10: Will VO read the negative value?" is read as "10: Will VO read the negative value?"

[2017-04-18 00:44] jessegreenberg commented on #222
VoiceOver settings strike again - there is a setting for reading punctuation and by default it is set to "some".  Changing to "All" and VO reads minus signs as "dash".

[2017-04-18 00:55] jessegreenberg commented on #222
@terracoda  @emily-phet I can't think of anything else to do here, VO skips all punctuation in aria-valuetext as a feature.

How should we continue?

- Accept it and move on - presumably VO users are used to this for negative values?
- use alerts to provide this information (could break charge alerts if alerts are being read as user interacts with slider)
- Go back to [0, 60] and [0, 30] appendage

[2017-04-18 00:55] emily-phet commented on #222
@jessegreenberg I did a google search around the VO/negative number issue and it seems like using the [Unicode character](http://www.fileformat.info/info/unicode/char/2212/index.htm) for minus sign addresses this issue with VO. Not sure if this works for the other screen readers. Wish we could add a +1 to the list of people probably wishing VoiceOver would just handle dashes before numbers simply.

[2017-04-18 00:57] jessegreenberg commented on #222
Ah, great, thanks @emily-phet! I will give it a try.

[2017-04-18 01:03] jessegreenberg commented on #222
Thanks @emily-phet that works really well, VO reads "minus sign [value]".

[2017-04-18 02:42] jessegreenberg commented on #222
@terracoda just to clarify, we are removing the "lower doorframe" landmark?

[2017-04-18 03:09] jessegreenberg commented on #222
@terracoda do you mean 6?  It looks like in your walkthrough range -15-(-20) doesn't include intermediate progress.

[2017-04-18 05:41] emily-phet commented on #222
@jessegreenberg After thinking about this for awhile, I think we may be overcomplicating things. I took @jhung original clock structure (60 ticks around the circle) and shortened it to 15. (-7 to 7, including 0). Here's an image of the this, with region and/or landmark descriptions.
![slide2](https://cloud.githubusercontent.com/assets/5109055/25115963/ef6d88d8-23c6-11e7-9d05-d9263153f3ec.jpg)
Note

[2017-04-18 05:51] emily-phet commented on #222
Note on reasoning for this design:
- Decreasing the number of slider values gives a larger contrast in behavior for students to explore, students will encounter the most easy-to-understand landmarks (e.g., pointing straight up, pointing straight down) more quickly, and more often. I think this will go a long way toward orienting students that they are essentially navigating a circle. Additionally,

[2017-04-18 05:52] emily-phet commented on #222
@jessegreenberg Can you implement this variation? I'm sorry to spring this on you last minute, but I'd really like to give a simpler arm interaction a shot and see if it's workable.

[2017-04-18 06:19] emily-phet commented on #222
Here's an updated leg interaction, also with [-7 to 7] range. Image includes labels, and new landmarks for either extreme end of slider. Note: when foot movig back behind John, the foot does not collect charges once the back of the shoe passes the outer plane of John's leg...so once the back of John's foot moves behind John's leg at all, descriptions should change to "Foot off rug".

![slide5](htt

[2017-04-18 10:28] terracoda commented on #222
@emily-phet, the foot is a half-circle, while the arm is a full circle. Do you think this should be reflected in the number of values on the sliders?

[2017-04-18 10:31] terracoda commented on #222
@emily-phet, yes a unicode character makes total sense!

[2017-04-18 17:57] jessegreenberg commented on #222
Sounds good @emily-phet, that is much more simple.  If each region is essentially only one value, it seems like we should treat each region as a "landmark", and that would get that description every time we land on a value.

If each region has its own value, I can't figure out when to read off a "progress" indicator.  It makes sense when relating to zero, but in the above walkthrough why do positi

[2017-04-18 21:08] jbphet commented on #92
Notes from 4/18/2017 discussion with @emily-phet:

+ Add a sound for reset - this is a potentially reusable sound for all sims, and it is the only sonification the user should hear when they press the reset button, and all the other sounds that may result from a reset of the model are suppressed.
+ The carpet rubbing sounds (both forward and backward) should be a bit gentler.  Maybe try running th

[2017-04-18 21:24] jessegreenberg commented on #222
@emily-phet @terracoda a few language questions:

* rug or carpet?
* pointed or pointing?

[2017-04-18 23:18] jessegreenberg commented on #222
@emily-phet @terracoda @zepumph here is an initial version with the landmarks and smaller ranges of motion for for the arm/leg.  This does not include any other changes but should give us an intial sense.

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.26/john-travoltage_en.html

The only problem I see is the lack of motion control (which was brought up in today's meeting)

[2017-04-18 23:55] jessegreenberg commented on #225
Hmm, apparently that isn't the problem.  When I delete the list items, so teh menu is just links and buttons,  the problem is still there.

[2017-04-19 00:00] zepumph commented on #222
It looks really cool @jessegreenberg!!! Thanks for doing that. I agree. It could be nice if there was just  -1, -.5, 0, .5, 1 and then back to normal. Not sure how we do that, but alas!

[2017-04-19 00:07] jessegreenberg commented on #225
I will be comparing against this example: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-1/menu-button-1.html

Which does not exhibit the problem.

[2017-04-19 00:07] jessegreenberg commented on #225
Our LI's have child buttons and links, which are receiving focus. Is that the issue?

[2017-04-19 04:20] emily-phet commented on #222
@jessegreenberg @terracoda I think the leg is perfect! Much "peppier" feel to it.

Now for the arm...bummer. I think the jump sizes around the doorknob at this resolution are a deal breaker. If there's no magic fix to allow for different step sizes in the slider (which it sounded like there wasn't) I think we have to split the difference - I think 31 positions (-15, 15) including 0 - is the winner

[2017-04-19 05:23] terracoda commented on #222
@emily-phet, @jessegreenberg, just catching up ad getting to this now. I haven't listened, but I do like the idea of -15 to 15. I will review now and post in asap - an hour or so.

[2017-04-19 05:27] jessegreenberg commented on #222
It is actually quite easy to do this.  @terracoda what do you think of going down this route?

[2017-04-19 05:55] terracoda commented on #222
@jessegreenberg, just listening now. The foot sounds really good.

The arm is upside down in the latest version. I assume that is due to quick implementation :-) I get what it is supposed to do though. Just listening a bit more.

I agree that there is not enough refined exploration ability with a range from (-7 to +7).

I think having regions with more than one value is good. The description conta

[2017-04-19 06:04] jessegreenberg commented on #222
Indeed :)

Ok, sounds good, I agree.  Specifically, what do you think of having a slider with values that look something like

-7, -6, -5, -4, -3, -2, -1, -0.5, 0, 0.5, 1, 2, 3, 4, 5, 6, 7

[2017-04-19 06:04] terracoda commented on #222
@jessegreenberg, by "this route" https://github.com/phetsims/john-travoltage/issues/222#issuecomment-295100043, do you mean half-step values?

I like the idea of smaller steps, but it would be nice if the user was controlling the pace.

So, half-steps would be nice, but not sure how that sounds with a screen reader. We still need to have region names and progress indicators right. Half-values woul

[2017-04-19 06:06] terracoda commented on #222
@jessegreenberg, so that would be like having 17 positions, right?

[2017-04-19 06:07] jessegreenberg commented on #222
@terracoda, yes exactly, but the user would be able to quickly move through -7 through -1 and 1 through 7 while having finer control around the doorknob.

[2017-04-19 06:14] terracoda commented on #222
@jessegreenberg, so the half-values would avoid confusion, i.e., still be inline with the slider as having even distance between values. What if regular steps were more than 1 then close to the door knob, just one? That would avoid having positions read out as "Position minus decimal 5. Just above doorknob." or something similar.

[2017-04-19 06:17] terracoda commented on #222
@jessegreenberg, @emily-phet as we iterate, I keep thinking back to the Shift key as a modifier key to take smaller steps. Maybe we can re-think this later with @jhung. He had reason's for dropping this idea.

[2017-04-19 06:19] terracoda commented on #222
@jessegreenberg, just going to work though the 17 positions versus 30 now, and get back asap.

[2017-04-19 06:20] jessegreenberg commented on #222
Sounds good @terracoda, and I also think that your suggestion in https://github.com/phetsims/john-travoltage/issues/222#issuecomment-295114230 is a great idea too.

[2017-04-19 06:22] terracoda commented on #222
@jessegreenberg, ok, cool. I'll see what I can come up with here as quickly as possible :-)

[2017-04-19 06:35] terracoda commented on #222
@jessegreenberg, and @emily-phet, I prefer "rug" as it is fewer syllables, but the main thing is that the same word is used everywhere.

[2017-04-19 07:36] terracoda commented on #222
@jessegreenberg and @emily-phet

My understanding is that the region names form the summary descriptions used in the discharge descriptions.

The landmarks I added, have only relevance during interaction to help with orientation. Thus, landmarks need to be part of an actual region. The wording of the landmarks themselves likely do not make sense as part of discharge summaries (though I have not ch

[2017-04-19 11:03] terracoda commented on #222
Okay, sorry for the delay. Here are two possible reduced set of ranges:

**Scenario 1: 31 Slider Values, with 15 Unique Region Names**
New ranges based on phrases from the 61 values scenario. Note that I left out "Extremely far from doorknob." based on @emily-phet's concerns.

- -15, "Farthest from doorknob. Last stop. "
- -12 to -14, "Very far from doorknob." MIGHT have the helpful landmark, "Han

[2017-04-19 12:25] terracoda commented on #222
**Scenario 2 Walk-through using 17 positions**

Default start position at -2 "Close to doorknob." _(Use Region name only upon focus.)_
- Counter-clockwise: “Position -3. Farther away, not so close to doorknob." _(Direction and region name.)_
- Counter-clockwise: “Position -4. Hand pointing straight up." _(Main landmark and region silent.)_
- Counter-clockwise: “Position -5. Farther away, still not

[2017-04-19 12:29] terracoda commented on #222
@emily-phet , working on other walk-though now. Sorry, these things take longer one thinks :-).

[2017-04-19 12:55] emily-phet commented on #222
@jessegreenberg @terracoda @zepumph Just a thought...for the 17 position circle idea... what if the total range of motion for John's arm was decreased slightly, so that his arm only traveled about 330 degrees around?  (there would be a small gap pointing away from doorknob that couldn't be reached). This would further decrease the distance between the 17 positions, and I think still allow the same

[2017-04-19 14:30] terracoda commented on #228
The arm and foot sliders are working better for me now that I use the VO keys to enter the slider and then use the arrow keys :-)

[2017-04-19 16:02] jessegreenberg commented on #228
Excellent!  @terracoda do you still think we need this content in the about dialog?

[2017-04-19 16:15] terracoda commented on #222
**Scenario 1: 31 positions with 15 regions**
Walk-though with progress, landmarks and regions.

 - Tab key: "Hand Position, slider."
 - Default position: "Position -5. Close to doorknob." _(Region only on focus.)_

 - Counter-clockwise, "Position -6. Farther away from doorknob." _(Directional indication, region silent)_
   - Counter-clockwise, "Position -7. Not so close to doorknob." (Region)
   -

[2017-04-19 16:16] terracoda commented on #222
@emily-phet that's an interesting idea of reducing the circle a little bit.

[2017-04-19 16:26] jessegreenberg commented on #222
Thanks for these walkthroughs @terracoda this is great.  So after putting them together do you have a preference?

I really like the 31 values option.  I think it avoids confusion that could come from changing step size, and the description text will make it feel very interactive - so even though there are more positions away from the doorknob, I don't think they will feel redundant.

Would the mo

[2017-04-19 17:33] terracoda commented on #228
@jessegreenberg, I think we can wait and see. It's possible someone who really knows how to use VoiceOver would not have the trouble I had.

[2017-04-19 17:44] terracoda commented on #222
@jessegreenberg and @emily-phet, I personally like the 31 positions one better as well. I think it is more inline with @jonhung's original work, with just added landmarks and progress indicators.

@emily-phet, what is your rationale of shrinking the arm movement to 330 degrees? Just to reduce the number of values or to rotate the circle a little more both?

[2017-04-19 17:49] emily-phet commented on #222
@terracoda @jessegreenberg I agree, I like the 31 positions option. Let's go with that, and not worry about decreasing the circle range. My thought there was to further decrease the jumps if we went with the 17 positions option, but that doesn't seem needed now.

[2017-04-19 17:55] emily-phet commented on #222
If @jessegreenberg can get out a 31 position version of JT, that would help finalize the descriptions. I'm having a hard time imagining, for example, which location is straight up or at doorknob, so I'm struggling a bit to give feedback on @terracoda descriptions.

[2017-04-19 17:59] jessegreenberg commented on #222
Sure, will have a new version here in a moment that goes through the 31 positions, but I will leave out the descriptions until they are finalized.

[2017-04-19 18:24] jessegreenberg commented on #222
@emily-phet here is a version with this range:

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.28/john-travoltage_en.html?valueText

[2017-04-19 19:32] jessegreenberg commented on #225
When I make the list items focusable (instead of the child items) JAWS handles focus correctly.  We can change Scenery/AccessiblePeer to handle focus such the focus style is correct when parent container elements receive focus.

[2017-04-19 19:57] jessegreenberg commented on #225
Works, but JAWS does not read any of the label content for the links in the menu.

[2017-04-19 23:12] jessegreenberg commented on #225
Ah, figured it out - the ```none``` role is critical for the list items in the menu in order for JAWS to manage focus correctly.

That is absolutely ridiculous.

[2017-04-19 23:13] jessegreenberg commented on #225
Example here: https://www.w3.org/TR/wai-aria-practices-1.1/examples/menu-button/menu-button-2/menu-button-2.html#

Explanation from the W3C:

If native role semantics of the li element are not removed, it could confuse some users of assistive technologies since listitems and menuitems would be interspersed with each other.

[2017-04-19 23:27] jessegreenberg commented on #225
Focus in the menu is working great with JAWS after the above commits.  Closing.

[2017-04-19 23:27] #225 closed

[2017-04-19 23:30] jessegreenberg commented on #224
Thanks @terracoda, yes the button had a label before just like your example, JAWS just didn't want to work when it had the aria-pressed attribute :(

We changed to a ```button```, and I have tried it with JAWS on two different machines now and it works.  Closing.

[2017-04-19 23:30] #224 closed

[2017-04-19 23:32] jessegreenberg commented on #220
Closing, I have tried on Edge and IE on a few machines, focus as expected in full screen mode.

[2017-04-19 23:32] #220 closed

[2017-04-19 23:33] jessegreenberg commented on #217
@terracoda @emily-phet do you like how the focus highlight looks on the two navigation bar buttons in this version?

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.28/john-travoltage_en.html

[2017-04-19 23:48] jessegreenberg commented on #213
@terracoda is the keyboard navigation correct in this version?
 http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.29/john-travoltage_en.html

[2017-04-19 23:51] jessegreenberg commented on #212
@terracoda the focus is consistent in http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.29/john-travoltage_en.html in Safari with VO now when i test, but can you please verify?

[2017-04-19 23:53] jessegreenberg commented on #210
Updates are coming through again consistently, closing.

[2017-04-19 23:53] #210 closed

[2017-04-20 00:05] jessegreenberg commented on #227
From #210 electron updates come through once it finishes, but point 2 above is still happening. Time for a JSFiddle.

[2017-04-20 00:12] emily-phet commented on #217
@jessegreenberg I think this looks great!

[2017-04-20 00:17] jessegreenberg commented on #227
As far as I can tell, this is a JAWS bug for all sliders.  JAWS is doing the same thing with this example:
https://jsfiddle.net/1j1y3s8p/

And if you remove the aria value text attribute (https://jsfiddle.net/1j1y3s8p/1/) JAWS is doing this when reading out the value. I will do some google searching.

[2017-04-20 00:33] jessegreenberg commented on #227
@emily-phet do you think we should spend more time on this bug? Perhaps submit a report to Freedom Scientific and/or run it by friends at the IDRC?

[2017-04-20 00:34] jessegreenberg commented on #217
Ok, thanks!  Closing.

[2017-04-20 00:34] #217 closed

[2017-04-20 00:42] emily-phet commented on #227
@jessegreenberg Ashley is a good go-to person for JAWS. Let's ask her to take a look at a version of John Travoltage, and move the objects by stepping through individually and by holding down the arrow keys and see if she thinks the behavior seems unexpected. I think we would all agree the behavior is less than ideal, but if it's a JAWS bug the behavior may not be surprising. My guess is that it w

[2017-04-20 01:28] terracoda commented on #212
@jessegreenberg, this is working much better.

However, pressing the Right and Left Arrow keys should "do nothing." This seems to be true for the Left Arrow, but when I press the Right Arrow something seems to happen...

- With VO off, I lose visual focus when pressing the Right Arrow key. The menu stays open, however. I have to tab away and re-open the window to find visual focus again.
- With VO

[2017-04-20 18:11] jessegreenberg commented on #212
Thanks @terracoda I hadn't noticed that I will take a look at the left/right arrow key issues.

For the mouse hover style, I will take a look and see how difficult it would be to include with focus.

[2017-04-21 03:48] terracoda commented on #222
@jessegreenberg, here's the checklist I discussed with @emily-phet
- [x] @terracoda to match descriptions to the new 31 value circles
    - See bold text in comment https://github.com/phetsims/john-travoltage/issues/222#issuecomment-295219467
- [ ] Using visual PDOM, @terracoda will list out any updated description changes for the summary descriptions.
    - @terracoda is using this version of the

[2017-04-21 05:04] terracoda commented on #222
@jessegreenberg, only see one paragraph in the PDOM that would contain the hand slider descriptions.

Once electrons are on body, the phrase containing the electron count is pre-pended to paragraph. The alert for a discharge does not seem to contain the hand position descriptions.

**Here are three examples**

[2017-04-21 05:07] terracoda commented on #222
oops, here are the three examples from [JT Visual PDOM version 17](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.17/john-travoltage-a11y-view.html)

- _Summary before electrons are on body_
  - John's hand is **close to the doorknob**, and he is ready to swing his leg to rub his foot on the rug.

- _Summary after electrons are on body_
  - John has **5** charges on his bo

[2017-04-21 06:02] terracoda commented on #222
@jessegreenberg, minimum corrections needed to base templates for above TEMPLATE phrases:
- [ ] Need space after period in example 2.
- [ ] Need period at end of example 3.

**All the new hand slider position descriptions sound fine**
Here are the new descriptions within the actual phrase, and all the ranges for reference:
  - _Values -8 to -6:_ John's hand is **not so close to doorknob**, and he

[2017-04-21 11:48] terracoda commented on #222
@jessegreenberg, I've downloaded the sim, and am looking to see if I can make any simple text changes for you in the A11yStrings file. Don't worry, I've created a branch for snooping around, and will fetch and pull before I push any potential commits.

[2017-04-21 12:11] terracoda commented on #222
@jessegreenberg, I see that I didn't post the landmarks clearly. I've just made this change in the A11yStringd file. I've updated the strings and adjusted capitalization and punctuation.
[code]

[2017-04-21 12:32] terracoda commented on #222
@jessegreenberg created pull request A11y string updates #230. Heading home now and will be off line for a bit.

[2017-04-21 13:59] emily-phet commented on #222
Regarding https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296083476 and use of landmarks in summary description - I don't think the addition of landmarks is necessary.

[2017-04-21 14:08] terracoda commented on #222
@emily-phet, thanks for your quick reply! I have updated the comment https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296083476 to reflect this decision.

[2017-04-21 15:36] terracoda commented on #222
@jessegreenberg, regarding Discharge Alert in  https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296067662

Do you have any idea why "Electrons on body: " is at the start of the discharge alert? Is that a typo?

[2017-04-21 15:46] terracoda opened #231 "Questions about discharge alert in JohnTravoltageA11yStrings.js"
@jessegreenberg or @jhung,  regarding Discharge Alert in  https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296067662

Do you have any idea why "Electrons on body: " is at the start of the discharge alert? Is that a typo? There is no parameter after the colon to for a value for the number of electrons, so I'm wondering it is a mistake.

[2017-04-21 15:50] emily-phet commented on #222
@terracoda - I think the "Electrons on body" may be to indicate what is being updated. Discharge has to with electrons here.

[2017-04-21 16:21] terracoda commented on #222
@emily-phet, oh, I think you are correct, now that you mention it.
"Electrons on body", however; could be incorporated into the actual sentence, rather than prefacing the phrase like a label. Like this:
- "Discharge occurred. Electrons on body decreased from 24 to 0."

If the sound is muted, you could even add the "Gazouch!":
- "Gazouch! Discharge occurred. Electrons on body decreased from 24 to 0

[2017-04-21 16:48] jessegreenberg commented on #231
Perhaps for consistency?  Usually the alerts sound like

"Electrons on body: 5"

So maybe the initial notification of "Electrons on body" is an indication that the alert has to do with changing number of electrons.  But I don't know for certain.  Since this is a design question, removing assignment.

[2017-04-21 16:58] jessegreenberg commented on #231
In #231 @terracoda said:

If the sound is muted, you could even add the "Gazouch!":

[2017-04-21 17:47] jessegreenberg commented on #222
@terracoda @emily-phet are we ready to implement the changes in https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296083476 or does more need to be reviewed?

[2017-04-21 17:50] jessegreenberg commented on #222
VO has a user setting for reading numbers, could you try that first?  I don't think we should go down the path of feeding VO numbers, ideally we just provide content and VO should handle the rest.

[2017-04-21 17:58] emily-phet commented on #222
@jessegreenberg The list of summary description changes looks good to me. Go ahead and implement!

[2017-04-21 19:39] jessegreenberg commented on #222
Sounds good @emily-phet I will proceed with these ranges: https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296083476

And this logic: https://github.com/phetsims/john-travoltage/issues/222#issuecomment-295328676 for the walkthrough.

[2017-04-22 01:05] terracoda commented on #222
@jessegreenberg, I thought the logic was missing the "helpful landmarks", but they are there. In my meeting with @emily-phet Apr 21, she agreed to keep the "helpful landmarks" and include the region name.

**Here's the logic with questions/suggestions removed.**
-  Use directional cues, but keep region name if in single-value region.
-  Use progress indicator on last value in region.
-  Add suppor

[2017-04-22 01:16] terracoda commented on #222
@jessegreenberg, just going to do a new walk-through with value ranges in [version 28](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.28/john-travoltage_en.html?valueText).

[2017-04-22 01:24] jessegreenberg commented on #222
Thanks @terracoda! :)

[2017-04-22 01:30] terracoda commented on #231
@emily-phet, sorry I responded to your comment in the wrong issue. Do you have any thoughts on the above change? Implementing the change (without the Gazouch) requires no logic, so we could wait for @jhung's return.

[2017-04-22 02:52] terracoda commented on #222
**Re-Checking Scenario 1: Using Ranges in Version 28**

**Clarified Logic**
 - Use region only on focus. I think on focus the position gets read our along with the label text.
 - Use region only on first value in multi-value region.
   - Also use region name only on first repeat, except when the first repeat has a helpful landmark.
 - Always use directional cues when direction changes, but keep re

[2017-04-22 02:56] terracoda commented on #222
@jessegreenberg, I won't post anything else until we have new version :-)

[2017-04-22 10:16] terracoda commented on #228
@jessegreenberg, thanks for the instructions. When I do as VO says to enter slider, the arrow keys work fine. My problem was that I kept holding the VO keys.

Closing this issue.

[2017-04-22 10:16] #228 closed

[2017-04-22 10:19] terracoda commented on #228
Sorry, I did not answer the question. We may need more, but we can wait and see, especially if I was the only one having a problem.

[2017-04-22 12:26] terracoda commented on #213
@jessegreenberg, here's a summary
**What's working:**
- Up and down Arrow keys are working properly, cycling through the menu items.
- Left Arrow key does nothing as it should. Keyboard focus stays on menu item. This is correct behaviour. VO reads out a long number, but that seems to be a VO idiosyncrasy.
- The semantics of a menu and menu item are read out, things like "You are on a menu item."
-

[2017-04-23 02:17] terracoda commented on #222
@jessegreenberg, I added the string for the directional indicator on very close to doorknob, and created a pull request https://github.com/phetsims/john-travoltage/pull/232.

[2017-04-24 13:30] jhung commented on #231
@jessegreenberg @terracoda "Discharge occurred. Electrons on body decreased from 24 to 0." works for me as a notification when a discharge occurred.

Originally it was done that way for 1. consistency, 2. it was the best compromise at the time due to the way we were handling strings.

[2017-04-24 14:42] terracoda commented on #231
@jhung, glad this change works for you, and very glad you are back!

[2017-04-24 16:36] jessegreenberg commented on #231
@terracoda change is in master, are we ready to close?

[2017-04-24 16:37] jessegreenberg commented on #227
@emily-phet that sounds great, marking as ready for review. If Ashley doesn't find an issue with this we will mark as "wontfix" and follow up with an issue to VFO.

[2017-04-24 21:30] jessegreenberg commented on #222
@terracoda what should happen when direction changes over a landmark?  Should it be treated like a single value region? So should we hear something like

"Towards doorknob, hand pointing straight up."
?

[2017-04-24 21:35] jessegreenberg commented on #212
This is now a duplicate of #213, moving recommendation of focus highlight to #213 and closing this issue.

[2017-04-24 21:35] #212 closed

[2017-04-24 21:36] jessegreenberg commented on #213
In #213 @terracoda also said

[2017-04-24 22:08] jessegreenberg commented on #222
From the logic in https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296342251 wouldn't it be

?

[2017-04-24 22:26] jessegreenberg commented on #222
And with the logic in the latest walkthrough, instead of

Wouldnt it be

because it is at the last value in the "close to doorknob" region?

[2017-04-24 23:29] jessegreenberg commented on #222
@terracoda should anything about the descriptions change when focus leaves the appendage?  are progress indicators still relevant in that case?

[2017-04-25 01:47] terracoda commented on #231
Yes, @jessegreenberg. Closing issue.

[2017-04-25 01:47] #231 closed

[2017-04-25 02:26] terracoda commented on #222
@jessegreenberg, re https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296827961 I like your idea of treating landmarks like a single-value region on a directional change! Please do that!

And re https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296839736, good catch.
 Yes "Position -5. Farther away from doorknob." is a mistake. Regardless, as you suggest, using

[2017-04-25 02:29] terracoda commented on #213
@jessegreenberg, thanks for bringing #212 and #213 together.

[2017-04-25 03:43] terracoda commented on #222
@jessegreenberg, re https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296849747, I do not understand the question?

Do you mean, when someone moves focus off the appendage and then comes back to it? If so, ideally in that case, upon focus, the user just hears where they are at, i.e., the name of the region (i.e., no directional indicator when the appendage is re-focused). However

[2017-04-25 03:47] terracoda commented on #222
Honestly, I wonder if the logic would be simpler, if the main straight-up landmark was on -9 and the helpful upper-door-frame landmark was on -4. If that creates fewer exceptions, and the visual mapping is still inline, I would be happy to adjust the landmarks.

I don't want to create more work, or slow things down.

[2017-04-25 12:26] terracoda commented on #222
Oh, this arm! The places it goes!

Actually, if the -4 value has the helpful upper-door-frame landmark, instead of value -5, it puts the helpful landmark in the middle of the region which fits better with the logic. Then, the negative -8 value (upper main landmark) is the only landmark on the edge of a region, which is nice.

@jhung and @emily-phet, how do you feel about hearing the helpful landma

[2017-04-25 12:31] terracoda commented on #222
And, upon closer evaluation it looks like we have a lot of built-in direction, maybe the directional indicators "Towards doorknob" and "Away from doorknob", are only needed in very few cases.

For example, direction is built-in for the following cases:
- last value in region - closer and farther away are built-in
- helpful landmarks values -4, 4, -13, and 13 - have the words "upper", "lower", and

[2017-04-25 12:32] terracoda commented on #222
@emily-phet and @jhung how do those examples sound?

@jessegreenberg, hopefully, these examples help with the progress logic.

[2017-04-25 13:07] jhung commented on #222
@terracoda That's really good. It sounds a lot more natural and has all the critical info.

What do you think about the negative side being above the doorknob, and position below? For a non-sighted user it makes sense (you start smaller and work upward), but for a sighted user it makes less sense. Maybe it's a quirk that's acceptable?

[2017-04-25 14:14] terracoda commented on #222
@jonhung, yes, negative numbers are above the doorknob :-) @emily-phet suggested that, but maybe you had it that way in earlier designs?

- "Position -8. Hand pointing straight up."
- "Position 7. Hand pointing straight down."

[2017-04-25 16:03] emily-phet commented on #226
@jessegreenberg If this is a JAWS + IE bug, and it seems to only impact this dialog, I think we should make note of this going forward (in case other situations like this arise), let JAWS know, and not try to find a workaround for now.

[2017-04-25 16:36] jessegreenberg commented on #226
The impact of this bug is that in the About Dialog and the Updates dialog, the user will hear

"Checking for updates"
"Simulation is up to date"
"Update available, your version is..."
"Get updates, button"
"No thanks, button"
"Unable to check for updates."
"Close button"

Event though the only thing that is visible is "Simulation is up to date." and "Close button".

@emily-phet I just want to make

[2017-04-25 17:13] emily-phet commented on #226
@jessegreenberg If this will likely take more than an hour or so to find a workaround, I think we need ask JAWS to address this, and continue with publishing John Travoltage with this issue. Once we hear back from JAWS about their interest/timeline for addressing this issue, we can discuss again.

[2017-04-25 17:17] jessegreenberg commented on #226
Ok, thanks @emily-phet!

[2017-04-25 17:43] jessegreenberg commented on #222
@terracoda in https://github.com/phetsims/john-travoltage/issues/222#issuecomment-296890495 I think my question was for cases like this: say the user tabs to the arm while it is straight down and then moves it away, they would hear:

 "Position 7. Hand pointing straight down."
 "Position 8. Farther away, still not so close to doorknob." (Last value in region, direction built-in)

They would hear "

[2017-04-25 17:54] terracoda commented on #222
@jessegreenberg, good catch! And good question.

[2017-04-25 18:22] jessegreenberg commented on #222
4/25/17 meeting thoughts:

- The progress indicators can be removed.

[2017-04-25 19:27] jessegreenberg commented on #227
Marking as wontfix since we are letting this go as a screen reader bug.

[2017-04-25 19:38] jobara commented on #226
@jessegreenberg it seems that aria-describedby and aria-labelledby will still use the content of a hidden element. https://www.paciellogroup.com/blog/2015/05/short-note-on-aria-labelledby-and-aria-describedby/

[2017-04-25 21:17] jessegreenberg commented on #226
That is really good to know, thanks @jobara!  In that case this is a feature, not a bug, and JAWS is the one that follows specification.  NVDA and VO are buggy for dynamic aria-describedby content with the hidden attribute.  I think that means the current implementation is wrong and needs to be fixed to follow specification.

http://rawgit.com/w3c/aria/master/accname-aam/accname-aam.html#details-i

[2017-04-26 12:42] terracoda commented on #222
@jessegreenberg, don't think we need direction on single-value regions with one exception. Will post examples as soon as I get home. Need to review for errors one more time:

**Change of direction:**
- Using directional indicators for direction changes, user immediately knows if they are going in the intended direction, and can adjust use of keys accordingly, when they get this feedback.
  - "Towa

[2017-04-26 14:39] terracoda commented on #222
**Example 1: Small walk-through from initial position with helpful landmark**
User gets a small amount of charge on John's body by rubbing the foot a few times, and then moves attention to the Hand position, slider.

- "Electrons on body: 11."
- Focus: "Hand position, slider."
- Initial position: "Position -4. Hand pointing at upper door, close to doorknob." _(Helpful landmark with region name)_
-

[2017-04-26 16:44] jessegreenberg commented on #226
This is fixed with the above commits, Scenery now supports removing subtrees of accessible content under a display object from the DOM.

[2017-04-26 16:44] #226 closed

[2017-04-26 17:14] jessegreenberg commented on #222
That seems good to me @terracoda and the logic is much simplified, thanks! :)

[2017-04-26 17:32] terracoda commented on #222
@jessegreenberg, well, it was your brilliant idea to remove the progress indicators :-) and that helped me focus on just exactly how the two simple directional indicators are best utilized!
It is so often true that, "less is more."

[2017-04-26 17:50] jessegreenberg opened #234 "Sim should use StringUtils.fillIn()"
StringUtils.format is being deprecated for StringUtils.fillIn, and this should be replaced before we redeploy the sim.

[2017-04-26 19:54] jessegreenberg commented on #222
@terracoda @emily-phet @jhung here is a version with these changes:

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.31/john-travoltage_en.html?valueText

To see arm descriptions with the scene summary:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.31/john-travoltage-a11y-view.html?valueText

I ran through it, and it seems to follow @terracoda's wa

[2017-04-26 21:17] emily-phet commented on #222
@jessegreenberg I'm going to send this link to Ashley and Jason White at ETS for feedback. Both were expecting an updated link, and are aware we're trying to have a quick turnaround, so I think we'll get some quick feedback this way. Note: I've just given up for now on using this with VO+Safari. Even using Ctrl+Option+Shift+Down Arrow, after about 10 seconds focus moves away from the hand, even if

[2017-04-26 21:31] emily-phet commented on #222
Note: Link sent to Ashley and Jason.

[2017-04-26 23:10] jessegreenberg commented on #213
I can only get this to happen if VO is on or if I just turned VO off without resetting Safari.  It seems that Safari needs to be reset after VO is off to work normally.  We can try preventing default event on arrow keys, otherwise this is just movement of the virtual cursor.

[2017-04-26 23:31] jessegreenberg commented on #213
Arrow key issue is fixed with the above commit.

[2017-04-26 23:32] jessegreenberg commented on #213
Thanks @terracoda, it is trying to set focus on the PhET menu item since that was the last thing focused, but it no longer exists in the document.  We can add an option that specifies where focus should go when a dialog is closed.

[2017-04-26 23:58] emily-phet commented on #213
@jessegreenberg Regarding https://github.com/phetsims/john-travoltage/issues/213#issuecomment-297566892 I think resetting Safari before turning on VO fixed the issue I was running into where focus would move on its own while using the arm slider.

[2017-04-27 11:41] terracoda commented on #222
@jessegreenberg, the arm is sounding great. Awesome work!
I noticed the following description issues in version 31:
**Voice Over - Descriptions**
- [ ] not so close to doorknob - need capitalization and punctuation.
  - Actually, looks like all the descriptions (except directional indications) need to have capitalization and punctuation added. You might be working on this.
- [ ] Farther away, very

[2017-04-27 12:14] terracoda commented on #213
@jessegreenberg, I tested the PhET Menu in version 31, and it seems to be working a little differently than before. Here is what I found:

**PhET Menu with keyboard and Voice Over off**
- Pressing Left Arrow does nothing on each menu item! Perfect!!!
- Pressing Right Arrow loses visual focus without closing PhET Menu. Pressing Shift Tab brings keyboard back, but always to the About menu item. I ca

[2017-04-27 12:26] terracoda opened #235 "Noticed some Voice Over Issues"
@jessegreenberg, in testing version 31 with
Mac OS Sierra 10.12.3 with Safari 10.0.3

I could use the sim quite well with Voice Over on, but had the following random interruptions while testing the sim.

- [x] Sometimes, electrons are announced one at a time, and sometimes just announced the total amount.	Not sure why this happens.
- [x] I randomly loose focus from time to time. This varies betwee

[2017-04-27 15:01] jessegreenberg commented on #213
@emily-phet good to hear, thanks!

@terracoda thanks, yes that is expected, version 31 doesn't include any fixes for this (specifically https://github.com/phetsims/joist/commit/d2bdbf79ca3c4f28b8e438efe34095ec4a053969).

[2017-04-27 15:06] jessegreenberg commented on #235
I have noticed this sometimes too, I have been assuming this is just the way VO handles ```aria-live```.  If its an issue we can spend some time investigating.

Once arm stopped working - just wouldn't move, though focus was there and the non-changing position was being read out.
Once Leg stopped moving - same as above, but at a different time. Not sure what causes an appendage to stop. Could be a

[2017-04-27 15:15] jessegreenberg commented on #222
Thanks @terracoda!

These descriptions are shared with the scene summary and punctuation/capitalization would be incorrect there.  How important is punctuation, will AT users hear the difference in this case?  We could have two sets of strings - one for the appendage descriptions, one for the scene summary.

[2017-04-27 16:05] emily-phet commented on #222
@jessegreenberg I think screen reader users can navigate content all the way down to letter-by-letter detail, which can include capitalization and punctuation. Probably more significant, though, is that we will likely develop ways in the future to expose the descriptions from the parallel DOM visually for teachers and students, so we will be happy to have good punctuation already included at that

[2017-04-27 16:51] terracoda commented on #222
@jessegreenberg, re https://github.com/phetsims/john-travoltage/issues/222#issuecomment-297745165, I assumed there would be a simple way to manipulate the string, so that the first letter could be capitalized, and a period would be added. Or if we start with the descriptions in sentence format, the reverse could be done. Lower the case of the first letter and chop off the dot at the end.

Would so

[2017-04-27 17:12] jessegreenberg commented on #222
@terracoda I was thinking about something like that, but modifying the strings will be problematic for internationalization.  Translators will be able to modify capitalization and adding or removing punctuation might not work for rtl languages.  I think two sets of strings is most robust.

[2017-04-27 17:16] terracoda commented on #222
@jessegreenberg, ok something to think about more carefully for future.

[2017-04-27 17:52] terracoda commented on #213
@jessegreenberg re https://github.com/phetsims/john-travoltage/issues/213#issuecomment-297570162, I would just set focus on the PhET Menu button, since it is the last existing thing that had focus.

[2017-04-27 21:00] jessegreenberg commented on #222
@terracoda I changed my mind about this, we are using ```toLowerCase()``` as you suggested.  The punctuation is in the string pattern so we shouldn't need to splice anything.

[2017-04-28 05:36] terracoda opened #236 "Add hand position to discharge alert?"
In John Travoltage, when hand moving fast I find it hard to remember at which position, the discharge occurs.

The change just adds a phrase at the end:
- Discharge occurred. Electrons on body decreased from [start#] to [end#].
- Discharge occurred. Electrons on body decreased from [start#] to [end#] **with hand at [position #], [region name].**

I think it makes important information (hand positi

[2017-04-28 05:44] terracoda commented on #222
@jessegreenberg, FYI, I just posted issue #236 about adding position information to the discharge. This could affect whether we start with uppercase and go to lowercase or vice versa.

[2017-04-28 15:15] jhung commented on #236
@terracoda I agree that this would be helpful especially if the hand is moving very fast. +1 from me!

[2017-04-28 16:03] terracoda commented on #236
@jhung, awesome! Glad you like the idea.

@jessegreenberg, let me know if you need anything on this. I know it is short notice given our timeline.

[2017-04-28 18:05] jessegreenberg commented on #234
Done in the above commit, closing.

[2017-04-28 18:11] jessegreenberg commented on #222
@terracoda @emily-phet capitalization should be correct in this version:

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.33/john-travoltage_en.html?valueText

Can you please review the arm descriptions and let me know if anything else needs to be done for this issue?

[2017-04-28 20:21] jessegreenberg commented on #236
Sounds good @terracoda, here is a version with this change.  I tested on VoiceOver + Safari and NVDA + Firefox.  Let me know what you think of this version.

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.34/john-travoltage_en.html

[2017-04-28 20:33] jessegreenberg commented on #235
I am able to see this happen on MacOS 10.12.4 with VO and Safari.  It always happens when the system is stressed, such as when I move the arm quickly around the doorknob. This is a performance issue. VO says Safari is "busy" after focus is lost.

[2017-04-28 21:54] jessegreenberg commented on #235
While playing with the sim, I ran into a case where the appendages stopped moving.   I noticed that when this happens VoiceOver says "Quick nav on", and quick nav is turned on by pressing left and right arrow keys at the same time.  When "Quick nav" is on, the sliders don't work.

[2017-04-28 22:20] jessegreenberg commented on #235
Looking at this again, I removed all electrons and the performance is much better in Safari, but the focus will still leave the appendages.  The focus will either go to the H1, or a random number.

Sim.js has a "heartbeat div" that gets a random value every 10 seconds or so.  I wonder if the VO moves focus when the value changes for some reason??

[2017-04-28 22:27] jessegreenberg commented on #235
Yes, that must be it, when the number changes focus leaves the appendages.

[2017-04-29 04:12] terracoda commented on #235
@jessegreenberg, yes, I heard "Quick Nav on" when using the arrow keys quickly. Sorry, I didn't report that.

[2017-04-29 06:36] terracoda commented on #222
@jessegreenberg, the punctuation and capitalization is great!

**Issue:**
1. I noticed that the "Electrons on body" alert is not getting a value for the electrons. VO says:
  - Electrons on body {value}.
  - I also noticed that the Leg swing slider often loses focus when this alert fires. This is related to another issue.
2. Related to arm positions. I want to clarify that, on positions -2 and 2 "

[2017-04-29 07:51] terracoda commented on #222
@jessegreenberg, oh, and I do hear the position descriptions twice. This happened on every position change.

[2017-04-29 08:04] terracoda opened #237 "[VO, Safari] Appendage positions are read out twice on each key press"
In version sim version 33,
MacOS Sierra 10.12.3 and VO, and
Safari 10.0.3 ,
the positions of the appendages are read out twice. It is regular repetition. I personally do NOT find it terribly annoying.

This might be a VO bug?

[2017-04-29 14:44] jessegreenberg commented on #237
Thanks @terracoda, I noticed this too, I am curious if this was happening in a previous version or if I broke something in a recent refactor.

[2017-04-29 14:47] jessegreenberg commented on #222
Thanks, I must have broken this from #234.

Ah, thanks for clarifying, I will change it.

[2017-04-29 14:52] jessegreenberg commented on #234
@terracoda noticed that the alert for electrons being added to the body sounds like

[2017-04-29 14:55] jessegreenberg commented on #234
Verified in 1.3.0-dev.33, but fixed in 1.3.0-dev.34, this must have been done after dev.33 was deployed. Closiing.

[2017-04-29 14:55] #234 closed

[2017-04-29 15:25] terracoda commented on #237
@jessegreenberg, I know it was happening at least on one prior version, but not sure if it re-surfaced here or not.

[2017-04-29 16:08] terracoda commented on #236
@jessegreenberg, I think it sounds great! And punctuation and capitalization looks good, too.

The alert contains where the hand is rather than where the discharge started. I don't think this is a show stopper, but I thought the alert would contain the position of that hand where the discharged started.

@emily-phet, shall we go with where it ends for now? @jhung, any concerns?

[2017-04-29 16:41] jessegreenberg commented on #236
Ah, good point @terracoda thanks.  The above commit should fix this, going to test locally before reassigning for review.

[2017-04-29 17:25] jessegreenberg commented on #236
#237 and #235 make this sim very difficult to test on VO, the alerts and descriptions just aren't working well in VO and Safari.

[2017-04-29 17:30] jessegreenberg commented on #237
This is only happening in VO+Safari.  I have Safari 10.12.5 Beta on this device, and it is happening way back in version 1.3.0-dev.20. Before deploying that dev version for testing I tried the sim on our desired platforms and I don't remember seeing this issue.

[2017-04-29 17:34] jessegreenberg commented on #237
Reverting to stable 10.12.4 for further testing.

[2017-04-29 17:46] jessegreenberg commented on #237
This is happening in VO with Safari in this simple test case:

https://jsfiddle.net/gtbmqo2g/

[2017-04-29 18:02] jessegreenberg commented on #237
Now VO is doing this in this example.

https://jsfiddle.net/gtbmqo2g/12/

All we are doing is updating aria-valuetext. Maybe VO is justing caching the JSFiddle example.

[2017-04-29 18:04] jessegreenberg commented on #237
Restarting Safari and VO doesn't seem to help.

[2017-04-30 02:55] jessegreenberg commented on #237
@jobara do you have any thoughts on this issue?  This seems like a bug with VO/Safari and ```aria-valuetext```.  Can you think of anything we are missing?

One alternative would be to stop using ```aria-valuetext``` and use ```aria-live``` to get the AT to read the value text exactly the way we want.

[2017-05-01 01:19] jobara commented on #237
@jessegreenberg I couldn't see anything missing or think of any alternatives. It does seem like a VoiceOver bug. If you make the switch to `aria-live` you may want to check back periodically to remove the workaround when it is no longer needed. And just a reminder, you'll need to make sure that a new aria-live will behave as expected in regards to interruptions and etc.

[2017-05-01 02:33] terracoda commented on #237
@jessegreenberg, I personally don't find the repetition too annoying - mostly I think because it is very regular, thus easy to ignore. More than one screen reader user has commented to me that they are accustomed to repetition. The repetition, however, could be more problematic when students are collaborating.

At this late date, we might just want to roll with the VO repetition, and send a bug re

[2017-05-01 04:22] jessegreenberg commented on #237
Ok, thanks very much @jobara and @terracoda.  The problem is not just the repetition, when moving one position at a time the repeated ```aria-valuetext``` interrupts the ```aria-live``` charge alert that is already there.  On VO + Safari, the user could often never hear that charges are entering the body.

@emily-phet can you please give your opinion for the severity of this issue, and whether a w

[2017-05-01 04:42] jessegreenberg commented on #235
Regarding

I think I figured this out. The discharge alert goes through an element with ```aria-live=polite``` and ```role-status```.  When I remove the status role on the element focus never leaves the arm or leg.

[2017-05-01 04:55] jessegreenberg commented on #235
While using ```role=status``` the focus left the arm and leg 8 times in one minute while I was building charge and discharging with VO on.

When using an aria alert without ```role=status``` the focus left the arm and leg 0 times in 2 minutes and 20 seconds.

@jobara is it OK if we send alerts through the alert element that does not use ```role=status```?

[2017-05-01 05:07] jessegreenberg commented on #235
Ah, the "heartbeat div" was commented out in my local copy.  When that is added back into the document focus still leaves the sliders spontaneously.

[2017-05-01 09:13] terracoda commented on #235
Role `status` was slightly updated in Aria 1.1, but I don't know exactly what was updated, also do not know the level of support Browser/AT combos.

In all the things I read, the element with the `status` role, must not receive focus. @jessegreenberg, is it possible that the element is accidentally getting focus, which makes the focus get lost?

Also, it is possible that the leg and arm may need t

[2017-05-01 10:08] terracoda commented on #235
@jessegreenberg, in this 2014 article, Léonie Watson writes

In the comments, however, James Craig mentions that

I think by "it" Craig is saying that the politeness level works.

There's no mention of focus issues.

[2017-05-01 10:31] terracoda commented on #237
@jessegreenberg and @emily-phet, it is true that I do not hear the electron updates at regular intervals as the change which would be nice, but I do hear them. I didn't realize it was the position announcements that was interrupting them.

If the electron updates are essential information, they might need to have the role `alert` rather than `status`. But that might be too annoying.

[2017-05-01 10:51] terracoda commented on #237
@jessegreenberg, would it be possible to dynamically change the politeness-level to assertive every 5 or 10 charges? Perhaps that would be a work around.

I understand from previous discussions with you that dynamically changing the role of an element is not allowed.

[2017-05-01 11:21] terracoda commented on #236
@jessegreenberg version 34 has the start of the discharge in the alert. Sounds good to me :-)

[2017-05-01 15:50] jessegreenberg commented on #237
@terracoda we could do something like that, we wouldn't change the politeness level on an element but we could use a different element that is assertive every 5-10 charges.

[2017-05-01 16:17] jessegreenberg commented on #235
@terracoda I don't think so, all ```aria-live``` elements are out of the focus order, and we never focus them.  The problem is that VO+Safari moves the virtual cursor onto the the element with role=status occasionally, I am not sure if this is a bug or an intended feature.

Yes it is.

We found this too, our alert system now uses a timeout by default.

[2017-05-01 16:20] jessegreenberg commented on #235
The heartbeat div seems to interfere with focus most consistently after charges are picked up.  Possibly because an ```aria-live``` region was updated?

The heartbeat div will also interfere with focus if I move VO focus into the dev tools and then back into the sim.

[2017-05-01 16:22] jessegreenberg commented on #235
If I add the ```hidden```` attribute to the div, the problem seems to go away.  I am not sure if that is acceptable though or if it will totally remove the impact of the div.

[2017-05-01 16:27] jessegreenberg commented on #235
The the div hidden, focus did not leave the arm once in 3 minutes 20 seconds.

[2017-05-01 17:54] terracoda commented on #235
@jessegreenberg, the number of electrons is updated in the summary, which is not hidden. Thus, the information is still in the PDOM if the user needs it, but hasn't heard it.

Will the alerts for "Sim sound on." and "Sim sound muted." also be` hidden` using the same technique? I could still hear them in the latest version I tested.

[2017-05-01 18:00] terracoda commented on #237
@jessegreenberg, and just a reminder that the charge information is available in the summary as well. It's ideal if the status alert for "Electrons on body" is read out during interaction, but if it gets bumped out of the cue, the information is still available outside of direct interaction.

[2017-05-01 18:25] jessegreenberg commented on #236
Great, thanks @terracoda! The latest version has the alert updated so that the it says where the hand was when the discharge started (as you suggested in https://github.com/phetsims/john-travoltage/issues/236#issuecomment-298097291).

Would you like to review a version with that change or can this be closed?

[2017-05-01 18:27] terracoda commented on #236
@jessegreenberg, sorry I wasn't clear. Yes, the alert sounds good. I tested it. Closing the issue.

[2017-05-01 18:27] #236 closed

[2017-05-01 18:29] jessegreenberg commented on #236
Ok sounds good, but version dev.34 does not have this change.

[2017-05-01 18:29] jessegreenberg commented on #237
Understood @terracoda, thanks.  Should I proceed with making the alert assertive every 5 charges?

[2017-05-01 18:32] jessegreenberg commented on #235
No, they will not be hidden. Also, ```hidden``` wont work for reasons described in https://github.com/phetsims/joist/issues/140, but I think we found another workaround.

[2017-05-01 18:33] terracoda commented on #236
@jessegreenberg, oh, it seemed like version dev.34 did have it. I guess I did not listen closely enough. I trust you. I can't do any more testing for another 8 or 9 hours.

[2017-05-01 18:41] terracoda commented on #235
Ok :-)

[2017-05-01 18:58] emily-phet commented on #237
@jessegreenberg If this workaround is on the of ~ an hour to implement, go for it. Otherwise, let's not address it for the upcoming publication.

[2017-05-01 19:01] jessegreenberg commented on #237
Sounds good @emily-phet.  The workaround @terracoda proposed will take a couple of minutes and is much safer.  The workaround I proposed is much more error prone and will take a few hours to investigate whatever new issues come out of it, so I will proceed with what @terracoda suggested.

[2017-05-01 19:59] emily-phet commented on #237
@jessegreenberg A safe fix that takes a few minutes to implement - wonderful!

[2017-05-01 20:07] jessegreenberg commented on #235
phetsims/joist#140 is fixed, but ```role=status``` is still also causing focus to leave the arm and leg.  It will take a combination of both to fix the focus issues.

[2017-05-01 20:15] jessegreenberg commented on #237
@emily-phet @terracoda unfortunately it doesn't work as well as I hoped.  Sometimes it works great, sometimes the ```assertive``` update is still ignored when the value text is read twice, sometimes it triggers reading the alerts that were previously ignored, so the user might hear

- electrons on body: 5
- electrons on body: 2
- electrons on body: 3
- electrons on body: 4

And then all subsequent

[2017-05-01 20:19] jessegreenberg commented on #237
Also, it looks like using ```aria-live=assertive``` is causing focus to behave weird just like ```role=status```.

@emily-phet @terracoda maybe we should bail on this issue and just accept this VoiceOver bug, what do you think?

[2017-05-01 20:37] jessegreenberg commented on #235
The above commit prevents the alert from being announced when the sound button is created.  Everything should be fixed except for this:

And I think this is just the way ```aria-live=polite``` works.

@terracoda thanks for this list, I think VoiceOver is working much better now. If you notice these or other issues please let me know.

[2017-05-01 20:37] #235 closed

[2017-05-01 21:16] emily-phet commented on #237
@jessegreenberg Oh no! Yes, let's put a hold on this for now. We can come back to it later as we're getting ready to publish BASE in the summer.

[2017-05-01 23:16] jessegreenberg commented on #237
Sounds good @emily-phet, marking as ```wontfix```.

[2017-05-01 23:51] jessegreenberg commented on #213
@terracoda the above commits send focus back to the PhET menu button when the About dialog and Updates dialog are closed.

Regarding styling of the focus highlight in the PhET menu, I am afraid we will have to wait until the next release to include that feature. :(

#235 should have the "VO konks out" problems fixed.

I think we are ready to close this issue.

[2017-05-01 23:51] #213 closed

[2017-05-02 00:10] jessegreenberg commented on #222
@terracoda this was changed in https://github.com/phetsims/john-travoltage/commit/124c7865c410d89f4c456091c9052e13518e43bb, so now the "Farther away,..." description is always said when moving away from the doorknob at position +/- 2.

And the minor issue with the curly braces has also been fixed.

Since those were the only remaining things left for this issue, we can close! Any bugs or new issues

[2017-05-02 00:10] #222 closed

[2017-05-02 00:22] zepumph commented on #222
Great job everyone! I know I wasn't too involved in this, but I don't think I've ever seen 135 comments on an issue.

[2017-05-02 04:31] terracoda commented on #235
Awesome @jessegreenberg! And I think you are right about `aria-live=polite`.

[2017-05-02 04:34] terracoda commented on #237
Totally agree.

[2017-05-02 04:36] terracoda commented on #213
Again, great work @jessegreenberg !

[2017-05-02 04:38] terracoda commented on #222
Yes, great job everyone!

[2017-05-02 19:01] jessegreenberg commented on #129
@jbphet we are getting close to an RC version for accessibility, do you think you can make a new sound in the next week?  Otherwise can I replace with an audio we already have under PhET licensing or remove usages.

[2017-05-02 19:03] jessegreenberg commented on #128
Closing, remaining issues involve further review.

[2017-05-02 19:04] #128 closed

[2017-05-02 19:13] jessegreenberg commented on #83
@arouinfar the image quality is much better now, thanks!
Old:
![2](https://cloud.githubusercontent.com/assets/6396244/25634725/e62042ac-2f38-11e7-91f4-2ef489396e7c.PNG)

New:
![1](https://cloud.githubusercontent.com/assets/6396244/25634728/e7198740-2f38-11e7-9003-388870a7d00c.PNG)

@arouinfar @ariel-phet the original issue was that @kathy-phet wanted to replace the artwork.  Can this be closed or

[2017-05-02 19:28] arouinfar commented on #83
Looks great @jessegreenberg! I don't believe there's anything left to do for this issue, as we're tracking the replacement of the artwork in https://github.com/phetsims/john-travoltage/issues/121.

[2017-05-02 20:42] jbphet commented on #129
I'll get it done in the next couple of days.

[2017-05-02 20:44] phet-steele opened #238 "[VO + Safari] Negatives only read once before needing to tab away and back"
@jessegreenberg the first time I tab to the arm or leg, I hear the negative read out loud. This is assuming that the appendage is already at a negative position before I tab to it since further announcements do not read the negative after using the arrow keys. I must tab away and back to an appendage to hear a negative again, but then I hear no further negatives until I repeat this process.

Seen

[2017-05-02 21:00] jessegreenberg commented on #238
Thanks @phet-steele.  I can't reproduce this, but I am on 10.12.5 beta, that might be the reason. I hear:

Position: minus 4, hand pointing at upper door, close to doorknob [on focus]
Position: minus sign 5, away from doorknob
Position: minus sign 6, not so close to doorknob

...and so on.

[2017-05-02 22:09] jessegreenberg commented on #238
Over skype @phet-steele mentioned that this was no longer happening in 10.12.4 Safari.

VO might have been caching an old version of john-travoltage_en.html from spot. Or maybe it was just not reading the unicode minus sign for another buggy reason.  If it comes up again, we can investigate further.

[2017-05-02 22:14] jessegreenberg commented on #238
@phet-steele corrected me, saying it was quickly broken again :( I will see if I can reproduce the problem.

[2017-05-03 20:49] phet-steele opened #239 "[VO + Safari] Slider "increment" feature doesn't work well with aria-valuetext"
The command "VO + Space" can be used on the leg or arm to perform their default action (as VO documentation puts it). In the case of the leg and arm, which are sliders, the default action is to increment the slider by 1.

For a basic idea of how this works, try the slider here: https://jsfiddle.net/1j1y3s8p/

Using VO + Space will increment the slider by one (no known way to decrement). Using the

[2017-05-03 20:59] emily-phet commented on #239
@jessegreenberg I agree that it would be good to support this, given the following:
- there is some way to decrement a slider value without using the arrow keys.
If not, all users will have to utilize arrow keys anyway (since this sim really requires back and forth slider motion for productive use), so in that case I don't think it's worth more than a quick investigation to understand the issue be

[2017-05-04 17:31] phet-steele opened #240 "Change the "rubbing" message"
I would suggest removing "rubbing" from the message and choosing a more static verb like "touching". Technically, the leg isn't moving at all.

Maybe:
Foot touching rug
and,
Foot off rug

For comparison, we use "pointing" for the arm, not "swinging".
Simple quick question, thoughts? @emily-phet @terracoda @jessegreenberg?

For phetsims/tasks/issues/831.

[2017-05-04 17:31] phet-steele opened #241 "Revise when the leg is considered on the rug"
Positions -4 and 3 should probably not be considered "rubbing on" the rug. Visually they might be on the rug, sure, but as far as the sim is concerned these positions do not qualify to grab an electron. For example, place the leg at position -4 and increment towards -3 (which is further onto the rug) and you will not pick up an electron. Go back and forth between these two positions as much as you

[2017-05-04 23:01] jessegreenberg commented on #241
Good point @phet-steele I am inclined to agree.  The down side to this is that there will be more positions off of the rug, which is one of the things that we addressed in #222.  But 5 positions max doesn't seem too bad.

Should this be changed @emily-phet?

[2017-05-04 23:03] jessegreenberg commented on #240
Also assigning @jhung in case he has thoughts on this.

[2017-05-04 23:19] jessegreenberg commented on #238
This is a problem with VoiceOver's "Karen" voice.  When I switched to that voice (the one @phet-steele was using to test), this started to happen consistently.  Otherwise, I could not reproduce this.

[2017-05-04 23:20] jessegreenberg commented on #238
"Karen" is an Australian voice, it might have something to do with that.

[2017-05-04 23:29] jessegreenberg commented on #238
When I switch to "hyphe-minus" unicode symbol, I get the exact opposite issue.  On focus, I hear no minus sign. Every subsequent movement I *do* hear "Minus [number]".

[2017-05-04 23:41] jessegreenberg commented on #238
Using a combination of the two unicode values depending on whether or not the appendage has focus seems to fix this.

[2017-05-04 23:43] jessegreenberg commented on #238
But then the default voice doesn't read out the minus sign when the value changes.

[2017-05-04 23:47] jessegreenberg commented on #238
'\u002D' - "hyphen-minus", not read by default VoiceOver voice
'\u2212' - "Minus Sign", not read when ```aria-valuetext``` changes by Australian VoiceOver voice (and maybe others).

@terracoda @jobara do you know of any way to get around this?

[2017-05-04 23:47] jessegreenberg commented on #238
@emily-phet is this worth more time?

[2017-05-04 23:50] jessegreenberg commented on #238
I will try a few other english voices.

[2017-05-05 00:41] jessegreenberg commented on #239
The problem is that VoiceOver + Safari handles slider events like this:

When using the arrow keys the slider receives an ```input``` event and then a ```change``` event.  When using the increment command, the slider receives only a ```change``` event.

This logic:
[code]

Is preventing the change event from doing anything.  This block of code was necessary because different browsers emit ```input

[2017-05-05 11:36] jobara commented on #240
In real life, do you need the rubbing action, as opposed to just touching, to build up the static electricity?

[2017-05-05 12:14] emily-phet commented on #241
@jessegreenberg I agree with @phet-steele. I thought this was the case, but wasn't sure that you could *never* grab an electron at some of these edge positions. If it's the case that moving to position -4 or position 3 never pick up an electron, these should be described as off the rug.

[2017-05-05 12:17] emily-phet commented on #238
@jessegreenberg If this is a problem just with the "Karen" voice, then we should not fix this.

[2017-05-05 13:00] emily-phet commented on #240
@phet-steele One of the goals of this simulation is to help relate a real world experience (rubbing your foot on a rug or carpet and then getting shocked) to a scenario with helpful overlays (e.g., electron representation) to help students understand the underlying physical process. Since "rubbing" is central to this physical experience, I think it's important to keep that term in, even if it may

[2017-05-05 13:54] jobara commented on #239
@jessegreenberg try adding `keyboardEventHandled = false;` at the end of the change event. I think what might be happening is that because there is a mix of cases "input and change" and "change only" that the `keyboardEventHandled` flag is always left at `true` if interacted with the arrow keys.

[2017-05-05 15:58] phet-steele commented on #240
@emily-phet @jobara that all makes sense. We should probably keep the word "rubbing" to tie the sim to the real world.

[2017-05-05 15:58] phet-steele commented on #240
Thanks for the input!

[2017-05-05 15:58] #240 closed

[2017-05-05 16:38] jessegreenberg commented on #238
Ok, thanks @emily-phet, I am going to try these voices, @phet-steele is going to try a few others.

- Veena (India)
- Moira (Ireland)
- Fiona (Scottland)

[2017-05-05 16:40] jessegreenberg commented on #238
All of the voices in https://github.com/phetsims/john-travoltage/issues/238#issuecomment-299514066 have this problem.

[2017-05-05 16:44] phet-steele commented on #238
The voices I tried both have the problem:

- Oliver (English, UK)
- Angelica (Spanish, Spain)

[2017-05-05 16:46] jessegreenberg commented on #238
"Samantha"  (US) has this problem.

[2017-05-05 16:47] jessegreenberg commented on #238
Are "Alex" (US, default voice) and "Fred" (US, not default) the only voices that don't do this?

[2017-05-05 16:48] jessegreenberg commented on #238
One thing we could to is add the word "minus" in front of the value.  It won't look pretty in the PDOM, but it will always sound correct.

[2017-05-05 17:00] jessegreenberg commented on #238
I don't know much about unicode values or why certain voices would ignore them. I am unclear if this is a VoiceOver feature or a bug. Without knowing more about locales and unicode values it seems like a bug.

@emily-phet @terracoda @jobara @jhung is https://github.com/phetsims/john-travoltage/issues/238#issuecomment-299516563 an acceptable workaround?

It would look like this:
<img width="725" al

[2017-05-05 17:17] emily-phet commented on #238
@jessegreenberg This is so odd - my understanding is that the point of Unicode is to avoid exactly this situation. I'm trying to find more information about how the different voices differ (in a technical sense) but I'm not finding much that would be helpful. One thought is that each voice is accessing different (or customized) libraries to recognize symbols, and perhaps some of the dialects don't

[2017-05-05 17:28] jessegreenberg commented on #239
Thanks @jobara that seems to work really well!  After the change, we still have @phet-steele's bonus and bonus bonus bugs in the original issue comment.

[2017-05-05 17:29] jessegreenberg commented on #239
When using the "increment" feature, VoiceOver is reading the *previous* aria-valuetext. So when we are at position 1, it says we are at position 0.

[2017-05-05 17:31] jessegreenberg commented on #239
My guess is that when the "change" event happens, VoiceOver immediately reads the aria-valuetext and then emits events for listeners?

[2017-05-05 17:35] jessegreenberg commented on #239
Here is an updated JSFiddle example which lets us see the aria-valuetext:

https://jsfiddle.net/1j1y3s8p/2/

Using the increment feature, the value is correct, but it also stops reading any aria-valuetext after incrementing.  That much seems like a VoiceOver problem.

[2017-05-05 17:46] jessegreenberg commented on #239
Although sometimes the aria-valuetext is correct when using the increment feature.

[2017-05-05 17:49] jessegreenberg commented on #239
I can't get the incorrect aria-valuetext to be read at all in the JSFiddle example.

[2017-05-05 18:18] jessegreenberg commented on #239
aria-controls attribute that is causing this bug.  Here is a JSFiddle with this problem.

https://jsfiddle.net/1j1y3s8p/6/

But when I remove the aria-controls attribute from the html element in the sim, the problem persists.  I have deleted caches and restarted voiceover.

[2017-05-05 18:23] jessegreenberg commented on #239
Here is a JSFiddle with the exact html (without aria-controls).  It has the same bug:

https://jsfiddle.net/1j1y3s8p/8/

[2017-05-05 18:24] jbphet commented on #129
I have replaced the impulse response with one that I generated myself and updated the license file.  I think you should be good to go.  @jessegreenberg - if the build and deploy works with no licensing issues, this can be closed.

[2017-05-05 18:26] jessegreenberg commented on #239
Actually, that had aria-controls.  This one doesn't

https://jsfiddle.net/1j1y3s8p/12/

It still has the bug.

I notice that when we increment, the label is read.  I wonder if we remove the label if the problem goes away?

[2017-05-05 18:29] jessegreenberg commented on #239
Yes, if we remove the label the problem goes away.

[2017-05-05 18:41] jessegreenberg commented on #239
Removing the label doesn't fix the problem in the sim.

[2017-05-05 18:42] jessegreenberg commented on #239
Bug is still present intermittently in https://jsfiddle.net/1j1y3s8p/15/.

I don't think we should spend much more time on this bug, seems like a VoiceOver issue with the way the "increment" feature is handled.

[2017-05-05 18:45] jessegreenberg commented on #241
Thanks @emily-phet, I will change - assigning to me.

[2017-05-05 18:53] jessegreenberg commented on #239
The fix recommended by @jobara gets the increment feature to work, although we still have the following VoiceOver bugs (2 of which were listed in the original issue)

- After using the increment feature the ```aria-valuetext``` often isn't read when using the arrow keys.
- After using the increment feature, the ```aria-valuetext``` often isn't read after tabbing away from the appendage.
- When usi

[2017-05-05 18:56] jessegreenberg commented on #238
@emily-phet context does seem important, based on https://github.com/phetsims/john-travoltage/issues/238#issuecomment-299336713 and https://github.com/phetsims/john-travoltage/issues/238#issuecomment-299339259.  We can quickly make a simple test case with some different contexts using the unicode symbol.

[2017-05-05 19:07] jessegreenberg commented on #238
Here is an example JSFiddle: https://jsfiddle.net/s8m2spxc/

Using voice Samantha (US, female), the only unicode that is read is "Minus Sign" ('\u2212').
Using voice Alex (US, male), the only unicode value that is read is "Minus Sign" ('\u2212').
Using voice Karen (Australian, female), the only unicode that is read is "Minus Sign" ('\u2212').

[2017-05-05 19:14] emily-phet commented on #239
@jessegreenberg I agree. Let's not work on this further for now.

[2017-05-05 19:14] jessegreenberg commented on #238
When using with ```aria-valuetext``` things start to get weird.
https://jsfiddle.net/s8m2spxc/2/

Testing with "Karen" -
When focus lands on the first slider (using '\u2212' - "Minus Sign"), "Karen" reads the "Minus sign". When changing the value on that slider, the minus sign is never read.

When focus lands on the second slider (using '\u002D' - "hyphen-minus"), "Karen" does *not* read "Minus Si

[2017-05-05 19:18] jessegreenberg commented on #238
When using voice "Alex", we have the exact same behavior as above, but when changing the value with  '\u2212' - "Minus Sign" in the ```aria-valuetext```, the unicode value "Minus Sign" is read.

@emily-phet I think the above JSFiddle isolates this as a VoiceOver bug.  Should we mark this as wontfix and submit a bug report?

[2017-05-05 19:28] jessegreenberg commented on #239
Sounds good @emily-phet.  Marking as ```wontfix``` and changing the issue title to reflect what is currently the problem.

[2017-05-05 19:32] jessegreenberg commented on #238
Or should we add "minus" in front of the number like https://github.com/phetsims/john-travoltage/issues/238#issuecomment-299519447?

[2017-05-05 19:48] jessegreenberg commented on #241
Done in the above commit.  I don't think that this needs to be reviewed, the change was simple enough. Here is proof:

<img width="808" alt="screen shot 2017-05-05 at 1 44 36 pm" src="https://cloud.githubusercontent.com/assets/6396244/25761832/73529de8-3199-11e7-8950-84d780004594.png">
<img width="815" alt="screen shot 2017-05-05 at 1 44 52 pm" src="https://cloud.githubusercontent.com/assets/63962

[2017-05-05 19:48] #241 closed

[2017-05-05 19:48] jessegreenberg commented on #239
https://github.com/phetsims/a11y-research/issues/36 will track submitting a bug report to Apple.

[2017-05-08 16:40] emily-phet commented on #238
@jessegreenberg Let's submit a bug report, and also add "negative" in front of the negative number (removing the "-" sign). I hate to have to do that, but I think there will be a significant number of VO users, and it will make learning more difficult to not hear (or inconsistently hear) the "negative" position indicator.

[2017-05-08 18:07] phet-steele opened #242 "[JAWS + IE11] Slider performance"
@jessegreenberg, sliders in JAWS + IE11 seem to perform abysmally.

Use this as an example case with the below steps: https://jsfiddle.net/1j1y3s8p/

First problem:
1. Start with the slider at -7
2. Pay attention to the speed of the slider during this step. Hold the right arrow key down until halfway, then release. When holding, you will see the slider tick along relatively slowly. After release,

[2017-05-08 18:07] phet-steele opened #243 "[JAWS + IE11] Cannot read the entire About dialogue"
@jessegreenberg, when entering the About... dialog, JAWS begins reading all the content until "Carl Wieman" in the credits. From there, JAWS randomly says "dialogue" and begins reading all the content over from the beginning. The second time JAWS reaches "Carl Wieman", it skips the remaining content and goes straight to the link you are focusing. So it seems you cannot hear all the content in this

[2017-05-08 18:07] jessegreenberg opened #244 "[JAWS + IE11] Reset all alert is heard when the dialog is opened"
Seen on Windows 10, IE11 + JAWS. For phetsims/tasks#831. Found by @phet-steele.

When a dialog is opened after pressing the reset all button, JAWS will announce the "Reset All" alert again.

When the dialog is opened, all aria-live elements have their content cleared (so they cannot be found with the virtual cursor).

Thoughts:
 - Perhaps JAWS adds "removals" as its default behavior for the aria-l

[2017-05-08 18:07] phet-steele opened #245 "[JAWS + IE11] All group content is read when entering a group for the first time"
@jessegreenberg, when tabbing to the Mute Sound or Reset All Buttons from outside of their group, JAWS will read the contents of the group first, then the button you are over. For example (from memory, certainly not what is actually said):

1. Start with focus on the arm
2. Tab to the Mute Sound button
3. You will hear "Mute Sound, button. Reset All, button. Mute Sound, toggle, button." (or someth

[2017-05-08 18:08] jessegreenberg opened #246 "[JAWS + IE11] JAWS doesn't say anything when moving quickly through input values"
Seen on Windows 10, IE11 + JAWS. For phetsims/tasks#831. Found by @phet-steele.

When moving quickly through slider values (**not** press and hold - press and hold has its own problem #227), JAWS doesn't say anything when you reach the min/max values of the slider. Here is an example interaction:

Leg at position 0:
{right arrow} - positio...(JAWS cut off because user presses right arrow again qui

[2017-05-08 18:08] jessegreenberg opened #247 "[JAWS + IE11] "escape" key causes virtual cursor to get stuck after closing a dialog"
Seen on Windows 10, IE11 + JAWS. For phetsims/tasks#831. Found by the illustrious @phet-steele.

When the escape key is used to close a dialog in JAWS, the virtual cursor seems to get stuck in the sim title (or something).  After closing a dialog with escape key, when moving the virtual cursor the only thing that can be read is "John Travoltage".  In this state, nothing can be interacted with. Whe

[2017-05-08 18:17] jessegreenberg commented on #242
@emily-phet the 2 problems in this issue will happen with JAWS/IE11 and *any* HTML slider, as @phet-steele pointed out with the JSFiddle example.  As such, I think this should be marked as ```wontfix```, and we should let Freedom Scientific know about this problem.  Does that sound OK to you?

[2017-05-08 18:22] jessegreenberg commented on #243
Thanks @phet-steele, the first think I want to check is if there is a setting for reading length.  The element with this content looks like
[code]

Nothing about this makes me think that JAWS should stop after "Wieman".

[2017-05-08 18:34] jessegreenberg commented on #243
For me, JAWS reads up intil the "Credits" heading and then nothing more.

[2017-05-08 18:46] jessegreenberg commented on #243
Not likely a JAWS setting, this is not a problem for JAWS + Chrome.

[2017-05-08 19:12] jessegreenberg commented on #243
It is not a problem in this example:
https://jsfiddle.net/v4xa9x6k/2/show/

[2017-05-08 19:15] jessegreenberg commented on #243
It is a problem in this example case as well for IE11 + JAWS.
https://jsfiddle.net/v4xa9x6k/2/show/

[2017-05-08 19:17] jessegreenberg commented on #243
In that example it doesn't even read "Credits", it gets interrupted with the Dialog role, it says "CreDialog, John Travoltage..." and then the rest until Credits, and then it skips to the link.

[2017-05-08 19:22] jessegreenberg commented on #243
When I change the role on the dialog from "dialog" to "alertdialog", the problem goes away in the JSFiddle example.

[2017-05-08 19:26] jessegreenberg commented on #243
That seemed to be a fluke, it still has this problem.

[2017-05-08 19:31] jessegreenberg commented on #243
I tried adding role=document on the dialog content under the element with role=dialog, it has no effect.

[2017-05-08 19:39] jessegreenberg commented on #243
Here is an example with the HTML semantics inside of the Dialog removed:
https://jsfiddle.net/v4xa9x6k/5/show/

Cursor got to the "S" in "Sam Reid", and then went back to the top of the dialog.

[2017-05-08 19:39] emily-phet commented on #242
@jessegreenberg Sounds good to me.

[2017-05-08 19:59] jessegreenberg commented on #238
Sounds good @emily-phet.  The workaround was added in the above commit.  Marking this as wontfix and leaving this issue open until we hear from Apple when we submit a bug report in https://github.com/phetsims/a11y-research/issues/37.

[2017-05-08 20:00] jessegreenberg commented on #247
This bug makes the sim unusable, so we should definitely find a workaround.

[2017-05-08 20:11] jessegreenberg commented on #247
My guess is that JAWS is not correctly updating the accessibility tree when the dialog is un-hidden. Sometimes this will happen if you click on the button with "enter" or "spacebar". And sometimes this doens't happen when you close the dialog with "Escape".

[2017-05-08 21:24] jessegreenberg commented on #247
I am wondering if this is related to https://github.com/phetsims/a11y-research/issues/30 - When a parent is un-hidden, children aren't added back into the accessibility tree. Is that similar to what is going on here?

[2017-05-08 21:26] jessegreenberg commented on #247
The problem goes away when the phet menu is opened, is that forcing the accessibility tree to update?

[2017-05-08 21:33] jessegreenberg commented on #247
Removing the entire subtree of accessible content and adding it back in depending on whether or not the dialog is open seems to fix this issue.

[2017-05-08 21:43] jessegreenberg commented on #247
That might be the only way to guarantee that this works in JAWS, but it will be much more performance intensive if we have to hide everything this way.

[2017-05-08 21:48] jobara commented on #247
@jessegreenberg have you tried refreshing JAWS virtual buffer. You should be able to do that as a user with the JAWS key + Escape. This might help to give clues to the issue.

[2017-05-08 21:59] jessegreenberg commented on #247
Thanks @jobara, I didn't know you could do that! @phet-steele and I just tried to do that and the problem is still there. When you refresh the virtual buffer does it update everything in the accessibility tree?

[2017-05-08 22:04] jessegreenberg commented on #247
The above commit fixes the problem, but we should verify performance on a tablet.

[2017-05-08 22:19] jessegreenberg commented on #247
I just tested performance on http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.37/john-travoltage_en.html on an iPad2 (Tycho) and performance seems equivalent before and after.

[2017-05-08 22:21] jessegreenberg commented on #247
@phet-steele this should be fixed, would you like to verify or are we good to close?

[2017-05-08 22:25] jessegreenberg commented on #246
Much like #242, this is an issue with how JAWS reads things for all HTML sliders, and can be reproduced here https://jsfiddle.net/1j1y3s8p/.

I am not sure that this is even a bug or if this is the way it was designed to be read out.  @emily-phet I am going to mark this as ```wontfix```, but please let me know if you think it is worth further investigation.

[2017-05-08 22:26] jessegreenberg commented on #245
Thanks @phet-steele.  If it happened with the arm and leg I would say this is a feature.  Since it is inconsistent it seems more like a bug.

[2017-05-08 22:27] jessegreenberg commented on #245
This also happens when you focus from the other direction.  If starting on the Keyboard Help button, you will hear

"Mute sound, toggle button." "Reset All, button"

[2017-05-08 22:28] emily-phet commented on #246
@jessegreenberg I agree, marking as wontfix sounds appropriate. Hopefully if a user experiences this, they will start navigation more slowly to see what happens, and then hear readouts again.

[2017-05-08 22:31] jessegreenberg commented on #245
The html for the Reset All button looks like
[code]

I am not sure why it isn't
[code]

[2017-05-09 05:11] jessegreenberg commented on #245
Fixed in the above commit, but we should make sure that it doesn't change the behavior for VO and NVDA.

[2017-05-09 05:13] jessegreenberg commented on #244
Yes, for role="alert", the JAWS treats the like aria-relevant="all" (though ONLY in IE11).  See
https://jsfiddle.net/bxho5bvu/2/

Removing role="'alert" from the aria-live element stops the alert from being read when the content is removed.

[2017-05-09 05:15] jessegreenberg commented on #244
When I add "aria-relevant=additions" JAWS reads the alert when the content is removed.

[2017-05-09 05:26] jessegreenberg commented on #244
Using an aria-live element without role=alert fixes the problem.

[2017-05-09 05:28] jessegreenberg commented on #244
Replaced above, closing.

[2017-05-09 05:43] jessegreenberg commented on #245
Tested on VO with Safari, NVDA with Firefox, JAWS with IE11, all is working well.

[2017-05-09 05:43] #245 closed

[2017-05-09 12:49] jobara commented on #247
@jessegreenberg regarding your question about refreshing the virtual buffer, from what I understand is that it rebuilds the virtual buffer from the current DOM. I'm not sure how much of a problem this is anymore, but it used to be something that users would have to do if dynamic content wasn't showing up for them.

[2017-05-09 15:52] jessegreenberg commented on #243
There are two issues here.

1) Reading stops at about "Credits"
2) Once it hits that location it repeats dialog content again until it reaches "Credits" again, then it jumps to the focused link.

The repetition is happening because there isn't a proper label associated with the dialog.  Fixing the aria-labelledby association will fix this.

I am not sure why it would stop reading at credits.  It m

[2017-05-09 16:20] jessegreenberg commented on #243
The above commit fixes the label association and JAWS doesn't read through the dialog twice anymore.  Still not sure why it would stop at "Credits".

[2017-05-09 16:45] jessegreenberg commented on #243
@jobara recommended that we test against this example: http://jqueryui.com/dialog/#default

In a test case JAWS read through everything.  When I make the content longer (https://jsfiddle.net/9nkq8sL6/4/) JAWS gets to the word "Resized" in the second paragraph, then stops, so it seems that JAWS stops reading after a certain length.

[2017-05-09 16:51] jessegreenberg commented on #247
Thanks @jobara that is really good to know. For the hypothesis in https://github.com/phetsims/john-travoltage/issues/247#issuecomment-299995185, I would have expected refreshing to fix the problem.  This bug wasn't happening in the JAWS + Chrome combination, so perhaps it is an issue with IE11.

[2017-05-09 20:25] jessegreenberg commented on #243
@jobara noticed that the JSFiddle examples above had a missing closing tag.
 https://jsfiddle.net/9nkq8sL6/6/embedded/result/ has this fixed.  The problem is still there after the update.  Behavior is different depending on context.

In https://jsfiddle.net/9nkq8sL6/6/embedded/result/, once focus lands on the close button, JAWS will read until near the bottom of the second paragraph and then loop

[2017-05-09 20:33] jessegreenberg commented on #243
In this case: https://jsfiddle.net/9nkq8sL6/6/ (Same HTML, but rendered at a different time)
JAWS reads until "resized" in the paragraph and then stops reading.

[2017-05-09 20:40] jessegreenberg commented on #243
@jobara recommended that we take a look at the accessibility tree using aViewr from the Paciello group to see the information that is provided to the AT.

[2017-05-09 20:51] jessegreenberg commented on #243
I am not able to get aViewer to work on my Windows 10 Machine, it is crashing consistently when I try to view the content.

[2017-05-09 20:52] jessegreenberg commented on #243
@emily-phet do you think that this is worth more exploration?  The content can still be easily read by the virtual cursor, it is just that the initial automatic read through the About Dialog stops at the "Credits" section.

[2017-05-09 21:00] emily-phet commented on #243
@jessegreenberg I think we can hold off on this for now, considering the content is still accessible using shortcuts, and the content is required for useful sim exploration. We should keep in mind for future reference that there appears to be a word limit for JAWS.

[2017-05-09 22:44] jessegreenberg commented on #243
Sounds good @emily-phet.  I think we are guessing that this is an issue with IE11.  Would you like us to submit a bug report, or just close this issue?

[2017-05-09 23:08] jessegreenberg commented on #243
I made the above issue where we decide whether or not to submit a bug report.  Documentation has been moved to that issue. Closing.

[2017-05-09 23:08] #243 closed

[2017-05-10 00:14] jessegreenberg commented on #244
Reopening.  This change added a VO bug where pressing the reset all button causes focus to move to the alert elements when charges are added to the body.  Switching to aria-live="polite" fixes the problem.  Based on this, the only aria-live attribute that works with consistency is aria-live="polite".

[2017-05-10 00:31] jessegreenberg commented on #244
Fixed, in a scenery-phet commit, tested with VO/Safari, JAWS/IE11, NVDA/Firefox

[2017-05-10 00:31] #244 closed

[2017-05-10 16:10] #83 closed

[2017-05-10 20:20] jessegreenberg commented on #247
This is fixed, closing.

[2017-05-10 20:20] #247 closed

[2017-05-11 04:47] jessegreenberg opened #248 "KeyboardHelpDialog leaks memory"
It is really easy to create a lot of keyboard help dialogs easily.

- Tab to the Keyboard Help Dialog button
- Press and hold "enter"
- Observe as focus goes back and forth between the button to open the dialog, and the button to close the dialog.

This is fine, but the dialogs are persisting:
![capture](https://cloud.githubusercontent.com/assets/6396244/25933043/313e2e9e-35d2-11e7-9d7c-978ec4b9ec

[2017-05-11 05:03] jessegreenberg opened #249 "Touch on PhET menu doesn't blur focus"
This is problematic for cases like this, where the focus highlight obscures menu content:

![capture](https://cloud.githubusercontent.com/assets/6396244/25933558/d05708a0-35d4-11e7-939c-44cef60e5cab.PNG)

Mouse clicks pop focus away from the document, so this is only a problem for touch input on the PhET menu.

For https://github.com/phetsims/tasks/issues/838.

[2017-05-11 05:30] jessegreenberg commented on #249
This isn't happening in Firefox, so this is actually a browser specific issue.

[2017-05-11 05:42] jessegreenberg commented on #249
Edge has this problem too, and I would guess IE11 will as well.

[2017-05-11 06:08] jessegreenberg commented on #249
IE11 has this problem for both mouse and touch events.  It looks like focus doesn't blur the active element when clicking in the sim.

[2017-05-11 08:36] jessegreenberg commented on #249
Fixed via https://github.com/phetsims/joist/commit/c69ff41b473aa3073ed50662d8b796b8802f6759.  Leaving open to verify in a spot check in the next RC.

[2017-05-11 08:44] jessegreenberg commented on #248
Leak patched with the above commit.  Holding "enter" down for ~1 minute produces the following profile.

![capture](https://cloud.githubusercontent.com/assets/6396244/25940534/ada490c4-35f3-11e7-817c-9024ed5ba940.PNG)

Closing.

[2017-05-11 08:44] #248 closed

[2017-05-11 15:25] jessegreenberg opened #250 "Update credits"
A reminder to do so before the sim is published.

For https://github.com/phetsims/tasks/issues/838.

[2017-05-11 16:04] terracoda commented on #238
@emily-phet, sorry I was not available for earlier comment on this issue. If this continues to be an issue, we might want to use words to indicate above and below the door knob.

[2017-05-11 17:34] terracoda commented on #240
@emily-phet, I'm glad we are keeping the word "rubbing."

[2017-05-11 18:48] brroberts1231 opened #251 "[Safari on 10.9.5] Keyboard navigation doesn't function at all - [EDIT] only when a certain preference is not checked"
For phetsims/tasks#838

Using OSX 10.9.5 with Safari appears to not work with keyboard navigation at all. The only thing that pressing tab does is select and deselect the address bar. I tried this both on the normal version of the sim and iFrame, neither worked. Both did work when I tried it in Chrome and Firefox, so I think the problem is specific to Safari.

Troubleshooting information (do not e

[2017-05-11 18:57] brroberts1231 commented on #251
Turns out that the problem resided in Safari preferences. Under the Advanced tab, the check for 'Press Tab to highlight each item on a webpage' needed to be enabled. @emily-phet, @jessegreenberg asks if we need to communicate this to the user.

[2017-05-11 21:19] jessegreenberg commented on #251
@emily-phet I was wondering about something in teacher tips maybe? Those that need keyboard nav will know about this setting, but teachers or others that are interested in this but not as familiar with a11y might assume this is a bug.

[2017-05-11 21:29] emily-phet commented on #251
@jessegreenberg Yes, this is what I was thinking. Teacher Tips and/or general notes about a11y features. Can we make note of this somewhere? Or tag this issue with some for teacher tips...?

[2017-05-11 21:48] jessegreenberg opened #252 "[Firefox] Focus is lost after navigating to Dialogs in full screen mode"
Found by @phet-steele for For phetsims/tasks#838.

Steps to reproduce:
- Enter full screen mode
- navigate to the Keyboard Help Dialog or the Updates Dialog.
- Tab away from the "close" button.
- Focus will be lost, and we won't be able to focus anything in the sim until using mouse or touch

Reproduced in Firefox on Windows 8.1 and Windows 7.

[2017-05-11 21:50] jessegreenberg commented on #252
@phet-steele recommended that we use NVDA to hear what is happening to focus.

After turning on NVDA, the problem went away on Windows 8.1.  Now we can no longer reproduce the problem on that machine, even when NVDA is off.

Still happening on Windows 7 Firefox.

[2017-05-11 21:53] jessegreenberg commented on #252
I added this bit of code to track the active element when pressing tab, I will take a look at what is happening.
[code]

But I am starting to wonder if tabbing out of the button is causing the window to lose focus, which means no keyup events to track.

[2017-05-11 21:55] jessegreenberg commented on #252
Also, this is not happening at all for the About Dialog. What is different in that case?  More than one focusable element?

[2017-05-11 22:01] jessegreenberg commented on #251
Ok, great.  @emily-phet I don't really know where the best place to note this would be.  Maybe @arouinfar would know? Or do we need to organize a new tips section just for a11y?

[2017-05-11 22:04] emily-phet commented on #251
@jessegreenberg Yes, please start an issue in a11y-research for putting together general a11y tips. Thanks!

[2017-05-11 22:28] jessegreenberg commented on #251
Issue made!  I think that means this issue can be closed.

[2017-05-11 22:28] #251 closed

[2017-05-11 22:30] jessegreenberg commented on #250
We are going to add an entry for John and Justin under a new "Contributors" section.

We will also want to add some QA members, and probably @emily-phet @jessegreenberg and @terracoda to Team.

@emily-phet any others?

[2017-05-11 22:33] jessegreenberg commented on #252
Note: If we can't figure out why this is happening, we could potentially limit focus to the Dialog, so it is impossible to tab out of the Dialog. This might be bad for a11y, I am not sure.

[2017-05-11 22:49] phet-steele commented on #250
@jessegreenberg, here is QA:

Steele Dalton, Bryce Griebenow, Ben Roberts, Oliver Orejola

[2017-05-11 22:54] phet-steele opened #253 "Keyboard Help, no max width"
<img width="1917" alt="screen shot 2017-05-11 at 4 52 40 pm" src="https://cloud.githubusercontent.com/assets/5863899/25975231/64a9638c-366a-11e7-8236-64d8503df489.png">

Seen on macOS 10.12.4 Chrome. For phetsims/tasks/issues/838

Name: ssssssssdsdsdsdsdsdddsdfffffffffffgfggdfaflhdfaldsfhdkfjhdlkfjhaflkjdhflkadjfhdlkfjhdlkfjhdflkjahfklajfhlakjdhfkadjhflkajdfhdslkfjhadlkfjhdlkfjhadlkfjhdlfkjhdfkljh

[2017-05-11 22:57] jessegreenberg commented on #253
@phet-steele the sim passes stringTest=long.

Do our sims need to pass ```stringTest=stringTest=ssssssssdsdsdsdsdsdddsdfffffffffffgfggdfaflhdfaldsfhdkfjhdlkfjhaflkjdhflkadjfhdlkfjhdlkfjhdflkjahfklajfhlakjdhfkadjhflkajdfhdslkfjhadlkfjhdlkfjhadlkfjhdlfkjhdfkljhdalfkjhdalfkjdhfljdhflkajsdhflkdajfhldkjfhdklfgdlkjhglkgjhadfkjdhfkjahgkdsfgdkgjhaeuiryaewuiryewrouyfdfuihdafkjbflidabfliuwfiuehfd9f8dyf9zd8z

[2017-05-11 22:59] jessegreenberg commented on #250
Thanks!

[2017-05-11 23:17] jessegreenberg commented on #252
I believe that this is the bug we are seeing:
https://bugzilla.mozilla.org/show_bug.cgi?id=910136

[2017-05-11 23:18] jessegreenberg commented on #252
That bug report is marked as resolved only because communication stalled.

[2017-05-11 23:28] jessegreenberg commented on #252
When shift tabbing, focus in full screen Firefox looks like

- ```<html>```
- ```<body>```
- '''<button>``` (the close button)

When tabbing, focus looks like
- ```<body>```
- ```<body>```
- ```<body>```
- ```<body>```
- ```<body>```
- ```<body>```
...
Focus is stuck on body.

Maybe we can have a check that says if focus is about to be placed on the body, refrain from moving focus?

[2017-05-12 00:14] jessegreenberg commented on #252
If I add one more focusable thing to the dialog, things work just fine. This seems like a Firefox bug where having only one focusable element in the DOM breaks things when the nav bar is hidden.

[2017-05-12 00:23] jessegreenberg commented on #252
That should mean we can try to detect fullscreen mode, and whether or not the document has any more focusable elements.  If not, we can prevent default behavior on tab.

[2017-05-12 00:40] jessegreenberg commented on #252
Fixed via https://github.com/phetsims/joist/commit/cc645a0d12179c546f32b4df0397b8407c0459e3.

[2017-05-12 00:47] jessegreenberg commented on #253
Sim now passes
[code]
![capture](https://cloud.githubusercontent.com/assets/6396244/25977672/4556d3c4-367a-11e7-8720-2eccf6ba56be.PNG)

[2017-05-12 00:47] #253 closed

[2017-05-12 01:12] jessegreenberg commented on #250
New credits:

![capture](https://cloud.githubusercontent.com/assets/6396244/25978137/ac9cc75c-367d-11e7-8ec7-d3ca9b4c4d9b.PNG)

Look OK @phet-steele @emily-phet?

[2017-05-12 01:13] jessegreenberg commented on #250
@arouinfar I have a vague memory that we are missing a new graphic artist that added the new head asset,  should someone else be added?

[2017-05-12 16:35] arouinfar commented on #250
@jessegreenberg please add Mariah Hermsmeyer to the graphic arts credits.

[2017-05-12 16:39] jessegreenberg commented on #250
Thanks @arouinfar, added.  Closing.

[2017-05-12 16:39] #250 closed

[2017-05-12 18:19] phet-steele commented on #249
👍, also fixed on a touchscreen chromebook.

[2017-05-12 18:55] jessegreenberg commented on #249
Reopening, @phet-steele noticed that the fix prevents focus from entering the PhET menu  in IE11 and Edge.

[2017-05-12 18:55] phet-steele commented on #249
Actually, not quite there.

[2017-05-12 18:55] phet-steele commented on #249
Oh, @jessegreenberg, you got this handled then...

[2017-05-12 19:25] jessegreenberg commented on #249
I think we are hitting this IE11 bug
https://github.com/jquery/jquery/issues/2511

The bug does not happen in Edge.

[2017-05-12 19:26] jessegreenberg commented on #249
Here is another report https://connect.microsoft.com/IE/feedback/details/858200/error-when-trying-to-blur-a-link-in-fullscreen-mode

[2017-05-12 20:28] phet-steele commented on #249
Work around has IE11 work around touch inputs.

[2017-05-12 20:28] #249 closed

[2017-05-12 20:28] phet-steele commented on #252
Looks good, thanks.

[2017-05-29 03:39] samreid commented on #187
Fixed in master because axon no longer errors out on existing listeners.

[2017-05-29 03:39] #187 closed

[2017-05-29 03:41] samreid commented on #198
@jessegreenberg can you please comment on the status of this issue and let us know what's left t be done, if anything?

[2017-05-29 03:47] samreid commented on #156
Normally for non-scenery-nodes, it is better to use tandem.createSupertypeTandem() when passing tandems to a super constructor call.  In this case it doesn't matter because the supertype isn't calling tandem.addInstance, but may still be a good change to make.  Everything else seems ok.

[2017-05-30 14:52] jessegreenberg commented on #198
I just verified in the state wrapper that the green box state is correct.  But while using the state wrapper, I noticed there is something else wrong with the state of the charges.  Closing this issue, creating a new one for that.

[2017-05-30 14:56] jessegreenberg opened #254 "Issue with charge states"
While testing for https://github.com/phetsims/john-travoltage/issues/198, I noticed that charge states are incorrect in the state wrapper.  Here is an example:

![capture](https://cloud.githubusercontent.com/assets/6396244/26589608/b0582156-4515-11e7-94d1-355aaa627679.PNG)

[2017-05-30 14:56] #198 closed

[2017-05-30 15:15] jessegreenberg commented on #156
Thanks @samreid, I used tandem.createSupertypeTandem() in the supertype constructor calls.  Closing this issue.

[2017-05-30 15:15] #156 closed

[2017-05-30 15:17] jessegreenberg commented on #129
Thanks @jbphet, there are no more licensing issues (other than the exceptions for the image assets used in this sim).  Closing.

[2017-05-30 15:17] #129 closed

[2017-05-30 21:32] phet-steele commented on #254
@samreid @zepumph This is something I showed @jessegreenberg on Friday, so it is for phetsims/tasks/issues/846

[2017-06-01 17:28] phet-steele opened #255 "Uncaught Error: unknown value for pickable"
Instance proxies:
1. Add electrons by rubbing the leg on the rug
2. Click ResetAll

[code]
Seen on Win 10 Chrome & FF. For phetsims/tasks/issues/846. Assigning to @samreid to fix or delegate.

[2017-06-01 20:52] EthanWJohnson commented on #255
I have a slightly different version of the same error, referencing two different locations instead;
![image](https://cloud.githubusercontent.com/assets/22551096/26700032/18c5c7ec-46d9-11e7-9a09-47ee6686310b.png)

Also, once the error occurs it duplicates indefinitely by moving either the leg or the arm; it seems to throw an error for every coordinate update that you would see in events:colorized o

[2017-06-02 04:10] samreid commented on #255
The Scenery docs say that pickable will be false, true or null, but it is coming through as `undefined`.

[2017-06-02 04:11] samreid commented on #255
@jbphet and @ariel-phet what is the priority of this?  I know @zepumph will have a lot to do starting Monday, can you wait for him to work on this or do you need it quickly?

[2017-06-02 15:58] jbphet commented on #255
I'm hoping to start integrating the new phet-io release of this sim plus Balloons and Static Electricity and Build an Atom on Tuesday, June 13th.  This problem seems like it would block the release of this sim, and some amount of further testing.  Working backwards a few days, I think it would be good to have it resolved and rolled into new RCs by next Thursday, June 8th.

[2017-06-06 01:37] zepumph commented on #255
The first problem was that this pickable undefined error was downstream of the actual error, so above I added error handling to createInstanceProxyDiv.js. Now if there are errors with the invoke calls, it will error out. I'm not sure if this should be the final solution, because it is sort of like assertions in that we don't want to purposefully throw errors in production mode. This way is good fo

[2017-06-06 01:44] zepumph commented on #255
@samreid can you comment on me throwing the errors from `.invoke` calls in createInstanceProxyDiv.js?

[2017-06-06 01:51] zepumph commented on #255
There are more issues than just this from https://github.com/phetsims/tasks/issues/846, so I will wait to release a new RC for all of the problems.

[2017-06-07 23:24] zepumph commented on #254
I seem to be getting the same error as I do in the About dialog issue https://github.com/phetsims/phet-io/issues/1143:

[code]

I think that this is an error that is downstream of the cause, but the cause is breaking the phetio engine in a consistent way.

[2017-06-08 23:49] zepumph commented on #254
@samreid I would love some help on this one, let's talk tomorrow.

[2017-06-09 21:27] zepumph commented on #254
@jessegreenberg may want to review these commits.

[2017-06-12 16:58] phet-steele commented on #254
This looks good to me. Keeping open for @jessegreenberg to review.

[2017-06-12 17:07] phet-steele commented on #255
I don't see the error anymore. Keeping open and assigned to @samreid since @zepumph requested a comment in https://github.com/phetsims/john-travoltage/issues/255#issuecomment-306357862 (and I don't see a comment yet).

[2017-06-12 17:20] jessegreenberg commented on #254
In https://github.com/phetsims/john-travoltage/commit/9759871a4532b9ecfa11a5ba2fd69b4aee53386e ```regionText``` wasn't being set so position of the arm is missing from the alert that happens when a discharge occurs.  Fixed in master.  @zepumph should this be cherry picked into 1.4-phetio?

[2017-06-12 17:32] jessegreenberg commented on #254
To clarify, for an alert:

"very close to doorknob" was missing.

[2017-06-12 18:50] zepumph opened #256 "Publish JT 1.4.0-phetio"
RCs are done, I am going to publish now.

[2017-06-12 21:34] zepumph commented on #256
Here we are,

https://phet-io.colorado.edu/sims/john-travoltage/1.4.0-phetio/wrappers/index/

tagging @jbphet, let me know if there are any problems.

closing.

[2017-06-12 21:34] #256 closed

[2017-06-14 15:53] samreid commented on #182
@zepumph and @jessegreenberg what is the status of this issue?

[2017-06-14 17:39] zepumph commented on #182
JT 1.4.0-phetio is published to the phet-io website, and just went through full QA testing for phet-io. I think we should close this and make a new issue to deliver it to our non ETS partners. @jessegreenberg are there any other thoughts you have?

[2017-06-14 20:26] jessegreenberg commented on #254
Thanks @zepumph looks like cherry-pick is done, can this be closed?

[2017-06-14 20:35] zepumph commented on #254
Yeah, thanks for keeping me honest, closing.

[2017-06-14 20:35] #254 closed

[2017-06-16 17:33] samreid commented on #255
@zepumph and I discussed adding a console.error statement to SimIFrameClient so that we get this kind of benefit for all wrappers, then we can eliminate this workaround in createInstanceProxyDiv.  It sounds reasonable to me since we never use Errors to pass normal information--they always indicate that something has gone wrong.  Hence it is OK to console.error them when they occur.
 @zepumph does

[2017-06-16 19:50] zepumph opened #257 "PhET-iO Fuzz Test Error"
[code]

[2017-06-16 20:12] jessegreenberg commented on #257
@zepumph is this an issue for the 1.4-phetio branch?  Cannot reproduce in master.

[2017-06-16 20:19] jessegreenberg commented on #257
Also not seeing in continuous testing.

[2017-06-16 20:31] zepumph commented on #257
Ahhh I must have fuzz tested with all on master, but while BASE was still on 1.4-phetio.

[2017-06-16 20:31] #257 closed

[2017-06-16 20:37] zepumph commented on #255
One thought about this. We implemented this in SimIFrameAPI already. There is a console.error whenever there is a problem with the sim.
[code]

Why do we need it in both places? Isn't that redundant. Instead I was focused on implementing throwing the error only in Instance Proxies, since I thought of it as a good place to get that feedback, both while PhET develops it internally, and for third par

[2017-06-16 20:39] zepumph commented on #255
My commit above, where I am throwing errors in Instance Proxies, was meant to be a wrapper implementation, and I stand by that. I think that error control like this (throwing them) should be done in the wrapper, and not by phet-io (which to me includes simIFrameClient).

[2017-06-20 20:27] zepumph commented on #255
Let's talk about this more this week, perhaps just a few more minutes would be helpful.

[2017-06-23 19:04] zepumph commented on #255
@samreid agrees, the sim side error log is enough. I should revert the error handling in instance proxies, it is no longer needed.

[2017-06-25 18:49] zepumph commented on #255
I reverted the error handling in createInstanceProxyDiv. Closing

[2017-06-25 18:49] #255 closed

[2017-07-06 16:50] pixelzoom opened #258 "sonification audio files increase html file size"
In 7/6/17 status meeting, I asked about how audio files for sonification where being kept out of production versions, since they have to potential to greatly increase the size of the html file.  @jbphet said that the only sim that actually contains sonification audio files is john-travoltage, which has been published to the PhET site with sonification audio, and he guessed that it increases the si

[2017-07-06 16:57] jbphet commented on #258
I just totaled up the audio files (which includes those that existed before sonification), and they add up to 682k.  The other 900k is probably due to the accessibility work that has gone on for John Travoltage at the same time.

The sonification in this simulation is hidden behind a query parameter, and demonstrates several different versions.  About 3/4 of these files will be removed once the so

[2017-07-06 17:50] jessegreenberg commented on #258
I checked file size of built versions locally with and without accessibility features enabled:
- With a11y - 2,396,770 bytes
- Without a11y - 2,396,710 bytes

Accessible content in the DOM takes about 60 bytes.  Both files would include new strings and code for a11y but I doubt that would ad up to 900k.

[2017-07-06 18:33] jonathanolson commented on #258
Could potentially also increase iPad memory usage.

[2017-07-06 18:36] jbphet commented on #258
I'll build a version of this simulation with only .mp3 files, and only one version of sonification, and see what the size is.  This will give us a sense of how much sonification is likely to increase the size of a built simulation.

[2017-07-06 23:21] zepumph commented on #182
I'm closing this. The most current release is 1.4.2-phetio.

 https://phet-io.colorado.edu/sims/john-travoltage/1.4.2-phetio/wrappers/index/

[2017-07-06 23:21] #182 closed

[2017-07-13 18:10] jbphet commented on #258
I have let the designers know that the sonification will need to tend towards synthesized sounds and small recorded sounds (mono, max compression) in order to minimize the impact on the compiled size.  I still need to do the build test described above.

[2017-07-13 18:14] pixelzoom commented on #258
7/13/15 dev consensus was to add this item to code-review checklist (which I did):

[2017-08-06 21:33] samreid commented on #195
I think it's OK that the spark is transient and not part of the state and as mentioned above, if used for loading into a live sim, the spark will show.

[2017-08-06 21:33] #195 closed

[2017-08-30 23:26] jessegreenberg commented on #194
This issue illustrates an problem in the overlap between phet-io and accessibility, not sure if it should remain at high priority.

@ariel-phet should this be a high priority issue?

[2017-09-13 20:58] jessegreenberg opened #259 "A couple a11y changes"
From a meeting today with @terracoda, we would recommend two changes to the a11y content so it reflects our latest design practices.

1 - Add an H2 with content "Scene Summary" above the scene summary so structure and content is consistent in all sims.
2 - Remove the ```aria-controls``` attribute from the AppendageNode, with its value that points to the alert content.  We would like to make the al

[2017-09-20 22:52] ariel-phet commented on #194
@jessegreenberg I do not think this issue should remain at high priority. iO and a11y will need to "play nice" in the long run, so it is worth some investigation, but since iO strategy is still in flux, I don't think we need to have a perfect fix/overlap just yet. Good to understand the "why" but not necessarily make things perfect yet.

[2017-09-22 17:42] zepumph commented on #259
@jessegreenberg, I'm happy to take a look at these if you don't have time. Just let me know. From today's meeting it sounds like there isn't really a timeline, just that it would be good for all PhET accessibility to be consistent.

[2017-09-22 19:18] jessegreenberg commented on #259
Thanks @zepumph that would  be great! That is correct, we probably won't redeploy for this issue but it will be a general improvement for next time.  For part 1, we would like the sim HTML to look like this:

[code]

instead of this:

[code]

scenery-phet as an  ```AccessibleSectionNode``` which might be helpful.

[2017-09-26 02:01] zepumph commented on #259
For number 1. I think I got everything working, but there is a misplaced 'div' that is empty, and I don't know how it got there, is this a problem?

![image](https://user-images.githubusercontent.com/6856943/30838965-350345ae-a21b-11e7-8995-dd4d04146eb7.png)

See the commit above. Also I removed the aria-controls line. Please review.

[2017-10-04 15:53] phet-steele commented on #193
Happening in CCKDC. https://github.com/phetsims/circuit-construction-kit-common/issues/281#issuecomment-333920759

[2017-10-09 21:40] jessegreenberg opened #260 "Appendage focus highlights not visible"
Tabbing through, appendage highlights don't show up with focus

[2017-10-09 21:41] jessegreenberg commented on #260
its still using FocusOverlay, which no longer has color information (moved to FocusHighlightPath)

[code]

[2017-10-09 21:46] jessegreenberg commented on #260
fixed above

[2017-10-09 21:46] #260 closed

[2017-10-09 22:02] jessegreenberg commented on #259
That div is the DOM element for AccessibleSectionNode, which would holds accessible content for any children of the AccessibleSectionNode. To get rid of the div alternative would be to create a custom Node in JohnTravoltageView with options like

[code]

But I would rather re-use AccessibleSectionNode as you did and keep the empty div. Empty static elements present no a11y issues, it seems fine to

[2017-10-09 22:02] #259 closed

[2017-10-10 18:59] jessegreenberg opened #261 "bayes error"
[code]

[2017-10-10 19:37] jessegreenberg commented on #261
Paintable options needed to be distributed out of FocusHighlightPath so that tandems weren't passed to both Paths in that type. Closing.

[2017-10-10 19:37] #261 closed

[2017-10-30 18:33] jbphet opened #262 "replace direct assignments of gain values with setTargetAtTime"
Direct assignment of values to gain is apparently being deprecated in Chrome, see https://github.com/phetsims/vibe/issues/31.  I should replace places where this is done in this sim with `setTargetAtTime`.

I'm setting this at low priority, since this only occurs in the sonification code, which is hidden behind a query parameter in the current release and may well be pulled into a common library b

[2017-11-03 19:35] phet-steele commented on #193
@jonathanolson this is pretty rampant in pendulum-lab.

![screen shot 2017-11-03 at 1 32 44 pm](https://user-images.githubusercontent.com/5863899/32392588-dac2702a-c09b-11e7-8ca0-a9f28044366e.png)

[2017-11-03 20:06] jonathanolson commented on #193
Can we see if this is happening in Canary/Beta?

Additionally, I'm curious if it is related to https://bugs.chromium.org/p/chromium/issues/detail?id=473182&q=svg%20vertical%20line&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

Also, is this device high-dpi (retina?). Maybe be related to https://bugs.chromium.org/p/chromium/issues/detail?id=71617

[2017-11-09 18:53] phet-steele commented on #193
Yes, this is happening in 64.0.3263.0 canary.

Yup, as said in https://github.com/phetsims/john-travoltage/issues/193#issuecomment-279465849.

[2017-11-15 00:26] jessegreenberg commented on #252
This bug has resurfaced in https://github.com/phetsims/QA/issues/66.

[2017-11-17 00:18] jessegreenberg commented on #252
Fixed in master, patch applied to  the 1.4 releases branch of RIAW.

[2017-11-21 22:00] jessegreenberg opened #263 "Update help dialog"
We have come to a consistent design for the dialog help content in  https://github.com/phetsims/a11y-research/issues/62. We should update the dialog for this sim as well.

[2017-11-21 22:01] jessegreenberg commented on #263
Behavior for the appendages is same as a slider, so content will probably be quite similar to the dialog in OL and RIAW.

[2017-11-27 19:16] phet-steele commented on #252
RIAW checks out on Win 7 FFQ.

[2017-11-27 19:16] #252 closed

[2017-11-29 00:18] pixelzoom commented on #258
The latest dev version of this sim is even larger, so it looks like audio files are still being included:

Any plans to republish without audio?

[2017-11-29 16:51] jbphet commented on #258
@emily-phet - I'm getting some questions about removing the sonification from the live version of John Travoltage.  Is this being used by anyone?  It's hidden behind the "sonification" query parameters, so it isn't turned on by default.

[2018-01-07 20:49] emily-phet commented on #258
Is this specific question re JT still an issue? @jbphet

[2018-01-07 21:30] emily-phet commented on #238
Any word from Apple? Can this be closed?

[2018-01-08 17:47] jessegreenberg commented on #238
1/8/18: Just checked the bug report, no response from Apple, and I updated phetsims/a11y-research#37. Since this impacts *all* usages of aria-valuetext with negative values (not just the ones in this sim) I think this issue can be closed and it can be tracked in phetsims/a11y-research#37.

[2018-01-08 17:47] #238 closed

[2018-01-08 18:51] jbphet commented on #258
@emily-phet - yes, it is.  A concern was expressed that this sim was published with sonification which isn't being used and is currently being redesigned.  This increases the size of the sim, which affects loading time and iPad app size.  So, the original question of "[w]ould you object to it being removed until more permanent sonification is completed?" is still open.

[2018-01-08 19:39] emily-phet commented on #258
Hmm, sorry for the delay on this then. Going forward, I do not object to having files associated with sonification removed from deployed sims during the sonification design process - as long as this doesn't cause a problem for sonification design work.
For the case of JT, and a few other sims where deployment with sonification is planned for Spring/Summer, it may not be worth the effort to change

[2018-01-19 17:50] jbphet opened #264 "re-record the "ouch" sound"
We are currently working on the enhanced sound design for John Travoltage, and have replaced the previous sound for the static discharge with a more "real" sound.  However, most everyone really likes the old voice sound, where it kind of sounds like the real JT saying, "ga-zouch".  The original recording has too much of a person making a buzz sound, though, and doesn't go well with the new electri

[2018-01-19 18:13] samreid commented on #264
I would be honored.  I sent a wave file with several samples to @jbphet email.

[2018-01-21 14:51] emily-phet commented on #91
This issue is out of date - sonification has progressed significantly since the start of this issue.

[2018-01-21 14:51] #91 closed

[2018-01-21 19:43] emily-phet opened #265 "New Sounds from Ashton to implement"
From Ashton's email (1/21)

Here is a new ambient electron sound that has a much better loop. (This should be played at a low volume like the last one)

https://drive.google.com/open?id=1B8KDVgu3NcEtp3ik7Fw0xz2UEorAa6or

Also I wasn’t positive which reset sound was in use so I shortened both just in case.

https://drive.google.com/open?id=1dimcV5hiTLNLtDOIP1UCslwTl4TXhVQM
https://drive.google.com/

[2018-01-23 00:32] samreid opened #266 "State wrapper broken"
From https://github.com/phetsims/phet-io/issues/1301

[2018-01-23 05:32] samreid commented on #266
Fixed, closing.

[2018-01-23 05:32] #266 closed

[2018-01-31 13:19] emily-phet opened #267 ""continuous incrementing" slider question"
@jessegreenberg would it be possible to make John Travoltage arm a custom slider, with the behavior that once the max input value is reached, any typical key press that increment the input value results in jumping the slider back to minimum input value position? If so, this would result in the slider being able to be continuously incremented, without reaching an 'end'.

[2018-01-31 13:23] emily-phet commented on #267
Note: I know the current arm slider does not actually span 360 degress, there's a piece of the pie missing(!) opposite the doorknob. I was just curious about this, as I'm writing about the arm/slider implementation for the HCII paper and I'm not sure if we seriously considered this custom approach during our initial design.

[2018-01-31 13:36] emily-phet commented on #267
also - I wonder if the initial pause/speed up behavior used in the Coulomb's Law ruler may be something useful for JT.

[2018-02-02 00:57] jessegreenberg opened #268 "Assertion failed: invalid value: 3.3421531433504734"
Found while looking into #267. With a keyboard, move the arm so it is pointing pretty far from the doorknob, this assertion will  be thrown.

[2018-02-02 01:06] jessegreenberg commented on #267
Regarding

That would be atypical for an HTML slider. Some quick searching found this example of a custom element that wraps: http://roundsliderui.com/demos.html

Regarding:

Sliders get this for free, this is actually in the published version.

I think Jonathan Hung would have some more thoughts about this since he was the original a11y designer for this sim.

[2018-02-02 01:22] #268 closed

[2018-02-02 01:26] jessegreenberg commented on #267
I think this could have been a bug (https://github.com/phetsims/john-travoltage/issues/268), it should wrap all the way around now.

[2018-02-02 18:42] emily-phet commented on #267
@jessegreenberg
Just to clarify - from my initial comments, the only remaining thing is the possibility of a slider that "wraps", correct?
Can you estimate how difficult it would be to implement a wrapping slider? If it's not difficult, it might be useful to try it out with a few students the next time we get access to screen reader users. If it's challenging, probably not worth it.

[2018-02-02 20:32] jessegreenberg commented on #267
@emily-phet this would not be a difficult feature to add. With the current design, it would sound something like this:
[code]

[2018-02-02 20:39] jessegreenberg commented on #267
This would be easy for keyboard input, but may not be possible with gesture input. @emily-phet is it OK if the wrapping feature is supported with keyboard but not gesture?

[2018-02-02 23:13] jessegreenberg commented on #267
Yes, that is correct.

@mbarlow12 could you please work on this after https://github.com/phetsims/faradays-law/issues/103? since this is a prototype feature like the one in faradays-law this could be worked on in a one-off branch.

[2018-02-08 17:52] pixelzoom commented on #90
@jessegreenberg I don't see this branch, was it deleted? If so, please close this issue.

[2018-02-08 17:53] pixelzoom opened #269 "branch: no-valuetext"
Identified by `print-branches.sh`. @jessegreenberg please describe.

[2018-02-08 18:28] jessegreenberg commented on #90
Yes it was, thanks @pixelzoom.

[2018-02-08 18:28] #90 closed

[2018-02-08 18:49] jessegreenberg commented on #269
Branch was used to try experimental commits to fix a VoiceOver bug in #237. Changes were not successful and that issue documents what was tried. This branch has been deleted.

[2018-02-08 18:49] #269 closed

[2018-02-08 18:53] mbarlow12 opened #270 "branch: circular_slider"
From https://github.com/phetsims/john-travoltage/issues/267, we want to allow a full circular range of motion for the arm. Once the slider reaches either end of its range, we need to jump the input to the opposite end.

This will likely last a week or two.

[2018-02-09 17:27] jessegreenberg opened #271 "Sim should use AccessibleSlider trait"
The arm/leg in this sim behaves like an `input type=range` for a11y, but this sim doesn't use our AccessibleSlider trait. a11y in this sim was done before we created it.

@mbarlow12 would you please look into  replacing the a11y implementation in AppendageNode with AccessibleSlider? Hopefully AccessibleSlider will support everything that is needed by AppendageNode, but if it doesn't let me know.

[2018-02-09 22:51] jbphet commented on #265
These sound were integrated in https://github.com/phetsims/phet-io-wrapper-sonification/commit/fc12181ff5bc66b067a03c99bc653ee8191b2979.

[2018-02-09 23:26] mbarlow12 commented on #271
Thanks for the tip. I agree on this implementation before #267.

[2018-02-27 18:49] samreid opened #272 "Republish with fix for sim size 0x0"
See https://github.com/phetsims/joist/issues/472 we need to republish the sim.  I'll ask on slack if master is stable.

[2018-02-27 18:50] samreid commented on #272
Wait, wouldn't this need a full QA?  Maybe I should maintenance release the 1.4.2-phetio/john-travoltage_en-phetio.html version that is in use.

[2018-02-27 19:54] samreid commented on #272
I cherry picked joist/0b659f8b0e979974f9a3244b7030449e772d0a4f to a new branch

[2018-02-27 20:44] samreid commented on #272
I deployed an RC about 45 minutes ago but haven't seen it appear yet.

[2018-02-27 23:04] samreid commented on #272
Matt Pennington [2:15 PM]
I'm looking now, sorry for the delay

So, if I understand correctly, `grunt` for chipper 1.0 should be using the `--allHTML` flag only for phet brand deploys? (Or is it for non-phet-io brand deploys?)

Jonathan Olson [2:17 PM]
Yes, I believe so

Matt Pennington [2:24 PM]
OK, this should be fixed now, @samreid can you retry your deploy?

Sam Reid [3:00 PM]
will do, thanks

[2018-02-28 00:03] samreid commented on #272
@mattpen said:

Well, it's still using --allHTML even though it shouldn't
It failed because there are a whole bunch of errors like this: `PHET_IO require must start with an ifphetio! check.   phetio-require-contains-ifphetio` (40 or 50 lines like this)
[...]
OK, I just a deployed a fix that should prevent the build-server from using the --allHTML flag for phet-io/chipper-1.0 now (for real).  I'll

[2018-02-28 00:04] samreid commented on #272
I don't know what caused these `PHET_IO require must start with an ifphetio! check` problems.  Are they interfering with the build?  Does john-travoltage think it depends on all the wrapper directories now (even though it's on a June 2017 branch)?

[2018-02-28 04:18] samreid commented on #272
Published at 1.4.3-phetio and emailed clients.  Closing.

[2018-02-28 04:18] #272 closed

[2018-03-01 17:39] mbarlow12 commented on #271
Closing and moving on to https://github.com/phetsims/john-travoltage/issues/267.

[2018-03-07 23:14] zepumph opened #273 "Fix a11y strings"
From https://github.com/phetsims/a11y-research/issues/65:

- [x] Make sure that the a11yStrings file uses `{{key}}: { "value": '{{string}} }` notation
- [x] declare strings as vars at the top of the page (like with the `string!` plugin

[2018-03-13 17:09] #273 closed

[2018-03-15 21:54] jessegreenberg opened #274 "Extra "discharge occurred" alert?"
When a discharge occurs, here are the alerts:
![capture](https://user-images.githubusercontent.com/6396244/37493001-0e321e62-2869-11e8-9215-990484b0597f.PNG)

Do we need the "electrons discharged" alert in addition to the full one? Honestly, it looks like a debugging statement that was accidentally left in.

[2018-03-15 21:54] jessegreenberg commented on #274
Also, why is the position not being filled in? Ill make a new issue.

[2018-03-15 21:56] jessegreenberg opened #275 "Some string patterns are not correct"
In #274 I noticed that some string patterns have extra brackets. Example:
![capture](https://user-images.githubusercontent.com/6396244/37493096-5de29e1e-2869-11e8-9153-07271df66606.PNG)

Is it possible this was introduced from #273? @mbarlow12 can you take a look?

[2018-03-15 22:19] #275 closed

[2018-03-16 16:39] jessegreenberg commented on #274
Discussed 3/16/18 - It is OK to remove it.

[2018-03-16 21:34] jessegreenberg commented on #274
Removed, closing.

[2018-03-16 21:34] #274 closed

[2018-03-20 20:59] jbphet commented on #258
This should be improved, though not fully addressed, by the work done to remove the .ogg files, see https://github.com/phetsims/vibe/issues/19.

[2018-03-22 22:19] mbarlow12 commented on #267
@jessegreenberg I think I found a slight bug with the AccessibleSlider. The `_constrainValue` function is called on any keydown event if the node is enabled (not just slider inputs). Since the value is immediately set after invocation, this could definitely lead to some odd behavior.

I'll make a new issue, but please correct me if I'm wrong.

[2018-03-23 00:17] jessegreenberg commented on #267
Thanks @mbarlow12, I am not sure if this is buggy, but it is inefficient. Is the fix to put everything under line 291 inside of the
[code]
block?

[2018-03-23 01:49] mbarlow12 commented on #267
@jessegreenberg That should do it. I'll commit that tonight. Thanks!

[2018-03-23 18:21] mbarlow12 commented on #267
Implemented in the above commits, and we can review here:

https://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.4.0-circular_slider.1/phet/john-travoltage_en_phet.html?ea&accessibility

[2018-03-25 13:42] emily-phet commented on #267
Cool! I put this in the agenda for Tuesday.

[2018-03-27 16:22] jessegreenberg commented on #267
We tested in 3/27/18 a11y meeting:

Team really liked the feature. @mbarlow12 were you able to test the changes with VoiceOver? We were curious if this impacted how it sounds with a screen reader. We should also test with NVDA and JAWS.

@terracoda mentioned that we will need to remove the "last stop" phrase during arm movement.  @mbarlow12 could you please do this?

Once it is sounding good we wo

[2018-03-27 20:21] mbarlow12 commented on #267
@jessegreenberg my apologies for missing that part of the meeting this AM. I'll hop on the VO testing and the phrasing.

[2018-03-27 21:29] samreid opened #276 "branch: build-js"
To support https://github.com/phetsims/phet-io/issues/1321

[2018-03-29 16:24] mbarlow12 opened #277 "Assertion failed: linear requires a number to evaluate"
Accessible input returns a string, and https://github.com/phetsims/dot/commit/b84c47a5598acf95901b3b9068ea200575c2c831 added the assertion that arguments to `LinearFunction` must be numbers.

We'll need to cast the accessible input to a number before passing.

[2018-03-29 16:50] mbarlow12 commented on #277
Fixed in https://github.com/phetsims/john-travoltage/commit/32f10adeae032611418e1297eee737a8ceef3f37 with `Number()` use.

[2018-03-29 16:50] #277 closed

[2018-04-05 20:04] jbphet commented on #265
This is done, closing.

[2018-04-05 20:04] #265 closed

[2018-04-05 20:13] jbphet commented on #92
The sim was published a while back with sonification available behind a query parameter.  We've done a lot of sound design work since then, and the sonification in this version will be completely redone in the next few months.  I think the best thing is to close this issue, and do the new sonification work under a new GitHub issue when the time comes.

[2018-04-05 20:13] #92 closed

[2018-04-18 20:38] jessegreenberg opened #278 "Arm and leg broken with keyboard"
Cannot use arrow keys to move arm and leg.

[2018-04-18 20:50] jessegreenberg commented on #271
Reopening, these changes were applied to the experimental branch for #267, but it would be beneficial for these changes to be in master.

I added a workaround to fix #278, but presumably merging this  with master will also fix that problem and the workaround can be removed.

[2018-04-18 20:51] jessegreenberg commented on #278
Fixed with the above commit, but presumably #271  would also be a fix for this.

[2018-04-18 20:51] #278 closed

[2018-04-23 20:02] mbarlow12 commented on #271
Closing now that the experimental branch has been merged.

[2018-04-23 20:02] #271 closed

[2018-04-30 16:09] pixelzoom opened #279 "clean up JohnTravoltageKeyboardHelpContent"
From https://github.com/phetsims/joist/issues/488#issuecomment-384403141:

[code]

@zepumph from https://github.com/phetsims/joist/issues/488#issuecomment-384798464:

[2018-05-22 16:55] jbphet commented on #264
Assigning to @emily-phet to decide if the re-recorded versions are acceptable for the latest sound design.  They can be heard in context in [this wrapped version of John Travoltage](https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.62/phet-io-wrapper-sonification/john-travoltage/html/john-travoltage-sonification.html?sonificationFile=sonificationMix&accessibility).  In thi

[2018-05-25 22:05] lmulhall-phet opened #280 "Error message upon loading master"
<b>Test Device</b>

iPad Pro

<b>Operating System</b>

iOS 11.3.1

<b>Browser</b>

Safari

<b>Problem Description</b>

@jbphet discovered that the master version of John Travoltage won't load on iOS. @zepumph, do you have any insight?

The following error is given:

[code]

<b>Steps to Reproduce</b>

1. Use a device that runs iOS.
2. Load John Travoltage using PhET Test or PhET Bookmarks.

<b>Visu

[2018-05-25 22:38] zepumph commented on #280
Found the culprit, this is the value being passed into sim:

`accessibility: !platform.mobileSafari, // disable accessibility on mobile Safari until accessibility works on that platform`

but here is an assertion in `Sim.js`

   ` assert && assert( options.accessibility !== false,
      'Only use options.accessibility as a flag. It will not override the accessibility query parameter.' );`

So it s

[2018-05-25 23:11] jessegreenberg commented on #280
@zepumph, would you be OK if we change the accessibility query parameter to a `boolean` instead of a `flag`? It would have a default value of `false`. Display.js and Sim.js `accessibility` options are documented as `boolean` so this would align with those.

[2018-05-26 00:35] zepumph commented on #280
I'd probably rather just remove that assert (that I wrote back in November but clearly isn't a good assertion anymore). Either would be fine with me.

[2018-05-31 12:44] terracoda opened #281 "Label for Hand position slider not being read out"
It looks like the label for the Hand position slider has been switched to a paragraph by accident.

![screen shot 2018-05-31 at 10 05 40 am](https://user-images.githubusercontent.com/1902116/40782768-f14ed428-64ba-11e8-848e-8e54fb95cdfe.png)

For the label text to be read out the text needs to be in label element associated with the slider, or in an aria-label attribute on the slider. Both the Leg

[2018-05-31 12:46] terracoda commented on #281
@jessegreenberg, please assign priority level and developer. The live sim is fine, but I would not want this little bug to slip into production with a maintenance release.

[2018-05-31 15:06] jessegreenberg commented on #281
Good catch @terracoda, fixed in the above commit. Here is what it looks like now:
![capture](https://user-images.githubusercontent.com/6396244/40790335-eb33c1e2-64b1-11e8-8630-6e75c0d23dcf.PNG)

[2018-05-31 15:08] jessegreenberg commented on #281
Once #271 is done, we should have more confidence that all sliders always look the same and these bugs don't creep in. Closing.

[2018-05-31 15:08] #281 closed

[2018-06-01 19:06] jessegreenberg commented on #280
Thanks @zepumph, I just removed the assertion. Ill close once I verify sim can be run on iOS

[2018-06-01 19:08] jessegreenberg commented on #280
Problem is gone.

[2018-06-01 19:08] #280 closed

[2018-06-04 16:45] mbarlow12 commented on #270
branch merged to master and deleted.

[2018-06-04 16:45] #270 closed

[2018-06-04 17:28] mbarlow12 commented on #267
There's some odd behavior around the end of the slider range. What I'm noticing is that in VO, the increments will skip the 15th positions when moving across the end of the range. Essentially it move from -15 -> +14 or +15 -> -14. Both end positions can still be reached moving back the other direction.

@emily-phet I assume this is a fairly low priority at the moment?

[2018-06-04 17:38] terracoda commented on #267
@mbarlow12, might it have to do that with the fact that Positions -15 and +15 are essentially the same, "Farthest from doorknob. Lat stop."?

If @emily-phet says this is a priority, let me know if you need me to look into what the aria-text values should be as you pass though the far side of the circle.

[2018-06-05 14:32] terracoda opened #282 "Hand Position -4 on page load is incorrect"
Position negative 4 on page load should be:

After a recent commit, it just changed to:

On a sim reset, the position description is correct.
![screen shot 2018-06-05 at 11 59 37 am](https://user-images.githubusercontent.com/1902116/40982529-0387de86-68b8-11e8-9f34-a0a6085449b2.png)

[2018-06-05 14:36] terracoda commented on #282
@mbarlow12, I am assigning to you as you made the last commit. Please re-assign if it should be someone else.

[2018-06-05 14:38] terracoda commented on #282
"Away from doorknob." is a progress alert, not an actual position. I hope that makes sense ;-)

[2018-06-06 03:13] mbarlow12 commented on #267
@terracoda while they're the same position visually, they're also on opposite ends of the range input. It may be a bug that arises from flipping the sign on +/-15 to then increment/decrement to +/-14—initial guess at least.

[2018-06-07 14:09] terracoda commented on #282
@mbarlow12, I think this issue may be related to changes in the interaction in https://github.com/phetsims/john-travoltage/issues/267. It may fix itself, once you finished your work on that issue.

The starting position has to be a "position description" and not a "progress description".

I said "progress alert" in my previous comment, but I just looked at the sim and see that "progress descriptio

[2018-06-07 15:52] jessegreenberg commented on #267
Personally, I would also prefer this behavior to it going -15 -> +15 or +15 -> -15.  If that were the case, it would appear that pressing an arrow key at the end of the range would have no effect.

[2018-06-08 01:39] mbarlow12 commented on #282
Thanks for the info, @terracoda. It'll take me some time to review how @jessegreenberg mapped the alerts/descriptions to their respective sim events.

[2018-06-08 03:14] jessegreenberg commented on #282
Let me know if I can help clarify if the mapping isn't clear, Im sure documentation could be improved.

[2018-06-08 12:21] terracoda commented on #282
@mbarlow12, yes, the Hand position slider has 12 "regions" and within those regions exist 9 "landmarks", and then there is some logic that takes care of some dynamic "progress descriptions" like changes in direction.

I'll post a couple of figures to help out.

[2018-06-08 12:40] terracoda commented on #282
This may not be a perfect figure, but I think it clearly communicates Landmarks and Region Descriptions ([RD]).
![screen shot 2018-06-08 at 10 07 56 am](https://user-images.githubusercontent.com/1902116/41158560-f3d9e56c-6b03-11e8-981b-832b28aa5594.png)

[2018-06-13 15:52] mbarlow12 commented on #282
Thanks for the update, @terracoda. I had meant to ask—is this bug impeding work that you're trying to complete? If so, I can address this ASAP.

[2018-06-13 16:13] terracoda commented on #282
@mbarlow12, thanks for asking. Nope, it is not impeding anything on my end. I just reported because I just happen to see it while working on Friction. Just want to make sure it does not slip through into a maintenance release ;-)

[2018-06-18 16:23] jessegreenberg opened #283 "Appendage positions increment by 2 with a keyboard"
I noticed that with a keyboard the arm and leg now move by 2 values instead of 1. This is different from the behavior of the published version. With shift, the appendages do move by 1. @mbarlow12 @terracoda was this change intentional with the circular slider enhancements?

[2018-06-18 16:40] jessegreenberg commented on #283
Thanks @terracoda then it sounds like default should still be 1. @mbarlow12 can you please look into this?

[2018-06-18 17:17] jessegreenberg opened #284 "Slider doesn't work well with combination of mouse and keyboard"
Possibly introduced during #271, but I noticed that if I drag an appendage to a particular location then continue to interact with the keyboard, the appendage jumps to the wrong location. @mbarlow12 can you look into this? Let me know if the AccessibleSlider trait makes fixing this difficult.

[2018-06-18 20:37] jessegreenberg commented on #227
This  has been added to https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit so there is no need to keep this issue open any more.

[2018-06-18 20:37] #227 closed

[2018-06-18 20:39] jessegreenberg commented on #246
Added to https://docs.google.com/document/d/1518zv6F0odExFsodShZxwTmWNQk3civuNwtQUR-rEBs/edit, closing.

[2018-06-18 20:39] #246 closed

[2018-06-18 20:42] jessegreenberg commented on #242
@lmulhall-phet @JRomero0613, are you still able to reproduce this bug when using JAWS? It impacts sliders and might show up in RIAW.

[2018-06-18 20:44] jessegreenberg commented on #239
This can be closed since it is being tracked in a11y-research#36.

[2018-06-18 20:44] #239 closed

[2018-06-19 15:04] JRomero0613 commented on #242
@jessegreenberg I was able to reproduce both issues using JAWS with the fiddle link you gave. I was not able to get it to repeat values that the slider was not on as I was in https://github.com/phetsims/resistance-in-a-wire/issues/155 but it does look like the same issue that is affecting both.

[2018-06-19 15:24] jessegreenberg commented on #242
Thanks @JRomero0613, just wanted to make sure. In that  case I will close this issue and add it to the known list.

[2018-06-19 15:26] jessegreenberg commented on #242
Wait, @JRomero0613 were you able to reproduce in Firefox or IE11? I just want to make sure I write it down correectly.

[2018-06-19 16:05] JRomero0613 commented on #242
@jessegreenberg I was able to reproduce in both Firefox and IE11. For some reason the fiddle link would not open in IE11, but I tested the resistance in a wire sliders on IE11 with JAWS and it exhibits the same behavior seen previously.

[2018-06-19 16:11] jessegreenberg commented on #242
Thanks @JRomero0613, great.

[2018-06-19 20:52] jessegreenberg commented on #242
I added both to the document.

[2018-06-19 20:52] #242 closed

[2018-06-21 04:50] mbarlow12 commented on #284
@jessegreenberg I think this may be a result of how we've implemented accessible slider. We've created an intermediate  `inputValueProperty` that is passed to the slider. It simultaneously listens to changes in the `angleProperty` while also notifying `angleProperty` of changes in itself. As a result, both properties reupdate one another several times.

Would it be possible to mandate that Accessi

[2018-06-26 23:15] jessegreenberg commented on #284
@mbarlow12 and I talked about this today, we discussed using trying the AccessibleSlider option `accessibleMapValue`.

[2018-06-29 00:06] mbarlow12 opened #285 "AccessibleSlider integration requires new setter implementation for aria-valuetext"
Found when addressing https://github.com/phetsims/john-travoltage/issues/284, we added the ability to pass in a custom function to produce the desired `aria-valuetext` string to be set by the AccessibleSlider. Currently, AccesibleSlider simply fills in the mapped value based on the underlying model property.

[2018-06-29 00:31] terracoda commented on #282
@mbarlow12, I just

[2018-06-29 00:33] terracoda commented on #282
Oops. as I was saying, @mbarlow12, I just went to verify the fix on master and I only hear and see the position numbers, not the actual aria-valuetext values.

Perhaps, you are still implementing that part?

[2018-06-29 00:39] terracoda commented on #282
<img width="994" alt="screen shot 2018-06-28 at 10 04 53 pm" src="https://user-images.githubusercontent.com/1902116/42067148-53d21b3a-7b1f-11e8-9941-a55fb4f316c6.png">

And I noticed that the H1 has some strange addition, but that is likely related to changes @zepumph is working on over in https://github.com/phetsims/area-model-common/issues/149#issuecomment-398909150

[2018-06-29 00:51] zepumph commented on #282
above is fixed, please full.

[2018-06-29 00:57] terracoda commented on #283
@mbarlow12, I verified that on the silders are incrementing by one, but as I mentioned in #282, I don't hear the actual described positions, only the position numbers.

I also noticed some funny business with the modifier keys:
1. Home and End do not work, but maybe that is because the slider is a circle and Home and End are the same place, visually.
2. I am wondering what the Shift plus Arrow key

[2018-06-29 01:00] terracoda commented on #283
@mbarlow12, it is possible that the Shift modifier key is working correctly (i.e. taking smaller steps), but I am not sure. I'll have to check if that is the intention?

[2018-06-29 02:36] mbarlow12 commented on #282
@terracoda  the position is correct (-4); however, the implementation with AccessibleSlider changes how `aria-valuetext` is set. The new issue is recorded in https://github.com/phetsims/john-travoltage/issues/285. Closing this issue and will open others as needed.

[2018-06-29 02:36] #282 closed

[2018-06-29 02:46] mbarlow12 opened #286 "Ensure Home/End keys work properly"
Both the max and min of the arm's `angleProperty` map to the same value (15). Thus, using Home/End, while successfully changing the underlying model property, output the same value for AT.

Adjust the mapping function to ensure a correct result where max -> 15 and min -> -15 in all circumstances.

[2018-06-29 02:47] mbarlow12 commented on #283
@terracoda It was requested that both the default and shift keyboard increments be reduced to 1. If we want a smaller shift increment, then we'll either need our input values to range from -30 to 30 or incorporate decimals.

For the home/end keys, there's a quirk in mapping the angle to the proper input value. I've made an issue just for that: https://github.com/phetsims/john-travoltage/issues/286

[2018-06-29 10:50] terracoda commented on #282
@mbarlow12, thanks for the explanation. The position number was always correct, it was the aria-valuetext that was incorrect, so that's why I was confused when the issue was closed and the text was missing.

[2018-06-29 11:39] terracoda commented on #283
@mbarlow12, good to know that both the default step and the Shift modifier step are supposed to do the same thing. When I tested last night, I seemed like I was getting some half-position steps with the shift modifier key.  I'll check again.

Great to know about #286.

[2018-06-29 11:40] terracoda commented on #283
@mbarlow12, just checked again and this time it seems just fine.
Great work thanks. Looking forward to position description again ;-)

[2018-07-02 16:14] mbarlow12 commented on #285
@jessegreenberg would you be willing to review the above changes when you have a little time?

[2018-07-02 16:17] mbarlow12 commented on #284
Closing. Remaining related issue is documented in #285 .

[2018-07-02 16:17] #284 closed

[2018-07-11 17:11] zepumph opened #287 "Lots of console logging in AppendageNode"
Found this with @samreid and @chrisklus. @mbarlow12 I didn't want to dive in and potentially break something for you.

[2018-07-13 16:45] jessegreenberg commented on #285
When I try to use the keyboard, I am hitting this assertion in Range.js
[code]

[2018-07-13 16:51] jessegreenberg commented on #285
If I swap min and max in `angleMotion`, the assertion goes away but the leg moves backwards:
[code]

[2018-07-13 17:08] jessegreenberg commented on #285
I hit another assertion while testing, if I drag the leg all the way to its left most position (-7), then press the right arrow key, I encounter
[code]

But if I remove the assertion, the sim interaction seems to behave correctly (other than https://github.com/phetsims/john-travoltage/issues/285#issuecomment-404890195).

[2018-07-13 17:09] jessegreenberg commented on #285
Its a picky thing, but we can reduce the number of object allocations if we pull this out of constrainValue:
[code]

[2018-07-13 17:44] jessegreenberg commented on #285
Sorry @mbarlow12 above comments might all be already on your radar. Changes to AccessibleSlider look very nice. The only change I made was to reformat the accessibleValuePattern assertions. One question though, with the addition of the `mappedValue` getter, can `this.accessibleMapValue` be made private?

[2018-07-16 15:11] samreid opened #288 "Make MAX_ELECTRONS available over the PhET-iO API"
See https://github.com/phetsims/phet-io/issues/1108#issuecomment-293933250

[2018-07-26 15:53] oliver-phet opened #289 "User suggestion: show actual charge distributions"

[2018-07-27 19:54] mbarlow12 commented on #285
@jessegreenberg I made some small tweaks in the above commit so that we're no longer seeing errors. Interestingly, the appendages are almost working properly. In terms of the movement, there's a single extra step at the positive end of the range at +15 where the slider moves from the last `stepSize` to the actual end of the range.

There are also some lingering issues with the descriptions:
- Ther

[2018-08-03 16:53] jessegreenberg commented on #267
This is no longer low priority as the changes have been merged into master and publication of this sim is coming up with sonification.

[2018-08-03 16:55] jessegreenberg commented on #162
This is pretty stale, performance of basic PDOM updates has proven to be good in RC and other testing. We are working on other performance improvements to make sure that other DOM operations like updating bounds of accessible content is fast enough for the animation frame. Closing.

[2018-08-03 16:55] #162 closed

[2018-08-03 16:56] emily-phet commented on #267
@jessegreenberg @mbarlow12 let's discuss this on Tuesday in dev shorts meeting.

[2018-08-03 16:56] jessegreenberg commented on #152
Closing this issue as it is stale and setters for accessible attributes were moved to the Accessibility trait.

[2018-08-03 16:56] #152 closed

[2018-08-03 16:57] emily-phet commented on #267
someone could go ahead and put it on the agenda - i'm about to step into a meeting and will likely forget to do that...

[2018-08-03 16:59] jessegreenberg commented on #267
Its on the agenda!

[2018-08-03 17:00] jessegreenberg commented on #171
This issue is stale, utteranceQueue now manages all alerts.

[2018-08-03 17:00] #171 closed

[2018-08-03 17:01] jessegreenberg commented on #180
This issue is now stale and utteranceQueue is used to manage all alerts.

[2018-08-03 17:01] #180 closed

[2018-08-03 17:16] jessegreenberg commented on #289
@ariel-phet @samreid do you have any thoughts on this? Assigning to both of you because @samreid is listed as one of lead design for this sim in credits.

[2018-08-03 20:35] samreid commented on #289
Thanks for pointing this out, I was unaware that the electrons get on the shoes.  If that's correct, I guess the sim is accurate if you consider the blue spheres as charge differences (instead of electrons).  However, the nature of electrons getting stuck on the shoes seems to be outside of the learning goals of the sim--and some teachers may be able to leverage Balloons and Static Electricity for

[2018-08-06 16:59] ariel-phet commented on #289
For one, I don't think the user is actually quite correct. Since you "discharge" with a spark when you touch a doorknob, there needs to be an actual flow of *excess* charge off your body, and that excess charge was picked up from rubbing on the carpet. The user seems to be implying that even once you touch the doorknob there might still be excess charges on your shoes, which doesn't make much sens

[2018-08-06 19:55] oliver-phet commented on #289
Replied to user. Closing.

[2018-08-06 19:55] #289 closed

[2018-08-14 22:35] mbarlow12 commented on #286
@jessegreenberg would you call this issue fixed in https://github.com/phetsims/john-travoltage/commit/b2cf3b7179b8491b1087b50a685c7784d3ad0057?

[2018-08-15 14:27] jessegreenberg commented on #286
I would, thanks!

[2018-08-15 14:27] #286 closed

[2018-08-15 15:49] jessegreenberg commented on #285
@mbarlow12 and I paired on this yesterday and got really far.

In the implementation of `correctRounding` we decided to check for deviations around the step size by ~10e-15. The only time this will be be problematic is when individual step sizes are about that large,  and devs will generally encounter rounding/precision issues with those values so this seems acceptable.

But in the end, we decided