[2013-05-30 14:52] samreid opened #1 "Remove bootstrap and fastclick"
This simulation should be using Sun components (https://github.com/phetsims/sun) instead of Bootstrap components, so I think lib/bootstrap-2.2.1 and lib/fastclick-0.5.6.js can be removed.

[2013-06-12 19:21] samreid opened #2 "Use peer repos instead of repos nested within scenery"
The sim is using submodules, but should be switched to use peer repos.  I will fix it shortly, just using this ticket as a way to notify the rest of the team.

[2013-06-12 19:22] #2 closed, assigned to nobody

[2013-06-21 13:50] samreid opened #3 "When importing Box2D, inherit is no longer defined"
@vasily-shakhov said:

I’ve created Box2d example (john-travoltage/box2ddebug/example.html ) to calculate physical behavior of electrons inside body and it’s works pretty well. But when I tried to include this library in the simulations, all crashes with log

Uncaught TypeError: Object [object Object] has no method 'createRectangleShape' Rectangle.js:39

[code]

[2013-06-25 15:35] samreid opened #4 "Convert from Fort to Axon"
https://github.com/phetsims/fort is deprecated and https://github.com/phetsims/axon should be used instead.  I'll convert it.

[2013-06-25 15:53] #4 closed, assigned to samreid

[2013-07-12 11:01] #1 closed, assigned to nobody

[2013-07-12 11:11] vasily-shakhov opened #5 "Scenery draws wrong svg image"
Screenshot:
Chrome doesn't draws window correctly

![image](https://f.cloud.github.com/assets/2444398/787733/bad5c844-eae3-11e2-9c72-a71e3089368b.png)

[2013-07-19 19:43] samreid opened #6 "The electrons shouldn't get outside of the leg"
Sometimes the electrons get outside of the leg when it is rotated, but they should always stay in the leg even if it is rotated.

![screenshot-1](https://f.cloud.github.com/assets/679486/828095/78dec33c-f0ab-11e2-8734-8cf35db2239a.png)

[2013-07-22 16:16] samreid opened #7 "Leg motion should be smooth"
Dragging the leg is sometimes jerky (moves in the wrong direction), it should be smoother.

[2013-07-22 16:21] samreid opened #8 "Can box2ddebug be deleted?"
Can the directory john-travolatge/box2ddebug be deleted?  It looks like it may no longer be necessary.

[2013-07-22 18:42] samreid opened #9 "Why are the sounds entered twice?"
I'm not sure why the audio files are entered twice.  Is that necessary?  If not, please remove.  If necessary, please add code comments about why it is necessary:

[code]

Perhaps one sound is supposed to be ShockSmallest?

[2013-07-22 18:44] samreid opened #10 "Move JohnTravoltageModel.soundProperty to JohnTravoltageModel.PropertySet"
Currently JohnTravoltageModel declares:

[code]

this property should be moved into the `PropertySet.call( this, ...` declaration

[2013-07-22 18:46] samreid opened #11 "Update all of the class documentation"
In several places, the class documentation is inaccurate or missing.  Please add code comments to describe what each file is for, and where it is used in the sim.

For example, the comment for LegModel says:

[code]

And Box2DModel.js says:

[code]

I would recommend to look through all of the source files and make sure their documentation is complete and correct.

[2013-07-22 18:48] samreid opened #12 "Code comments for Box2DModel instantatiation"
Box2DModel calls

[code]

[2013-07-22 18:50] samreid opened #13 "Add code comments"
The following files would significantly benefit from more code comments, to explain what is happening and why:

Box2DModel.js
JohnTravoltageTabView.js

Perhaps a few other places as well.  I would recommend to skim through the code again and add more code comments where you deem appropriate.

[2013-07-22 18:51] samreid opened #14 "Naming for vertices"
JohnTravoltageModel.js declares "verts" whereas other places in the code declare "vertices" (I renamed from "verticles").  Should "verts be changed to "vertices" as well, or does it have a different significance?

[2013-07-23 05:37] #8 closed, assigned to nobody

[2013-07-23 05:37] #9 closed, assigned to nobody

[2013-07-23 05:48] #11 closed, assigned to nobody

[2013-07-23 05:56] #10 closed, assigned to nobody

[2013-07-23 12:02] #12 closed, assigned to nobody

[2013-07-23 12:02] #13 closed, assigned to nobody

[2013-07-25 04:43] ariel-phet opened #15 "Add "reset all" button"
Hey Sam...CM had mentioned that this sim does not have a reset all button, and NP and I discussed. Seems like it would be good to add, however, not currently a high priority since at the moment the sim does not look like it is going to be ready for our initial rollout

[2013-07-30 08:21] jonathanolson opened #16 "Box2D Performance"
Profiling shows that it is dominated by Box2D, and it seems to get worse over time without taking up much more (if any) memory.

[2013-08-08 02:01] ariel-phet opened #17 "Arm and Leg Hinge Points should be adjusted"
The arm and leg hinge points should be adjusted so the leg appears to stay attached to the body. Currently, the points of rotation are such that they move off the circular arc of the body image. See attached screenshot
![johntravoltage_hingepoints](https://f.cloud.github.com/assets/4051174/929095/69faa14c-ffce-11e2-8363-a2707a3a1a57.png)

[2013-08-21 15:39] samreid opened #18 "Improve performance"
Performance is very slow on iPad3, taking about 87.3ms to render a frame on average when dragging the leg for example.

[2013-08-21 16:53] samreid opened #19 "Would CoffeePhysics improve performance"
I tested https://github.com/soulwire/Coffee-Physics on ipad3 and it seems to have nice performance.  Would it be faster/better than Box2d?  How much time would it take to investigate?

[2013-08-21 18:29] samreid opened #20 "The arm gets detached from the body"
Not sure when this bug was introduced, but in latest master branch, the arm gets disassociated from the body if you rotate it enough.

[2013-08-28 19:06] jbphet opened #21 "Refactor to use PhetFont"
PhetFont should be used in all locations where fonts are specified.

[2013-08-28 21:19] #21 closed, assigned to nobody

[2013-09-05 17:52] pixelzoom opened #22 "missing images/license.txt, audio/license.txt and assets/"

[2013-09-27 03:26] #3 closed, assigned to nobody

[2013-09-27 03:27] #5 closed, assigned to samreid

[2013-09-27 03:27] #6 closed, assigned to nobody

[2013-09-27 03:28] #7 closed, assigned to nobody

[2013-09-27 03:38] #14 closed, assigned to nobody

[2013-09-27 03:39] #15 closed, assigned to samreid

[2013-09-27 03:39] #16 closed, assigned to nobody

[2013-09-27 03:39] #17 closed, assigned to samreid

[2013-09-27 03:40] #18 closed, assigned to samreid

[2013-09-27 03:40] #19 closed, assigned to samreid

[2013-09-27 03:40] #20 closed, assigned to samreid

[2013-09-27 03:55] samreid opened #23 "Electrons go off the body a bit"
The electrons go off the body.  Could resample the geometry to be about 1/2 an electron radius in from the edge to prevent this problem.

[2013-09-27 03:59] samreid opened #24 "Movement of the arm and leg"
Trish said:

"The only thing that I think needs to be improved is the movement of John's leg and the resulting electron display. In the old sim, a message came up to "Rub the foot on the carpet". I notice that although there are 2 dotted boxes that indicate I should move something, it is easy to do quite a bit of moving without getting any electrons (see attached). I can reproduce this by grabbing

[2013-09-27 04:02] samreid opened #25 "going to another web page and then coming back gives the electrons a burst of energy"
going to another web  page and then coming back gives the electrons a burst of energy.  I think this is caused by a huge dt when switching tabs then switching back.  So I think this could be solved by limiting the dt in the model step.  Perhaps this would be necessary across all our sims (and hence something to do in Joist).

[2013-09-27 04:02] samreid opened #26 "svg items not appearing on iPhone"
Kathy said:

One oddity... If I have my iPhone vertical the door doesn't show but if I turn it horizontal it appears.  IOS6

[2013-09-27 04:04] samreid opened #27 "You can maintain a spark if you keep rubbing foot."
You can maintain a spark if you keep rubbing foot.  Seems wrong, maybe truncate at a certain point?

[2013-09-27 04:55] #23 closed, assigned to nobody

[2013-09-27 05:26] #25 closed, assigned to nobody

[2013-09-27 05:28] samreid opened #28 "No tree out the window on iPad"
On iPad3/iOS7, there is no tree out the window.

[2013-09-27 15:02] samreid opened #29 "Audio doesn't play on firefox 24"
Audio doesn't play on firefox 24, possibly a Vibe problem.

[2013-09-29 02:46] #29 closed, assigned to nobody

[2013-10-01 02:29] #28 closed, assigned to nobody

[2013-10-01 02:30] samreid opened #30 "Performance in dragging arm/leg reduced dramatically recently"
Performance in dragging arm/leg reduced dramatically recently, not sure why.  Discovered in the window svg ticket.

[2013-10-07 17:24] samreid opened #31 "Electrons in the immobile leg"
@ariel-phet said:

I had Kathy play with the sim for a moment, and she mentioned that it take a long time for any particles to go down John's right. Eventually, one or two will float down that leg, but it looks a little odd. I think all you would need to do is increase the maximum number of electrons by 5 or 10 and some will more easily get down his leg.

[2013-10-07 21:23] #24 closed, assigned to nobody

[2013-10-07 21:25] #22 closed, assigned to nobody

[2013-10-07 23:52] #31 closed, assigned to nobody

[2013-10-08 01:44] pixelzoom opened #32 "code review"

[2013-10-08 15:00] #32 closed, assigned to nobody

[2013-10-08 20:19] samreid opened #33 "The door texture is not showing on IE9."
The colors look inverted.  May need to revert to PNG.

[2013-10-09 14:54] #33 closed, assigned to nobody

[2013-10-09 14:55] #30 closed, assigned to nobody

[2013-10-09 14:59] samreid opened #34 "Electrons seem to be off to the northwest."
When looking at the electrons in the debug view, it seems like they are offset to the northwest, which makes them leak off the border to the northwest and not fill out all the way to the edge in the southeast.

![travoltage](https://f.cloud.github.com/assets/679486/1298412/48867f94-30f3-11e3-8985-3630d396d3dc.png)

[2013-10-09 15:29] #34 closed, assigned to samreid

[2013-10-10 16:42] krhensberry opened #35 "Safari crashes when I try to open the sim."
When I click the link for the release candidate, the sim appears to open in a new window. I can see the loading screen and then the whole program crashes. Error report mailed to JO and SR (text too long to paste here).

[2013-10-10 16:50] pixelzoom opened #36 "spark sound occurs when electrons start flowing, not when spark occurs"
Shouldn't the sound play when the spark happens between his finger and the door knob?

Troubleshooting information
Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/536.30.1 (KHTML, like Gecko) Version/

[2013-10-10 16:55] krhensberry opened #37 "Sound plays while muted on OSX+Safari 6.0.5"
Mac/Safari. Periodically the spark will sound when muted. It is not consistent -- sometimes it behaves as if muted. Mac/Safari.

Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/536.30.1 (KHTML, like G

[2013-10-10 16:58] krhensberry opened #38 "Electrons lagging behind JT's leg"
On my Mac/Safari. See screenshot. I moved JT's leg, had him touch the doorknob, then when I moved his leg again this happened.

From develop error console:
TypeError: 'undefined' is not a function (evaluating 'this.velocity.minus(D.times(2*D.dot(this.velocity)))')

![screen shot 2013-10-10 at 10 44 39 am](https://f.cloud.github.com/assets/5086248/1308348/f7505426-31cc-11e3-8285-4fb28f1269f1.png)

[2013-10-10 16:59] pixelzoom opened #39 "Sound doesn't work when turned off then back on"
Steps to reproduce:
1. Start sim
2. Turn sound off
3. Turn sound on
4. Rub foot on carpet
5. Touch finger to doorknob
6. Expect to hear sound, but don't.

IPad2

Troubleshooting information

Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1
Features missing: fullscreen
User Agent: Mozilla/5.0 (iPad; CPU O

[2013-10-10 17:01] jbphet opened #40 "No credits"
The release candidate http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html has no credits (see screen shot below).

![jt-no-credits](https://f.cloud.github.com/assets/3082831/1308396/d5cd6838-31cd-11e3-9194-1bb2f671ef1c.png)

[2013-10-10 17:04] pixelzoom opened #41 "permanent white arrow on door"
1.0.0.-rc.1 on all platforms... See screenshot, arrow is at right center.

![door-cursor](https://f.cloud.github.com/assets/3046552/1308415/0672ac78-31ce-11e3-8187-425fe94ef088.jpg)

[2013-10-10 17:09] samreid opened #42 "Merge 1.0 branch to master before continuing with master"
Changes for 1.0 branch being made only in 1.0, will need to be moved to master

[2013-10-10 17:25] pixelzoom opened #43 "No sound on Firefox"
Win7+Firefox

Troubleshooting information

Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:23.0) Gecko/20100101 Firefox/23.0
Language: en-US
Window: 1066x671
Pixel Ratio: 1/1

[2013-10-10 17:35] pixelzoom opened #44 "sluggish on Win7+Firefox"
This is Win7 running on VMware.

Troubleshooting information
Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0
Language: en-US
Window: 1066x671
Pixel Ratio: 1/1

[2013-10-10 17:42] #42 closed, assigned to nobody

[2013-10-10 17:44] pixelzoom opened #45 "green box reappears if you press Reset All button while dragging arm/leg"
Steps to reproduce:
1. With one finger, rub the foot on the carpet, and keep rubbing.
2. With another finger, press the Rest All button.

Note that the green box reappears around the leg.  Should it immediately go away?

iPad2

Troubleshooting information
Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1

[2013-10-10 17:48] samreid opened #46 "Audio not playing on chrome under chipper or non-chipper"
Audio not playing on chrome under chipper or non-chipper

[2013-10-10 17:49] jonathanolson opened #47 "Poor performance on Chrome on Nexus 7"

[2013-10-10 17:50] #36 closed, assigned to nobody

[2013-10-10 17:53] jonathanolson opened #48 "Poor performance while dragging the leg on Firefox OS X 10.6"
Firefox 24.0, OS X 10.6.8, testing 1.0.0-rc1

[2013-10-10 17:57] #39 closed, assigned to nobody

[2013-10-10 20:01] #38 closed, assigned to nobody

[2013-10-10 20:34] #46 closed, assigned to nobody

[2013-10-10 21:49] #40 closed, assigned to nobody

[2013-10-11 14:47] #41 closed, assigned to nobody

[2013-10-11 14:54] #45 closed, assigned to nobody

[2013-10-15 15:27] #37 closed, assigned to nobody

[2013-10-16 15:27] samreid opened #49 "Audio files have a lot of noise"
The pre-existing audio files have a lot of bass noise which sounds unprofessional.

[2013-10-16 17:30] orejolaphet opened #50 "Charges vanish if you move hand away during discharge"
With a charge built up, the charges vanish and the static shock is not displayed if you move his hand past the door knob quickly enough for charges to move towards his hand. Sound is still heard while shock is not displayed.

Troubleshoot Information:

Name: John Travoltage

URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/0.0.0-dev.21/john-travoltage_en.html

Version: 0.0.0-dev.

[2013-10-16 17:49] orejolaphet opened #51 "Charge vanish with out moving towards hand when discharging on Google Chrome and IE10"
Generally with the last few charges, charges floating around his body will vanish without moving towards hand. Discharge shock is displayed along with sound.

Troubleshooting Information:

Chrome

Name: John Travoltage
URL: file:///C:/Users/arthurs/Documents/oliver.phet/OffLine%20Testing/john-travoltage_en.html
Version: 0.0.0-dev.21
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.1)

[2013-10-16 18:08] orejolaphet opened #52 "All charges discharge continuously even when hand is moved away on Fire Fox on Windows 7"
With the charge built up, all of the charges completely discharge continuously once the hand touches the door knob and is moved away completely from the door knob.

Troubleshooting information:

Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.0.0-rc.1/john-travoltage_en.html
Version: 1.0.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Win

[2013-10-16 18:28] #52 closed, assigned to nobody

[2013-10-16 18:52] orejolaphet opened #53 "Reset button does not work iPad mini Safari"
Reset button does not work.

Troubleshooting information

Name: John Travoltage

URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/0.0.0-dev.21/john-travoltage_en.html
Version: 0.0.0-dev.21
Features missing: flexbox, fullscreen
User Agent: Mozilla/5.0 (iPad; CPU OS 6_1_3 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10B329 Safari/8536.25
Language: en-us

[2013-10-16 19:35] orejolaphet opened #54 "Charges float around screen away from body and move relative to leg Google Chrome Windows 7 & Safari Mac 10.8"
If you max out the amount of charge in John Travoltage then quickly move the hand pass the door knob, charges move off of the body after the short discharge. The charges that float around the screen move when the leg is moved.

![john travoltage google chrome offline bug](https://f.cloud.github.com/assets/5631059/1345989/8d2bf39e-3699-11e3-99de-3e3dc0360bdf.png)

Troubleshooting Information:

Goog

[2013-10-16 19:47] #43 closed, assigned to jbphet

[2013-10-17 01:23] #49 closed, assigned to ariel-phet

[2013-10-17 01:28] #35 closed, assigned to nobody

[2013-10-17 01:30] #27 closed, assigned to ariel-phet

[2013-10-17 06:31] samreid opened #55 "No spark shown when a single electron exits"

[2013-10-17 06:35] #55 closed, assigned to samreid

[2013-10-18 03:24] samreid opened #56 "The spark should continue if the finger remains the same distance (or closer) to the knob"
At today's meeting, we decided the spark should continue if the finger remains the same distance (or closer) to the knob.

[2013-10-18 18:48] #54 closed, assigned to orejolaphet

[2013-10-18 18:51] #51 closed, assigned to nobody

[2013-10-21 14:29] #56 closed, assigned to ariel-phet

[2013-11-04 18:41] samreid opened #57 "Some charges can move in between the body and arm across the air"
@orejolaphet said: Although I did notice that now some charges can move in between the body and arm across the air. I'm not sure if its from the polygon fix or if it was intentional, but I thought it was appropriate to let you know.
![118a5f50-4580-11e3-8eed-caf51eed2964](https://f.cloud.github.com/assets/679486/1467343/a4ea7898-4580-11e3-97f8-7908dcc25263.png)

[2013-11-05 20:41] samreid opened #58 "May want to pursue ObservableVector2 before publishing a release candidate"
We may want to pursue MutableVector2 before publishing a release candidate, since this sim uses Property with a mutable contents, see https://github.com/phetsims/axon/issues/12

[2013-11-06 18:09] #53 closed, assigned to orejolaphet

[2013-11-07 04:50] #58 closed, assigned to samreid

[2013-11-11 02:32] samreid opened #59 "Resolve Joist/navbar issues before next release candidate"
I think everything is ready to go for this app except it would be good to resolve https://github.com/phetsims/joist/issues/88 before the next release candidate.

[2013-11-14 02:51] #59 closed, assigned to samreid

[2013-11-18 16:23] samreid opened #60 "Performance abysmal on Nexus7/Chrome"

[2013-12-02 17:44] oliver-phet opened #61 "User reported issue: the sim’s science behavior has changed"
Uh oh, the sim’s science behavior has changed.
From Dean on the PhET blog:

I like the fact that the sound effects have been left intact, but I would like to see previous discharge behaviors restored:
PREVIOUS SIM BEHAVIOR (not available in the HTML5 version)
1. A fully charged John (hand away from knob) has his hand moved until a discharge begins. The hand can then be pointed away from the knob w

[2013-12-05 00:23] samreid opened #62 "Make a minimum threshold of electrons before a spark occurs"
In #61 we decided to add a minimum threshold of number of electrons before a spark occurs.

[2013-12-13 03:48] samreid opened #63 "Limit leg to approximately "half circle" so it cannot spin around"
Limit leg to approximately "half circle" so it cannot spin around

[2013-12-13 03:48] samreid opened #64 "Move the door to the right"
Move door and handle to the right slightly so that the finger at
minimum approach looks like it is not touching the metal door part.

[2013-12-13 03:49] samreid opened #65 "Reduce the electron "pick up" coefficient"
Reduce the electron "pick up" coefficient.

[2013-12-21 03:33] samreid opened #66 "Electrons pick up too quickly when dragging very slowly across the carpet"
Electrons pick up too quickly when dragging very slowly across the carpet.  Amount of electrons picked up should be a function of angle subtended, not number of drag events.

[2013-12-23 19:04] #66 closed, assigned to ariel-phet

[2013-12-23 19:05] #65 closed, assigned to ariel-phet

[2013-12-31 19:08] #62 closed, assigned to ariel-phet

[2013-12-31 19:09] #63 closed, assigned to ariel-phet

[2013-12-31 19:09] #64 closed, assigned to ariel-phet

[2014-01-02 18:49] samreid opened #67 "Finalize and publish 1.1.0"
@ariel-phet, as far as I can tell we have completed all of the 1.1.0 milestone issues for John Travoltage.  Can you confirm that this is ready for publication?  Do you want to create a full testing matrix or involve other testers?  We did not change library versions (such as scenery, etc) so a full matrix may not be necessary.

[2014-01-04 00:59] samreid opened #68 "Should you be able to create a spark without moving the hand?"
In the original Java version, you can create a spark without moving a hand. In HTML5 version 1.0 you had to move the hand, even if full of charges.  In HTML5 1.1 you can create a spark without moving the hand.  What is better for students?  Perhaps it would be good to discuss with Emily since she has interviewed on this sim.

[2014-01-04 01:10] #67 closed, assigned to samreid

[2014-01-23 02:33] #61 closed, assigned to ariel-phet

[2014-01-29 17:36] oliver-phet opened #69 "User reported issue: HTML5 vs Java behavior"
Dean Submitted on 2014/01/28 at 6:58 pm

Hello PhET Team,
Thanks for allowing a charge to build up before spontaneous discharge when John’s hand is directed toward the doorknob. A few issues linger.
—
The “classic”/Java version allowed for a complete discharge at the greatest hand-to-knob distance, provided that the discharge was initialed at a shorter distance. That is, the spark could be stretch

[2014-02-05 04:45] #69 closed, assigned to ariel-phet

[2014-06-12 21:05] orejolaphet opened #70 "Rug not present in Internet Explorer"
The rug is not present in Internet Explorer 11 on Win 7 and Win 8.
![johntravoltage](https://cloud.githubusercontent.com/assets/5631059/3263705/3b4c0418-f275-11e3-8cfd-5fe82b384b9f.png)

Troubleshooting information (do not edit):
Name: John Travoltage
URL: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.1.0/john-travoltage_en.html
Version: 1.1.0
Features missing: touch, fullscreen

[2014-06-26 21:39] pixelzoom opened #71 "typo in credits"
Sharon's last name is "Siman-Tov". Noted that this was wrong when addressing phetsims/graphing-lines#10.

[2014-06-27 01:02] pixelzoom opened #72 "replace explicit prototype assignment with inherit(Object,...)"
see phetsims/graphing-lines#13

[2014-07-29 20:52] pixelzoom opened #73 "website thumbnail is not checked in"
assets/john-travoltage-128.png

[2014-08-14 20:50] #26 closed, assigned to nobody

[2014-08-14 20:52] samreid opened #74 "use CanvasNode to render the noninteractive particles"
use CanvasNode to render the noninteractive particles to improve performance

[2014-08-26 22:14] #73 closed, assigned to samreid

[2014-08-26 22:18] #72 closed, assigned to nobody

[2014-08-26 22:19] #71 closed, assigned to nobody

[2014-08-26 22:30] #70 closed, assigned to nobody

[2014-08-26 22:43] samreid opened #75 "No audio in Firefox 31.0 on Win8"
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.2.0-dev.1/john-travoltage_en.html

No audio in Firefox 31.0 on Win8.

Is this a new problem?

[2014-11-26 23:39] pixelzoom opened #76 "incorrect key for sim title string"
I noticed that john-travoltage-strings_en.json doesn't follow the convention for the sim title. It is currently:

It should be:

The general form for the title key is "repositoryName.name".

[2014-11-28 21:57] #76 closed, assigned to samreid

[2015-01-16 22:04] pixelzoom opened #77 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-01-16 23:02] pixelzoom commented on #77
Fixed, closing.

[2015-01-16 23:02] #77 closed

[2015-03-31 20:22] pixelzoom opened #78 "branch: canvasnode"
Please describe or delete if no longer necessary.

[2015-04-01 04:52] samreid commented on #78
Should be revisited before republication.

[2015-05-27 16:35] phet-steele opened #79 "Name typo in credits"
I've been told it is spelled Sharon "Siman"-Tov, not Simon. It appears as Simon in the credits.

[2015-06-25 18:00] samreid opened #80 "Remove or document renderer overrides"
See https://github.com/phetsims/joist/issues/225

[2015-07-21 21:06] samreid opened #81 "Provide attribution for 3rd party images and an exception in our allowed images rules"
John Travoltage uses 3rd party images for which we do not have a license or permission.  We need to document this in the metadata, make sure the images & their source appears in the "3rd party" section of the html and allow the build to pass despite this issue.

[2015-07-24 14:22] samreid commented on #81
I added an exception and a comment, verified that the HTML looks good, closing.

[2015-07-24 14:22] #81 closed

[2015-08-04 03:06] samreid opened #82 "Move licensing logic from chipper to john-travoltage"
There is some logic coded in chipper that identifies images from the John Travoltage sim as non-problematic.  In https://github.com/phetsims/making-tens/issues/25 we decided to move Making Tens logic out of chipper into Making Tens.  Can we do the same for Travoltage?  If so, how should it be done?

[2015-08-04 03:06] samreid commented on #82
After this issue is done, address NASA images in the same way.

[2015-08-04 03:21] samreid commented on #82
By the way, the output looks awesome (even on my tiny 11" macbook air screen) if I hack node_modules/grunt/lib/help.js and change
[code]
to
[code]

[code]

I'm aware it doesn't look as good here in the GitHub which is column limited.  Also, I'm not sure it is practical to hack/patch/etc grunt to make this change, and 76 looks pretty hard coded into help.js.

[2015-08-04 17:11] pixelzoom commented on #82
The code in questions is in getLicenseInfo.js:

[code]

How about if we add the ability to specify "isProblematic" (and note why in "notes") in license.json?

[2015-08-04 17:19] pixelzoom commented on #82
Or perhaps instead of "isProblematic", we have a single optional field that contains a description of why a resource is not problematic.

For example, license.json might look like this. I've used "exception" as the field name, to denote that this is an exception to PhET's licensing criteria.  Feel free to suggest a better field name.

[code]

[2015-08-04 17:21] pixelzoom commented on #82
Or perhaps instead of "isProblematic" + "notes", we have a single optional field that contains a description of why a resource is not problematic.   If this field is present, don't treat the resource as an error. (Might still want to output a warning, so that we're aware of how many of these we have.)

For example, license.json might look like this. I've used "exception" as the field name, to deno

[2015-08-04 17:22] pixelzoom commented on #82
Note that this same approach could be used in phetsims/making-tens#25.

[2015-08-04 17:24] pixelzoom commented on #82
Note that this could be a uniform approach for "under development" sims (like phetsims/making-tens#25), and any other situations where PhET decides to make exceptions to licensing requirements.

[2015-08-05 00:47] samreid commented on #82
I like this suggestion in general, just thinking through the implications.  Let's say we use 7 images from NASA scattered across 3 repos.  Would we still put "exception" in each one?  NASA is really not an exception case here--it is just something different than public domain that we are using under different terms.  So I'm wondering at what point we factor out something like "public-domain" or "N

[2015-08-05 16:49] pixelzoom commented on #82
Any policy that applies to all situations (i.e., is not an exception to policy) is appropriate to factor out into chipper logic.

[2015-08-05 21:40] samreid commented on #82
Fixed above and verified by building John Travoltage with phet brand (with exceptions in place and with a missing exception).  Tested build a molecule build as well.  No problems noted.  @pixelzoom anything else?

[2015-08-05 21:40] #82 closed

[2015-08-05 21:57] pixelzoom commented on #82
Nope. I'll review the approach in  phetsims/making-tens#25.

[2015-08-06 17:49] samreid opened #83 "Replace the artwork"
@kathy-phet suggested replacing the artwork in John Travoltage.  @ariel-phet asked me to create an issue and assign it to him.

[2015-08-11 04:20] ariel-phet commented on #83
assigning to @samreid and will get him the artwork when https://github.com/phetsims/tasks/issues/309 is complete

[2015-08-13 01:14] samreid commented on #83
@ariel-phet I'm using my assigned issues as a live "TODO list".  I'm going to unassign this until the artwork is complete.  Please reassign this to me when https://github.com/phetsims/tasks/issues/309 is complete.

[2015-08-13 03:34] pixelzoom commented on #78
Marked as "Summer 2015 redeploy" since @samreid said "should be revisited before republication". @samreid do you know what this branch is for, what it was exploring, etc?

[2015-08-13 04:18] ariel-phet commented on #83
@samreid sounds good

[2015-08-13 16:46] samreid commented on #78
Performance is poor on iPad.  I'm thinking using scenery's WebGL support for images will solve most of this issue.  I deleted this branch.

[2015-08-13 16:46] #78 closed

[2015-09-10 22:38] pixelzoom opened #84 "delete unused string"
I see this entry in john-travoltage-strings_en.json:

[code]

This would never work in a PhET HTML sim, there is no support for the `<br>` tag.  And it appears that this string is in fact unused.  Recommended to delete it.

[2015-09-10 22:44] pixelzoom commented on #84
Done. Also removed from babel in https://github.com/phetsims/babel/commit/74b68630b0aafdc186883bbcab3be8fea8336d42.

Closing.

[2015-09-10 22:44] #84 closed

[2015-11-20 04:09] samreid opened #85 "Get rid of ObservableVector2"
JT is the last use case

[2015-12-04 06:18] samreid commented on #85
Removed above, sim launches properly, no lint issues noted.  Closing.

[2015-12-04 06:18] #85 closed

[2016-02-07 23:31] ariel-phet commented on #60
We do not support Nexus7 these days, so closing

[2016-02-07 23:31] #60 closed

[2016-02-12 01:12] pixelzoom commented on #79
This was fixed in @11a35a15e6dd2332344ec36241aba6d9dd435030 but never closed.

Closing.

[2016-02-12 01:12] #79 closed

[2016-02-18 23:45] jessegreenberg commented on #80
The renderer is overridden with

[code]
In phetsims/joist#225 @samreid said

I just tested this sim without the renderer override on a Windows 8 Machine with Firefox 44 (PhET test machine Socrates).  Indeed, the animation of charges was much slower with the SVG renderer.

It seems like we still need this line, and the documentation looks good to me. @samreid anything else to investigate here or ca

[2016-02-19 04:46] samreid commented on #80
This seems good for now, thanks for investigating @jessegreenberg, closing.

[2016-02-19 04:46] #80 closed

[2016-02-19 18:16] jessegreenberg opened #86 "Redeploy john-travoltage"
John Travoltage is almost ready for a redeploy.  There are just a few issues that need to be completed before it is ready for a release candidate.

- [x] https://github.com/phetsims/tasks/issues/309 (New image)
- [x] https://github.com/phetsims/scenery/issues/515 (Canvas renderer for Edge)
- [x] Apply webgl renderer to ElectronNode, renderer should be null or canvas for Firefox in screen view

Onc

[2016-02-19 18:21] jessegreenberg commented on #86
28f510089c0f5312ca58526b10ff063466ebbc5a

[2016-02-19 18:41] jessegreenberg commented on #86
New checkbox added.  @jonathanolson suggests setting renderer to webgl on line 72 in ElectronNode, and try removing renderer override in the screen view.  This could potentially improve performance issues related to https://github.com/phetsims/john-travoltage/issues/80

[2016-02-24 00:58] ariel-phet commented on #68
After reading over this issue, playing with sim, and considering tweaks, I think it is best to leave as is currently:

- the current behavior and model took some tweaking and seems to cover the learning goals well
- although dieletric breakdown does not usually occur so far in regular life, I think we can assume that the character of John Travoltage acts a bit more like a vandagraff and is able to

[2016-02-24 00:58] #68 closed

[2016-02-25 01:00] jessegreenberg commented on #86
Done, will check performance on Windows 8 Firefox tomorrow to verify that https://github.com/phetsims/john-travoltage/issues/80 is still looking good after adding the webgl renderer to the ElectronNode

[2016-02-25 01:14] jessegreenberg commented on #86
The old asset for the image included the whole body and the face. Since the new asset is just the face, we will have to paste the new image over the old asset.

[2016-02-25 01:31] ariel-phet commented on #86
@jessegreenberg if it would be easier to have the whole body, I think mariah has that, let me know, I can probably get you whatever is easiest.

[2016-02-25 01:35] jessegreenberg commented on #86
Thanks @ariel-phet, it was easy enough to apply the face image.  Here is what it looks like in context:
![capture](https://cloud.githubusercontent.com/assets/6396244/13306954/234a2dc8-db25-11e5-829c-4288ae8ba795.PNG)

Does this look good for the redeploy @ariel-phet?

[2016-02-25 01:46] ariel-phet commented on #86
Can you make the hand black and white @jessegreenberg - it seems a bit odd now that the face is black and white

[2016-02-25 01:53] jessegreenberg commented on #86
Sure, how is this:

![capture](https://cloud.githubusercontent.com/assets/6396244/13307341/c1962aa2-db27-11e5-91a5-f71e5240d199.PNG)

[2016-02-25 01:58] jessegreenberg commented on #86
I removed the webgl renderer on the ElectronNode.  Performance was fine without it, and forcing the canvas renderer was sufficient to get decent performance on Windows 8 Firefox.

[2016-02-25 02:03] samreid commented on #86
How does the iPad do without webGL electrons?

[2016-02-25 02:18] jessegreenberg commented on #86
After playing around with iPad and Windows 10 Chrome, I am noticing that the ElectronNode animation is better on *both* devices with ```renderer: webgl```, but ```renderer: webgl``` causes dragging of appendages to perform worse on *both* platforms.

[2016-02-25 02:40] ariel-phet commented on #86
Ah, yes, zombie John Travoltage :). It looks good @jessegreenberg, and it will do until I work with Mariah to make the more cartoonish version.

[2016-02-25 05:29] samreid commented on #86
It may be because there are too many WebGL layers. AppendageNode has the border highlight as well as the appendage image, so it is properly interlaying svg/webgl/svg/webgl.  With another webgl layer for electrons, it may be too many on iPad.  To test if this is the problem, you could try commenting out the appendagenode borders, and minimizing the number of webgl canvases to see if that helps.

[2016-02-26 00:22] jessegreenberg commented on #83
In #86, new face image was added and the arm appendage was gray scaled so that the whole body looked unified.

[2016-02-26 00:22] jessegreenberg commented on #86
Thanks for the recommendation @samreid.  I just tried removing the borders around the appendages, it did not seem to have an impact on performance for either platform.

At this point I am inclined to remove the ```webgl renderer``` preference from ElectronNode.  ElectronNode animation is not quite as crisp, but overall the performance is better without it.  Animation is still very smooth, even on

[2016-02-26 01:45] jonathanolson commented on #86
Also let me know if I should take a quick look at what's going on (particularly why WebGL would make some things slower).

[2016-02-26 03:07] ariel-phet commented on #86
@jessegreenberg under normal circumstances I would say investigate further...BUT since we are mainly just supposed to be addressing the internationalization issues, please have an issue that summarizes cleanly what you have tried, and leave as a "priority:deferred" issue and move on to RC.

[2016-02-26 17:45] jessegreenberg commented on #86
Sounds good @ariel-phet, will create a new issue and prepare the RC.

[2016-02-26 18:25] jessegreenberg commented on #86
Wave on a String 1.1 and Ohm's Law 1.3 have different SHAs for 7 common dependencies.  If we are going to take 'stable' common shas from Wave on a String (see https://github.com/phetsims/tasks/issues/476) we should wait to deploy an RC for John Travoltage 1.1 until Wave on a String 1.1 passes through the RC test successfully.

[2016-03-03 03:49] jessegreenberg opened #87 "Investigate renderer settings for ElectronNode"
Prefering the ```webgl``` renderer for ElectronNode improves the performance of ElectronNode animation.  However, when this renderer is used, performance is reduced when appendage nodes are being dragged.  We should investigate why this is and determine the best renderer settings for performance.  See https://github.com/phetsims/john-travoltage/issues/86#issuecomment-188559015 for some initial inv

[2016-03-03 03:53] jessegreenberg commented on #86
Wave on a String 1.1.0 was recently published and those SHAs passed through testing successfully.  We are ready for a RC of John Travoltage 1.2.0, grabbing the common code SHAs from Wave on a String 1.1.0.

[2016-03-07 23:58] jessegreenberg opened #88 "Missing branch: 1.1"
About to deploy the sim for the summer redeploy and noticed that 1.1.0 is the latest version on the site, but the 1.1 branch is missing from github.

[2016-03-07 23:59] jessegreenberg commented on #88
I don't think this is going to be an issue for maintenance since the 1.2 branch is about to be deployed S2015R, but I thought I would create an issue just in case anyone runs into this in the future.  Closing for now.

[2016-03-07 23:59] #88 closed

[2016-03-09 17:09] jessegreenberg commented on #86
RC created, testing tracked in https://github.com/phetsims/tasks/issues/537.

[2016-03-09 22:27] jessegreenberg commented on #86
RC for redeploy passed through testing successfully!  We are ready to redeploy John Travoltage for S2015R.

[2016-03-11 00:15] jessegreenberg commented on #86
John Travoltage 1.2.0 has been redeployed! Closing.

[2016-03-11 00:15] #86 closed

[2016-03-31 14:16] jessegreenberg opened #89 "Add accessible content to John Travoltage"
@jobara and @jhung are ready to implement their design for accessible content into the John Travoltage simulation.  This issue will track related commits and issues for this project.

[2016-04-04 13:54] jobara commented on #89
@jessegreenberg last week when we were pairing it appeared that the range input (slider) we added to the parallel DOM wasn't working. I looked into this a bit more last week and it actually appears that it is working. The problem is that the developer tools don't show "user" directed change on the input. However, adding an event listener for the `input` event captures the changes.

[2016-04-04 15:57] jessegreenberg commented on #89
@jobara, that is great! It is also good to know this detail about the developer tools.  Thanks for letting me know.

[2016-05-19 15:05] jobara commented on #89
The sliders `< input type="range" >` were not keyboard accessible in Safari when run in the sim. It seems the issue was that in Safari the sliders require some width. Simply adding a width of 1px; seems to have done the trick.

[2016-05-19 15:22] jessegreenberg commented on #89
Ah, good catch @jobara.  Thanks for figuring this out, that is good to know!

[2016-05-19 20:22] jobara commented on #89
It seems that VoiceOver is reading the "aria-valuetext" for the sliders twice. So we get things like "Position 16: foot is on the carpet. Position16: foot is on the carpet"

[2016-05-24 17:47] jobara commented on #89
Another issue is that the alerts for the discharge are not being announced. Steve Faulkner wrote up 4 methods for adding an alert. https://www.paciellogroup.com/blog/2012/06/html5-accessibility-chops-aria-rolealert-browser-support/

## results ##

Below are the results of testing his demo page across screen readers and browsers.
http://www.html5accessibility.com/tests/alert-test.html

### JAWS ###

[2016-05-24 18:57] terracoda commented on #89
@jobara, did you fix the duplicate content that Safari is reading out? We had a lot of duplicate in our initial interviews in other screen readers as well.

[2016-05-24 19:49] jobara commented on #89
@terracoda not yet. I've started to look at the alerts first and will come back to the duplicate issue after.

[2016-05-24 20:46] jobara commented on #89
In regards to the alert. I'm having better results by adding and removing an element from the DOM as the alert is needed. In this case I always add a `<div>` and add and remove a `<p role="alert">` to it, as needed.

[2016-05-27 22:49] jessegreenberg commented on #89
From https://github.com/phetsims/john-travoltage/issues/89#issuecomment-220352858, I ran in to the same problem with checkboxes. Adding a pixel to the width added the check box to the navigation order.  Thanks @jobara!

[2016-05-30 20:13] jobara commented on #89
@jessegreenberg do you know why the parallel DOM is positioned at the top left corner and clipped? https://github.com/phetsims/scenery/blob/master/js/accessibility/AccessibleInstance.js#L57-L66

I was testing on iOS today and noticed that I couldn't drag my finger around the screen to discover what elements were present. I'm thinking to instead have the accessibility element take 100% of the page

[2016-06-01 16:08] jessegreenberg opened #90 "branch: accessible-instance"
Branch created to prototype accessible content including keyboard navigation and screen readers.  See #89.

[2016-06-08 13:37] jobara commented on #89
It seems that IE 11 doesn't support `role="status"`. However, it appears that explicitly adding the implicit aria attributes `aria-live="polite"` and `aria-atomic=true` enables IE 11 to report the live content. I will need to test this across browser/AT combinations.

[2016-06-08 17:40] jobara commented on #89
Test results when using `role="status" aria-live="polite" aria-atomic=true`

Browser | JAWS      | NVDA      | VoiceOver |
------------|--------------|--------------|----------------
Chrome | yes | yes | yes
Firefox | yes | yes | no
IE 11 | yes | yes | N/A
Safari | N/A | N/A | yes

The only one it doesn't work for is FF with VoiceOver,

[2016-06-16 14:38] jhung opened #91 "Total charge level sonification feedback"
@jbphet, I took at look at the latest on sonification.

The sonification associated with total charge level could be ambiguous because it occurs the same time charges are gained.

Instead, I think the total charge level could be a constant, subtle background noise that increases in volume as charges increase. Similar to how a computer / laptop fan is audible when idle, and gets a little louder (bu

[2016-06-16 14:45] jobara commented on #89
@jessegreenberg could you take a look at this. I hoping it can be merged into master and for this issue to be closed. There are still improvements and etc that @jhung and I plan to file specific issues for once this is in.

[2016-06-16 15:40] jbphet commented on #91
@jhung - I haven't added a sound for total charge level yet, so I'm not sure what you're referring to.  Are you describing what has been proposed?

[2016-06-16 15:53] jessegreenberg commented on #89
Great @jobara, thanks! Sure will take a look at this today.

[2016-06-17 19:24] jbphet opened #92 "add sonification"
We have decided to add sonification to this sim.  A number of commits have already been made for this, I'll list them in the next comment.

The spec can be found here: https://wiki.fluidproject.org/display/fluid/PhET+John+Travoltage+Sonification+Design

[2016-06-17 19:28] jbphet commented on #92
Below are the commits that were made as part of the effort to add sonification prior to the creation of this GitHub issue:

6149d8b5eecc4165a5ad6e3b9dd930ad1e408409
fcacd848f84e5171399a2a9248ef26b7ea3824f1
fc2267d270b6c1ee1f9f6afd3aec8411c97cdd73
76eec2fd1852e2c36ba227c7480e3d2df69f174d
a7e4d1689de2550e7b64fe8765c208a3c2e56b3c
36459746ed7c59133641c451ec1b10a9289a19a0
017a0dc0fc874449cc1ebbfd1ab0f6

[2016-06-17 19:55] jbphet opened #93 "sound generation should be in the view (right?)"
I am currently working on the sonfication of this simulation (see #92) and am doing most of the work in the view.  The sim currently generates sounds from the model.  This seems wrong to me - sonic expression of what is happening in the model strikes me as parallel to visual expression of what's happening in the model, so sounds should come from the view.

The dev team should decide if this is the

[2016-06-18 14:00] samreid commented on #93
Yes, the audio should be treated as a view and not implemented in the model.  I also recommend that for each simulation screen we create a file named like SimulationScreenAudio.js or SimulationScreenSonification.js which is instantiated by the SimulationScreenView.js, instead of adding audio code into the SimulationScreenView.js file.  My only hesitation about this is if there is *a lot* of code i

[2016-06-20 15:10] jbphet commented on #93
I was thinking along similar lines - basically looking at the sonification as an audio version of the view in the Model View Controller sense, so treating it separately, and it would have its own copy of the model and would monitor the model to portray its various sounds.  In an ideal world, it would be created as a separate "view", but our framework doesn't really support that, which I'm guessing

[2016-06-20 15:15] samreid commented on #93
Yes, exactly.

I presume you mean reference to the model.

[2016-06-20 15:16] jbphet commented on #93
Yes indeed, it would have a reference to the model.

[2016-06-20 15:25] samreid commented on #93
Question for developer meeting:

Should we redesign Screen.js so that audio can be created as a top level view?  Or just create the audio instance from the ScreenView?

[2016-06-20 15:55] jessegreenberg commented on #93
Are all audio instances created in the ScreenView at the moment?  Or are some distributed to other ScreenView child nodes?  For instance does AppendageNode instrument its own sonification?  If individual nodes need their own audio would a single top level instance be sufficient, whether it is in the Screen or ScreenView?

[2016-06-20 16:03] samreid commented on #93
I was envisioning an audio tree (parallel to how we currently have a visual tree), not everything necessarily collapsed into a single file.

But that raises a good point.  What if there is a sound effect that plays when you press a particular button?   Should the audio be implemented in the button callback (for simplicity?) Or should the button trigger some model emitter which the audio view can l

[2016-06-20 16:08] samreid commented on #93
Even though there is not specific support for it in Screen.js, Screen.initializeModelAndView could be overriden to initialize custom views.

[2016-06-20 18:29] jessegreenberg opened #94 "Code Review: Accessible Content"
From https://github.com/phetsims/john-travoltage/issues/89, accessible content in this sim is nearly feature complete.  Before merging with master it would be good to do a code review of new accessibility code.

Since this is a review of just the accessible content, not everything from the 'Code Review Checklist' applies, or needs to be verified at this time.  Some items to the checklist should pr

[2016-06-20 21:10] jessegreenberg opened #95 "Add accessibility nodes to namespace"
For together, namespacing is required for deserialization, documentation of JS types.  New types introduced for accessibility need to be added to the namespace.  See AppendageNode for an example of the pattern.

On line 25, ```johnTravoltage``` is the sim namespace.  The ```AppendageNode``` is registered to the namespace on line 267.

Sorry I forgot to mention this!  If you have any questions, let

[2016-06-20 21:14] jessegreenberg opened #96 "Add JSDoc to AccessibleDescriptionNode"
AccessibleDescriptionNode has incomplete JSDoc, would you mind adding it to the constructor?

[2016-06-20 21:27] jessegreenberg opened #97 "John Travoltage Memory Leak"
While reviewing #94, I noticed that John Travoltage has a memory leak.  This can be observed without the accessibility or sonification query parameters used so it is unrelated to new content.  With fuzzMouse=100, you can observe the following.

Heap at 30s - 10.6 MB
Heap at 60s - 10.1 MB
Heap at  90s - 10.8 MB
Heap at 120s - 11.7 MB
Heap at 150s - 12.7 MB
Heap at 180s - 13.9 MB
Heap at 1080s (five

[2016-06-20 21:29] jessegreenberg opened #98 "Apply structure for static content"
See https://github.com/phetsims/chipper/issues/472

Once we determine the structure of the region for aria-live elements in the top level html file, we should apply that here.  As of 6/20/16, we are still prototyping what that structure could look like.  But after discussing pros/cons and results we might have a better idea for how to proceed with https://github.com/phetsims/chipper/issues/472.

[2016-06-20 21:40] jessegreenberg opened #99 "Determine method of referencing node's PDOM element"
In AccessibleDescriptionNode, there is the following line:

[code]

Agreed!  At the moment, there is no good way to reference a node's representative element in the PDOM.  In scenery, we should create an issue to address this (and other such issues like this).  Once it is addressed, we should update his solution.

[2016-06-20 21:42] jessegreenberg commented on #99
A short term workaround could be to add the dom element id to describedNode as a public variable so that the relationship could be defined by
[code]

[2016-06-20 21:47] jessegreenberg commented on #96
In addition, could you add documentation for the debounce function?  I am not quite sure why it is necessary.  Does it queue descriptions for the screen reader or make sure that all descriptions are read?  Why 500 ms?

[2016-06-20 21:54] jessegreenberg opened #100 "Change string variable names"
String variable names need to match a particular pattern.  Again, sorry I forgot to mention this!  The var should be the string key with dots removed, to camel case, with 'String' appended to the end of the name.

string key in john-travoltage-strings_en.json: scene.description
desired variable name: sceneDescriptionString

If you run the linting tools with ```grunt eslint```, it will give you an

[2016-06-20 22:09] jessegreenberg commented on #97
@phet-steele recommended that we continue to take data since 21.6 MB is a reasonable heap size for a sim.

10 min - 22.8 MB
30 min - 57.9 MB

It was good to check in case a largre GC didn't kick in until the heap hit some threshold, but it appears that there is a leak.

[2016-06-20 22:24] jessegreenberg opened #101 "Move AppendageNode functions to prototype"
It looks like there are enough functions in AppendageNode to add them to the object prototype.  Moving them into the prototype via the inherit call will bring the constructor closer to the top of the file making it easier to find constructor JSDoc as well as match the PhET js file structure a little more.

When adding JSDoc to those functions, please include ```@private``` and ```@accessibility```

[2016-06-20 22:25] jessegreenberg commented on #96
Same with debounce function in setElectronStatus.

[2016-06-20 22:43] jessegreenberg opened #102 "Move JohnTravoltageView maps to a separate file"
The maps of JohnTravoltageView take up a large portion of the file, and it could be more maintainable to move these into a separate file.  This would reduce the file size of JohnTravoltageView as well as isolate many of the accessibility description strings.

Under js/john-travoltage please create a new file called something like AppendageDescriptionMaps, and add the maps to this file in a similar

[2016-06-20 22:47] jessegreenberg opened #103 "Add visibility annotation to JohnTravoltageView peerId's"
Related to #98, this sim uses

[code]
to reference the ```aria-live``` elements in the of the top level html file.

Would you mind adding  a ```@public```, ```@private```, or ```@protected``` annotation above this.peerID's to describe if these are meant to be used outside of the ScreenView?

[2016-06-20 22:54] jessegreenberg opened #104 "Style of alertNode in SparkNode"
In SparkNode, alertNode is styled by

[code]

Does the alert node need to be styled or can that line be removed?  If it does need to be styled, please add documentation explaining why.

Also, I would recommend that alertNode be renamed to alertElement.  alertNode points to a PDOM element and if it is called alertNode it looks like a scenery.Node.

[2016-06-20 22:59] jessegreenberg commented on #94
Not related to accessibiliyt, but see #97.

[2016-06-20 23:00] jessegreenberg commented on #94
Sim will pass lint after completion of #100.

[2016-06-20 23:06] jessegreenberg opened #105 "Replace Math.round with dot.Util.roundSymmetric"
Math.round does not treat positive and negative numbers symmetrically so PhET uses dot.Util.roundSymmetric for more predictable behavior.  Please replace the usage of Math.round in AppendageNode with Math.round.toSymmetric.  Again, sorry I didn't mention this, and it is not in the PhET Development Overview.

[2016-06-20 23:07] jessegreenberg commented on #94
Will be fixed by #105.

[2016-06-20 23:11] jessegreenberg commented on #94
Code review complete, it looks great and is very clean @jobara, nice work!  If you have any questions about issues created from the review please let me know.

[2016-06-21 01:12] pixelzoom commented on #93
+1 for sonification in the view. I don't have time to comment on the specifics of how that might be done.

[2016-06-21 15:01] jobara commented on #92
@jbphet i was trying this out in Safari today. I keep getting this error "SyntaxError: audio resources unavailable for AudioContext construction" from ToneGenerator.js line 38, during load of the sim.

[2016-06-21 15:32] jbphet commented on #92
@jobara - This has only been tested in Chrome so far.  We can discuss during today's meeting if we need to focus on wider browser support.

[2016-06-21 15:52] jbphet commented on #93
In response to @jessegreenberg's comment above (https://github.com/phetsims/john-travoltage/issues/93#issuecomment-227185047), there currently is some sound generation taking place in the model itself.  This was done in the original implementation, and when I saw it I decided NOT to follow that convention for the sonification work, and logged this issue to track it.  As for whether the individual

[2016-06-21 17:52] jobara commented on #99
@jessegreenberg i refactored to use your suggestion. I think a useful improvement could be to make the accessible peer available off of a node automatically.

[2016-06-22 15:03] jobara commented on #103
@jessegreenberg rather than adding an annotation to the code, I moved the peerIDs from being attached to `this` to being part of the `options`. In this way, they can be overridden at instantiation time.

[2016-06-22 15:27] jobara commented on #94
@jessegreenberg Thanks for the code review. I've made changes to address the following issues:

- https://github.com/phetsims/john-travoltage/issues/95
- https://github.com/phetsims/john-travoltage/issues/96
- https://github.com/phetsims/john-travoltage/issues/100
- https://github.com/phetsims/john-travoltage/issues/101
- https://github.com/phetsims/john-travoltage/issues/102
- https://github.com/

[2016-06-23 20:56] jessegreenberg commented on #105
Thanks @jobara, looks great.  Closing.

[2016-06-23 20:56] #105 closed

[2016-06-23 21:01] jessegreenberg commented on #104
Thanks @jobara, that is really interesting.  So is ```style.display = 'none';``` equivalent to ```aria-hidden``` and ```hidden```?  Does the style hide it from the virtual cursor?

Reassigning to @jobara for further discussion.

[2016-06-23 21:09] jessegreenberg commented on #103
@jobara that looks good - thanks for the informative TODO comment and reference to #98.  Closing

[2016-06-23 21:09] #103 closed

[2016-06-23 21:21] jessegreenberg commented on #102
Thanks @jobara, new file looks great.  Closing.

[2016-06-23 21:21] #102 closed

[2016-06-23 21:24] jessegreenberg commented on #101
Awesome, thanks for the great documentation.  Closing.

[2016-06-23 21:24] #101 closed

[2016-06-23 21:25] jessegreenberg commented on #100
Thanks, closing.

[2016-06-23 21:25] #100 closed

[2016-06-23 21:50] jessegreenberg commented on #96
Thanks @jobara.  Closing.

[2016-06-23 21:50] #96 closed

[2016-06-23 21:51] jessegreenberg commented on #95
Great, thanks.  Closing.

[2016-06-23 21:51] #95 closed

[2016-06-23 22:07] jessegreenberg commented on #99
@jobara rather than the AccessiblePeer what do you think about making the parallel dom element available from a node?

Then the line in https://github.com/phetsims/john-travoltage/issues/99#issue-161302584 would then look something like
[code]

[2016-06-23 22:08] jessegreenberg commented on #104
My question is now unrelated to code review, removing tag.

[2016-06-23 22:08] jessegreenberg commented on #94
Thanks @jobara, everything looks great.  Review complete.

[2016-06-23 22:08] #94 closed

[2016-06-23 22:12] jessegreenberg opened #106 "Merge accessible content into master"
We are ready to add prototype accessibility code into master.   This issue is to make sure those working in john-travoltage are aware that this is about to happen.  @jbphet is especially working on this sim for sonification, so I will merge once I coordinate with him so things don't get too confusing.

[2016-06-23 22:13] jessegreenberg commented on #89
@jobara since code review is complete, I opened #106 to track the merge.  Feel free to close this issue when you are ready.

[2016-06-24 11:32] jobara commented on #99
@jessegreenberg yes, this is actually what I meant, but my terminology was poor. Thanks for sorting it out. Also what do you think about renaming domElement to pdom or parallelDOM, both here and internally when creating the markup? It might be more explicit about what it is for, assuming one knows what a parallel DOM is.

[2016-06-24 11:39] jobara commented on #104
@jessegreenberg `display: none` removes the content from the accessibility tree as well as visually. It also removes it from the content flow. `visibility: hidden` removes it from the accessibility tree and visually, but it's affect on the content flow still remains. `aria-hidden` removes it from the accessibility tree only. This article does a good job of explaining the various ways of hiding ele

[2016-06-24 11:41] jobara commented on #89
@jessegreenberg great thanks.

[2016-06-24 11:43] jobara commented on #89
Closing this issue as the Code Review ( https://github.com/phetsims/john-travoltage/issues/94 ) has been complete. Any more work on John Travoltage a11y should be tracked under another issue.

[2016-06-24 11:43] #89 closed

[2016-06-24 12:15] jobara commented on #99
@jessegreenberg I made another change to my [jt-a11y-89 branch](https://github.com/jobara/john-travoltage/tree/jt-a11y-89) to include the restructuring you outlined above. In the future it would be good if the framework (scenery?) could just add the domElement to the node automatically.

[2016-06-28 15:40] jessegreenberg commented on #99
Thanks @jobara, I opened https://github.com/phetsims/scenery/issues/553 to track adding this to Scenery.  In terms of naming, what do you think about ```accesssibleDOMElement```?

[2016-06-28 15:56] jessegreenberg commented on #104
I see, that's interesting, thanks for explaining @jobara.  And thanks for the article!  Interesting to see the 0 height issue here.

aria-hidden or hidden seems more intuitive to me, but now that I understand how style display works, I don't have a strong preference.  If you keep style.display would you mind adding a comment to the code sort of like what you have above?

[2016-07-04 19:56] jobara commented on #104
@jessegreenberg I switched to using `aria-hidden="true"`, and have updated my branch.

[2016-07-05 15:32] jessegreenberg commented on #104
Thanks @jobara!  Closing this issue.  https://github.com/phetsims/john-travoltage/issues/104#issuecomment-228324141 was very informative!

[2016-07-05 15:32] #104 closed

[2016-07-05 17:02] phet-steele opened #107 "Automated Testing Build Error (7/5/2016 9:58 AM)"
[code]

Assigning to @jbphet because I have no clue who else would handle this.

[2016-07-05 17:59] #107 closed

[2016-07-08 21:56] jessegreenberg commented on #106
@jobara, the merge is complete!  Closing this issue.

[2016-07-08 21:56] #106 closed

[2016-07-11 12:56] jobara commented on #106
@jessegreenberg that's great, thanks.

[2016-07-18 18:02] jessegreenberg opened #108 "After pressing reset arm snaps to doorknob after interaction"
After pressing reset all, the very next interaction with the arm (with the keyboard) will snap the position to the doorknob.

Steps to reproduce:
 - Press reset all button
 -  Navigate back to the arm with keyboard navigation
 - Move the arm position

The arm will jump to the doorknob.

[2016-07-18 18:06] jessegreenberg opened #109 "Sonification of arm doesn't work with keyboard"
When dragging the arm with the keyboard, sounds associated with  sonification do not play.

[2016-07-18 18:13] jessegreenberg commented on #109
Commit above fixes issue, closing.

[2016-07-18 18:13] #109 closed

[2016-07-18 18:20] jessegreenberg commented on #108
The same thing happens with the leg.

[2016-07-18 18:41] jessegreenberg opened #110 "Replace trigger with an Emitter"
john-travoltage uses Events trigger to emit events for reset and step.  These should be replaced with emitters since Events is deprecated.

This will also be useful for fixing #108.

[2016-07-18 18:49] jessegreenberg commented on #110
Done in commit above, closing.

[2016-07-18 18:49] #110 closed

[2016-07-18 21:53] jessegreenberg commented on #108
This only seems to happen when the user presses the reset button with the keyboard.  When pressing with the mouse or touch this is not an issue.  I am sure this is because ResetAllButton calls ```options.listener``` rather than ```buttonModel.fire()```.

[2016-07-19 14:26] jhung opened #111 "Electrons quantity live region not being reported in Dev 5"
With Dev 5 version of John Travoltage, the quantity of electrons live region does not get reported.

To reproduce

1. load:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.5/john-travoltage_en.html?accessibility
2. turn on a screen reader
3. Using the keyboard move the foot slider
4. Accumulate a few charges
5. Notice that the number of charges do not get reported

I took a

[2016-07-19 15:07] jessegreenberg commented on #111
Sorry about that @jhung, I see the issue.  Deploying a new version now.

[2016-07-19 15:14] jessegreenberg commented on #111
@jhung here is a redeployed version, live elements are in the document and I hear the alerts with NVDA and Chrome and Firefox.

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.5/john-travoltage_en.html?accessibility

[2016-07-19 16:46] jhung commented on #111
I tested also with VoiceOver with FF and Safari on Mac. Looks good. Thanks!

[2016-07-19 16:46] #111 closed

[2016-07-20 01:00] jessegreenberg commented on #108
I replaced the listener with buttonModel.fire() in ResetAllButton, and this was still an issue.  In addition, I tracked the values through the call stack of buttonModel.fire(), and everything was correct through the final ```endedCallbacksForFired``` in buttonModel.  So something else is happening here, likely involving the html.

[2016-07-20 01:04] jessegreenberg commented on #108
In ResetAllButton, I switched the type from 'reset' to 'button' and the problem was fixed.  It seems that after the JavaScript, the 'click' event will reset all input element values to their initial state if they are contained in the same form.

Rather than a 'reset' input, we should use a 'button' input labelled by 'reset' or something like that in common strings.

[2016-07-20 03:34] jessegreenberg commented on #108
Fixed via https://github.com/phetsims/scenery-phet/issues/248.

[2016-07-20 03:34] #108 closed

[2016-07-24 05:15] samreid opened #112 "HTML in danger of being overwritten"
I noticed that john-travoltage_en.html has the following added html:

[code]

This would be eliminated if someone ran the `grunt generate-development-html` task.  Perhaps it would be safer to (a) generate those dom elements programmatically from JS or (b) change the development-html template to include that for every sim if it is ready for production.

[2016-07-25 18:12] jessegreenberg commented on #112
Agreed, these too easily removed at the moment.  In the long run, we would like this content to be in the top level html file for every sim, but I am not sure yet what kind of specific attributes for aria-live we need to support (aria-relevent, atomic level, specific role, etc...) or if the content needs some structure.  We have some discussion on this here https://github.com/phetsims/chipper/issu

[2016-07-25 20:24] samreid commented on #112
That is interesting, I wouldn't have guessed that.

In that case, could these divs be given more general names?  They are currently:

[code]

What if it was something that could be used for every simulation:

[code]

Do these elements have appropriate CSS so it won't disrupt any of the other dom elements?  If so, we could work on moving this into the general template.

[2016-07-27 20:00] jessegreenberg opened #113 "branch: nexus"
Branch that adds a WebSocket to john-travoltage for communication with the Nexus.

See https://wiki.gpii.net/w/Nexus_API

[2016-08-03 21:12] jessegreenberg opened #114 "Scene summary should be located above control panel"
At the moment, the scene summary is located below the control panel due to the structure of the scene graph.  It would be optimal if the summary were located nearer the top of the document so that it is one of the first things found when using the cursor.

[2016-08-04 15:10] jessegreenberg commented on #114
Looks great @jobara thanks! Commits above put description above the form.  Closing.

[2016-08-04 15:10] #114 closed

[2016-08-19 02:26] samreid opened #115 "Replace _.sample with phet.joist.random.sample"
From https://github.com/phetsims/phet-io/issues/551#issuecomment-240894295

@pixelzoom recommended:

It's an easy change to make, but I'm not certain how to to test this, so I'll leave this up to @jbphet.

[2016-08-23 17:47] jbphet commented on #115
I've replaced _.sample with phet.joist.random.sample.  In this case, the result will be that the sonfication behaves consistently when played back.  Hadn't really thought about it, but that's probably a good thing.  Closing.

[2016-08-23 17:47] #115 closed

[2016-09-01 17:16] pixelzoom opened #116 "parseInt missing radix argument"
`JohnTravoltageQueryParameters` contains 1 call to `parseInt` with no radix argument.

[Documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt) for `parseInt` says:

[2016-09-01 17:31] pixelzoom commented on #116
Fixed, but I'm not clear on how to test this (related to signification). Assigned to @jbphet to verify.

[2016-09-14 15:08] jhung opened #117 "Scene description and leg movement strings should be updated to be more clear"
Based on user experiences, the descriptions of leg movement should be changed to match the visuals and the actual model. Instead of describing the foot position as "on / off" the carpet, it is rephrased now as whether it is rubbing the rug.

For a table summarizing the new strings, see [Scene Description and Leg Position Changes (Sep 2016)](https://wiki.fluidproject.org/display/fluid/PhET+John+Tra

[2016-09-27 19:30] jobara opened #118 "Cannot change the arm and leg positions using a keyboard with iOS"
Opened the [John Travoltage](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-accessible-instance.1/john-travoltage_en.html?accessibility) sim in Safari ( iOS 9.3.5 ) and attempted to interact with the sim via a connected bluetooth keyboard (apple keyboard).

I was able to put focus on the hand and foot with the keyboard, but not able to change their position using the arrow key

[2016-09-27 21:28] jobara commented on #118
@jessegreenberg i tried this in iOS 10 and had the same issue.

[2016-09-28 19:06] jobara commented on #118
@jessegreenberg I tried with a non-apple bluetooth keyboard and experienced the same problem.

[2016-09-28 19:12] jessegreenberg commented on #118
Interesting, thanks @jobara.  Does the problem still happen when using the bluetooth keyboard with a non-iOS device?

[2016-09-28 20:23] jobara commented on #118
@jessegreenberg i tried on macOS and didn't have the issue there.

[2016-09-29 13:04] jobara commented on #118
I've tried this again using a plain HTML5 slider and couldn't get it to function either with the bluetooth keyboard.

[2016-10-18 19:10] jessegreenberg opened #119 "Mute button needs aria-pressed to define state"

[2016-10-24 19:09] jessegreenberg opened #121 "Update john-travoltage images"
Request was made on 10/24/16 to update some images in the sim.  New assets in 'voltage black.ai' of https://drive.google.com/drive/u/0/folders/0B-YvjkIIcS_aRVFvZ2NDYlZ6Qkk.

Should be done before the end of the week.

[2016-10-25 15:19] jobara commented on #118
Tried on iOS with a USB keyboard through the camera connection kit and had the same keyboard interaction issue as stated above.

[2016-10-25 20:43] jessegreenberg commented on #118
@jobara and I create a JSFiddle to track this issue in another context.

https://jsfiddle.net/25ejnztt/1/

[2016-10-26 20:02] jessegreenberg commented on #119
Doing this in sim directly to avoid churn in master for the moment.

[2016-10-26 20:10] jessegreenberg opened #122 "Prepare accessible John Travoltage for student interviews"
We would like john-travoltage to be ready for student interviews the week of november 2.  This issue will track preparation.

Initial checklist (subject to change)
- [x] A thorough internal review of the latest and greatest BASE and JT
  - Completion of the following will be requried
  - [x] #119
  - [x] #120
  - [x] #117
- [x] Another good (technical) discussion around how to conduct remote inter

[2016-10-26 20:29] jessegreenberg commented on #119
Note to self:  A button element inside of a form will automatically submit the form.

[2016-10-26 20:47] jessegreenberg commented on #119
Done in the commit above, NVDA says 'Play Sound toggle button, not pressed' or Play Sound toggle button, pressed'.

[2016-10-26 20:48] jessegreenberg commented on #98
This was done in phetsims/chipper#472.

[2016-10-26 20:48] #98 closed

[2016-10-26 20:49] jessegreenberg commented on #112
These elements have been moved to the dev and sim templates, closing.

[2016-10-26 20:49] #112 closed

[2016-10-27 13:25] jobara commented on #119
@jessegreenberg from reading the description you mentioned, I'm not actually sure what to expect. Does it play the sound when pressed or not? My initial inclination is to think it needs to be pressed for the sound to play, but that seems unconventional compared to other systems where you'd play sound by default and activate mute.

[2016-10-27 13:34] jessegreenberg commented on #119
Thanks @jobara, my thought was that "play sound" toggle button would play the sound when pressed, and it is pressed by default.

Would you recommend "Mute Sound toggle button" instead, not pressed by default?

[2016-10-27 17:03] jessegreenberg commented on #121
Here is  a (very rough) version with the new images.  A few things still need to be tweaked so that things line up correctly.  Also, I will need to change the model so that charges align with the new body.

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.8/john-travoltage_en.html

Before doing this, it seems there are a couple issues with the new assets:

 - The brighter co

[2016-10-27 17:27] jessegreenberg commented on #121
One possible change we discussed was to switch which leg is in front.

[2016-10-31 18:15] jhung commented on #119
@jessegreenberg I that makes more sense... have a "Mute sound toggle" unchecked by default.

[2016-10-31 18:36] jessegreenberg commented on #119
Thanks @jhung, The above commit changes to the behavior to "Mute Sound toggle button, not pressed" by default and "Mute Sound toggle button, pressed" when the button is in its pressed state.

Closing.

[2016-10-31 18:36] #119 closed

[2016-10-31 18:53] jessegreenberg opened #123 "Sim label is at bottom of document"
At the moment, it looks like the 'h1' for the simulation label s at the bottom of the document.  The PDOM html looks (sort of) like

![capture](https://cloud.githubusercontent.com/assets/6396244/19867054/45c4ef48-9f68-11e6-98ab-3476e87825e1.PNG)

Likely caused by a change of mine for https://github.com/phetsims/scenery/issues/565.

[2016-10-31 19:37] jessegreenberg commented on #121
@arouinfar and I met to discuss this.  @arouinfar suggested working on the artwork so that the front leg is draggable and the back leg is planted.  The body will also be shifted down a bit so the new legs are more firmly planted on the rug.

[2016-10-31 20:35] jessegreenberg commented on #123
While working on the screenview, I will place the view elements in an ```article``` which we decided to try on August 16.

[2016-10-31 20:40] jessegreenberg commented on #123
Fixed in the commit above, screen view is in an article and the h1 is at the top.  The DOM looks sort of like this:

![capture](https://cloud.githubusercontent.com/assets/6396244/19870833/e253ed32-9f77-11e6-899d-0a9a7435d05e.PNG)

[2016-10-31 20:40] #123 closed

[2016-10-31 20:45] arouinfar commented on #121
@jessegreenberg I've separated the artwork for the front leg into two pieces, but I still need to figure out how to tweak them to avoid gaps in the joint while rotating.

<img width="353" alt="screen shot 2016-10-31 at 2 43 08 pm" src="https://cloud.githubusercontent.com/assets/8419308/19870957/7b2cd9ce-9f78-11e6-9acf-55779191160e.png">
<img width="304" alt="screen shot 2016-10-31 at 2 44 22 pm" s

[2016-10-31 21:05] pixelzoom opened #124 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:51] pixelzoom commented on #124
I started to convert this, but discovered that the type of `sonification` query parameter is `{boolean|number}`.   This is not supported by QueryStringMachine.  @jbphet you'll have to handle this.  Highly recommended to use `{type 'number'}`, with a default value that does what you want when this is currently false.

[2016-10-31 21:52] pixelzoom commented on #124
Looks like @jessegreenberg self assigned, so I won't assign to @jbphet.

[2016-11-01 15:44] jessegreenberg opened #125 "a11y user review"
We received this review from an informal user test.

@jobara @jhung do you have any thoughts on these comments?

[2016-11-01 17:09] jobara commented on #125
@jessegreenberg in regards to the electron reporting. This part of the code was intended to address that issue https://github.com/phetsims/john-travoltage/blob/master/js/john-travoltage/view/ElectronLayerNode.js#L78-L86 I wonder if the delay is too short for JAWS, although changing it might be problematic for other environments.

[2016-11-01 17:13] phet-steele opened #126 "Automated Testing Sim Error (11/1/2016 10:00 AM)"
[code]

[2016-11-01 17:15] jhung commented on #125
We discussed using degrees, radians, and other forms of measurement early on. Those measurements only made sense relative an understood "home" position. We could say something like: "45 degrees from the doorknob".

Some reasons why we didn't choose to do it this way was:

1. It introduced math / units which may not be pedagogically important.
2. It may place too much emphasis on the relative posit

[2016-11-01 17:17] jobara commented on #125
@jhung yes, queuing of messages is likely somewhat AT dependent. Although in this case we are attempting to not fire events as often.

[2016-11-01 18:18] arouinfar commented on #121
@jessegreenberg @ariel-phet here's what I was able to put together.
<img src="https://cloud.githubusercontent.com/assets/8419308/19901216/fb2679f6-a02b-11e6-9768-9f34f883709c.png" width=222><img src="https://cloud.githubusercontent.com/assets/8419308/19901214/fb205c88-a02b-11e6-99c8-77f71440dfdd.png" width=222><img src="https://cloud.githubusercontent.com/assets/8419308/19901215/fb208046-a02b-11e6

[2016-11-01 19:44] jessegreenberg commented on #121
Looking great @arouinfar, this should be a big improvement and make it easier to layer the charges.  For the hyperextended knee, we could limit the angle so it doesn't go that far.  @jobara also suggested the possibility of rotating from the hip instead of the knee.  Do you think this would help or be doable from the current illustrator artwork?

[2016-11-01 19:58] #126 closed

[2016-11-01 20:36] arouinfar commented on #121
@jessegreenberg perhaps this could be the maximum allowable extension
<img src="https://cloud.githubusercontent.com/assets/8419308/19906210/7a77e1b4-a03f-11e6-8008-be3d31d6869d.png" width=350>

If we hinge at the hip instead of the knee, we'd have more mobility in front of the body, but the foot wouldn't be able to go very far behind the the body without things looking pretty weird. Try keeping yo

[2016-11-01 21:01] jessegreenberg commented on #121
True!  But if the hip is behind the jacket, I am wondering if it will look less strange than the extended knee.

Regarding limiting the angle, I forgot that there might be value in allowing the foot to completely leave the rug. If the user can't pick up any charges in the air, it would reinforce that charges are coming from the rug.

[2016-11-01 22:18] arouinfar commented on #121
@jessegreenberg here's a version with the hip hinge. I think the jacket does a huge favor by hiding the actual hinge. I think I prefer this to the hinging knee.

<img src="https://cloud.githubusercontent.com/assets/8419308/19909630/2baeccf0-a04e-11e6-85cc-c24a363ac55c.png" height=300><img src="https://cloud.githubusercontent.com/assets/8419308/19909632/2bb10808-a04e-11e6-9e56-7311c6863c87.png" hei

[2016-11-01 22:27] jessegreenberg commented on #121
@arouinfar I agree, I think that looks great.

[2016-11-02 12:30] jobara commented on #121
@arouinfar This does look really good. You've captured what appears to be a realistic kicking motion. I can even imagine him kicking a ball down a field in those poses.

[2016-11-02 21:04] ariel-phet commented on #121
@arouinfar I thing the full leg swing looks good. I would consider the following:

- tweak the left leg a bit so he is in a more "balanced" position when the right leg is swung fully forward (so basically bring the leg more under his body) Not a huge deal, but I think that would look a bit better

- agreed that the jacket hiding the hinge is a good thing

- some fair warning - we may get sent back

[2016-11-02 22:16] arouinfar commented on #121
@jobara Thanks! The hip hinge was a great suggestion.

@ariel-phet I agree that straightening the back leg would look more balanced. However, I'm not particularly keen on spending much more time on the artwork if this rendition of John is going to get the axe.

@jessegreenberg and I took a look at disco-John earlier this week. His 3/4 pose is far more challenging to add a reasonable-looking pivoti

[2016-11-02 22:26] ariel-phet commented on #121
@arouinfar I think would be fine to bring up in status yes

[2016-11-03 16:56] arouinfar commented on #121
Next steps
* Give John a haircut
* Send @kathy-phet screenshots of both options
* KP will reach out to the lawyers and BrainPOP before artwork is further edited

[2016-11-03 16:59] arouinfar commented on #121
Here's the haircut!
<img width="539" alt="screen shot 2016-11-03 at 10 58 19 am" src="https://cloud.githubusercontent.com/assets/8419308/19976219/7c09a2bc-a1b4-11e6-9d69-bcf54625ec53.png">

[2016-11-03 17:05] arouinfar commented on #121
@kathy-phet I've emailed you the image files of John with and without the bun. Please reassign this issue back to me if/when we have the green light to continue down this path.

[2016-11-08 22:12] terracoda commented on #125
@jobara @jhung, what we are trying for balloons is differentiating what is happening with state information. For example, when a user first picks up charges they get an alert that they picked up charges from the sweater. When they pick up more they get a full update of the the balloon and sweater, then when the pick up more the get a much shorter update that they have picked up more negative charg

[2016-11-09 00:40] jessegreenberg commented on #124
Done in the commit above.  I checked with @jbphet and also a default value as described in https://github.com/phetsims/john-travoltage/issues/124#issuecomment-257431731.  I added documentation for each value based on http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.3/jt-sonification-1-3-0-dev-2-release-notes.html.

Closing.

[2016-11-09 00:40] #124 closed

[2016-11-09 00:56] terracoda commented on #125
@jobara, @jhung, this one by one counting of the charges also happened on VO with Safari in Mac OS Sierra (MacBook Air), but it didn't happen on VO & Safari with El Capitan (MacBook Pro).

[2016-11-09 16:53] jessegreenberg commented on #125
On JAWS 17 with IE and NVDA with Firefox, I only hear an up to date alert for the number of charges once, I don't hear a queue of multiple updates.

[2016-11-09 16:54] jessegreenberg commented on #122
All done, interviews scheduled for today.  Latest version of JT was provided here: http://bit.ly/phetinterviews

Closing.

[2016-11-09 16:54] #122 closed

[2016-11-09 16:56] jessegreenberg commented on #117
Changes for this issue were merged into master via https://github.com/phetsims/john-travoltage/pull/120.  Closing.

[2016-11-09 16:56] #117 closed

[2016-11-09 16:59] jessegreenberg commented on #116
Now that john-travoltage is using QueryStringMachine this is no longer relevant.  Closing.

[2016-11-09 16:59] #116 closed

[2016-11-09 17:08] jessegreenberg commented on #125
@jobara have you considered sending the alert on the keyup event from the range input?  This might only send a single alert when the user has completed an interaction.  NVDA and JAWS seem to allow keyup events from arrow keys while interacting with ```input type=range``` so it might be an alternative to debounce if we decide this is an issue worth investigating.

[2016-11-09 17:54] jobara commented on #125
@jessegreenberg no that hasn't been investigated yet. I believe currently it makes use of changes to the model as opposed to checking the direct interaction.

[2016-11-10 18:49] jessegreenberg commented on #125
@jobara understood, and I think that that approach would be better in general as it more closely follows the MVC pattern.

[2016-11-10 18:56] jessegreenberg commented on #125
Maybe a combination would work.  A public property could store the string that gets updated with the model, and keyup simply gets that field and passes it on to the PDOM.

[2016-11-18 16:25] emily-phet opened #127 "Design of Popup Dialogue for Keyboard Nav Help"
We need to design the dialogue popup that will inform users of the keyboard presses available for using the sim.

Here's the list of keyboard presses and actions (from Jon H.):

- Right Arrow and Up Arrow: Increase the value of the slider.
- Left Arrow and Down Arrow: Decrease the value of the slider.
- Home and End: Set the slider to the first and last values of the slider.
- Tab: Moves focus int

[2016-11-18 18:09] terracoda commented on #127
@arouinfar, I'm sure you can make it look better than my original mock-up :-)

[2016-11-18 18:12] arouinfar commented on #127
@emily-phet I can work on this later this afternoon (depending on how long it takes to get through the Google Drive migration) or Monday.

@terracoda your mockup is a really helpful place to start. :)

[2016-12-01 18:22] arouinfar commented on #127
@emily-phet I've made a few (wireframe) iterations of the keyboard popup, which you can view in
[Keyboard_Shortcut.pdf](https://github.com/phetsims/tasks/files/625424/Keyboard_Shortcut.pdf). I've included some comments to the .pdf file.

I prefer the last mockup in the file (pasted below). It groups the keys into categories, which I think will be a useful paradigm for other sims, as @terracoda's i

[2016-12-01 18:29] jobara commented on #127
@arouinfar one of the tricky things with the JT sim is the circular motion of the appendages. Basically the ↑doesn't always move the hand/foot up visually. Consider the case where the leg is all the way back, pushing ↑ will actually make the foot look like it's going down.

[2016-12-01 18:55] arouinfar commented on #127
Excellent point @jobara. I struggled a bit with how to describe the motion because the hand and foot sometimes seem discrepant.

I'm hesitant to describe anything as a "slider" (even though it simplifies the text to some extent) because it seems like a nitty-gritty implementation detail that doesn't need to be revealed to the user. @jessegreenberg has pointed out that the screen reader refers to t

[2016-12-01 19:00] arouinfar commented on #127
What I've been calling up/down works nicely for the hand, but the foot is different as @jobara has pointed out. Here an alternative:

<img width="772" alt="screen shot 2016-12-01 at 12 00 03 pm" src="https://cloud.githubusercontent.com/assets/8419308/20807865/c50c648a-b7bd-11e6-94db-a78965dcf283.png">

[2016-12-01 19:01] jhung commented on #127
@arouinfar and @emily-phet, I made [a quick sketch](https://docs.google.com/drawings/d/1gCaKzMMq7KqPYqqeQ9Uvrv3Lv22iVfEMsM5e_BjtSoQ/edit?usp=sharing). Because of the issue @jobara mentioned I think we can avoid the confusion by simplifying and grouping the text (see the sketch).

I think it's okay to not be too specific in wording - we've observed that users are quick to figure out which direction

[2016-12-01 19:20] jobara commented on #127
@arouinfar and @jhung, the home/end and pgUp/Dn keys are not critical. They are features we just get for free with the slider.

@arouinfar you make an interesting point about key name. I suppose it's keyboard dependent as I still use an Apple keyboard that has home/end and pageUp/Dn keys, although this is becoming more and more uncommon. I wonder if there are PC laptops with similar key combinatio

[2016-12-02 00:22] arouinfar commented on #127
@jhung thanks for the sketch! It's really helpful.

@jobara I'll mock up a few more alternatives based on @jhung's sketch, both with and without the home/end and page up/down keys. I compared keyboards with a coworker who uses a small Dell laptop, and she also needs to use the fn + arrow keys. However, her arrow keys look something like this:

<img width="286" alt="screen shot 2016-12-01 at 5 19 4

[2016-12-02 19:00] terracoda commented on #127
@arouinfar, @jhung, @jobara, I also think Jon's approach is a nice one. I suggest the wording name the actual  keys in the description, so it is clear for both visual and non-visual users. The actual images can then have blank alt text in the underlying HTML making them invisible to a screen reader user, thus making the reading experience more pleasant.

For example:
**Left and right arrows keys**

[2016-12-02 19:52] arouinfar commented on #127
Thanks for these suggestions @terracoda.

I agree that this should be obvious, though it could quickly be observed by visual users. However, would it be helpful to non-visual users to add "in opposite directions"?

Here are a few mockups that combine @jhung's sketch with @terracoda's text suggestions. The first is a more verbose, and the second more minimal. I could make an argument for either.
![

[2016-12-02 20:56] terracoda commented on #127
@arouinfar, yes Tab and Shift Tab very common keyboard operations. They would likely only not work if the app was not built correctly from the start. However, that said, this is an interactive sim, not a typically accessible application. Providing some instructions that standard key presses work may provide assurance to some users. In my interviews, participants did think aloud phrases like this:

[2016-12-02 21:13] arouinfar commented on #127
Thanks for the feedback @terracoda! I was using ??? as a placeholder, because @emily-phet's original post didn't specify the key.

Sounds good. I think for a sim like BASE, we'll want to have some top-level categories for sim-specific things, and more general navigation. If we go the more minimal route, I think everything can be listed together, like so:

![screen shot 2016-12-02 at 2 10 19 pm](ht

[2016-12-03 01:54] terracoda commented on #127
@arouinfar looking good. Just a couple of  adjustments.

I would put periods at the end of each, so there are pauses at the end.

I should have said "**Escape key** closes a dialog, like this one."

And, to be consistent, I would refer to "this page" with the same language, so:

"**H key** opens this dialog." It's a dialog not a menu :-)

[2016-12-05 19:26] arouinfar commented on #127
How about this @terracoda? If the verbiage and ordering looks good, I can start working on aesthetics.
![screen shot 2016-12-05 at 12 25 15 pm](https://cloud.githubusercontent.com/assets/8419308/20899028/e93ccd06-bae5-11e6-9990-0931e1a6b4f8.png)

[2016-12-06 00:51] terracoda commented on #127
@arouinfar,

 sounds a bit awkward. Sorry I didn't catch that before. I think,

sounds better.
Other than that, it's great!

[2016-12-06 05:58] arouinfar commented on #127
Thanks @terracoda! I will start working on a few layout options

[2016-12-07 17:26] emily-phet commented on #127
Looking great! @arouinfar I would suggest returning to earlier wording for the description of the arrow keys - "Left and Right arrow keys move the hand or the foot". I think "opposite directions" could be confusing.
I'm not sure about the use of "dialog". It's true that it is a dialog, but I doubt many people really know what that means - so likely it will just be ignored. Let's go with the use of

[2016-12-07 17:29] arouinfar commented on #127
Thanks for the feedback @emily-phet! I will make the suggested changes to the descriptions, and work on a few mockups later this afternoon.

[2016-12-07 19:31] terracoda commented on #127
@emily-phet, @arouinfar other possible words for "dialog" could be:

- modal (also a bit technical)
- pop-up
- pop-up box
- window
- pop-up window
- document (a bit dry)

Just words to keep in the coffers. And the addition of "like this one," would be god in all cases.

[2016-12-07 19:35] arouinfar commented on #127
Thanks for these suggestions @terracoda. I think "pop-up" might be a good alternative to "dialog".  I also like window, but I think it could get confused with the browser window.

The good news is that once the dialog is implemented, it'll be really easy to make changes to the text. :)

[2016-12-07 21:26] jobara commented on #127
@terracoda and @arouinfar, I hadn't thought of this till your naming discussion above, but is the "pop-up" actually going to be modal?

[2016-12-07 21:34] arouinfar commented on #127
@jobara the help dialog will modal (like the About menu). We don't yet have support for non-modal dialogs.

[2016-12-07 21:34] terracoda commented on #127
@jobara, currently these "pop-ups" are implemented in Scenery as a "modal dialog" as opposed to a either a "non-modal dialog" or an "alert dialog".

As currently, implemented in BASE the modal content is accessible. With the aria document role applied to the modal users are able to navigate the content just as they navigate a typical web page with content.

We have had some issues with a user slip

[2016-12-07 22:11] terracoda commented on #127
@arouinfar, FYI, we are investigating alternative options to using a modal dialog for the actual pop-up of the list of items.

[2016-12-09 18:13] emily-phet commented on #127
@terracoda - you might want to respond elsewhere, if this is getting off-topic, but why would we want a non-modal dialog? I was thinking that modal dialogs were more intuitive (they open and you have to close them to get back to where you were) and that this might help create that barrier between interacting with the dialog and interacting with what's behind the dialog. I'm just curious, because I

[2016-12-09 18:33] terracoda commented on #127
@emily-phet, I'm not suggesting we not use modal dialogs for actual pages that pop-up (the resources that are available from the menu). What @jessegreenberg and I would like to see is if we can make the actual menu pop-up be just a menu that pops up rather than popping up in a modal dialog.

For example, a collapsed (hidden) menu, might be easy to use than a modal. This should make the structure s

[2016-12-12 05:20] emily-phet commented on #127
Thanks for the clarification - that makes sense.

[2016-12-12 20:50] jessegreenberg opened #128 "Code Review: Accessibility features"
In preparation for deployment, accessibility need another code review.  A full code review shouldn't be necessary as accessibility code should be limited to the view.  I modified the normal code review checklist to cover things that should be checked.

*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
========

[2016-12-12 20:51] jessegreenberg commented on #128
I will take one more pass through the list and check the code before assigning to another.

[2016-12-12 21:09] jessegreenberg opened #129 "Sonification licensing issue"
After build, the following comes out as a warning:

We don't want this to be in production code, @emily-phet @jbphet should we create a new audio asset for this or move it out of master for deployment?

[2016-12-12 21:10] jessegreenberg commented on #129
For #128.

[2016-12-12 21:21] arouinfar commented on #127
I've made a few small adjustments to the text based on @terracoda and @emily-phet's suggestions, and have added the dialog close button. I left the references to "dialog" for now, but we can find a suitable alternative during user testing (if necessary).

I think we're ready to do a bit of pixel-polishing to the dialog's appearance. The all black and white version felt a bit boring to me, so I add

[2016-12-12 21:26] jessegreenberg opened #130 "Remove accessibility strings from from strings_en.json"
Accessibility strings should not be translatable yet.  We would like some feedback from the community before they are submitted for translation.  Also, the translation utility does not handle accessibility strings yet in a way that gives the translator information about the context of the string.

Strings should be removed from strings_en.json.

For #128.

[2016-12-12 21:27] emily-phet commented on #127
@arouinfar I like the color! I think the blue keys/white background is more aesthetically appealing, but the keys look less like ...keys. So I think the blue background/white keys may do more to highlight the keypresses. I would also suggestion change the wording of the first on the list to be "left or right" instead of "left and right", to be consistent with the image next to it. Otherwise, looks

[2016-12-12 21:34] arouinfar commented on #127
Thanks @emily-phet. You make an excellent case for a colored background. Now that I think about it, white keys definitely do look more key-like, which is important. @emily-phet what are the next steps for this issue?

Here's a mockup with the updated wording. The "or" definitely makes more sense. :)
![screen shot 2016-12-12 at 2 31 34 pm](https://cloud.githubusercontent.com/assets/8419308/21117626

[2016-12-12 21:40] jessegreenberg commented on #130
Done in above commit, closing.

[2016-12-12 21:40] #130 closed

[2016-12-12 21:47] jessegreenberg opened #131 "Random numbers should use phet.joist.random"
For #130

[2016-12-12 22:01] jessegreenberg commented on #131
Done, closing.

[2016-12-12 22:01] #131 closed

[2016-12-12 23:45] jessegreenberg commented on #128
@ariel-phet and @emily-phet this issue will be used to track the code review.  @ariel-phet can you please assign and prioritize the code review?

We could do a review in two ways:
 - A full code review - longer review bringing the sim up to standards of the latest code review checklist.
 - Only review code related to the accessibility features - shorter review, just touching accessibility blocks o

[2016-12-12 23:48] emily-phet commented on #128
@ariel-phet - Last we spoke about this, you mentioned JO might be a good fit for a code review.

[2016-12-12 23:51] emily-phet commented on #127
@arouinfar Unless @terracoda has any further suggestions, I believe next steps are implementation. @ @jessegreenberg let us know if you need anything else regarding the visual design.

[2016-12-12 23:56] emily-phet commented on #129
@ariel-phet Can you weigh in here? We will need a version of the sim that can be published without sonification (as *the* John Travoltage sim, not a prototype), and another version that can be used for sonification refinement with collaborators in the Spring.

[2016-12-12 23:57] arouinfar commented on #127
Excellent! @terracoda if you have any further suggestions, please let me know.

@jessegreenberg the keys look like can bel be drawn in code, but if you need any illustrator assets, I'll be happy to send them your way.

[2016-12-13 00:17] jessegreenberg commented on #129
One option is that after #128 we can create a branch for the accessibility release and just pull sonification code (or maybe just the code that uses koli_summer_site1_1way_mono.ogg) out of the branch.  We can then then continue development in master as usual with collaborators.

[2016-12-13 02:01] terracoda commented on #127
@arouinfar, I totally agree with @emily-phet. I prefer the white keys on the blue background. And good catch on the "or". I also think it is ready.

[2016-12-13 02:02] terracoda commented on #127
@arouinfar, and I really like that you added color, too. Very nice touch!

[2016-12-13 04:42] ariel-phet commented on #128
@jessegreenberg @emily-phet will talk with JO, I know currently CL:B code review was priority for him due to AA departure.

[2016-12-13 04:44] ariel-phet commented on #129
@jessegreenberg I think branching after #128 seems fine, that follows our normal RC style development correct?

[2016-12-13 13:23] emily-phet commented on #128
@ariel-phet Thanks!

[2016-12-13 16:55] jessegreenberg commented on #129
Yes, exactly, the RC will be built off of that branch after the code using koli_summer_site1_1way_mono.ogg has been removed.  Sounds good, we will proceed with that plan.

Closing.

[2016-12-13 18:20] jhung commented on #127
I prefer the white keys because they resemble what most people will see in front of them. I find the blue background is a bit hard to read with the black text though (even though that colour combination is WCAG compliant).

@arouinfar If you give the right and bottom edges of the keys a thicker black stroke, it makes them look more like keys.

![untitled drawing](https://cloud.githubusercontent.co

[2016-12-13 19:26] arouinfar commented on #127
Thanks @jhung! Here's what'd it look like if I lightened the background color and layered a black rectangle behind each key and offset it slightly. I agree that it makes things look more key-like. As for the background color, we can easily tweak it once the dialog is implemented.

![screen shot 2016-12-13 at 12 25 35 pm](https://cloud.githubusercontent.com/assets/8419308/21155404/48448e16-c12f-11e

[2016-12-13 21:06] ariel-phet commented on #128
@jonathanolson is going to go through the sim with an eye for review issues on a11y features, if he runs into code review issues for the code in general (PhET standards) he will just fix not create issues.

[2016-12-14 17:13] jbphet commented on #129
koli_summer_site1_1way_mono.ogg is an impulse response file used to create a bit of a reverb effect on the sounds.  I just grabbed it off the web, but I could just create something similar, and should do so in order to avoid having to change the code.

[2016-12-14 19:20] jessegreenberg commented on #129
Great, thanks @jbphet!

[2016-12-19 23:07] jessegreenberg commented on #127
If a screen reader is in use, the 'H' key will not work as a hot key to bring up the keyboard help menu because 'H' is commonly used to navigate page headings.  It is only working in BASE because of a specific ARIA role on the balloon.

In general, we found that global hot keys are problematic for screen reader users because most keys are used by the AT for navigation.  @emily-phet @arouinfar @ter

[2016-12-20 00:52] terracoda commented on #127
@jessegreenberg, good catch! Yes, we will have to remove this line.

[2016-12-20 17:37] emily-phet commented on #127
@jessegreenberg Question: I know that most keys are used by AT for navigation, but don't they (at least screenreaders) typically require a second or third key to be pressed simultaneously? For example, VO uses the H key, but you have to press Ctrl-Opt+H to activate.

[2016-12-20 17:48] terracoda commented on #127
@emily-phet, single letter keys work as shortcuts as well.
For example JAWS uses almost every key - maybe every one: http://doccenter.freedomscientific.com/doccenter/archives/training/jawskeystrokes.htm

[2016-12-20 17:50] jobara commented on #127
@emily-phet both JAWS and NVDA use "H" for heading navigation.

http://webaim.org/resources/shortcuts/jaws#headings
http://webaim.org/resources/shortcuts/nvda#headings

[2016-12-20 20:17] emily-phet commented on #127
@terracoda @jobara Thanks for the clarification. For some reason I thought in JAWS and NVDA you still used a modifier key along with "H". I couldn't find any single-key shortcuts for VO (though I'm certainly not an expert VO user). I wonder if this was an intentional choice by Apple to avoid conflicts.

As we discussed in a meeting today, let's just drop the "H" option from the dialog for now, and

[2016-12-21 01:07] jessegreenberg commented on #127
Here is a version of the sim with the keyboard help button and its dialog, with the 'H' key removed as mentioned by @emily-phet.

@arouinfar @terracoda can you please review the dialog in this version?  Please let me know if there are any layout changes that need to be made.

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.10/john-travoltage_en.html

The dialog is *not* acc

[2016-12-21 01:08] jessegreenberg commented on #127
Also - should the style of the 'X' close button change when the mouse is hovering over it?

[2016-12-21 18:04] terracoda commented on #127
@jessegreenberg, the dialog looks good.

Regarding hovering over the X, I would say yes, a subtle border at the very least, or perhaps a bolder looking X? @arouinfar, might have a better suggestion. Is there anything in the design documentation for the new dialog style?

[2016-12-24 20:37] arouinfar commented on #127
Looks good @jessegreenberg! We have not specified a hover behavior for the dialog close button, but I've added a comment to the dialog design doc to discuss it. For now, can you use the vertical border lines like the ones that appear in the navbar?

[2016-12-26 03:57] terracoda commented on #127
@arouinfar and @jessegreenberg, I didn't mention this in my previous comment, but a keyboard focus style is needed as well on the close button. This can be the same as the hover style, or can be the same as other focus styles in the sim. For consistency, you may want to discuss this as well.

[2017-01-04 01:09] jessegreenberg opened #132 "Accessibility code should use AccessibleNode"
The code related to accessibility should use the new AccessibleNode that was recently checked into scenery.  This will help us test out this new type, but also remove a large amount of boiler plate code that was previously required for setting accessible content.

This should be done before #128.

[2017-01-04 01:16] jessegreenberg commented on #128
A new type called AccessibleNode was recently checked into scenery and this sim should use it for code related to accessibility.  It should reduce much of the boiler plate code that was previously required for setting accessible content.  Code review should be temporarily on hold until #132 is complete, which I will work on at high priority so this can continue as soon as possible.

This should no

[2017-01-04 01:16] jessegreenberg commented on #128
I will assign back to @jonathanolson when #132 is complete.

[2017-01-04 22:49] jessegreenberg commented on #132
Done, through the above commits - here is a diff of the HTML content from before and after -
![capture](https://cloud.githubusercontent.com/assets/6396244/21662083/20a27aea-d295-11e6-965a-ed66603871a9.PNG)

As far as I can tell, the only difference is that the range inputs and their labels are wrapped in divs now (other than from a few id differences on the html elements)

[2017-01-04 22:49] jessegreenberg commented on #132
Ah, the form is also missing aria-describedby.

[2017-01-04 22:57] jessegreenberg commented on #132
Alright, all done, except for a couple of common code components that have custom accessible content.  The accessible content used here should probably replace the accessible content that is currently being used in common code, but I would like to sort out https://github.com/phetsims/scenery/issues/596 before that is done.  Closing this issue.

[2017-01-04 22:57] #132 closed

[2017-01-04 22:58] jessegreenberg commented on #128
Alright, #132 is done, assigning back to @jonathanolson.

[2017-01-05 19:39] pixelzoom opened #133 "encapsulate a11y strings in 1 .js file"
See https://github.com/phetsims/balloons-and-static-electricity/issues/236

[2017-01-06 22:44] jessegreenberg commented on #133
Strings isolated to JohnTravoltageA11yStrings in the commit above. Closing.

[2017-01-06 22:44] #133 closed

[2017-01-10 16:55] jessegreenberg opened #134 "Generalize use of aria-live elements"
Briefly discussed as part of #128 .  balloons-and-static-electricity uses a general type for working with the aria-live elements in the template.  We should do the same in this sim.

This means moving AriaHerald to common code and using in this sim.

[2017-01-10 17:19] jessegreenberg commented on #99
This was handled as part of #132, for a Node with accessible content, the domElement can be accessed through a getter. Closing.

[2017-01-10 17:19] #99 closed

[2017-01-10 21:25] jonathanolson opened #135 "Sounds should be in the view"
In JohnTravoltageModel:
[code]

presumably sounds are related somewhat to accessibility, and should be in the view.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:27] jonathanolson opened #136 "TODOs in ChargeAmountToneGenerator"
[code]

and

[code]

and

[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:29] jonathanolson opened #137 "TODO in JohnTravoltageAudio"
[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:30] jonathanolson opened #138 "TODOs in JohnTravoltageView"
[code]
and
[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:31] jonathanolson opened #139 "TODOs in PitchedPopGenerator"
[code]
and
[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:32] jonathanolson opened #140 "Assorted TODOs"
There are lots of TODO issues that should be addressed in the simulation (I've marked some with issues).

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:33] jonathanolson opened #141 "Sonification query parameter"
Current values are 0, 1, 2, 3 and 4. If this is permanent, named query parameter values would presumably be much more helpful.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:38] jonathanolson opened #142 "KeyNode types don't look sim-specific"
Presumably they should move into common code (scenery-phet?)

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:39] jonathanolson opened #143 "KeyNode margin options"
In the default options:
[code]

maybe xMargin and yMargin would be a better name, given that they are documented as margins?

[2017-01-10 21:39] jonathanolson commented on #143
Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-10 21:43] jonathanolson commented on #143
Also on further read-through, these aren't margins (it is only added to the x/y values, so it's the opposite of a margin for e.g. the lower-right alignment).

I'd recommend either changing them to actually be margins, or changing the documentation.

[2017-01-10 22:01] jonathanolson opened #144 "KeyNode layout"
Seems to replicate a lot of AlignBox features:
[code]

and a Panel and extra un-filled Rectangles shouldn't be needed, just something like:
[code]

Also note currently:
[code]
there is no options.line in the current code.

All code typed here not guaranteed to work, but the general concept should. Let me know if you have any questions.

Code review for https://github.com/phetsims/john-travoltage/i

[2017-01-10 22:06] jonathanolson opened #145 "ArrowKeyNode direction vs rotation"
The following:
[code]
could presumably be mostly replaced by rotating the Path instead (where the Shape is only in one orientation).

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-11 01:45] jessegreenberg commented on #145
Good idea, done in the above commit.  Look OK @jonathanolson?

[2017-01-11 02:18] jessegreenberg commented on #144
AlignBox to the rescue!  @jonathanolson AlignBox and AlignGroup have been great, I have used them elsewhere too.

Changed layout to recommendation in https://github.com/phetsims/john-travoltage/issues/144#issue-199945600, @jonathanolson would you like to review again?

[2017-01-11 02:20] jessegreenberg commented on #143
I prefer changing the documentation as margin seems to be ambiguous when the icon can be in any of
[code]

[2017-01-11 02:23] jessegreenberg commented on #143
Although AlignBox uses optional  margins.  I will check the implementation there for consistency before continuing.

[2017-01-11 02:25] jessegreenberg commented on #143
Since using AlignBox, they should be margins.

[2017-01-11 17:34] jessegreenberg commented on #143
Renamed offset to margin since we are using AlignBox, and modified the documentation slightly.  Closing.

[2017-01-11 17:34] #143 closed

[2017-01-11 18:28] jessegreenberg commented on #141
These are not meant to be permanent but are still being used to prototype different styles.  Named values do seem helpful, I renamed 0-4 to [ 'none', 'piano', 'pitch', 'jostle', 'transformer' ] based on descriptions in JohnTravoltageQueryParameters.

@jbphet does this look OK?

[2017-01-11 19:19] jonathanolson commented on #144
Looks good, thanks!

[2017-01-11 19:19] #144 closed

[2017-01-11 19:34] jonathanolson commented on #145
Looks good, although I'd typically opt for a non-branching pattern in this case:
[code]

I'd also typically inline pathOptions since it's only used once:
[code]

[2017-01-11 22:05] jonathanolson opened #146 "AccessibleDescriptionNode docs"
Notes:
[code]
in the constructor, but the actual parameter is ```electrons``` which looks like an ObservableArray.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-11 22:13] jonathanolson opened #147 "_.debounce usage"
It looks convenient, but we should add our own version of this based on view timesteps (e.g. phet-core's Timer should have debounce as a method), as debounce relies on setTimeout().

If we have playback automated tests that check DOM content (during playback of a sim), it could potentially fail, and playback of accessible features in the future would fail.

Code review for https://github.com/phets

[2017-01-11 22:18] jonathanolson opened #148 "AccessibleFormNode"
If there's a decent potential of more behavior being added to every form, I'd suggest this gets moved to common code (so that every form would share that behavior).

If there's a low chance of more behavior being added, it could be replaced with ```new AccessibleNode( { tagName: 'form' } )``` in usages (or with Node after mixin).

Thoughts about what is best?

Code review for https://github.com/ph

[2017-01-11 22:39] jonathanolson opened #149 "More abstraction for accessible components"
It may make sense long-term to think about mix-ins for specific component types.

For instance, say you have a Path that you want to be a slider in the DOM. You need:
[code]
set, possibly ```parentContainerTagName: 'div'``` or others, you'll want the workaround:
[code]
you'll want to handle the min/max/step attributes, etc., and maybe custom slider-related functions would be good (handles a Range

[2017-01-11 22:40] jonathanolson commented on #149
Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-11 22:41] jonathanolson commented on #149
Also I'd note that this is the typical case of mix-ins, where you need to add in behavior (acting like a slider) to any point in a normal inheritance hierarchy.

[2017-01-12 02:37] jessegreenberg commented on #142
Alright, KeyNode types have been moved to scenery-phet.  Closing this issue since further review comments will continue in https://github.com/phetsims/scenery-phet/issues/288 or in other review issues in this repo.

[2017-01-12 02:37] #142 closed

[2017-01-12 02:39] jessegreenberg commented on #148
I would say low chance of more behavior being added.  No additional behavior needed in this sim, and I can't think of anything else at the moment.  This type does not seem necessary now.

[2017-01-12 02:43] jessegreenberg commented on #148
AccessibleFormNode removed in the above commit and replaced with new ```AccessibleNode( { tagName: 'form' } )``` at the usage site.  Closing.

[2017-01-12 02:43] #148 closed

[2017-01-12 02:52] jessegreenberg commented on #146
Yes, thanks.  Fixed in the above commit.

[2017-01-12 02:52] #146 closed

[2017-01-12 06:47] jonathanolson opened #150 "Debug code in AppendageNode"
What is this for?

[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 06:52] jonathanolson opened #151 "FocusOverlay color duplicated"
rgba(250,40,135,0.9) is specified in Scenery's FocusOverlay and AppendageNode's focusCircle's stroke.

Presumably color constants for accessibility should be located in one place?

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 06:54] jonathanolson opened #152 "AppendageNode options.controls"
I see:
[code]

but this option isn't noted in the default options, and doesn't have documentation. Can it have a default value with documentation mentioning what it does?

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 06:58] jonathanolson opened #153 "AppendageNode order of change/input firing"
It would be helpful near here:
[code]
to mention that the input event will fire before the change event (in the case that they both fire). The listener for 'change' was in front, so it took a bit to sort out the logic.

Also, this seems like behavior that would be very common, and should be abstracted out (e.g. https://github.com/phetsims/john-travoltage/issues/149).

[2017-01-12 06:58] jonathanolson commented on #153
Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:00] jonathanolson commented on #153
Also as a note about related code: ```rotateAppendage()``` is specific to rotating due to the accessible DOM (that wasn't immediately apparent from the name).

[2017-01-12 07:03] jonathanolson opened #154 "Some properties missing visibility documentation"
For instance in AppendageNode:
[code]

In AppendageNode it only set dragging (never checking it), so it required a search to see if it was private (it isn't, the dragging value is used in JohnTravoltageView).

Since the part of code review guidelines included in https://github.com/phetsims/john-travoltage/issues/128 includes the documentation, it would be good to take care of for this.

Code revie

[2017-01-12 07:08] jonathanolson opened #155 "Type documentation improvements"
Many optional options objects aren't marked as optional in JSDoc.

Some functions don't have JSDoc documentation.

Some functions have JSDoc for some parameters, but not all (SparkNode's constructor)

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:10] jonathanolson opened #156 "Appendage type"
Arm and Leg essentially have an implicit "interface" as they both have an angle, position and dragging boolean.

Can we have a supertype for this reason (and so type docs of {Leg|Arm} aren't necessary)?

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:11] jonathanolson opened #157 "Contains deprecated PropertySet code"
Should be removed in favor of direct Property usage.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:14] jonathanolson opened #158 "AppendageNode code structure"
The constructor is packed. Many functions in the constructor (like updatePosition, rotateAppendage, limitLegRotation) could be moved out of the constructor (and documented more) for readability.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:15] jonathanolson opened #159 "Range usage"
There are a number of ad-hoc usage of Range-like objects with min/max defined, e.g. AppendageRangeMaps:
[code]

The Range object in dot should be preferred in those cases.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:16] jonathanolson opened #160 "Needs Intellij code reformat"
Lots of extra spaces, missing spaces, etc. (some at the ends of lines, some in documentation like ```{Property.<number> }```, etc.)

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-12 07:31] jonathanolson opened #161 "Static functions on the prototype"
There are multiple instances of methods on objects that don't refer to the object in question and would be better as static methods, e.g. for AppendageNode:
[code]
that never refers to the appendageNode. This could be transformed into a static function on the object itself, so it would be called with:
[code]

Also fun fact, trig isn't needed for that function:
[code]

Code review for https://githu

[2017-01-12 10:04] jonathanolson opened #162 "Performance test for synchronous DOM updates"
It looks like DOM updates (somewhat necessarily) happen now in direct response to the DOM input events (both accessibility-related AND the actual mouse-moves) instead of being deferred until the animation frame.

Safari used to be bad about stalling when DOM changes happened outside of animation frames, delaying the frames a ton (sometimes multiple seconds if constantly dragging something). https:

[2017-01-13 05:00] jonathanolson opened #163 "Delay for loading audio data"
In ChargeAmountSoundGenerator, a VIBE/Sound is created, yet we have to wait for it to load the sound data.

It seems like the purpose of the sim loading time is to wait for that type of operation, so that sims won't have to do this in their operations.

For instance, with images, it takes the data URLs and waits until the image information is loaded. Why can't we do the same with audio?

@samreid

[2017-01-13 05:10] jonathanolson opened #164 "Potential sound leaks"
Every time the sound needs to be started again, it creates a new source and connects it.

Is this desired (instead of reusing the old source), and do we need to call disconnect() on anything?

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-13 05:13] jonathanolson opened #165 "ChargeAmountSoundGenerator master gain"
masterGainControl.gain.value seems to be controlled in two different places (one when the number of items changes, and one when the soundEnabled changes), and requires soundEnabled checks in both places.

Could one gain node be used for whether sound is enabled, and another gain node (between it and everything else) for the gain that comes from how many items there are? It would seem to separate c

[2017-01-13 18:39] jbphet commented on #163
@jonathanolson - If I understand correctly, you're referring to the portion of code in `ChargeAmountSoundGenerator` that looks like this (lines 63 through 66 at the time of this writing):

[code]

Sounds **are** loaded asynchronously in `Sound.js`, much as images are in other portions of our code, and if an attempt is made to play a sound in one-shot mode (i.e. play it and then stop) before the lo

[2017-01-13 18:49] jonathanolson commented on #163
I was instead recommending we handle the loading in the require.js plugin step, so that the simulation wouldn't actually "start" until the sound is loaded.

[2017-01-13 19:02] samreid commented on #163
Yes, ideally sounds should be preloaded as well (I thought they were but it looks like I am mistaken).

[2017-01-13 19:36] jonathanolson opened #166 "Getting the audio context"
Currently, this code is essentially duplicated in a few places:
[code]

It would be good to have this available somewhere global that could be accessed without the duplicated code. Scenery's Features.js would potentially be appropriate.

Additionally, PHET_CORE/detectPrefix would generally be recommended for grabbing prefixed objects, e.g.:
[code]

Code review for https://github.com/phetsims/john-

[2017-01-13 19:38] jonathanolson commented on #136
Due to the comments above, I'm going to assume it will be reworked (and I'll hold off from reviewing it for now).

Note that most ChargeAmountSoundGenerator comments apply to this also.

[2017-01-13 19:40] jonathanolson opened #167 "ElectronLayerNode options"
JSDoc doesn't exist for the options or maxElectrons.

It would be particularly helpful for options to have the typical "extend with defaults" so it is easy to tell what options are supported.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-13 20:03] jonathanolson commented on #167
Also, it seems that there is only one usage of ElectronLayerNode, and the pitchedPopGenerator seems to never be used.

Is all of the code related to pitchedPopGenerator dead code?

[2017-01-13 20:06] jonathanolson opened #168 "Testing and code coverage"
@jessegreenberg, I'm curious what the best way to exercise all of the sim's features would be.

I'd like to run it while instrumented for checking code coverage, to potentially detect dead code.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-13 20:13] jonathanolson opened #169 "ElectronLayerNode and electrons"
It looks like ElectronNodes wouldn't be added for pre-existing electrons.

Generally I recommend naming the function passed to electrons.addItemAddedListener, and then call it for all pre-existing electrons (for safety), e.g.:
[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-13 20:16] jonathanolson opened #170 "ElectronLayerNode handling of nodes"
View elements are currently being tagged on model elements, breaking the model-view separation and preventing multiple views of the same model element:
[code]

It's recommended to make a map in the view that maps from model elements to their corresponding view elements (usually by some model element ID).

Then when added:
[code]
then for grabbing the view from the model:
[code]

Code review for ht

[2017-01-13 20:17] jbphet commented on #163
That sounds great.  I just looked at the `audio.js` and `Sound.js` to see if I could figure out why we are not already doing this, and I'd like to discuss what I'm seeing with @jonathanolson.  I feel like we should have this working in a way that is analogous to image loading, where the async part happens in the plugin and the wrapping of the image in a Scenery Image node is synchronous (at least

[2017-01-13 20:18] jonathanolson commented on #170
Actually in this case, the assigned ```viewNode``` is never used, so that line should just be removed.

If GC issues happen in the sim (possibly due to creating IIFEs for every electron due to itemRemovedListener), the above approach would be recommended.

[2017-01-13 20:23] jonathanolson opened #171 "Abstraction of status changes"
It looks like an element ID (peerID) is passed to components like ElectronLayerNode, where:

1. The component grabs a corresponding HTMLElement with ```document.getElementById( peerID )```
2. If that exists, updates status by first setting its textContent to an empty string ```''```, then to the actual string.

This would be much cleaner if components were instead passed a function like:
[code]
th

[2017-01-13 22:01] jessegreenberg commented on #171
Related to #134.

[2017-01-13 22:36] jessegreenberg commented on #160
I reformatted with Intellij, closing.

[2017-01-13 22:36] #160 closed

[2017-01-13 23:58] jessegreenberg commented on #151
Yes, thanks.  It is now using the color in FocusOverlay. This doesn't seem like something that should need more review.  Closing.

[2017-01-13 23:58] #151 closed

[2017-01-14 01:00] jonathanolson commented on #141
The JSDoc should also be updated:
[code]

[2017-01-14 01:08] jonathanolson opened #172 "Duplication of electron ranges"
In JohnTravoltageAudio, sound generators are given a range of how many electrons there may be, and it's always between 0 and ```JohnTravoltageModel.MAX_ELECTRONS```.

Additionally in all of those sound generators, there is either minItems/maxItems or minCharges/maxCharges (same meaning).

Can these get inlined into the generators (if it's always constant), or can we use a global range if we really

[2017-01-14 01:10] jonathanolson commented on #157
Also, can JohnTravoltageModel's 'sound' property be renamed to soundEnabled, since when it gets passed through to things it's usually called soundEnabledProperty?

[2017-01-14 01:13] jonathanolson opened #173 "Duplication with calls of createPop"
In ElectronLayerNode.js:
[code]

In JohnTravoltageAudio:
[code]

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-14 01:20] jonathanolson opened #174 "JohnTravoltageAudio properties"
[code]
and
[code]
sound like the same thing (except one is for the leg, one is for the arm), but have different style names and are declared in very different places.

The following name sounded like a boolean name:
[code]
but it looks like {Sound|null} (documentation would help). ```this.currentDragSound``` or something similar would be a bit clearer.

Code review for https://github.com/phetsims/

[2017-01-14 01:39] jonathanolson opened #175 "Accessibility strings would be vulnerable to xss"
If these are ever made translatable, or could change with a query parameter.

In JohnTravoltageA11yStrings, replace arrowKeysMoveFootString's value to:
[code]
to reproduce.

We should have a better way to mark up bold/non-bold text, or we could use improved validation.

@mattpen, in your investigation with the OWASP validator, is that something we could use in rosetta to prevent this type of attac

[2017-01-14 01:44] jonathanolson commented on #175
Also @ariel-phet, I don't recall the timeline or chance of having accessible strings be translated (this and some other issues like handling long strings would only apply if we plan on doing this in the future at some time).

Is it valuable to create review items anticipating translation, or should we plan to leave related improvements until that point (like XSS/layout).

[2017-01-14 01:46] jonathanolson commented on #155
Also ```{Object}``` not ```{object}``` (only happens in one place).

[2017-01-14 01:55] jonathanolson opened #176 "JohnTravoltageView's accessibleContent"
The constructor is initialized with accessibleContent: null (probably to block ScreenView's default), and in the next line after the constructor is initialized:

[code]

First of all, ScreenView's accessibleContent is only a default, so presumably the custom accessibleContent could be inlined in the constructor (correct?)

Second of all, it's not documented why we're using a fully custom version.

[2017-01-14 01:58] jonathanolson commented on #152
Also, if this is a more general pattern, should it be moved to AccessibleNode or the equivalent mixin?

[2017-01-14 02:02] jonathanolson commented on #149
Similar concepts apply to buttons and the sound button in JohnTravoltageView.

This would probably be worth some discussion and brainstorming with @jessegreenberg.

[2017-01-14 02:06] jonathanolson opened #177 "Sound toggle button"
Besides abstraction (mentioned in https://github.com/phetsims/john-travoltage/issues/149), it seems like:

1. The accessibleContent should be declared in the common-code SoundToggleButton
2. ```'Mute Sound'``` should be in the A11yStrings equivalent for whatever repo the accessible content lives in.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-14 02:09] jonathanolson commented on #177
Also the following code:
[code]
would be included.

It also seems suspicious to require finding by ID, we should have a direct reference.

Additionally, this would break if we toggled soundProperty after this but before the peer was created. If for some reason we can't get a direct reference (we should discuss), then the code should guard around the fact that the getElementById result could be nul

[2017-01-14 02:13] jonathanolson opened #178 "Clarification on setAriaDescribedBy"
I saw:
[code]
where accessibleDescription is a AccessibleDescriptionNode, so its ID is presumably the Node's auto-generated ID.

This this how things are set? Also Node.id is a number, setAriaDescribedBy says it takes a string.

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-14 02:24] jonathanolson commented on #139
Also the MIN_INTER_NOTE_TIME commented out code should be handled.

[2017-01-14 02:31] jonathanolson opened #179 "PitchedPopGenerator"
A few miscellaneous remarks.

Generally instead of
[code]
do
[code]
since shift() gets the item AND removes it, like pop().

It looks like the duration of a previous pitch is interrupted by any future pitches that exist (or by createPop()). Is that desired (presumably it is, but should probably be documented).

Code review for https://github.com/phetsims/john-travoltage/issues/128

[2017-01-14 02:32] jonathanolson commented on #165
Additionally, this pattern is repeated elsewhere.

Can we feed all audio through a global gain node that is controlled by soundEnabledProperty, so that every individual component doesn't have to be aware of it and check?

[2017-01-14 02:35] jonathanolson commented on #164
Originally applied to ChargeAmountSoundGenerator, but this is a reused pattern elsewhere.

[2017-01-14 02:37] jonathanolson commented on #165
Also would simplify things in RandomNotePlayer and many other places.

[2017-01-14 02:39] jonathanolson commented on #163
This will also help a lot with the branching in RandomNodePlayer.js

[2017-01-14 02:41] jonathanolson commented on #171
Also applies to alerts.

[2017-01-14 02:45] jonathanolson opened #180 "Handling alerts"
It looks like the alert element has area-hidden is toggled in SparkNode. Besides abstraction (should be handled in https://github.com/phetsims/john-travoltage/issues/171), I'm curious at how this is set up on a step listener, and whether SparkNode has sole control of the alert element (it behaves like it does).

If multiple elements "controlled" the alert element in step listeners, it seems like t

[2017-01-14 02:57] jonathanolson commented on #128
@jessegreenberg, what common code should I review as part of this? I'd plan on scenery/js/accessibility/* and other Scenery code that interacts with it, but I didn't know if there were other types I should be looking at.

I think discussions about how to handle abstraction of status/alerts and common accessible components (like AccessibleSlider or button mixins) would be a good next step.

Additio

[2017-01-14 03:02] jonathanolson commented on #128
I've basically completed the sim-specific review for accessibility, although as issues are handled I'll want to re-review the modified code.

I haven't done a fully in-depth review for the simulation in general, particularly for code that didn't look accessibility-related.

[2017-01-14 05:29] mattpen commented on #175
The OWASP validator I looked at was a Java library.  I'll investigate if a JavaScript library exists.

Alternatively, is this something that could be prevented with CSP, or do these types of tags need to be allowed elsewhere?

[2017-01-14 05:36] jonathanolson commented on #175
Good point. Can CSP prevent execution from setting element.innerHTML? We'd also need to ensure that type of behavior wasn't needed elsewhere in sims.

[2017-01-14 23:38] mattpen commented on #175
@jonathonolson - I misunderstood how these strings were being used, I don't think CSP will be viable.  I thought you were referring to alt attributes for images.

I couldn't find a widely trusted validation library for Node after a quick search.  Microsoft provides one for .NET framework and OWASP provides one for Java projects.  We could potentially use the OWASP project but would need to build a

[2017-01-17 01:16] ariel-phet commented on #175
@jonathanolson yes it is valuable to create review items anticipating translation.

Although there is not yet a specific timeline, updating the translation utility to allow translation of a11y strings is on the horizon.

[2017-01-17 19:59] jessegreenberg commented on #128
I don't think that is necessary for this issue.  scenery/js/accessibility/* contains a directory reader/*, which contains some prototype code that is not not going to be used in production code for quite some time, and is not used by john-travoltage.

The other types in scenery/js/accessibility/* are AccessibleNode, which is being worked on in https://github.com/phetsims/scenery/issues/596, Access

[2017-01-17 20:10] jonathanolson commented on #128
Sounds good, unassigning.

[2017-01-18 21:02] jbphet commented on #141
This is not supposed to be permanent - eventually these will be narrowed down to one set of sounds to use for sonification and the ability to select them via the query parameter will be removed.  Having said this, this has lived on longer than I expected, and has been useful for demos, so we might as well maintain the code in a reasonable fashion.  The names are not perfect, since it is actually a

[2017-01-19 05:05] jonathanolson commented on #141
JSDoc note not updated, reopening.

[2017-01-19 05:43] mattpen commented on #175
@jonathanolson - Let me know if you want help building a validator service. I'm removing my assignment for now.

[2017-01-23 22:40] samreid commented on #163
Unassigning myself, but let me know if you need me.

[2017-01-25 20:03] jessegreenberg commented on #147
@jobara the documentation around the _debounce calls mentions:

Would it be sufficient to update the description when the array of charges is empty? Presumably this would mean a set of discharges has completed.

[2017-01-25 21:19] jobara commented on #147
@jessegreenberg, the flow of electrons does not have to be absolute. That is to say, that a user may move the arm away before all of the electrons have discharged. If there is an event for discharge being deactivated that could be used instead.

[2017-02-01 18:52] jessegreenberg commented on #145
@jonathanolson I have moved keys to scenery phet and will address these comments in https://github.com/phetsims/scenery-phet/issues/288 (pasted https://github.com/phetsims/john-travoltage/issues/145#issuecomment-271970791 in that issue).  Closing this one.

[2017-02-01 18:52] #145 closed

[2017-02-01 19:57] jessegreenberg commented on #178
```setAriaDescribedBy``` from AccessibleNode has been replaced with ```setAriaDescribedByElement()``` in Accessibility.js.

I have changed the above line and added documentation such as:
[code]

Documentation in Accessibility.js:
[code]

@jonathanolson is this sufficient to clarify things?

[2017-02-01 21:02] jessegreenberg commented on #149
This seems like a really cool plan.

Is there a precedent for conditionally mixing something in?  For instance, say sun/HSlider mixes in ```AccessibleSlider```, which sets the accessible content and adds axon/Properties for clients.

But if in some context we want a sun/HSlider to look like
[code]
with a custom set of listeners and Properties, we could have changes to the HSlider prototype or othe

[2017-02-01 21:08] jessegreenberg commented on #149
Or maybe we would require that sun/scenery-phet/joist/etc... must use the options in Accessibility.js mixin to set up accessible content, while sim-specific cases (like the Text element in https://github.com/phetsims/john-travoltage/issues/149#issue-200228808) would use the specific mixins such as ```AccessibleSlider```?

[2017-02-01 21:48] jonathanolson commented on #149
As a concept in general, it's not unprecedented. In Scala, it would be
```new AppendageNode( ... ) with AccessibleSlider```
which creates a new object with that trait mixed in.

HSlider as a type would either have it mixed in or not. If the flexibility is warranted, you would either:

- Not have it mix it in, and have clients do so. This may be helpful if you need customizable mixins with paramete

[2017-02-02 00:00] jessegreenberg commented on #177
@jonathanolson I think these concerns should be fixed in the above commits.  Would you mind verifying?

SoundToggleButton implements the accessible content, Mute Sound has been added to SceneryPhetA11yStrings, getElementById() has been removed since we can set attributes directly now.

[2017-02-02 00:51] jessegreenberg commented on #176
I believe the above commits handles all concerns @jonathanolson, would you mind checking?

True.

For a while, designers wanted very different markup for the ScreenViews in BASE and john-travoltage, now they should both look like the content created by https://github.com/phetsims/joist/commit/2c166f692bd4fa4a207d287406a6ed4dd9e0e618.

[2017-02-02 01:55] jonathanolson commented on #176
The following:
[code]

seems more verbose than:
[code]

Also note both examples have the super-call on dispose(), which should be added.

[2017-02-02 01:57] jonathanolson commented on #177
Looks good, thanks.

[2017-02-02 01:57] #177 closed

[2017-02-02 02:23] jonathanolson commented on #178
Yup, looks good. Thanks!

[2017-02-02 02:23] #178 closed

[2017-02-02 20:51] jessegreenberg commented on #171
@jonathanolson the type that now handles status and alert changes is called [AriaHerald](https://github.com/phetsims/balloons-and-static-electricity/blob/master/js/balloons-and-static-electricity/accessibility/AriaHerald.js) and I would like to move it to common code.  Do you have any recommendation on where it should exist?

My thoughts are that it can't be scenery (it is specific to PhET sims).

[2017-02-02 21:36] jonathanolson commented on #171
If it cant be scenery (because it's truly phet-specific, more than just a Tandem dependency), then scenery-phet would probably be the place.

[2017-02-02 21:45] jessegreenberg commented on #171
Thanks, I will proceed with scenery-phet.  It is phet-specific because it uses HTML that must exist in our HTML templates, and the attributes on the HTML used in the templates were chosen specifically for the context of PhET sims.

[2017-02-03 19:50] jessegreenberg commented on #147
Thanks @jobara I forgot about that.  I think we can add an emitter that will fire an event whenever a charge stops.

[2017-02-03 20:21] jessegreenberg commented on #147
I added an emitter that fires when a discharge is complete and removed the debounce usage in this sim.  The status is updated whenever the discharge stops (no more charges or hand is moved away from doorknob. @jobara does this change seem acceptable?

[2017-02-03 21:35] jessegreenberg commented on #176
Sounds good, I changed the implementation to the above.

I added ```Node.prototype.dispose.call( this );```, though I am a little surprised it is needed.  Except for the above change, we are using ```Node.prototype.dispose.call( this );``` 0 times throughout the project.  All types that extend Node directly should call this?

[2017-02-03 22:34] jessegreenberg opened #181 "What does 'aria-controls' do?"
@jobara @jhung the accessible content for the arm and leg uses the 'aria-controls' attribute.  Is this attribute necessary?  The alert elements are sort of outside the scope of the parallel DOM and in this sim the alerts are hidden most of the time.  While playing with the sim with various devices, I haven't noticed an impact from this attribute. Could it be removed?

[2017-02-04 00:14] jonathanolson commented on #176
Yes, IF they override dispose().

I'll create an issue for that in Scenery.

[2017-02-04 00:14] jonathanolson commented on #176
Looks good, thanks.

[2017-02-04 00:14] #176 closed

[2017-02-04 04:30] samreid opened #182 "Instrument for PhET-iO"
@emily-phet and @ariel-phet requested @jbphet to instrument John Travoltage for PhET-iO.

## Overview of instrumentation steps:
 - [x] [Understand the goal](#understand-the-goal)
 - [x] [Code review](#code-review)
 - [x] [Import Tandem to main.js](#import-tandem-to-main.js)
 - [x] [Create root tandem](#create-root-tandem)
 - [x] [Pass tandems to sim screens](#pass-tandems-to-sim-screens)
 - [x] [P

[2017-02-04 04:31] samreid commented on #182
There was a bit of cruft leftover from prior work on instrumentation, I'll clean it up shortly and try to get it launching.

[2017-02-04 04:37] samreid opened #183 "Make sure all (accessibility and other) branches are merged to master"
Before starting on #182 we should make sure all accessibility branches (or development branches) are merged to master, to avoid a major hassle later on.  @jessegreenberg can you please review the open branches for this repo?  Merge and/or delete as appropriate.

[2017-02-04 04:38] samreid commented on #157
Should be fixed during #182

[2017-02-04 04:41] samreid commented on #182
I've flagged 2 issues (see above) that should be closed as part of (or before starting) PhET-iO work.

I also committed enough fixes to get the simulation launching with `?phetioValidateTandems=false`.  I noticed Electron.js needs to switch to the 2-arg `addInstance` call.  Also, this sim will be a good opportunity for @jbphet to take the https://github.com/phetsims/phet-io/blob/master/doc/how-to-

[2017-02-06 13:33] jobara commented on #181
@jessegreenberg, [aria-controls](https://www.w3.org/TR/wai-aria-1.1/#aria-controls) is used to create a relationship between two elements that indicates that the content of one is controlled by the other. For example, the leg and arm control the electrons. In this case we have it controlling the content of the status message.

According to "[Using the aria-controls attribute](http://tink.uk/using-

[2017-02-06 14:11] jobara commented on #147
@jessegreenberg looks good. I tried it out and seems to be working great, better than before.

[2017-02-06 17:33] jessegreenberg commented on #181
Thanks for clarifying @jobara, that makes sense.  We have been working on a static API that could handle aria-live called [AriaHerald](https://github.com/phetsims/balloons-and-static-electricity/blob/master/js/balloons-and-static-electricity/accessibility/AriaHerald.js), and it seems useful for that type to be able to easily set up the aria-controls relationship when the attribute is supported.

I

[2017-02-06 17:33] #181 closed

[2017-02-06 18:10] jessegreenberg opened #184 "aria-controls relation should be abstracted"
Related to #181 and #180 and #134 and #171 - When AriaHerald is generalized, it should also be able to set up the aria-controls relationship (see https://www.w3.org/TR/wai-aria/states_and_properties#aria-controls for behavior).

[2017-02-06 20:42] samreid commented on #157
Fixed, closing.

[2017-02-06 20:42] #157 closed

[2017-02-06 21:23] samreid opened #185 "Code status checkup"
In #182 I'm planning to instrument this simulation for PhET-iO.  However, I have seen many TODOs, undocumented methods, undocumented parameters, object attributes without visibility annotations,  which look like they may pertain to recent work in accessibility and sonification.  @jbphet and @jessegreenberg, can you please comment?

[2017-02-06 21:41] jessegreenberg commented on #185
Indeed, @jonathanolson made issues for many of these as part of #128 (https://github.com/phetsims/john-travoltage/issues?q=is%3Aissue+is%3Aopen+label%3Adev%3Acode-review).  I will be working through many of these this week, though I may need to leave some sonification issues/TODO's to @jbphet, and I am not sure what the priority is for resolving those.

[2017-02-06 23:22] samreid commented on #92
@jbphet it looks like there are 6 files related to audio (of the 14 files in the view).  Can they be moved to a separate folder?

[2017-02-07 00:46] jessegreenberg commented on #183
Thanks @samreid, I pruned accessibility and other branches.  At this time, we are left with release branches, master, and branch new-assets, which I want to keep available until #121 is sorted out.  Closing.

[2017-02-07 00:46] #183 closed

[2017-02-07 00:48] jessegreenberg opened #186 "branch: new-assets"
A branch with new john-travoltage images for #121.  At this time we are very unclear on whether or not these images can be used, so this work is kept in a branch until we hear more in #121.

[2017-02-07 00:49] jessegreenberg commented on #175
Thanks for working on this @jonathanolson and @mattpen. This issue is not specific to this sim, would you mind if I move the ticket to rosetta?

[2017-02-07 01:14] jessegreenberg commented on #184
Done above, closing.

[2017-02-07 01:14] #184 closed

[2017-02-07 04:59] mattpen commented on #175
That sounds ok to me.

[2017-02-07 06:06] samreid opened #187 "PhET-iO RequireJS mode instance proxies fails when ?ea is on"
John Travoltage is affected by https://github.com/phetsims/phet-io/issues/991 and has listeners added by instance proxies.  The workaround until 991 is solved is to run the wrapper with ?ea disabled.

Marking for #182

[2017-02-07 07:38] samreid commented on #182
The majority of the remaining checkboxes indicate incomplete instrumentation for accessibility and sonification code, but it is unclear whether PhET-iO instrumentation of those features are necessary at this point.  It would be good to check in with @jbphet about sonification soon and for me to review the accessibility instrumentation.  Combined with addressing code review issues, we aren't too fa

[2017-02-07 16:11] jbphet commented on #185
I could take a pass through and clean up some of the TODOs related to sonification.  The sonification effort was expected to be something where we created some prototypes and got feedback, then refined the code, but we never really got much in the way of feedback - at least not yet - so I could change a few things and make some documentation changes that would make it a more permanent part of the

[2017-02-07 16:34] samreid commented on #92
I've moved them to an audio/ folder.

I also asked @emily-phet:

[2017-02-07 16:38] samreid commented on #185
We'll wait to hear from @emily-phet if the sonification is an important part of the ETS publication deadline before deciding how to prioritize this.

[2017-02-07 17:02] samreid commented on #74
Performance is acceptable, branch deleted, closing.

[2017-02-07 17:02] #74 closed

[2017-02-07 17:06] samreid commented on #150
This debug code is no longer needed. I deleted it and closed the issue.

[2017-02-07 17:06] #150 closed

[2017-02-07 17:06] samreid commented on #147
All seems complete for this issue, closing.

[2017-02-07 17:06] #147 closed

[2017-02-07 17:14] samreid commented on #140
At present, all of the TODOs are marked for sonification, so I'll update the label.

[2017-02-08 03:34] samreid commented on #185
@emily-phet said ETS does not require the sonification code.  We'll continue in the remaining open issues.

[2017-02-08 03:34] #185 closed

[2017-02-08 03:37] samreid commented on #182
Regarding the code review checkbox, I addressed many code review issues, but left open issues that (a) do not pertain to the instrumentation or (b) which pertain to a11y or sonification or which I am not sure how to solve.

[2017-02-08 03:39] samreid opened #188 "During instance proxies => launch, the particles don't update the same."
The particles are initialized in the right spot, but then they have different motion.

[2017-02-08 03:43] samreid commented on #188
Fixed in above commit, closing.

[2017-02-08 03:43] #188 closed

[2017-02-08 03:56] samreid commented on #182
RC.1 is up here: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-phetiorc.1/wrappers/index/

[2017-02-08 04:08] samreid commented on #182
On hold until testing completes.

[2017-02-08 17:50] phet-steele commented on #83
In #86, the new face image was simply layered over the old. The old image still exists in the sim. Thanks to the wonders of PhET-iO, you can reveal the image by disabling the new face:

<img width="1292" alt="screen shot 2017-02-08 at 10 47 31 am" src="https://cloud.githubusercontent.com/assets/5863899/22749883/0aff5510-edec-11e6-8330-b6d8f579441a.png">

We cannot simply remove the old image since

[2017-02-08 18:22] phet-steele opened #189 "Pressing Reset All with keyboard nav does not restore any green boxes"
@jessegreenberg is this intentional? I encountered this in PhET-iO, then verified on master.

![jt01](https://cloud.githubusercontent.com/assets/5863899/22751168/b4cee9bc-edf0-11e6-84d1-9d4ba4e066d0.gif)

[2017-02-08 19:16] phet-steele opened #190 "Keyboard Help Dialogue descriptions are not shown in a screenshot from the screenshot wrapper"
Presumably not a big problem since it seems like an ultra rare use case. Taking a chance this is a sim bug, and not a PhET-iO bug, so reporting it in this repo. However, I am unaware how you would get a screenshot of this dialogue without PhET-iO, so adding that label:

<img width="709" alt="screen shot 2017-02-08 at 12 01 32 pm" src="https://cloud.githubusercontent.com/assets/5863899/22752662/992

[2017-02-08 21:36] samreid commented on #190
Those are rendered with scenery HTMLText, so I suspect this should become a scenery issue to the tune of "HTMLText not captured in screenshot".  @phet-steele can you please take a quick look in the scenery issues to see if there is already something like that?  If not, can you please create a new issue with this information?

[2017-02-09 17:54] arouinfar commented on #83
I imported the updated head image into the .ai file for the body, and have created a new body asset. Here's what it looks like:

<img  width=200, src="https://cloud.githubusercontent.com/assets/8419308/22795936/b42046f8-eeb5-11e6-8fad-32542027ed0e.png">

The original assets for the body and head were both really pixellated when I opened them in Illustrator, so the alignment was a bit hard to judge

[2017-02-09 18:16] jessegreenberg commented on #83
@arouinfar discovered that the asset for the body is linked to a white background (not transparent).  So we will need to create a new asset from the old body image and the new face image.

[2017-02-09 18:21] jessegreenberg commented on #189
Thanks @phet-steele, fixed in the above commit.

[2017-02-09 18:21] #189 closed

[2017-02-09 18:34] jessegreenberg commented on #180
It is no longer hooked up to the step listener.  An alert is triggered when the discharge starts and ends.  SparkNode is the only thing that controls the alert element in this sim. That may not be the case for other sims.

Hidden is no longer toggled, nor supported by AriaHerald.  All alerts can still be disabled if necessary.  Documentation for how alert/ status indicators work is in [AriaHerald]

[2017-02-09 18:41] jessegreenberg commented on #175
I opened https://github.com/phetsims/rosetta/issues/146 and moved all comments to that issue.  Closing.

[2017-02-09 18:41] #175 closed

[2017-02-09 18:46] jessegreenberg commented on #152
This option has been deleted, and the line in questions has been replaced with

[code]

@jonathanolson does this seem like an acceptable change?

[2017-02-09 18:52] jessegreenberg commented on #141
fixed the JSDoc, closing.

[2017-02-09 18:52] #141 closed

[2017-02-09 19:11] jessegreenberg commented on #171
Alerts and status updates have been abstracted with [AriaHerald](https://github.com/phetsims/scenery-phet/blob/master/js/accessibility/AriaHerald.js), which this sim now uses.

This static object doesn't use callbacks, but allows setting of alerts/status updated in an abstracted way.  It is used in this sim in ElectronLayerNode, SparkNode, and AppendageNode.
[code]

Does this seem acceptable @jona

[2017-02-09 19:12] jessegreenberg commented on #171
Oops, incorrect assignee, apologizes @jobara.

[2017-02-09 19:14] arouinfar commented on #83
I've emailed you an updated asset @jessegreenberg.

[2017-02-09 19:18] jessegreenberg commented on #168
Sounds very useful @jonathanolson, I could investigate a way to do this, but does scenery or PhET have any such tool for un-instrumented code before I start?

[2017-02-09 19:41] jessegreenberg commented on #168
Ah, I see istanbul in chipper might do this, I will take a look.

[2017-02-09 21:22] jessegreenberg opened #191 "assertive alerts are no longer being triggered"

[2017-02-09 21:27] jessegreenberg commented on #191
Fixed in the above commit.  I caught this by seeing
[code]

[2017-02-09 21:27] #191 closed

[2017-02-09 23:25] jessegreenberg opened #192 "reset all button generates incorrect status update"
@phet-steele just walked me through cases where pressing the reset all button generates an incorrect status update.

To reproduce:
- move the leg far from the default position
- press Reset All button

The status update will say that body has 1-8 charges, even though it is empty.

@phet-steele and I think that the body is picking up charges as the leg "swings" from its current position to the defa

[2017-02-09 23:27] jessegreenberg commented on #192
We could fix this by changing how the mode reset works. Or we could disable the aria-live elements in reset.  ResetAll should probably do this generally anyway.

[2017-02-10 18:29] phet-steele opened #193 "Lines are rendered at the side of electrons"
There are mysterious lines that appear to the side of some electrons. So far, I've only seen this on macOS 10.12.3 Chrome (56.0.2924.87 (64-bit)). You can try here http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-phetiorc.1/john-travoltage_en-phetio.html?phetioStandalone

Simply add some electrons to his body and wait (shouldn't take too long):
![screen shot 2017-02-10 at 11 20

[2017-02-10 18:30] samreid commented on #193
Does this happen on our published production simulation?

[2017-02-10 18:33] phet-steele commented on #193
@samreid you bet! Guess, I'll remove the phet-io label...

[2017-02-10 21:41] jessegreenberg commented on #192
Fixed in the above commits.  Closing.

[2017-02-10 21:41] #192 closed

[2017-02-10 21:47] phet-steele commented on #190
Moved to phetsims/scenery/issues/605

[2017-02-10 21:47] #190 closed

[2017-02-10 22:17] jessegreenberg commented on #168
It sounds like we need a "fuzzKeyboard" or something in scenery to touch all keyboard navigation features.  I will create an issue there and assign to myself.

For this sim, I ran played with a built version of the sim that was instrumented with istanbul to produce this report:
![capture](https://cloud.githubusercontent.com/assets/6396244/22846077/04b848b6-efa3-11e6-8a09-4614e2ecefc1.PNG)

In /mod

[2017-02-10 22:34] jessegreenberg commented on #168
I opened phetsims/scenery#606, @jonathanolson can this be closed?

[2017-02-10 22:40] jessegreenberg commented on #162
We have never seen this yet, but I will do some testing on a few devices to verify.

[2017-02-10 22:52] jessegreenberg commented on #162
Tested Safari on a MacBook Air (Jordan).  I don't see any "freezing", but I do notice a pretty substantial loss of performance.  The deployed version on the site runs at a constant 60fps, a build version off of master is running at ~30fps while dragging the leg.

[2017-02-10 22:56] jessegreenberg commented on #162
✋ 🌴 ☹️ built version I was testing was outfitted with istanbul, need to double check my testing.

[2017-02-10 22:59] jessegreenberg commented on #162
Ok, built version on MacBook Air (Jordan) is running at 60 fps on Safari and Chrome.  Ill check some iPads next.

[2017-02-10 23:11] jessegreenberg commented on #162
Perforamance before and after on 2 different iPads (Witten and Lave) seemed equivalent while dragging and running the sim in general.

However, @jonathanolson I am curious to know what you mean by

"somewhat necessarily".  Would you recommend that we investigate deferring all accessibility events until the animation frame anyway?

[2017-02-10 23:26] jessegreenberg commented on #153
I updated the documentation for both https://github.com/phetsims/john-travoltage/issues/153#issue-200292659 and https://github.com/phetsims/john-travoltage/issues/153#issuecomment-272091285.

[2017-02-10 23:27] jessegreenberg commented on #153
I agree, that much should be abstracted out for all accessible sliders. #149 suggests a mixin pattern for all kinds of accessible components, and this event handling could be handled there.

[2017-02-10 23:31] jessegreenberg commented on #149
I see, interesting!

Yes, I think this will be the case, I like that a lot.  I am going to move this to scenery and play around with the idea there.

[2017-02-11 00:00] jessegreenberg commented on #149
@jonathanolson I created an issue in scenery to track this since this is a longer term issue, and I am going to investigate there.  Closing this issue.

[2017-02-11 00:00] #149 closed

[2017-02-11 00:00] jessegreenberg commented on #153
Further abstraction of accessible components is going to be tracked in phetsims/scenery#607, closing this issue.

[2017-02-11 00:00] #153 closed

[2017-02-11 00:01] jessegreenberg commented on #118
This issue is going to be tracked in phetsims/a11y-research#10.

[2017-02-11 00:01] #118 closed

[2017-02-11 00:54] jessegreenberg commented on #83
Here is a version with the face and body merged into the same image:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.12/john-travoltage_en.html

The hair is a bit more aliased in this version, here is a comparison:

Before:
![before](https://cloud.githubusercontent.com/assets/6396244/22849279/ed3c4988-efb8-11e6-9ee2-6afb58d40209.PNG)

After:
![after](https://cloud.githubuse

[2017-02-13 17:34] samreid commented on #193
I didn't see this problem over about 30 seconds on my retina MBP running Version 56.0.2924.87 (64-bit).  Are you on retina?

[2017-02-13 17:43] phet-steele commented on #193
Yes, 15-inch retina, mid-2015 model MacBook pro.

[2017-02-13 19:09] arouinfar commented on #83
@jessegreenberg I've emailed the latest .ai file to you. I think the problem is that the original assets for the head and body were both .png files. There should be an .ai file for the head somewhere, but I couldn't find it in Mariah's artwork folder or checked into GitHub. Perhaps @ariel-phet has a copy?

[2017-02-13 19:28] jessegreenberg commented on #83
Thanks @arouinfar, sorry about that. I checked in the asset:

https://github.com/phetsims/john-travoltage/blob/master/assets/face.ai

[2017-02-13 19:30] arouinfar commented on #83
Thanks @jessegreenberg! I can replace the head image with the .ai asset, which should reduce the aliasing around the head.

[2017-02-13 19:49] arouinfar commented on #83
@jessegreenberg I've emailed you the updated assets. I replaced the head with the .ai asset, but had to make it a slightly larger to completely hide the aliasing of the image beneath it.

[2017-02-13 21:57] phet-steele opened #194 "Mirror-inputs wrapper quickly is out of sync after interrupting a discharge"
It is more obvious when interrupting towards the end of the discharge (when there are about to be no electrons left):

The sims will end up with differing amounts of electrons, leading to different discharge occurrences (about halfway in the video the bottom one discharges while the top does not):

![jtio02](https://cloud.githubusercontent.com/assets/5863899/22905171/89dbd73c-f1fc-11e6-8d69-fc7a97

[2017-02-13 22:48] EthanWJohnson commented on #194
Possibly a macOS specific issue; I'm unable to get the same to occur in win10.

[2017-02-14 17:38] samreid commented on #194
I'm not seeing any `rand` calls or `Date.now` that might lead to a divergence of playbacks.

[2017-02-14 17:38] samreid commented on #194
Likewise there are no lodash random calls.

[2017-02-14 18:39] BryceAG opened #195 "Phet-io state does not show lightning bolt during discharge"
When the electons are going from the hand to the doorknob, the state only shows electrons disappearing, and not the lightning bolt.
It is hard to get a screenshot when the electrons are in the same spot due to delays between the state refreshing, but here you can see the electrons are moving in both, but only the first sim has the lightning.
![screenshot 2017-02-14 at 11 35 01 am](https://cloud.gi

[2017-02-14 23:11] jonathanolson commented on #193
Can you reproduce with `?rootRenderer=canvas`? Looks likely to be a Chrome SVG issue, possibly high-dpi specific.

[2017-02-14 23:41] phet-steele commented on #193
Doesn't look like it. I've also seen this issue in Expression Exchange and Gravity and Orbits. @jonathanolson feel free to move this issue to where it needs to be since it isn't specific to this sim.

[2017-02-15 00:51] jessegreenberg commented on #170
I removed the reference to the viewNode.  I tested the sim on FF and did notice some chop, but it doesn't seem too related to GC stuff.
![capture](https://cloud.githubusercontent.com/assets/6396244/22956233/07a8b220-f2de-11e6-98fd-5039b0fa0d0d.PNG)

Commenting out everything related to itemRemovedListener doesn't improve the chop.  It is very minor, and QA allowed it through. Closing.

[2017-02-15 00:51] #170 closed

[2017-02-15 01:02] jessegreenberg commented on #169
Good idea @jonathanolson, done as recommended in https://github.com/phetsims/john-travoltage/issues/169#issue-200720335.  Closing.

[2017-02-15 01:02] #169 closed

[2017-02-15 01:05] jessegreenberg commented on #167
It looks like code related to pitchedPopGenerator was moved to JohnTravoltageAudio?
ElectronLayerNode:
[code]
JohnTravoltageAudio:
[code]

[2017-02-15 01:08] jessegreenberg commented on #167
I removed it from ElectronLayerNode since https://github.com/phetsims/john-travoltage/issues/167#issuecomment-279887081 shows it was moved to JohnTravoltageAudio and the option for pitchedPopGenerator was never used in JohnTravoltageView.

Closing, but @jbphet if this looks incorrect, please reopen.

[2017-02-15 01:08] #167 closed

[2017-02-15 01:17] jessegreenberg commented on #161
Nice!

[2017-02-15 01:22] jessegreenberg commented on #161
I moved all functions in AppendageNode to the static block of inherit, I'll review the rest of the sim to find other cases of this.

[2017-02-15 01:23] jessegreenberg opened #196 "Electron.js missing JSDoc"

[2017-02-15 01:30] jessegreenberg commented on #196
Added above, closing.

[2017-02-15 01:30] #196 closed

[2017-02-15 01:40] jessegreenberg opened #197 "Lots of missing JSDoc"

[2017-02-15 01:41] jessegreenberg commented on #197
Also visibility annotations.

[2017-02-15 16:42] jessegreenberg commented on #197
I did a pass through of everything and added JSDoc and annotations where they were missing. closing

[2017-02-15 16:42] #197 closed

[2017-02-15 16:44] jessegreenberg commented on #159
Actually, this is related to a11y, I will work on this.

[2017-02-15 16:44] jessegreenberg commented on #159
Also the strings should be in JohnTravoltageA11yStrings.

[2017-02-15 17:00] jessegreenberg commented on #159
Done in the above commits, closing.

[2017-02-15 17:00] #159 closed

[2017-02-15 17:18] jessegreenberg commented on #161
I reviewed all other types, most other functions need to be added to the prototype.  The only exception was DebugPositions, which I changed to a static object. Closing.

[2017-02-15 17:18] #161 closed

[2017-02-15 17:50] jessegreenberg commented on #154
I added visibility documentation in #197, closing.

[2017-02-15 17:50] #154 closed

[2017-02-15 18:03] jessegreenberg commented on #158
I moved the functions listed above out of the constructor, as well as some other clean up and added some documentation.  Closing.

[2017-02-15 18:03] #158 closed

[2017-02-15 18:04] jessegreenberg commented on #156
I will take a look.

[2017-02-15 18:14] jessegreenberg commented on #155
I added all missing JSDoc I could find in #197. And https://github.com/phetsims/john-travoltage/issues/155#issuecomment-272591899 was fixed. Closing.

[2017-02-15 18:14] #155 closed

[2017-02-15 18:16] jessegreenberg commented on #138
These were handled in #171 (and its related issues). The TODOs are no longer there.

[2017-02-15 18:16] #138 closed

[2017-02-15 18:43] phet-steele opened #198 "Using keyboard nav to move appendages does not transmit the state of the green box"
The sim on the left loses the green box, while the one on the right does not. This only appears to be a problem in the state wrapper. Instance proxies behaves fine. Notice that the launched sim still has a green border around the leg, too:

![jtio03](https://cloud.githubusercontent.com/assets/5863899/22989652/eafdaac2-f373-11e6-8fcd-e9db77f14036.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/tas

[2017-02-15 19:42] jessegreenberg commented on #156
Done in the above commits, but @samreid could you please verify that tandems were passed through correctly? For this type extension I can't remember if the Appendage needs to create would need to create its own tandem.

[2017-02-15 19:47] jessegreenberg commented on #156
Something is amiss with keyboard nav for the appendages, reassigning to myself.

[2017-02-15 21:42] jbphet commented on #167
Removal of the pitchedPopGenerator code looks fine - this definitely appears to have been left over after consolidating much of the code into an "audio view".

[2017-02-15 22:38] jessegreenberg commented on #156
Should be fixed in the above commits. john-travoltage passes phet-io tests in aqua, but @samreid would you mind verifying tandems in https://github.com/phetsims/john-travoltage/commit/689340bc9aed913a554de0abb4e4c85b0bc0a1af?

[2017-02-15 22:41] jessegreenberg commented on #198
This is not just an issue for keyboard nav, the green rectangle is still visible when I use the mouse.

[2017-02-15 23:04] jessegreenberg commented on #198
I think this is fixed, but @samreid could you please verify?

[2017-02-15 23:05] samreid commented on #198
Sure, I'm hoping to work on John Travoltage on Monday and Tuesday.

[2017-02-15 23:10] jessegreenberg commented on #198
Sounds good, thanks!

[2017-02-15 23:26] jessegreenberg commented on #168
Closing, but @jonathanolson if you want to discuss this issue any further please let me know.

[2017-02-15 23:26] #168 closed

[2017-02-15 23:28] jessegreenberg commented on #125
#147 was related to this, since that issue was closed, closing this one as well.

[2017-02-15 23:28] #125 closed

[2017-02-15 23:30] jessegreenberg commented on #128
All remaining issues are either related to sonification or are are ready for further review.  There are 4 still open that involve a11y.

[2017-02-16 18:01] jessegreenberg commented on #127
I will be working on this now.

[2017-02-16 18:14] jessegreenberg commented on #127
@terracoda @jobara @jhung ignoring the accessible dialog, title, and button, do you have any preference for how the content inside this dialog should be represented in the parallel DOM?

I am thinking just a list like
[code]

[2017-02-16 18:29] jessegreenberg commented on #127
It would be most convenient if we could keep the html ```<b>``` tags for the bold content.  Would something like

[code]

be acceptable?

[2017-02-16 18:32] jessegreenberg commented on #127
NVDA seems to ignore ```<b>``` in chrome.

[2017-02-16 18:36] jessegreenberg commented on #127
NVDA ignores it in Firefox too.  Ignoring seems OK to me, but I am not sure if it is important for the text weight to be presented to an AT user.

[2017-02-16 20:03] samreid commented on #194
I tested for a minute and could not create any discrepancies in the mirror wrapper.

[2017-02-16 20:10] jessegreenberg commented on #127
According to https://www.nczonline.net/blog/2013/02/12/making-an-accessible-dialog-box/

This would mean the entire content.  Setting focus on the container might force AT out of 'reading' mode, so I am going to start with placing focus on the close button.

[2017-02-16 20:31] samreid commented on #195
This is only a problem for the playback when the clock is disabled.  For customization (e.g. "launch" in the state wrapper), the spark shows correctly.

[2017-02-16 20:36] samreid commented on #198
The state of the visibility of the green boxes is not being transmitted, but @emily-phet and I discussed it and it may not be essential for ETS, and may not be desirable in general, since it could be nice if the customized sim still shows highlights for the draggable appendages.  I'll leave this open for further consideration, but not planning to address for the first public John Travoltage PhET-i

[2017-02-16 20:42] phet-steele commented on #194
@samreid @jessegreenberg I know how to make this happen consistently (although, I don't know why). It is very much reliant on keyboard nav. Here is a controlled setup to demonstrate:

1. Tab to the leg in the top sim
2. Move the leg with the arrow keys in *slow* increments until you grab one electron. The bottom will not grab an electron (this is expected).
3. Every step after this is with a mouse

[2017-02-16 20:43] phet-steele commented on #194
@EthanWJohnson was successful in reproducing on Win 10.

[2017-02-16 20:48] samreid commented on #198
Here are the changes that occurred in master since this branch was created.

![image](https://cloud.githubusercontent.com/assets/679486/23040437/88bdcb0e-f44e-11e6-9302-73636e7a3d00.png)

Based on the desired to have something published quickly and the low severity of this issue, I'm going to publish based on RC1 and we can pick up this fix (and other changes to master) in a subsequent version.

[2017-02-17 09:59] terracoda commented on #127
@jessegreenberg, how about using ```strong``` tags. In theory, they are more semantic than a ```b``` tags?
[code]

[2017-02-17 11:30] terracoda commented on #127
@jessegreenberg, that article on accessible dialogs, though nice and thorough, is from 2013. Here is a more recent article from Paul. J. Adam at Deque Systems. Even though it is specifically on the alertdialog (simple or detail), I think it may be relevant for us.
- http://www.deque.com/blog/aria-modal-alert-dialogs-a11y-support-series-part-2/

Paul suggests deviating from the standard and

In our

[2017-02-17 12:04] terracoda commented on #127
@jessegreenberg Paul J. Adam's technique for hiding the main page content is also different. I am not sure what technique is better.

[2017-02-17 18:16] jessegreenberg commented on #194
This issue seems related to keyboard navigation or the main model, assigning myself to take a look.

[2017-02-17 19:46] jessegreenberg commented on #127
Sounds good!  NVDA doesn't seem to do anything with ```<strong>``` either, but we may as well us this.

[2017-02-17 19:51] jessegreenberg commented on #127
Sounds good, I will do that for now.

[2017-02-17 19:53] jessegreenberg commented on #127
To my memory, in BASE focus was set on the text content, which had role=document.  Since the content had role=document, the arrow keys could still be used to read info with the virtual cursor.

[2017-02-17 19:55] jessegreenberg commented on #127
Since we are using the Parallel DOM, we can use the ```hidden``` attribute on the container of the entire screen, which removes the content from the navigation order *and* hides from the virtual cursor. This way we don't have to worry about setting tab indices.

[2017-02-20 15:14] samreid commented on #198
@jessegreenberg is working on John Travolage issues in master.  In 3 weeks or so, we'll work on rolling out another production version ready to share with our larger PhET-iO client base.

[2017-02-20 15:15] samreid commented on #195
@jessegreenberg is working on John Travolage issues in master.  In 3 weeks or so, we'll work on rolling out another production version ready to share with our larger PhET-iO client base.

[2017-02-20 15:17] samreid commented on #182
We published 1.3.0-phetio, but only for ETS.  In a few weeks after master stabilizes, we are going to roll out another version for our larger PhET-iO client base.  On hold for 3 weeks until @jessegreenberg is done working on changes in master.

[2017-03-06 18:37] jessegreenberg commented on #194
@phet-steele did the example in https://github.com/phetsims/john-travoltage/issues/194#issue-207351511 also use keyboard navigation first?

[2017-03-06 18:43] phet-steele commented on #194
More than likely. At the time of recording, it was certainly not apparent that keyboard nav was a necessary part of the procedure. https://github.com/phetsims/john-travoltage/issues/194#issuecomment-280453783 is the most informed report.

[2017-03-06 18:44] jessegreenberg commented on #194
Ok, great, thanks!

[2017-03-06 21:14] jessegreenberg commented on #194
There are two parts of this issue.  First, the number of electrons in the body can become out of sync as shown in https://github.com/phetsims/john-travoltage/issues/194#issuecomment-280453783.  Second, positions of electrons in the body can become out of sync, as shown in https://github.com/phetsims/john-travoltage/issues/194#issue-207351511.

The above commit fixes the first part of the issue.  T

[2017-03-06 21:16] jessegreenberg commented on #134
This was done in #171.

[2017-03-06 21:16] #134 closed

[2017-03-08 01:19] jessegreenberg opened #199 "appendages can be dragged with mouse while they have keyboard focus"
For most elements, it is fine that they remain pickable when focused with a keyboard.  But for the draggable appendages it can cause issues because the appendage can be dragged one way with the keyboard and dragged another with the mouse/finger.

[2017-03-08 01:20] jessegreenberg commented on #199
Fixed in the above commit, though phetsims/scenery this kind of think could be handled by abstraction in https://github.com/phetsims/scenery/issues/607 once we begin work in that issue.

[2017-03-08 01:20] #199 closed

[2017-03-09 18:13] jessegreenberg opened #200 "Distinction between "Play Area" and "Control Panel""
@terracoda @emily-phet in the keyboard navigation meetings we have been having with the design team, we have been distinguishing between the "Play Area" and the "Control Panel" for consistency.

This sim doesn't have that distinction, at least not literally in the DOM.
![capture](https://cloud.githubusercontent.com/assets/6396244/23763988/155580e6-04b9-11e7-92d9-d7687e7dc4e9.PNG)

We could put the

[2017-03-10 05:31] terracoda commented on #200
@jessegreenberg, I would also put the sliders in the _Play Area_, and the other buttons in the _Control Panel_.

Also, out of curiosity, are you making a visualized PDOM for this sim?

[2017-03-10 16:45] jessegreenberg commented on #200
Ok, I will add them.

@terracoda yes there is a visualized PDOM for john-travoltage, there is a build task now that can quickly generate it for any sim:

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.14/john-travoltage-a11y-view.html

[2017-03-10 16:49] jessegreenberg commented on #200
At the moment, all interactive components are contained inside a form. Is it OK if we replace the form with these sections?

[2017-03-10 18:50] jessegreenberg commented on #200
@jhung or @jobara can you please OK the change as well since it involves changing the HTML slightly?

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.15/john-travoltage_en.html

The change can be summarized with:
- Remove the "form" element from the DOM
- Move the appendage sliders into a section, aria-labelledby an H2 with  "Play Area" as the content, and aria-describedby

[2017-03-13 18:36] jessegreenberg commented on #127
@terracoda @jhung @jobara any preferences for how the button that opens the dialog should be labelled?

[2017-03-13 19:16] jobara commented on #200
@jessegreenberg I think switching to sections is fine. However I was looking over the implementation in the example you linked to and think there are a couple of improvements that could be made.

* Move the `<h2>`'s into the sections, and remove the aria-labelledby
* Reduce the number of `<div>`'s used

[2017-03-13 19:19] jobara commented on #127
Maybe the same as the dialog, "Hot Keys and Help" or maybe just "Help"?

[2017-03-13 21:08] jessegreenberg commented on #127
Thanks @jobara I went with "Hot Keys and Help" for now.

[2017-03-13 23:16] jessegreenberg commented on #200
Thanks for reviewing @jobara.  h2's were moved into the sections in the above commit and I removed the aria-labelledby's.

Is the number of ```<div>```'s acceptable in this version?
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.16/john-travoltage_en.html

Here is the accessible HTML:

[code]

Some ```div```'s are necessary to structure elements so that Scenery knows where

[2017-03-13 23:21] jessegreenberg commented on #200
Labels were missing on the range inputs (noticed in the HTML above), fixed in https://github.com/phetsims/john-travoltage/commit/99c8aa161e0ed7863cf24c223d0b7e2acc23d16f

[2017-03-14 03:07] terracoda commented on #127
@jessegreenberg, @jobara, sorry for the late comment on this and sorry for my question about using the close button as being a little vague.

What I was a little uneasy about after reading the article by Paul J. Adam was setting focus to a non-interactive element (i.e. the H1 of the dialog), which would be my first choce. This is why I suggested that we set focus to the only interactive element we

[2017-03-14 06:00] terracoda commented on #127
@jessegreenberg and @jobara, this [ARIA Dialog Example](http://accessibility.athena-ict.com/aria/examples/dialog.shtml) from Athena ICT highlights the H1 of the dialog. It works nicely in VO in Safari and in Chrome, BUT I can still navigate into the background page content without exiting the dialog...so the example is not a perfect one.

[2017-03-14 13:06] jobara commented on #200
@jessegreenberg is it possible to write these like below or are the `<div>`'s needed?

[code]

[2017-03-14 15:34] terracoda commented on #200
@jessegreenberg, I would agree with @jobara. We should strive to reduce the number of divs (if possible).

[2017-03-14 15:56] terracoda commented on #200
@jessegreenberg, for future reference,

Link to [specification on section](https://www.w3.org/TR/html5/sections.html#the-section-element).

[2017-03-14 16:53] jessegreenberg commented on #200
@jobara @terracoda with the current implementation, those ```<div>```'s are necessary. The parallel DOM is built off of the structure of Scenery's scene graph.  Say our scene graph looks like

- play area
  - body
    - appendage
    - appendage

and the appendages must look like
```html```
<input ...>
<label>...</label>
[code]

[2017-03-14 16:54] jessegreenberg commented on #200
https://github.com/phetsims/john-travoltage/issues/200#issuecomment-286466937

Thanks @terracoda, good to know!

[2017-03-15 08:13] terracoda commented on #200
@jessegreenberg

This is a good question. `div`'s are non-semantic, so they mainly cause accessibility trouble if they are being used instead of a more semantically appropriate element. In the sim implementation, the `div`s are being used for non-semantic purposes, so this is good. I'm not sure how or if the `div`s affect Accessibility Tree.

To keep HTML code clean (easy to read and debug) and to

[2017-03-15 10:35] terracoda commented on #127
@jessegreenberg, @mcking65 (Matt King) will be making a few dialog examples available soon. See the issue#103 over in [ARIA-Practices 1.1 ](https://github.com/w3c/aria-practices/issues/103#issuecomment-286573791).

Matt King also commented:

So based on this, I think we should go with option 2 in https://github.com/phetsims/john-travoltage/issues/127#issuecomment-286308965

And the close button ca

[2017-03-15 11:21] terracoda commented on #127
@jessegreenberg, based on earlier discussion in issue issue https://github.com/phetsims/a11y-research/issues/12 and yesterday's A11y Meeting (March 14), I think the label for the button that opens the keyboard information has changed from:

- Hotkeys and Help: Tips on how to use this sim with a keyboard.

TO

- Keyboard Shortcuts: Tips on how to use this sim with a keyboard.

Also in issue
https:/

[2017-03-15 13:44] emily-phet opened #201 "John Travoltage keyboard nav not focusing on leg/arm in Safari"
@jessegreenberg
Version 1.3.0-dev.14 - the latest stable version I believe, does not allow keyboard focus to get to arm/let so those are immovable. Can navigate to reset and sound button no problem. Not sure if this is an issue in the actual latest version of sim.

[2017-03-15 14:41] jessegreenberg commented on #201
Sorry @emily-phet, I will take a look at this now.

[2017-03-15 14:57] jobara commented on #200
@terracoda and @jessegreenberg I'm not aware of any a11y concerns when using `<div>` for none semantic purposes. That is sort of what they are for, generic containers, typically for styling / presentation needs. It's good practice to keep the markup and DOM as concise as possible, for readability, maintainability, and etc. Probably not a huge issue here.

[2017-03-15 15:04] jessegreenberg commented on #201
@emily-phet this should be fixed.  Here is a new version:

http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.17/john-travoltage_en.html

and its PDOM view:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.17/john-travoltage-a11y-view.html

@emily-phet can you please verify and close this issue if fixed?

[2017-03-15 15:05] jessegreenberg commented on #200
Understood, thanks @terracoda and @jobara.  In this case we are trading a bit of readability/maintainability in the DOM for enhanced readability/maintainability in the sim JavaScript.

[2017-03-15 15:50] emily-phet commented on #201
@jessegreenberg Everything is working now, thanks!

[2017-03-15 15:50] #201 closed

[2017-03-16 07:40] terracoda commented on #127
@jessegreenberg, here are the new dialog examples from the aria-practices group
http://w3c.github.io/aria-practices/examples/dialog-modal/dialog.html

The examples are still undergoing a review, but they contain awesome design advice as well as working examples.

[2017-03-16 16:30] jessegreenberg commented on #200
Thanks for the review everyone, I think this issue can be closed.

[2017-03-16 16:30] #200 closed

[2017-03-17 16:40] terracoda commented on #127
@jessegreenberg, fyi, while the examples in https://github.com/phetsims/john-travoltage/issues/127#issuecomment-286980389 are excellent, and have good design advice, they still have some focus management issues.

[2017-03-23 14:47] Denz1994 opened #202 "Automated Testing Error"
Caught this error while running:

phetmarks=>aqua=>Test Sims(Fast Build) with PhET-iO checked.

[code]

[2017-03-23 17:48] jessegreenberg commented on #202
@Denz1994 is it possible you had a stale scenery SHA when running this test?  I can't reproduce this issue on master, and I think this might have been fixed via https://github.com/phetsims/scenery/commit/2a86608e07d62694231ea0bfd8f51dad1e1437e3 yesterday afternoon.

[2017-03-23 18:50] Denz1994 commented on #202
I believe you are correct. I pulled from scenery yesterday morning and may have missed this repo this morning. I updated my repo and ran the above test several times and I could not reproduce this error. Leaving this up to @jessegreenberg to close.

[2017-03-23 19:09] jessegreenberg commented on #202
Thanks @Denz1994! Closing for now then.

[2017-03-23 19:09] #202 closed

[2017-03-30 23:25] jessegreenberg opened #203 "AccessibilityUtil.getNextFocusable() isn't getting the next focusable in Safari"

[2017-03-30 23:40] jessegreenberg commented on #203
It looks like HTMLElement.ELEMENT_NODE type is undefined in Safari. It is defined on Node though, and seems to be for all our supported platforms.

[2017-03-30 23:42] jessegreenberg opened #204 "Links are not focusable in Safari"
Focus can be set programatically but not by pressing tab.

[2017-03-30 23:45] jessegreenberg commented on #204
Here is the HTML
[code]

[2017-03-31 00:17] jessegreenberg commented on #204
Links needed min width to be visible in Safari, the above commit fixes the problem. Closing.

[2017-03-31 00:18] jessegreenberg commented on #203
Fixed with the above commit. Closing.

[2017-03-31 00:18] #203 closed

[2017-03-31 00:29] jessegreenberg opened #205 "focus highlights don't disappear when accessible content is disposed in Firefox"
See for instance the following, which will happen when when opening the "About Dialog" with the keyboard:
![capture](https://cloud.githubusercontent.com/assets/6396244/24531502/d13b7068-1576-11e7-9443-34955677511e.PNG)

[2017-03-31 00:39] jessegreenberg commented on #205
I believe that @jobara was able to observe this in Safari as well, but Firefox is the only browser where I have observed this so far.

[2017-03-31 00:40] jessegreenberg commented on #205
When this happens, nothing is blurred, so AccessiblePeer doesn't know to remove the focus highlight.

[2017-03-31 15:28] jessegreenberg commented on #205
The above commit removes the focus highlight, but focus still isn't moving into the Dialogs in Firefox.

[2017-03-31 15:39] jessegreenberg commented on #205
```AccessibilityUtil.getNextFocusable()``` is returning an ```<audio>``` element in Firefox. Firefox automatically gives ```<audio>``` elements tab index of 0, while other browsers give it a tab index of -1.

[2017-03-31 15:55] jessegreenberg commented on #205
The audio element is being added in john-travoltage-main, Firefox is trying to focus this thing:

[code]

[2017-03-31 16:14] jessegreenberg commented on #205
Fixed with the above commits, closing.

[2017-03-31 16:14] #205 closed

[2017-03-31 16:16] jessegreenberg commented on #204
Reopening, links still aren't focusable in Firefox.

[2017-03-31 18:36] jessegreenberg commented on #204
Hmm, not sure what was happening, they are focusable now. Closing

[2017-03-31 18:36] #204 closed

[2017-03-31 22:28] jessegreenberg opened #206 "getNextPreviousFocusable doesn't work in IE"

[2017-04-01 00:34] jessegreenberg commented on #206
This is probably caused by someething similar to #203.

[2017-04-01 00:35] jessegreenberg commented on #206
Nothing in IE is focusable when the dev tools are open :angry:

[2017-04-01 00:37] jessegreenberg commented on #206
IE says that ```ul``` elements have tabindex=0??

[2017-04-01 00:41] jessegreenberg commented on #206
Also ```li``` elements.

[2017-04-01 00:58] jessegreenberg commented on #206
Come on IE...

https://nemisj.com/focusable/

[2017-04-01 01:02] jessegreenberg commented on #206
According to the above article, we can use HTMLElement.attributes.tabIndex. Quick check in the console shows that works.

[2017-04-02 02:58] jessegreenberg commented on #206
Fixed with the above commit.  Scenery now flags elements in the PDOM that are not focusable with an explicit ```tabindex="-1"``` so that we can skip them when searching for the next focusable. Closing.

[2017-04-02 02:58] #206 closed

[2017-04-03 16:53] jessegreenberg opened #207 "Links are not in navigation order in OSX Firefox"

[2017-04-03 16:54] jessegreenberg opened #208 "Keyboard focus doesn't move into Dialog when it is opened in IE"

[2017-04-03 17:08] jessegreenberg commented on #207
Well, the links in a vanilla example aren't either, so perhaps this is just a general behavior for OSX Firefox. https://jsfiddle.net/7896v8fn/1/

[2017-04-03 17:21] jessegreenberg commented on #207
It was a system preferences issue, this resolved the problem: http://stackoverflow.com/questions/11704828/how-to-allow-keyboard-focus-of-links-in-firefox

Closing.

[2017-04-03 17:21] #207 closed

[2017-04-03 17:32] jessegreenberg commented on #208
This is related to #206 - the fix in that issue works for elements in the PDOM since we have complete control over those - but IE is trying to focus other things in the document that are outside of the PDOM (like scripts, divs, and svg elements since all of these have tabindex="0" in IE).

[2017-04-03 17:40] jessegreenberg commented on #208
```getNextPreviousFocusable``` of AccessibilityUtil could be limited to the parallel DOM.  But then it would need a reference to the sim display

[2017-04-03 17:40] jessegreenberg commented on #208
https://github.com/phetsims/john-travoltage/issues/208#issuecomment-291217131

No good, AccessibilityUtil in scenery should be for general DOM traversal and manipulation, and can't be dependent on phet or sim.

[2017-04-03 17:42] jessegreenberg commented on #208
The callback to open the menu could limit the search to the PDOM.  Display needs a getter for the root accessible DOM element.

[2017-04-03 17:46] jessegreenberg commented on #208
Or Dialog could handle focus of the first element?

[2017-04-03 17:49] jessegreenberg commented on #208
But we don't want focus if dialog is opened with mouse, so Dialog would need knowledge of how it was opened to determine whether or not first focusable element should receive focus.

https://github.com/phetsims/john-travoltage/issues/208#issuecomment-291217834 Seems best at the moment.

[2017-04-05 07:56] jessegreenberg commented on #208
This is fixed with the above commits, closing.

[2017-04-05 07:56] #208 closed

[2017-04-05 13:45] jobara opened #209 "HTML Validation Issue: bgcolor attribute on body"
Should set a CSS style declaration for the background color instead of using the `bgcolor` attribute.

Error: The bgcolor attribute on the body element is obsolete. [Use CSS instead](http://wiki.whatwg.org/wiki/Presentational_elements_and_attributes).
From line 31, column 1; to line 31, column 75
[code]

[2017-04-05 14:24] jobara opened #210 "Electrons not being announced by VoiceOver"
I'm able to navigate to the leg and rub the foot across the carpet using VoiceOver. Visually I can see that electrons are accumulating, but there is not announcement of this by VoiceOver.

Using Safari 10.0.3 on macOS 10.12.3 with VoiceOver

[2017-04-05 14:29] jobara commented on #127
@jessegreenberg for the "Hot Keys and Help" dialog, if i open it with the keyboard and press one of the arrow keys. I cannot use the esc key to close the dialog.

Steps:

1. Use the keyboard to open the "Hot Keys and Help" dialog
2. press any of the arrow keys
3. press the esc key ( Notice that the dialog doesn't close ).

I tried this using Safari 10.0.3 on macOS 10.12.3

[2017-04-05 14:46] jobara opened #211 "Cannot tab to links in the "about" dialog"
The links in the about dialog do not seem to be keyboard accessible. When the dialog initially opens the "Terms, Privacy & Licensing" link is focused, so you can open that with the keyboard; however, you cannot reach the others and if you move focus off the "Terms, Privacy & Licensing" link, you can't go back without closing and reopening the dialog.

I tested with Safari 10.0.3 on macOS 10.12.3

[2017-04-05 14:52] jobara commented on #127
@jessegreenberg the esc key also exits out of full screen. This is not mentioned in the "Hot Keys and Help" dialog. Additionally this causes some interaction issues when interacting with dialogs while the sim is in full screen.

Steps:

1. Put the sim in full screen
2. Use the keyboard to open the "Hot Keys and Help" dialog
3. press the esc key ( Notice that the sim exits full screen, and focus is

[2017-04-05 15:22] terracoda commented on #210
@jobara, I tested on the same platforms, I hear the electron count sometimes, but not all the time. It seems to go back and forth sometime lots of leg position descriptions then lots of electron counts.

[2017-04-05 17:53] jobara commented on #210
@terracoda for the most part i was moving the leg slowly. 1 key press, wait for the announcement, then press again. I did hear the position announced twice. Were you interacting the same way? I wonder if it maybe related to how quickly the leg is moved, interruptions with announcements, or something else? @jessegreenberg could it be related to the event emitter for the electrons?

[2017-04-05 18:12] terracoda opened #212 "Navigating PhET Menu - No Focus Highlight with Arrow keys"
@jessegreenberg here are comments about the PhET Menu Button

- I would expect the Arrow to move focus to next menu item, and to cycle through the menu items and circle back to top when the last item is passed.
- VO does identify the pop-up as a menu. W3C has a new example here:
https://www.w3.org/TR/wai-aria-practices/examples/menu-button/menu-button-1/menu-button-1.html
- I just tested the above

[2017-04-05 18:21] terracoda opened #213 "PhET Menu - focus inconsistent when exiting the Menu with Tab and Shift Tab"
**Tab key and Shift Tab**
- focus highlights work fine to go back and forth through the menu items. However,...
  - I don't hear item count when Tabbing (I do when using the Arrow keys). This could be a difference between menu navigation and Tab navigation.
  - when I hit Shift Tab on the first item, the pop-up closes (as it perhaps should if using the Tab key, but not if using the Arrow keys) and

[2017-04-05 18:26] terracoda opened #214 "Keyboard Button Label and Dialog Title - not the latest version"
Keyboard button’s label is “Hot Keys and Help”. Should be “Keyboard Shortcuts,” if the decision to change was final. Would also need to change the Title of the Dialog.

See [Accessibility Meeting](https://docs.google.com/document/d/1UTFoc_0LTQigHbu0XCLMHXsvKFYgHG7PKDVeQbvEsrI/edit#heading=h.1vu1btugkzfn) notes under March 14.

[2017-04-05 18:36] terracoda opened #215 "PhET Menu Button - no word "menu" in button label"
**Minor labelling Issues**
PhET Menu button, is read out as “P, H, E, T, Pop-up Button”. Wondering how to get the word “menu” in there. The three vertical dots icon is supposed to represent “menu”. Consider using “PhET Menu” as the button’s label, instead of "PhET" alone. But "pop-up" may be clear enough.

Also, are we ok, with P h E T being spelled out rather than said as a word? Likely cannot do

[2017-04-05 18:43] terracoda commented on #211
@jobara, that's strange, I was able to Tab to all the thinks and read the content in the About dialog when using Voice Over on the same platform.

[2017-04-05 18:48] terracoda opened #216 "Shock sound effects don't seem to fire"
Hmmm, not hearing the sound effects when John gets zapped and shocked.

I have my volume up and the sim sound button on. Not sure if something is set wrong on my computer. I can play music on my computer and use Zoom, so not sure why I don’t hear John’s gazouch!

MacOs 10.12.3
Safari 10.0.3

[2017-04-05 18:51] terracoda opened #217 "PhET Menu - Keyboard focus highlight thin on bottom"
Visually, keyboard focus highlight is slightly cut off (slightly thinner) on bottom border.

MacOs 10.12.3
Safari 10.0.3

[2017-04-05 18:56] terracoda commented on #212
@jessegreenberg, also when I am not using Voice Over:
Visual keyboard focus highlight does not move when I used the Arrow keys to navigate the PhET Menu items (note not using screen reader). When I hit Tab the keyboard focus highlight re-appears, but has obviously skipped items, so virtual focus is moving with Arrow keys, but keyboard focus highlight is not.

Is the intent that Tab key and the Arr

[2017-04-05 20:02] jessegreenberg commented on #209
Thanks @jobara, this is going to be changed in phetsims/chipper#556 and tracked there.  Closing this issue.

[2017-04-05 20:02] #209 closed

[2017-04-05 20:11] jessegreenberg commented on #217
Thanks @terracoda! I am only seeing this for the "PhET Menu" button, not the "Keyboard Help Button", is that what you see too?

It looks like there is a bit of space below the branding image.

[2017-04-05 20:22] jobara commented on #211
@terracoda i wasn't using VoiceOver for this issue. Could you try without VoiceOver with just keyboard navigation and see if you can reproduce it?

[2017-04-05 20:33] jessegreenberg commented on #217
Ready for review in the next version, should be deployed shortly.

[2017-04-05 20:43] jessegreenberg commented on #216
@terracoda does this happen with or without VoiceOver? If only VoiceOver, I am wondering if this is a user setting?

I found this set of options:
![screen shot 2017-04-05 at 2 40 23 pm](https://cloud.githubusercontent.com/assets/6396244/24726043/311209d4-1a0e-11e7-8379-87f89f17eb73.png)

With Audio Ducking checked, the sound effects are much quieter with VO on.

[2017-04-05 20:59] jessegreenberg commented on #215
NVDA automatically adds "Menu" to the label since it has the ```has-popup``` attribute.  Do you have a preference on whether or not to duplicate "Menu" for NVDA so that it shows up with VO?

@emily-phet do you have a preference here?

@jhung @jobara, do you know how others might handle when their brand name is not in the screen reader pronunciation lexicon? Actually, is there any way to specify yo

[2017-04-05 21:12] jessegreenberg commented on #214
Thanks @terracoda, good catch! Replaced in the above commit for the button label and the keyboard dialog title.
![capture](https://cloud.githubusercontent.com/assets/6396244/24727150/38b4dba4-1a12-11e7-97ec-45862bfac51d.PNG)