[2021-06-10 22:22] #413 closed

[2021-06-10 22:26] jessegreenberg commented on #411
The background is just an image and it doesn't take up the entire screen space. The background color is blue for some reason, I am not sure why. I don't think we can modify the artwork, but we could make the background color match the wall color so it isn't as noticeable.

[2021-06-10 22:34] jessegreenberg commented on #411
I changed the background color so it looks a better. The background color extends below the floor though, when I squeeze the sim down very narrow the brown is shown below the flooor:
![image](https://user-images.githubusercontent.com/6396244/121605328-37db2000-ca1a-11eb-9dcf-bae8f6892fff.png)

But for usable screen sizes it looks better and the blue rectangle is gone. Calling that good, closing.

[2021-06-10 22:35] #411 closed

[2021-06-11 17:05] jessegreenberg commented on #403
I had forgotten about this issue, creating a new one for this chunk of work.

[2021-06-11 17:07] jessegreenberg opened #424 "Down arrow key should move focus into the selected Preferences tab"
The last bit of work from https://github.com/phetsims/john-travoltage/issues/403, the down arrow should move focus into the selected Preferences tab. Currently the down arrow cycles through the tabs like left/right arrows.

[2021-06-11 17:07] #403 closed

[2021-06-11 17:54] jessegreenberg commented on #412
https://github.com/phetsims/john-travoltage/issues/412#issuecomment-839142236 is fixed on master. But the other part remained a problem. I just made a change to HighlightOverlay that makes it so that the highlight for interactive highlights will not change until interaction with a particular component has finished.

[2021-06-11 17:55] jessegreenberg commented on #407
This is caused by the same problem in #412 and has been resolved as part of that issue.

[2021-06-11 17:55] #407 closed

[2021-06-11 18:00] jessegreenberg commented on #410
This is happening because for those two menu buttons focus is moving back to the PhET Menu. This is a more general problem where Voicing will read the object that has focus, even when it is focus placed programatically with mouse/touch interaction. Sometimes this works out well, but it seems like mostly this is undesireable.

[2021-06-15 22:05] jessegreenberg commented on #412
This one is fixed, would be good to leave open to verify in next version.

[2021-06-15 22:29] jessegreenberg commented on #409
There are two issues here. First, the touch areas for reading are quite small so it is difficult to activate them with a finger. Second, the reading highlight goes away on finger release.

To fix the first I will try to increase the touch area of the Reading Blocks, but we don't have a lot of space to work with. For the second, I think we need to separate the interactive highlight from the reading

[2021-06-18 17:19] jessegreenberg commented on #409
This was fixed as part of #412

[2021-06-22 16:56] jessegreenberg commented on #408
Confirmed, I am also seeing this for the rate slider.

[2021-06-22 16:56] jessegreenberg commented on #408
I am actually seeing a collection of alerts happen on safari in a number of situations. If I spam a checkbox, it will repeat the queued alerts rather than speak the latest.

[2021-06-22 17:00] jessegreenberg commented on #408
There is a workaround in Safari that delays the webSpeaker from speaking which was found to make the `end` event of the Utterance happen more consistently on that platform. I wonder if that is contributing and can be removed now.

[2021-06-22 17:05] jessegreenberg commented on #408
[code]

If I remove that workaround, the problem does seem to go away. But I confirmed that there are situations where we don't get the "ended" event and so certain highlights do not disappear.

[2021-06-22 17:18] jessegreenberg commented on #408
I confirmed that the workaround above is improving the consistenty of the `end` event of the SpeechSynthesisUtterance. But I would love to remove it, it makes the output inconsistent and causes this issue. I am going to remove this workaround, this issue and platform inconsistencies are worse than sometimes not getting the end event in my opinion.

It seems like the failure to send events happens

[2021-06-22 17:35] jessegreenberg commented on #408
It looks like there is an `error` event that consistently fires when the synth is canceled. I don't see any details about the error, but maybe Safari triggers this instead of the `end` event on a cancel. Perhaps this could be listened in addition to the end event on that platform.

[2021-06-22 17:47] jessegreenberg commented on #408
Done in the above commit, this is working pretty well. In Safari, there are times where the highlight will not show up. But since we don't consistently get the event I think there is nothing more that we can do. It is handled more gracefully on our end and will not cause output difference on Safari anymore.

[2021-06-22 17:50] jessegreenberg commented on #410
I think this is actually OK. We don't have any alert to signify that a menu item was selected, we just read out what has focus after the menu item selection. This is not a bug but a design implication that we don't have an alert for PhET menu items. Using the PhET menu feels natural to me with voicing, but if we want to add voicing alerts in this case we can do so in the future. I think Ill close

[2021-06-22 17:50] #410 closed

[2021-07-02 18:26] emily-phet commented on #376
I heard crackling as well, when giving a demo to a teacher (using safari browser on my MacBook Pro with Big Sur).

@jessegreenberg can you send me the latest link, and I'll see if it still occurs?

[2021-07-06 19:17] terracoda opened #425 "Alternative Input for Leg Swing and Arm Swing - double check"
### Notes from Slack
**Using my keyboard**
- JT's Arm swing:
    - Up Arrow and Right Arrow move hand clockwise;
    - Down Arrow and Left Arrow move hand counter-clockwise
- JT's leg swing:
    - Up Arrow and Right Arrow move foot counter-clockwise;
    - Down Arrow and Left Arrow move foot clockwise

**Using swipes on my iphone 8**
Note that swipes left and right move focus between items when VO

[2021-07-06 21:22] emily-phet commented on #425
I think however we arrange this, there will always be at least one user scenario that has an unintuitive outcome (spatially).
If we could flip the mappings for up arrow and down arrow, and flip the mappings for the up swipe and down swipe, would that be preferable across the board?

So the mappings would then be:
Up Arrow - Counter Clockwise
Up Swipe - Counter Clockwise
L Arrow - Counter Clockwise

[2021-07-06 21:23] emily-phet commented on #425
Also note - I'm sure if asked @BLFiedler might have an opinion, but I don't think he's ever taken on the role of designer for this sim. I think it's ultimately up to you @terracoda.

[2021-07-06 21:26] arouinfar opened #426 "Update screenshots"
While reviewing the [updated sim pages](https://ox-dev.colorado.edu/en/simulations/john-travoltage) on ox-dev, I noticed that the alternate screenshot is identical to the main screenshot. The screenshots currently checked in are indeed identical, but the alt used to look like this:

![image](https://user-images.githubusercontent.com/8419308/124668175-b5554d00-de6d-11eb-8369-60a8e6a99023.png)

[2021-07-07 00:12] jessegreenberg opened #427 "Branch: preferences"
A branch to explore the Preferences and Voicing features in the context of this sim.

[2021-07-08 17:07] arouinfar commented on #426
I ended up updating both screenshots using the latest dev version on the preferences branch so the navbar icons would all be present.

There's no urgent need to update the sim screenshots on the website, so this change can wait until the next redeploy from master.

I don't think there's anything to cherry-pick here since there'll probably be a new release branch created when the sim redeploys, but

[2021-07-13 04:28] #424 closed

[2021-07-13 15:27] jessegreenberg commented on #416
All of these have been fixed, closing.

[2021-07-13 15:27] #416 closed

[2021-07-13 15:27] jessegreenberg commented on #412
This has been working as we want for some time now, closing this issue.

[2021-07-13 15:27] #412 closed

[2021-07-13 15:27] #408 closed

[2021-07-13 15:32] jessegreenberg commented on #376
@emily-phet sure here is the latest link:

 https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.42/phet/john-travoltage_en_phet.html

Were you using Zoom to give the demo? I know in https://github.com/phetsims/ratio-and-proportion/issues/229 we found that Zoom had some audio crackling, and could be related.

[2021-07-13 15:33] jessegreenberg commented on #427
Work related to this has been moved to master and this branch can be deleted now.

[2021-07-13 15:33] #427 closed

[2021-07-13 15:34] jessegreenberg commented on #409
This has been working as we want for some time now, closing.

[2021-07-13 15:34] #409 closed

[2021-07-13 15:45] jessegreenberg commented on #391
Note to self:
Dialog options for this are `ySpacing` for vertical space between title and content and `bottomMargin` for spacing between content and bottom of dialog. Spacing between columns is `columnSpacing` of TwoColumnKeyboardHelpContent.

[2021-07-13 16:10] terracoda commented on #391
@jessegreenberg and I met and experimented with spacing. The issue stems mainly from the fact that there is very little content in the left column, and all content is centered under the heading.

We decided to leave as is. It looks better a little crowded than it does when we put extra space in between the columns.

Closing.

[2021-07-13 16:10] #391 closed

[2021-07-13 16:25] jessegreenberg commented on #425
@terracoda and I met to discuss this issue because it could have an impact on #391. In the end we decided to do nothing for #391, but that I would take a pass at this change to see if it would be tricky. Turned out to be pretty simple and I did it in the above commit. Can be reverted, but I made the commit so we can play with the change.

Here is a version with the arm motion reversed:
https://phe

[2021-07-13 16:25] terracoda commented on #425
@jessegreenberg and I discussed this issue briefly when we were looking at #391.

Recently, I realized that the issue with the arm and the leg could stem from the fact that the Arm Swing, from its starting position, seems like a vertical slider whereas the Leg Swing has a more natural fit as a horizontal slider.

Neither, however, are flat-line interactions, the Arm Swing follows a full circle, an

[2021-07-13 16:26] terracoda commented on #425
Thanks @jessegreenberg for https://github.com/phetsims/john-travoltage/issues/425#issuecomment-879228551

I'll try it out.

[2021-07-13 16:29] jessegreenberg commented on #426
Yes, we will be republishing this sim again off of master. -Would you like to keep this open or OK to close?

[2021-07-13 16:35] jessegreenberg commented on #344
This has not appeared in CT for a long time, closing.

[2021-07-13 16:35] #344 closed

[2021-07-13 16:53] terracoda commented on #425
I personally like it.
I don't hear any additional slider orientation language, so I am assuming none was added.

This is what I like:
- The Leg and Arm are now mapped to the same directions in terms of clockwise and counter-clockwise
- For the Leg Swing - Movement of foot
    - using any Arrow key seems correct and intuitive
    - using Up and Down swipes seem correct and intuitive
- For the Arm S

[2021-07-13 19:02] terracoda commented on #425
In Voicing design meeting, July 13, we decided to permanently change the direction of the Arm Swing slider so that it goes in the same direction as the Leg Swing slider. This change affects the sim, not a single feature (i.e., Voicing versus PDOM).

This means that
- the Up and Down swipes on iOS VoiceOver now map nicely to the visuals.
- both appendages move in the same direction when using he Ar

[2021-07-13 19:11] terracoda opened #428 "Keyboard Shortcuts dialog - updates for new Move Hand direction"
In issue #425 we reversed the direction of the Arm Swing interaction to better align with swipes when using iOS VoiceOver and to be the same direction as the Leg Swing interaction.

We felt this change required changes to how we describe these interactions in the Keyboard Shortcuts dialog. We decided to explicitly describe the preferred directions using the Arrow keys, though all directions work j

[2021-07-13 19:20] terracoda commented on #425
@jessegreenberg, I think it is safe to close this issue. Please re-open if you need to.

[2021-07-13 19:20] #425 closed

[2021-07-13 19:50] jessegreenberg commented on #428
Updates made, @terracoda can you please review in this version?

https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-dev.44/phet/john-travoltage_en_phet.html

[2021-07-14 20:21] emily-phet commented on #376
@jessegreenberg Thanks for the reminder re zoom and crackling. Yes, I was using Zoom. Playing with the link above for a while, I heard no crackling.

Unfortunate that this may happen quite readily with Zoom, but no need to slow publication for this. Presumably if there is a non-Zoom scenario that crackles, the QA team will find it. Otherwise, let's just chalk this up to a known Zoom issue, and hop

[2021-07-14 20:22] emily-phet commented on #376
Closing this issue now. If QA finds crackling somewhere, then we can put some further time into tracking down a problem.

[2021-07-14 20:22] #376 closed

[2021-07-15 14:37] terracoda commented on #428
Looks and sounds awesome! Thanks.

[2021-07-15 14:37] #428 closed

[2021-07-15 19:01] terracoda opened #429 "(PDOM Preferences Menu)Audio Features - I hear context response twice"
In general, the pdom access with a screen reader to the Preferences Menu is sounding really good.

One issue I found is when I toggle the on/off switch for the Audio Features, I hear the context responses twice. It doesn't seem to happen on the other on/off switches.

This is when using a screen reader not voicing.

I am using Safari and VoiceOver on MacOs Big Sur 11.4
MacBook Pro Apple M1 chip

[2021-07-16 04:58] arouinfar commented on #426
Let's close @jessegreenberg

[2021-07-16 04:58] #426 closed

[2021-07-19 19:40] jessegreenberg opened #430 "Hearing some sim voicing when "Sim Voicing" disabled"
Noticed that when "Sim Voicing" is disabled I still hear Voicing from sim components.

[2021-07-19 19:44] jessegreenberg commented on #430
Fixed in the above commit.

[2021-07-19 19:44] #430 closed

[2021-07-20 20:30] jessegreenberg commented on #429
Confirmed in the a11y view:
![image](https://user-images.githubusercontent.com/6396244/126391362-232f59f1-6b07-4dd5-a9d6-5e2e14486d4b.png)

[2021-07-20 20:50] jessegreenberg commented on #429
Fixed in the above commit.

[2021-07-20 20:50] #429 closed

[2021-07-23 20:37] jessegreenberg commented on #97
This is super old and probably not an issue anymore. I just did some quick memory testing and don't see an obvious leak. A more rigourous test will happen as part of https://github.com/phetsims/qa/issues/676.

[2021-07-23 20:37] #97 closed

[2021-07-26 17:49] Nancy-Salpepi opened #431 "Text covers toggle button in preferences during stringTest=long"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
Chrome 91.0.4472.114

**Problem description**
https://github.com/phetsims/qa/issues/676

In stringTest=long, the text covers the toggle button in the visual preference section (where it normally says interactive highlights). I see the same problem in audio preferences as well.

**Steps to reproduce**
1. add ?stringTest=l

[2021-07-26 17:55] Nancy-Salpepi commented on #431
Also seen in stringTest=rtl

[2021-07-26 18:37] jessegreenberg commented on #431
Thanks @Nancy-Salpepi -

Looks like it is because of the description for the toggle switch, when there is no description the layout is OK:
![image](https://user-images.githubusercontent.com/6396244/127040955-99b132b9-754f-4af2-b0d3-6e746cb110ce.png)

Caused by these lines:
[code]

[2021-07-26 20:42] jessegreenberg commented on #431
This should be improved in the above commit. @Nancy-Salpepi would you mind checking master and verifying this is fixed? If so, I will merge this commit into release branch.

[2021-07-26 21:09] Nancy-Salpepi commented on #431
Still having the same issue @jessegreenberg

[2021-07-26 21:23] jessegreenberg commented on #431
Sorry, I should have clarified this fix was in joist and I see that joist is still out of date on bayes:
![image](https://user-images.githubusercontent.com/6396244/127061075-bf3836f2-bd6b-4b79-b1f0-50d26ffd0e47.png)

Could you please pull joist and try again?

[2021-07-26 21:43] Nancy-Salpepi commented on #431
The issue is fixed in master

[2021-07-26 22:44] phet-steele opened #432 "Exposed HTML tag in the Credits"
There is a < br > just before Taliesin's name.

![image](https://user-images.githubusercontent.com/5863899/127067683-dd286218-bc42-4011-b349-86c4e2f145bc.png)

Seen on Win 10 Chrome. For phetsims/qa/issues/676.

<details>
<summary>Troubleshooting Information</summary>

URL: https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-rc.1/phet/john-travoltage_all_phet.html
Version: 1.6.0-rc.1 2021-07-

[2021-07-27 12:08] Nancy-Salpepi opened #433 "Arm can only swing 180 degrees with keyboard nav"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
chrome 91.0.4472.114

**Problem description**
https://github.com/phetsims/qa/issues/676

When using the keyboard navigation, the arm can't be moved continuously around. It only be moved 180 degrees clockwise or counterclockwise from the doorknob, unlike when the mouse is used.

**Steps to reproduce**
1. tab over to the a

[2021-07-27 13:52] jessegreenberg commented on #433
Thanks @Nancy-Salpepi - This is the desired behavior for keyboard input. If I recall correctly, the reason was that placing a limitation on the motion of keyboard movement made the interaction more intuitive for screen reader users because sliders (which the arm and leg use in the PDOM) have a clear min/max.

[2021-07-27 13:52] #433 closed

[2021-07-27 14:09] jessegreenberg commented on #432
Oh thanks! Fixed in the above commit and joist SHA updated in the 1.6 branch.

[2021-07-27 14:17] jessegreenberg commented on #431
Thanks @Nancy-Salpepi, fix applied to john-travoltage-1.6 branch of joist and joist SHA updated in 1.6 branch of the sim.

[2021-07-27 15:53] Nancy-Salpepi opened #434 "Thumping sound heard in background when voicing is engaged"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
chrome 91.0.4472.114

**Problem description**
https://github.com/phetsims/qa/issues/676

Thumping sound noticed when voicing was engaged.

**Steps to reproduce**
1. Click on preferences icon in toolbar
2. Click on audio to open audio preference dialog box
3. Turn on extra sounds
4. Turn on voicing using the toggle button

[2021-07-27 17:42] Nancy-Salpepi opened #435 "Reading box not always highlighted"
**Test device**
MacBook Air M1 chip

**Operating System**
11.4

**Browser**
Safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/676

When moving back and forth between reading blocks, either by using the keyboard nav or the mouse, the boxes aren't always highlighted.

**Steps to reproduce**
1. Click on the preference icon in the toolbar to open
2. Navigate to audio prefere

[2021-07-27 18:12] Nancy-Salpepi opened #436 ""Samantha" listed twice in the combo box"
**Test device**
MacBook Air M1chip

**Operating System**
11.4
**Browser**
Safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/676

In audio preferences, the name "Samantha" appears twice in the combo box.

**Steps to reproduce**

1. Click on the preferences icon in the toolbar panel
2. Navigate to audio preferences
3. Enable voicing by moving the toggle button
4. Expand th

[2021-07-27 18:23] jessegreenberg commented on #434
Thanks @Nancy-Salpepi - I had a listen to the recording and to be honest I am not able to hear any "thumping" sounds.

Also, over slack @Nancy-Salpepi said that this sound was only happening for her when using the "Victoria" voice.

I had a listen on my macOS 11.4 with "Victoria" voice at the settings described in this issue and couldn't hear any thumping. And since it is an artifact of the synth

[2021-07-27 18:26] jessegreenberg commented on #436
Thanks @Nancy-Salpepi. Safari on my macOS 11.4 only has Samantha listed once. The voices in the ComboBox are provided by the browser/operating system. Can you please comment on whether the two "Samantha's" sound different? If they really are a duplicate, we probably want to prune the list. If they sound different, maybe we want to rename the second one? Im not sure.

[2021-07-27 18:30] Nancy-Salpepi commented on #436
The first Samantha option does not work. The name isn't said aloud when I choose it and no voicing occurs with it.

[2021-07-27 18:36] jessegreenberg commented on #436
Oh wow - ok understood. Ideally the broken one would be removed. But I don't know how we can distinguish the broken one from the working one.

[2021-07-27 18:45] jessegreenberg commented on #436
@Nancy-Salpepi mentioned the duplication was only in Safari.

[2021-07-27 18:47] Nancy-Salpepi commented on #436
To be more specific--it wasn't on chrome. I have only looked at those 2 browsers so far.

[2021-07-27 19:09] jessegreenberg commented on #436
@Nancy-Salpepi can you please test this now? I made it so that any voices of the same name will be removed from the list. Hopefully removing the duplicate will make it so the one that remains works.

The fix was in joist, so to test go to phettest and pull joist, then run john-travoltage again from master.

[2021-07-27 19:10] jessegreenberg commented on #434
@Nancy-Salpepi also mentioned that most of the observed distortion happened when changing voice settings (rate, pitch), so that is good to know.

[2021-07-27 19:15] Nancy-Salpepi commented on #436
There is only one Samantha now listed, but that one doesn't work.

[2021-07-27 20:23] jessegreenberg commented on #436
I am not sure if there is anythign we can do about this. But I think it would be helpful to meet briefly and inspect the voices on @Nancy-Salpepi's machine to see if the broken "Samantha" has anything about it that would let us prune it from the list. We scheduled a time tomorrow to take a look.

[2021-07-28 13:49] emily-phet commented on #434
I suggest we don't put more effort into this now, continue with JT publication, and just keep an eye/ear out for this as we do more voicing sims.

[2021-07-28 14:15] Nancy-Salpepi opened #437 "Voicing incorrect when navigating in PhET menu"
**Test device**
MacBook Air M1 chip

**Operating System**
11.4

**Browser**
Safari 14.1.1

**Problem description**
https://github.com/phetsims/qa/issues/676

The voicing descriptions don't match the items in the PhET menu. When the PhET menu is clicked open, voicing says "PhET website." When Screenshot or Full screen is selected, voicing says "PhET menu." When About or Check for Updates is selecte

[2021-07-28 15:36] jessegreenberg commented on #436
@Nancy-Salpepi and I took a look this morning and noticed that the "Samantha" voices had the same name but a different `voiceURI` property.

<img width="1044" alt="Screen Shot 2021-07-28 at 9 10 15 AM" src="https://user-images.githubusercontent.com/6396244/127350873-e505b1e3-29a4-4801-99a1-393574fae3c3.png">

The "broken" voice had "premium" as part of the URI. I am going to try to remove voices w

[2021-07-28 15:36] jessegreenberg commented on #434
Thanks @emily-phet, closing this issue then.

[2021-07-28 15:36] #434 closed

[2021-07-28 15:42] jessegreenberg commented on #437
Thanks @Nancy-Salpepi, good point.

This is happening for two reasons.
1) We don't have voicing responses describing activation of components in the menu.
2) Even if we did, focus is moving to something else in the menu and so the newly focused element triggers a voicing response. For example, in the steps mentioned above
- Open preferences and navigate to audio tab
- Turn on voicing
- Click on th

[2021-07-28 15:42] jessegreenberg commented on #435
Reproduced on mac, though I have not seen this on Windows yet. I will investigate.

[2021-07-28 15:48] Nancy-Salpepi commented on #436
Now in the combo box, Samantha is the ONLY voice listed
<img width="960" alt="Screen Shot 2021-07-28 at 11 44 20 AM" src="https://user-images.githubusercontent.com/87318828/127354096-a417450d-c029-4f69-a069-48aaa239fb3e.png">

[2021-07-28 15:48] jessegreenberg commented on #435
I verified this is important, it seems that if you start a new utterance before the previous one stops speaking, we never get a new "start" event to trigger the new highlight.

[2021-07-28 16:07] jessegreenberg commented on #436
I see, thanks @Nancy-Salpepi - so that confirms the case that we cannot remove all "premium" voices. Many (most) with "premium" in the URI work fine.

I would like to discuss this with @emily-phet and @terracoda.

[2021-07-28 19:55] jessegreenberg commented on #435
I found that when I removed the `cancel` function from voicingManager I get all of the `start` and `end` events on Safari.

[2021-07-28 19:57] jessegreenberg commented on #435
I found this bug report from 10 months ago, looks promising: https://developer.apple.com/forums/thread/660405

[2021-07-29 17:13] jessegreenberg commented on #414
@Nancy-Salpepi noticed this issue again while testing https://github.com/phetsims/qa/issues/676. VO says to press keys that don't actually move the slider.

![IMG_5784](https://user-images.githubusercontent.com/6396244/127535627-4bbcb1dd-cc1b-45ef-be24-c5e1617dae71.jpg)

[2021-07-29 19:04] terracoda commented on #414
@liam-mulhall, can you make sure you have full keyboard nvaigation enabled in System>Preferences>Keyboard and also that you do not have VO's QuickNav enabled.

Pressing the left-right arrow keys back and forth quickly can enable QuickNav. With QuickNav on, the arrow keys move the cursor instead operating the slider.

You can easily toggle between QuickNav on and QuickNav off with the right and lef

[2021-07-29 19:34] jessegreenberg commented on #437
Discussed with @terracoda and @emily-phet.

Consensus: We will proceed with publication of JT and the upcoming sims with this problem for now, but revisit this potentially next quarter.

@jessegreenberg to follow up on this issue with other things that were discussed during the meeting.

[2021-07-29 19:41] jessegreenberg commented on #436
Discussed with @emily-phet and @terracoda:

This problem is outside of PhET's control and we will not spend more time trying to find a workaround. We will do a quick check to see if we can find a fix on the machine where this happened, but otherwise we will let this go.

[2021-07-29 19:48] jessegreenberg commented on #414
Discussed with @emily-phet -

@emily-phet confirmed that this has been an issue for her.  We will check and see if this is a problem for "vanilla" HTML sliders. If it is, it is  VO bug and we will submit a bug report. If not, we will inspect our implementation.

[2021-07-29 23:01] jessegreenberg commented on #435
Workaroundsd listed in that issue are not working for me.

I think what we need to do is alert behind a timeout again, that solves all of the Safari problems. But do it on all platforms so it is consistent. We used to do this only on Safari but that caused inconsistencies that were tough to track down. Every time we speak, we add a listener to the timer that will requested speech synth to speak, a

[2021-07-30 01:52] Nancy-Salpepi opened #438 "Arm not moving freely once voicing is activated (specifically with Samantha voice)"
**Test device**
iMac

**Operating System**
10.15.7

**Browser**
chrome  92.0.4515.107

**Problem description**
https://github.com/phetsims/qa/issues/676

Once the voicing is activated with Samantha chosen, the arm movement/sound becomes slow and choppy. This doesn't occur with any other voice and I don't see this issue using my MacBook 11.4.

**Steps to reproduce**
1. Select preferences
2. Open th

[2021-07-30 12:08] Nancy-Salpepi commented on #414
I just wanted to add, that like Liam, when I went into the published version of the sim, the VO + arrow keys worked to move the leg back and forth.

[2021-07-30 14:54] terracoda commented on #437
Just to help @jessegreenberg, with comments and meeting note, we discussed ideas around:
- renaming the PhET Menu button to either Open PhET Menu or PhET Menu Closed. We didn't like these ideas, and felt they would not beneficial in the short term
- review the behaviour of the PhET Menu, e.g., does the menu need to auto close after the action-oriented items? This needs to be discussed more general

[2021-07-30 15:17] terracoda commented on #414
I verified this is an issue for me, too.

With VO enabled I can use regular Browser navigation and slider operations. That is, I can Tab to the Arm and Leg Swing sliders, I can move them with the Arrow keys, I can move them in bigger steps with function Up and Down Arrow keys. Function Left and Right Arrow keys are not working due to a know bug notes elsewhere.

When I use VO commands, I can navig

[2021-07-30 17:40] KatieWoe opened #439 "Voicing default details unhelpful"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/676. When turning on voicing during our last look at this sim, object details/changes and context changes were on by default. In this rc, all seem off by default. This means that very little is read out by default, such as that the arm and leg are swinging. Nothing

[2021-07-30 18:37] KatieWoe commented on #436
On iPadOS 14.7.1, Samantha seems to be the only available option. Should the combo box still be in place with a case like this?

[2021-07-30 18:58] Nancy-Salpepi opened #440 "VO stops indicating leg position once VO statement, "You are currently on a slider....""
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
safari latest

**Problem description**
https://github.com/phetsims/qa/issues/676

With VO activated, I was using the arrow keys to move the leg back and forth. Randomly, VO then states that I'm currently on a slider etc. After this statement, when I continue to move the leg back and forth with the arrow keys, VO only sta

[2021-07-30 19:06] Nancy-Salpepi opened #441 "Using VO, there is no indication that the John is fully charged"
**Test device**
MacBook Air (M1 chip)

**Operating System**
11.4

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/676

When using VO, once 100 electrons are on the body, there is no indication that it is the maximum amount or that John is fully charged.

**Steps to reproduce**
1. Open the sim and tab into it
2. Turn on VO
3. Tab to the arm and use the arrow key to

[2021-07-30 22:22] KatieWoe opened #442 "Should preferences dialog open with screen reader?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/676. Seen with Jaws.
When using Chrome + Jaws + keyboard nav, I was unable to open the preferences dialog. I was able to open it with Firefox + NVDA and iPad +VO, so I'm not sure what the desired behavior is.

**Visuals**

https://user-images.githubusercontent.com/4

[2021-07-30 22:30] KatieWoe commented on #431
On ChromeOS this also occurs with rtl

[2021-07-30 22:43] KatieWoe opened #443 "Sim won't open on Android app"
For https://github.com/phetsims/qa/issues/676. Seen on Galaxy Tab A Android 8.1. In the app, when trying to open the sim, it gets to the phet logo but the loading bar never starts to fill and the sim never loads.

[2021-08-02 09:41] terracoda commented on #441
I think this is just a difference between the original quantitative-based interactive description design and the purely Qualitative Voicing design.

[2021-08-02 12:07] terracoda commented on #441
As a side note, we do plan on re-visiting the Interactive Description Design for John Travoltage, see #378
Unfortunately, we were not able to do that for this first Voicing release.

We will be considering this for future releases.

[2021-08-02 15:10] jessegreenberg commented on #443
Thanks @KatieWoe, it definitely should, especially after https://github.com/phetsims/john-travoltage/issues/418.

Are you able to see any errors in a console or anything like that?

[2021-08-02 15:11] jessegreenberg commented on #442
Thanks @KatieWoe, yes it should. Ill investigate.

[2021-08-02 15:26] jessegreenberg commented on #440
Thanks @Nancy-Salpepi - It looks in the video like aria-valuetext stops working for the leg after a while. I heard VO say "You are currently on a slider...." for the arm and then the the aria-valuetext worked OK. So it is either random or only happens for the leg.

Ill try to produce the problem on my Mac.

[2021-08-02 15:33] jessegreenberg commented on #439
Thanks @KatieWoe - Correct, it was decided for now that the default behavior for voicing should be more terse, so that the feature is not overwhelming to people that initially find it.

But it is useful to know this was your interpretation of the change, and would be good for @terracoda or @emily-phet to review and confirm this is OK and correct before closing.

[2021-08-02 15:34] jessegreenberg commented on #438
This looks to me like a performance problem with that voice.

[2021-08-02 15:37] jessegreenberg commented on #442
Confirmed with JAWS in Chrome. When activating, we get three events
![image](https://user-images.githubusercontent.com/6396244/127887283-2f0767a7-07a0-4964-b47d-6e483da8fa0b.png)

[2021-08-02 15:43] KatieWoe commented on #443
I don't know how to look at the console of the app on that device.

[2021-08-02 15:55] jessegreenberg commented on #442
What is happening in this case is that the JAWS event target is not under the PDOM. So this block is preventing scenery from dispatching the up/down pointer events
[code]

But no matter if we dispatch, the event we save the enent.timeStamp on the pointerUp, and so we block the click event too with
[code]

[2021-08-02 16:01] jessegreenberg commented on #442
If I remove the `isTargetUnderPDOM` checks, it works OK in JAWS, the same workaround with PDOM_CLICK_DELAY works for that platform.

[2021-08-02 16:26] jessegreenberg commented on #443
OK, understood. I think the problem is that the audioManager is trying to initialize speech synthesis regardless of whether it is enabled. It used to be that speech synthesis was only initialized if requested from PreferencesConfiguration (which took locale and speech synth available into account).

[2021-08-02 16:52] jessegreenberg commented on #443
@KatieWoe can you please see if this is fixed in the app in https://phet-dev.colorado.edu/html/john-travoltage/1.7.0-dev.1/phet/john-travoltage_en_phet.html?

[2021-08-02 16:55] KatieWoe commented on #443
That dev version loads up in the app

[2021-08-02 16:59] jessegreenberg commented on #443
Excellent, thanks @KatieWoe, will move to the release branch.

[2021-08-02 17:23] jessegreenberg commented on #441
Thanks @terracoda, sounds good.

[2021-08-02 17:29] jessegreenberg commented on #436
https://github.com/phetsims/joist/commit/0ec5b29dfca412d79ccee73605aea58736d63010 and https://github.com/phetsims/joist/commit/b18a3085fa5fdc3d782156455e1a3efb9fd875f0 need to be reverted in master.

Regarding https://github.com/phetsims/john-travoltage/issues/436#issuecomment-890080426

Good question @KatieWoe. I suspect this is OK, but its a good design question. @terracoda @emily-phet would you

[2021-08-02 18:00] jessegreenberg commented on #431
Thanks @KatieWoe that should also be fixed after https://github.com/phetsims/joist/commit/a515f134125688ab3885f0d3951517c0c52acd1a

[2021-08-02 18:10] jessegreenberg commented on #437
Thanks @terracoda - that is correct. Since we decided to defer this I am going to close this issue. When we decide to improve the behavior with Voicing of the PhET menu, we can open a new issue in joist.

[2021-08-02 18:10] #437 closed

[2021-08-02 18:30] jessegreenberg commented on #443
Cherry pick done above.

[2021-08-02 18:30] jessegreenberg commented on #442
Alright, this needs to move to scenery.

[2021-08-02 20:51] emily-phet commented on #439
@jessegreenberg Yes - this is the intended default behavior for version, none of the Voicing checkboxes checkboxes.

@KatieWoe - With Voicing enabled, but no checkboxes checked, you should still be able to hear object names as you click/tap/navigate to different objects, and you should be able to hear the reading blocks (in sims that have them, John Travoltage has no reading blocks, but GFLB does)

[2021-08-02 21:04] emily-phet commented on #436
I think it's fine to leave this as-is - combobox interface even if only 1 voice in place. All of our general supporting materials for voicing and preferences menu will indicate that this is a combobox, and will also make clear that the list is the list of voices available on your current device. I think with that support, many people will recognize they only have one option because their device ha

[2021-08-02 21:05] #439 closed

[2021-08-02 23:44] jessegreenberg commented on #436
OK, thanks @emily-phet, closing.

[2021-08-03 16:24] jessegreenberg commented on #440
I am seeing something similar with my Mac with macOS 11.4. In my case, I stop getting any charge alerts or aria-valuetext when there are charges on the body. I sometimes get "Safari busy" in this case. If I move the hand/leg without any charges or right after a reset I consistently get all content. So I think there is a performance problem.

[2021-08-03 16:30] jessegreenberg commented on #440
I also notice the fps drops way down for me when there are a large number of charges.

[2021-08-03 16:37] jessegreenberg commented on #440
The fps is better on a built version in master, so that is a good sign.

[2021-08-03 16:39] jessegreenberg commented on #440
This isn't really happening in the published version.

[2021-08-03 16:41] Nancy-Salpepi commented on #440
Yeah I noticed that it wasn't happening on the published version too.

[2021-08-03 16:44] jessegreenberg commented on #440
No worries! I actually just encountered something like this in the published version too, hearing "Safari busy" and then not much else until charges are removed from the body. When this happened for you did you hear "Safari Busy" ever @Nancy-Salpepi?

[2021-08-03 16:46] Nancy-Salpepi commented on #440
No. I never got "safari busy."

[2021-08-03 16:48] Nancy-Salpepi commented on #440
I can try it out if you would like.

[2021-08-03 16:53] jessegreenberg commented on #440
No, thats OK, just curious if it was a performance issue. I just did another test where I removed all ElectronNodes from the view, and I never heard "Safari Busy", and I always heard all content as I would expect. HOWEVER, even in this case if I press and hold an arrow key I stop hearing all information about the leg position.

[2021-08-03 17:14] jessegreenberg commented on #440
I created a basic HTML example and I am not seeing any issues yet. Here is what I tried, testing

- Including an aria-live alert
- Including the 'hairspace' workaround that AccessibleValueHandler uses.

[code]

[code]

[2021-08-03 17:29] jessegreenberg commented on #440
Testing the sim again, it is a bit inconsistent, and doesn't always happen. TAbbing to the arm, then back to the leg seems to fix the issue and I start hearing leg position information again. @Nancy-Salpepi is that true for you as well?

[2021-08-03 17:35] Nancy-Salpepi commented on #440
Yes. That is the case for me as well. When I leave the leg and then go back to it, it works again.

[2021-08-03 17:47] jessegreenberg commented on #440
OK thanks @Nancy-Salpepi.

@terracoda wondered if this could be caused by changes to the leg aria-valuetext where we are reporting the same content "foot on rug", rather than a unique string every position.

@terracoda also suggested to see if this happens in Firefox to identify where the issue is (VoiceOver vs Safari).

@jessegreenberg will test to see if a unique string each time will fix this.

[2021-08-03 17:53] jessegreenberg commented on #438
One thing I can try is to reduce the frequency at which we create utterances for the synth. If that is already limited it isn't clear what we can do to improve performance of voices provided by the browser.

[2021-08-03 18:01] jessegreenberg commented on #440
I added an incrementing value to the end of aria-valuetext, making each string unique. I was still able to see this issue.

[2021-08-03 18:11] jessegreenberg commented on #440
So I think that is all the time we will spend on this issue, though @terracoda will do some testing on Firefox as well. I am going to add this issue to the https://github.com/phetsims/qa/blob/master/documentation/accessibility-bugs.md.

[2021-08-03 18:14] jessegreenberg commented on #440
Document updated above. Thanks for pointing this out @Nancy-Salpepi, sorry it doesn't seem like we can find a fix. Leaving assigned to @terracoda to review my experience on Firefox and try that out for herself.

[2021-08-03 18:50] terracoda commented on #440
On my machine (macOS 11.4, MacBook Pro Apple M1. 16GB) using Safari and VO, I made this happen once by really pounding on the leg. I pounded less on the Arm Swing, and it didn't happen there.

The issue was easily resolved with a Tab away and return to the Leg Swing.

I also tested on Firefox just to see how FF is doing with compatibility with VO. Using FF 90.0, VO did not read out any  of the `ar

[2021-08-03 19:12] jessegreenberg commented on #438
I confirmed that the frequency at which we request speech is limited. In fact, we don't even request speech until the arm stops moving generally. The performance loss illustrated in the video above is during arm drag, so it seems like we may be able to prevent something from happening during arm motion that would improve performance.

[2021-08-03 19:17] jessegreenberg commented on #438
Im confused...It looks like we shouldn't be doing any work related to using voices or speech synthesis when the sim bogs down in the above capture. A `SpeechSynthesisUtterance` isn't created until we request speech.

[2021-08-03 19:27] jessegreenberg commented on #436
These changes have been reverted in the above comits.

[2021-08-03 20:03] jessegreenberg commented on #438
Im actually able to produce this to some extent now with macOS 11.4 Chrome, with the Samantha voice.

[2021-08-03 20:14] Nancy-Salpepi commented on #438
Really? I just tried on my MacBook Air (os 11.4 + chrome) and it worked perfectly. What other settings did you change?

[2021-08-03 20:28] jessegreenberg commented on #438
It isn't nearly as severe as what is in your video capture. I also cannot get it to happen as much with the arm. But every time it tries to speak there is a short delay. It happens more often when moving the leg for me for that reason.

Setings are just Voicing enabled with "Samantha" voice in Chrome.

[2021-08-03 20:44] jessegreenberg commented on #438
Here is renderer summary without voicing/performance loss
![image](https://user-images.githubusercontent.com/6396244/128083346-394a6747-a02d-4f3a-ba86-6f46349c0115.png)

Render summary while using voicin:
![image](https://user-images.githubusercontent.com/6396244/128083456-877bbde0-ad03-432b-a1a7-9fc17b9581f6.png)

Noticeably more time spent in "Scripting" and "System".

[2021-08-03 20:46] jessegreenberg commented on #438
Nothing in the call tree related to Voicing code.

[2021-08-03 21:01] jessegreenberg commented on #438
I did some google searching trying to find info about slow voices using speech synthesis, but nothing really came up. I think we are ready to close this issue as wontfix. Thanks for reporting @Nancy-Salpepi, sorry we aren't able to resolve this.

[2021-08-03 21:06] jessegreenberg commented on #438
Note made in https://github.com/phetsims/qa/blob/master/documentation/accessibility-bugs.md#3-voicing. Closing

[2021-08-03 21:06] #438 closed

[2021-08-03 21:07] jessegreenberg commented on #440
Thanks @terracoda - that is exactly what I found too in Firefox. Closing this issue.

[2021-08-03 21:07] #440 closed

[2021-08-03 21:19] jessegreenberg commented on #435
The timeout was removed in https://github.com/phetsims/john-travoltage/issues/408. It caused some alerts to spam when rapidly changing values because many alerts could be added to the back of the synth queue in the delay after the queue was cleared with cancel(). If all listeners added to the timeout are removed in `cancel` I think that problem will still be resolved.

[2021-08-04 09:17] terracoda commented on #439
@KatieWoe, and of course you have access to the reading button in the toolbar as well :-)

[2021-08-04 11:06] Nancy-Salpepi commented on #435
Looks good in master! No issues.

[2021-08-04 14:41] jessegreenberg commented on #435
Great, thanks! Ill move the change into the release branch.

[2021-08-04 15:08] jessegreenberg commented on #414
I just tested with macOS Safari and had exactly the same results as @terracoda. I just tried using a vanilla HTML slider and noticed something different about using "VO + arrow keys" to move a slider.

For this html:
[code]

- Press VO + Shift + Down Arrow to go "In Slider"
- Press arrow keys to increment/decrement the value by 1.
- Press page up/page down to increment/decrement the value by 10.
-

[2021-08-07 18:18] zepumph opened #444 "Many hard coded strings"
I found that there are some hard coded string in `JohnTravoltageView.js` while working on https://github.com/phetsims/utterance-queue/issues/13. For example https://github.com/phetsims/john-travoltage/blob/69df7131ce4415879f71aedb76ef2b77b585e20e/js/john-travoltage/view/JohnTravoltageView.js#L406, shouldn't these be in the strings file?

[2021-08-09 21:52] jessegreenberg commented on #414
I think I found a fix for this in the above commit, moving sliders with VoiceOver keys is working well now. I tested every browser we support after this change, and then Safari + VoiceOver and it is working well. Adding label to verify by QA.

[2021-08-11 19:55] jessegreenberg commented on #444
Thanks @zepumph, strings either removed or moved to strings file.

[2021-08-11 19:55] #444 closed

[2021-08-11 23:23] #435 closed

[2021-08-11 23:25] #432 closed

[2021-08-11 23:29] #431 closed

[2021-08-11 23:45] Nancy-Salpepi commented on #414
I have no issues moving the leg and arm using the arrows once in the slider. As long as I'm moving the arrow keys it doesn't matter what other buttons I may be pressing (VO buttons + arrow, option + arrow, command + arrow, any letter + arrow).
I don't see that as an issue, but @jessegreenberg I'll let you decide.

[2021-08-12 15:32] jessegreenberg commented on #414
Thanks @Nancy-Salpepi - What you described sounds correct to me and matches what @terracoda found in https://github.com/phetsims/john-travoltage/issues/414#issuecomment-889962888. Before changes for this issue pressing VO keys did not move the arm/leg at all and that is what we were trying to fix. I think this can be closed.

[2021-08-12 15:32] #414 closed

[2021-08-12 15:41] KatieWoe opened #445 "CT tried to removeListener on something that wasn't a listener"
[code]

[2021-08-12 15:45] Nancy-Salpepi opened #446 "Update QA credits"
https://github.com/phetsims/qa/issues/693

I noticed that the credits need to be updated. I am in the process of finding out what QA members worked on the sim.

[2021-08-12 19:12] KatieWoe opened #447 "Jaws freezes for a significant amount of time if you hold down arrow keys while swinging leg"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome + Jaws
**Problem description**
For https://github.com/phetsims/qa/issues/693. Not in NVDA + Firefox on the same device.
When holding down the arrow keys to continuously swing the leg, when you let go noting happens and Jaws freezes for a significant amount of time. The arrow keys, tab, and shift tab do nothing. Several seconds lat

[2021-08-12 19:12] KatieWoe commented on #442
This seems fixed in rc.2. However, I wonder if https://github.com/phetsims/john-travoltage/issues/447 is related, since I found it while looking at this bug.

[2021-08-12 19:24] jessegreenberg commented on #447
Thanks @KatieWoe, unfortunately this is something that has been around for a long time. It is a JAWS performance problem/bug and an issue for all sliders on the Web, not specific to PhET. I am pretty sure this is https://github.com/phetsims/qa/blob/master/documentation/accessibility-bugs.md#122-chrome-bugs.

Can you please see if this happens in the published sim too? If so I think that will confi

[2021-08-12 19:25] jessegreenberg commented on #446
Thanks for reporting @Nancy-Salpepi, reassigning to you please reassign to me once the updated list is ready.

[2021-08-13 11:35] Nancy-Salpepi commented on #446
The additional QA members are:
Logan Bray, Clifford Hardin, Liam Mulhall, Devon Quispe and Nancy Salpepi

[2021-08-14 17:48] jessegreenberg commented on #446
Thanks @Nancy-Salpepi, updated and cherry-picked into the RC branch in the above commits.

[2021-08-14 17:57] jessegreenberg commented on #443
dependencies.json updated in the above commit, ready again for another spot check to make sure this made it to the build for release.

[2021-08-14 17:58] jessegreenberg commented on #442
Thanks @KatieWoe, sounds like this was fixed and we determined in #447 that this issue was not related. Closing this one.

[2021-08-14 17:58] #442 closed

[2021-08-14 18:27] jessegreenberg commented on #445
This seems pretty rare, and I am not sure what is causing it yet. Fuzzing on my local machine with the same query parameters isn't showing it, and it isn't in the last 10 CT collumns.

But I have seen this once before as well on CT before the snapshot @KatieWoe posted so I don't think it is gone.

[2021-08-14 18:41] jessegreenberg commented on #445
The case that we are running into is this in Timer.setTimeout

[code]

The listener must be removing itself so `this.removeListener` errors out.

[2021-08-14 19:03] jessegreenberg commented on #445
I am seeing this in GFL:B as well in the last 10 CT cycles, must not be specific to this sim. Going to try to get it to happen there.

[2021-08-14 19:34] jessegreenberg commented on #445
Found more information about why this is happening:
![image](https://user-images.githubusercontent.com/6396244/129458261-ebf9c493-7822-496a-b239-5ea119f82be8.png)

When a speech request is made, something is causing the queue to synchronously clear (and therefore remove timer listeners) from within the setTimeout listener.

[2021-08-14 20:07] jessegreenberg commented on #445
I found it. What is happening is:
- voicingManager starts speaking from within the timeout
- For some reason, the SpeechSynthesis `error` event triggers. `voicingManager.endSpeakingEmitter` fires from that event.
- A listener on that Emitter sets another Property in VoicingToolbarItem that has yet another listener that eventually calls voicingManager.cancel().
- All listeners on the timer are remo

[2021-08-14 20:54] jessegreenberg commented on #445
This was fixed in the above commit. I was able to step through the problematic case and verify that the listener was not removed twice, but was successfully removed once at the end of the callback. Closing.

[2021-08-14 20:54] #445 closed

[2021-08-18 14:25] Nancy-Salpepi commented on #436
@jessegreenberg I started to do the spot check on safari and there is only 1 Samantha voice listed now, but that one does not work.

[2021-08-18 14:59] KatieWoe commented on #436
Linking to https://github.com/phetsims/qa/issues/697

[2021-08-18 15:43] Nancy-Salpepi opened #448 "Wrong object is sometimes highlighted using keyboard nav"
**Test device**
Mac11 (m1 chip)

**Operating System**
11.4

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/697

This issue only occurs sometimes: with interactive highlights and voicing on, when I open and close the toolbar using keyboard nav, the highlight moves off of the button. I have seen it switch to the leg (as seen in video) and I have seen it switch to t

[2021-08-18 15:49] terracoda commented on #436
I am un-assigning myself from this issue.

[2021-08-18 15:56] Nancy-Salpepi commented on #448
Issue also occurs with voicing turned off.

https://drive.google.com/file/d/1HmciR-fy2dP1XrkdBIcNPyogda6B7Wdm/view?usp=sharing

[2021-08-18 16:03] Nancy-Salpepi commented on #448
Upon closer inspection--it seems to be the same issue as

https://github.com/phetsims/balloons-and-static-electricity/issues/523

where the mouse pointer interferes

[2021-08-18 16:06] jessegreenberg commented on #448
Thanks @Nancy-Salpepi - I think you are correct that it is the same as https://github.com/phetsims/balloons-and-static-electricity/issues/523. This should no longer happen in master but this improvement was not added to the SHAs for john-travoltage release. @emily-phet or @terracoda can you please comment on if you would like this fix in john-travoltage? Doing so would require another RC spot chec

[2021-08-18 16:10] jessegreenberg commented on #436
Unfortunately there is nothing we can do on the sim side to fix this voice or remove this voice. In https://github.com/phetsims/john-travoltage/issues/436#issuecomment-889409141 we agreed to continue publishing with this issue.

[2021-08-18 16:19] KatieWoe commented on #443
The app now opens. However, on both the tablet and chromebook, there is no voicing option, even if it is there in the browser on the same device.

[2021-08-18 16:36] jessegreenberg commented on #436
@Nancy-Salpepi and I just paired on the machine where this is broken. We found that by going to system voices and deleting "Samantha" then re-downloading "Samantha" fixed this problem for her machine. Unfortunate that we cannot fix this in the sim, but this gives us something to recommend if we get reports of this in the wild.

[2021-08-18 16:39] jessegreenberg commented on #436
Closing this again.

[2021-08-18 16:39] #436 closed

[2021-08-18 16:44] jessegreenberg commented on #443
Thanks @KatieWoe - That is what we would expect. SpeechSynthesis is not supported in an Android WebView so it will not work in the App, though it should work in a native browser on the same devices. This change removes Voicing from the sims where SpeechSynthesis is not suppoted but ensures that the sim will still run.

Closing.

[2021-08-18 16:44] #443 closed

[2021-08-18 16:47] Nancy-Salpepi commented on #448
Definitely the same issue--it does not occur in master

[2021-08-18 16:50] jessegreenberg commented on #448
Great, thanks for confirming @Nancy-Salpepi.

[2021-08-18 17:10] terracoda commented on #448
In https://github.com/phetsims/balloons-and-static-electricity/issues/523#issuecomment-897034345 we have made a fix for this, but we will not apply this fix for this publication. The issue is less dramatic in this sim since there are no dashed grabbed highlights on any interactions in this sim.

In addition, the issue is an edge case requiring a user to have actively chosen "Interactive Highlights

[2021-08-18 21:11] KatieWoe commented on #446
Credits are unchanged for rc.3

[2021-08-19 22:10] jessegreenberg commented on #446
Thanks, nothing more for this release then, closing.

[2021-08-19 22:10] #446 closed

[2021-08-20 17:46] KatieWoe opened #449 "Mobile VO skips over part of scene description sometimes"
**Device**
iPad 6th Gen
**OS**
iPadOS 14
**Browser**
Safari
**Problem Description**
Occurs in published sim. When listening to the scene description line by line, sometimes the line reading the number of electrons is omitted. This seems to happen after swinging the leg. I also didn't seem to be hearing alerts during discharge or reading new number of electrons. The scene description line was retur

[2021-08-20 17:58] jessegreenberg commented on #449
Thanks @KatieWoe - never seen this before and not sure what would cause it. I don't have an iPad at the moment but for when I can look at this next:
- The bug starts around the 30s mark.
- The second paragraph of the screen summary is being skipped.

It is as though the virtual cursor stays on the second paragraph. Swiping left reads the first paragraph and swiping right reads the third one.

[2021-08-20 17:59] KatieWoe commented on #449
As mentioned, I also wasn't seeing alerts.

[2021-08-30 19:00] jessegreenberg commented on #449
Was able to reproduce on my iPad, seems to happen whenever there are charges on the body. Not sure why yet.

[2021-09-15 12:43] jessegreenberg commented on #320
This issue has been replace by another in a recent publication of JT, #446. I didn't notice this one and Brianna was not added. @terracoda should she still be added?

[2021-09-15 12:45] jessegreenberg commented on #329
This sim was republished off of master this quarter and includes these changes. @jbphet OK to close this issue?

[2021-09-15 15:35] jbphet commented on #329
Yes, thanks for letting me know.  Closing.

[2021-09-15 15:35] #329 closed

[2021-09-15 16:36] KatieWoe opened #450 "CT Unloaded frame before complete"
[code]

[2021-09-16 16:36] jessegreenberg commented on #449
I am going to try to reproduce this in a basic HTML page.

[2021-09-18 00:02] terracoda commented on #320
Yes, Brianna should still be added.

[2021-09-22 12:46] terracoda commented on #448
Un-assigning myself. @jessegreenberg please re-assign if there is something for me to verify. I can't actually load JT from phettest right now, so I would need the latest dev link to very any design changes or behaviour changes.

[2021-09-22 12:47] terracoda commented on #448
Looks like this is just waiting to deploy :-) not waiting for verification. Apologies for my last comment.

[2021-09-28 14:50] KatieWoe opened #451 "CT No voices available to provided a prioritized list"
[code]

[2021-10-01 20:46] jessegreenberg opened #452 "Delete speechController"
It isn't used, and should be deleted

[2021-11-23 17:19] KatieWoe opened #453 "CT this.angleToPDOMValueFunction is not a function"
[code]

[2021-11-30 14:10] terracoda opened #454 "(PDOM) Consider orientation vertical for Arm Swing slider"
In the initial release of John Travoltage we kept the sliders with the same orientation (horizontal). This meant the default go to keys to use were the Left and Right Arrow keys. The Keyboard Shortcuts dialog look like this:
<img width="731" alt="image" src="https://user-images.githubusercontent.com/1902116/144059809-84608d89-29de-4dde-9849-a5cdbf65d775.png">

With the release of the sim with Voic

[2021-11-30 14:26] terracoda opened #455 "(PDOM) Punctuation and capitalization clean-up"
When we are next working on this sim's interactive description, and getting ready for a maintenance release, we have a few things to tidy up:
- [ ] Change "Leg swing" to "Leg Swing"
- [ ] Remove periods in `aria-valuetext`, only one to fix: "Farthest from doorknob."
- [ ] Possibly remove capitalization `aria-valuetext`, "Hand" should be "hand"
- [ ] see other changes based on testing in #378

[2021-12-13 20:08] zepumph opened #456 "Voicing options can't be mutated until after initialization"
From https://github.com/phetsims/scenery/issues/1283#issuecomment-992800551, we need to call `initializeVoicing` before mutating any voicing options.

[2021-12-13 20:49] zepumph commented on #456
@jessegreenberg, it's not clear to me if this is the long-term solution here, can you please recommend? Perhaps, if possible, it is best to mutate at the end of the constructor.

[2021-12-15 00:06] jessegreenberg commented on #456
This change makes sense to me and is in line with https://github.com/phetsims/scenery/issues/1316. I am good with committing to it. I don't feel too strongly about where the mutate is called, though often it makes sense at the end of the constructor after fields have been calculated. I could also see using setters explicitly instead of mutate sometimes.

I am not sure I got to the crux of your que

[2021-12-15 20:41] zepumph commented on #456
I feel like this is most-often preferred, but I lacked the sim-specific knowledge to do this myself. If moving the `mutate` to the end works in this case, would you please do so and feel free to close?

[2022-01-21 16:32] terracoda commented on #455
I updated the list above. I'll mark for next maintenance release.

[2022-02-25 19:54] KatieWoe opened #457 "Foot scratch sound may appear when sim is launched"
For https://github.com/phetsims/phet-io/issues/1626. Seen on Win 11 Firefox.
If you add electrons to John and launch the sim from studio, the launched sim may start with a brief foot scratch sound. I did not hear this with the popping electron sounds that can be added.

https://user-images.githubusercontent.com/41024075/155786078-a4d61a54-1a54-4f1c-ac7d-f6c66c38aabf.MOV

[2022-02-25 20:00] KatieWoe commented on #457
May also happen with the zap sound

[2022-02-25 20:07] KatieWoe opened #458 "Free floating electrons when sim state is set in the middle of discharge"
Found during https://github.com/phetsims/phet-io/issues/1626. Seen with Win 11 Firefox on the master version on 2/25/22.
If the state is set while in the middle of a discharge, the set sim does not finish the discharge, and electrons that were in the jump will free float around the area.

Steps:
1. Go to the State wrapper
2. Turn the state refresh rate to 0
3. Fill John with electrons
4. Start a d

[2022-02-25 20:41] zepumph commented on #458
We will cover this the next time we are working on PhET-iO in this repo.

[2022-03-14 16:29] jessegreenberg opened #459 "Remove vibrationManager usages"
This is the only sim that uses Sim option `vibrationManager`. There are no plans to continue with web based vibration directly in the sim and this should be removed.

[2022-03-17 14:53] pixelzoom opened #460 "CT: Assertion failed: reentry detected (VoicingToolbarItem)"
Looks like this started appearing in CT on 3/16/2022, 1:18:58 AM, and has been appearing on every cycle since.  Entry point for the failure is `VoicingToolbarItem`. I don't see it in other sims.

[code]

[2022-03-17 15:36] jessegreenberg commented on #460
Github won't let me transfer so Ill do that later.

Ive been fuzzing for 15 minutes locally and haven't seen the issue yet.

[2022-03-17 15:49] jessegreenberg commented on #460
I am guessing this just started showing up because voicing tests were recently added to CT? My theory is this is the first time testing SpeechSynthesis on headles chrome. The stack starts with

[code]

So to me that means that the end listener fires immediately and synchronously with the speech request which would set the Property back to false in a reentrant way. Maybe this would happen if headle

[2022-03-17 15:52] zepumph commented on #460
@jessegreenberg, does it seem buggy to you though? I'm alright with headless chrome causing an sync call synchronously as long as you think that the queue/Announcer is still managing things correctly. The reentrant call may be helpful to keep voicing code being tested on CT.

[2022-03-17 19:26] jessegreenberg commented on #450
This one is an artifact of CT that happens sometimes. I am not sure why exactly but it is not an issue with simulation code.

[2022-03-17 19:26] #450 closed

[2022-03-18 16:04] KatieWoe opened #461 "CT no description found for pitch at value: 1.4999999999999996"
[code]

[2022-04-04 23:13] jessegreenberg commented on #461
Fixed with the above commit.

[2022-04-04 23:13] #461 closed

[2022-04-05 13:42] jessegreenberg commented on #453
This has not been in john-travoltage for a long time and was likely a common code issue. Closing.

[2022-04-05 13:42] #453 closed

[2022-04-05 13:44] jessegreenberg commented on #459
It has been removed, closing.

[2022-04-05 13:44] #459 closed

[2022-05-25 18:59] KatieWoe opened #462 "CT cannot set state while setting state"
[code]

[2022-06-06 17:00] KatieWoe opened #463 "CT alignBounds should be a non-empty finite Bounds2"
[code]

[2022-06-09 15:56] zepumph commented on #462
See https://github.com/phetsims/phet-io-wrappers/issues/441

[2022-06-28 19:07] jessegreenberg commented on #463
This has been fixed thorugh https://github.com/phetsims/joist/issues/809

[2022-06-28 19:07] #463 closed

[2022-06-28 19:09] jessegreenberg commented on #462
It seems this is potentially a common code problem, closing this issue.

[2022-06-28 19:09] #462 closed

[2022-07-29 16:13] terracoda commented on #455
Should a responsible dev be assigned to this? I am un-assigning myself.

[2022-07-29 16:56] jessegreenberg commented on #455
I think that would be me! Let me know if this should get some time.

[2022-08-01 13:28] jessegreenberg commented on #449
We were able to investigate this in depth in https://github.com/phetsims/a11y-research/issues/175. Unfortunately it is an Apple bug and we are not going to search for a workaround. See that issue for more details, closing.

[2022-08-01 13:28] #449 closed

[2022-08-01 14:00] terracoda commented on #320
I added a couple of labels in case that helps.

[2022-08-01 15:55] terracoda commented on #455
It only needs time if the sims is to be re-published or is part of a maintenance release. I'll put low priority. Does that help?

[2022-09-23 21:18] jessegreenberg commented on #456
This issue is stale, `initializeVoicing` is no longer needed with the Voicing trait and the `mutate` call lives at the end of the constructor. Closing.

[2022-09-23 21:18] #456 closed